<div id="notification-modal"
	 data-backdrop="static"
	 data-keyboard="false"
	 data-bind="bqModal: message()"
	 class="modal hide fade"
	 data-show="true" 
	 tabindex="-1" 
	 role="dialog" 
	 aria-labelledby="notification-modal-label" 
	 aria-hidden="false">				 
	<div class="modal-header">
		<button type="button" class="close" data-bind="click: handled">&times;</button>
		<i data-bind="if: type() == 'error'" class="icon-warning-sign icon-2x modal-header-icon"></i>
		<h3 data-bind="text: title()" id="notification-modal-label" class="text-inline modal-header-heading"></h3>
	</div>
	
	<div class="modal-body">
		<p data-bind="text: message()"></p>
	</div>

	<div class="modal-footer">
		<button class="btn" data-bind="click: handled">Close</button>
	</div>
</div>