<div class="" data-bind="widget: {}, bqMode: ['widget']">

		<!-- ko if: session() && session().page() -->
		<div data-bind="template: { name: template, data: session().page() }"></div>
		<!-- /ko -->

		<!-- ko if: session() == null || session().page() == null -->
		<div class="text-center">
            <img data-bind="attr: { src: context.configuration.resourceUri + context.configuration.themePath + 'img/loading.gif' }">
		</div>
		<!-- /ko -->

</div>