<button type="button" shc-accordion-toggle="" ng-readonly="element.readOnly" class="{{element.classList}} btn btn-default" name="{{element.name}}" id="{{element.key}}"  ng-click="$emit('update',element)"><span class="button__caption">{{::element.get('caption')}}</span></button>


