
.onboarding_container_wrap {
  position: absolute;
  width: 100%;
  z-index: 1;
  .bp-widget {
    position: absolute;
    width: 100%;
  }
}

.ice_template_onboarding {
  h1, h2, h3, h4, h5, h6, p, .button, button, .btn-default, div, li {
    font-family: Roboto;
    letter-spacing: .4px;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
    //-webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

  }

  span {
    letter-spacing: .4px;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
    //-webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .dark_bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    //--
    pointer-events: none;
    background-image: url("./../images/dark_layer.png");
    background-position: center center;
    background-size: cover;
    //--
    opacity: 0;
    will-change: height, opacity;
    z-index: 1;
    -webkit-transition: opacity 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -moz-transition: opacity 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -o-transition: opacity 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    transition: opacity 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950); /* easeInOutSine */

    -webkit-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -moz-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -o-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
    transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); /* easeInOutSine */
  }

  .cta_content {
    position: relative;

  }

  &.expanded {
    .dark_bg {
      opacity: .8;
      pointer-events: auto;
    }
  }

  .onboarding__home {
    position: absolute;
    //--
    top: 50%;
    left: 50%;
    //--
    margin-left: -460px;
    margin-top: -125px;
    width: 460px;

    .onboarding__copy {
      text-align: center;
      font-weight: bold;
      font-size: 36px;
      padding-bottom: 20px;
      h2 {
        font-weight: 500;
        font-size: 40px;
      }
      h4 {
        font-size: 14px;
      }
    }

    .onboarding__cta {
      color: white;
      background: #f0ac00;
      border-radius: 30px;
      padding-top: 12px;
      padding-bottom: 12px;
      position: relative;
      width: 180px;
      margin: 0 auto;
      overflow: hidden;
      //--
      cursor: pointer;

      h5, h6, h4 {
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
        vertical-align: middle;
        position: relative;
        display: inline-block;
        margin-left: 13px;
        margin-top: -7px;
        margin-bottom: 0;
        pointer-events: none;
        letter-spacing: .6px;
      }
      .onboarding__cta__icon {
        pointer-events: none;
        width: 57px;
        background: #e18d02;
        height: 50px;
        position: relative;
        display: inline-block;
        margin-bottom: -17px;
        margin-top: -12px;
        padding: 0;
        pointer-events: none;

        -webkit-border-top-left-radius: 30px;
        -webkit-border-bottom-left-radius: 30px;
        -moz-border-radius-topleft: 30px;
        -moz-border-radius-bottomleft: 30px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;

        &:before {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          font-size: 25px;
          font-weight: bold;
          margin-left: 2px;
          margin-top: -1px;
        }

      }
    }

  }

  ///---- ADD MQ

  @media (max-width: 600px) {
    .onboarding__home {
      margin-left: 0;
      transform: translateX(-50%) scale(.8);
    }
  }

  @media (min-width: 600px) and (max-width: 1200px) {
    .onboarding__home {
      margin-left: 0;
      transform: translateX(-50%) scale(.9);
    }
  }

  @media (min-width: 1200px) and  (max-width: 1400px) {
    .onboarding__home {
      margin-left: 0;
      transform: translateX(-50%);
    }
  }

}


