// Actual modal
.modal-content {
  border: 1px solid $modal-content-border-color;
  border-radius: $border-radius-large;
  @include box-shadow(0 4px 0 0 $default-shadow-color);
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  padding: $modal-title-padding;
  text-align: left;

  &-with-subtitle {
    text-align: center;
    border-bottom: none;

    .modal-subtitle {
      margin-top: 0;
      margin-bottom: $modal-header-subtitle-bottom-spacing;
    }
  }
}

.modal-narrow {
  .modal-body {
    padding: 0;
  }

  .modal-footer {
    padding-top: 0;
  }
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  padding: $modal-inner-padding;
  text-align: left;
}

// Footer (for actions)
.modal-footer {
  padding: $modal-title-padding;
  border-top: none;
}
