$forms--input--font-size: 15px;
$forms--input--line-height: 25px;
$forms--input--color: #373737;
$forms--input--bg-color: $white;
$forms--input--placeholder-color:$gray60;
$forms--input--border-color:#cccccc;
$forms--input--border-color-hover:$gray-dark;





//Changed for EastWest
$forms--input--focus--border-color: $blue-mid;


.form-control {
    font-size: $forms--input--font-size;
    line-height: $forms--input--line-height;
    font-weight: $font-weight-medium;
    background-color:white;
    color:$forms--input--color;

    @include placeholder-enhanced($forms--input--placeholder-color,1,0,italic,$font-weight-normal,0);
    //---
    &:hover:not(:focus,[disabled],[readonly]) {
        border-color: $forms--input--border-color-hover;
    }
    //---
    &:focus {
        border-color: $forms--input--focus--border-color;
        box-shadow: none;
    }
}
