<nav class="navbar navbar-default" role="navigation">
    <div class="row">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainnav">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-fw fa-bars"></i>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="mainnav" data-bind="foreach : children">
            <!-- ko template: { name: template} --><!-- /ko -->
        </div>
    </div>
</nav>