<footer id="footer" class="container-fluid dashboard" role="contentinfo">
	<div class="row">
		<div class="col-xs-12" data-bind="foreach: children">
			<!-- ko template: { name: template } --><!-- /ko -->
		</div>

	</div>
	<p class="disclaimer">2014 © Blueriq. All Rights Reserved.</p>

</footer>