<header role="banner">
    <div class="row">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="logo-wrap">
            <a href="http://www.backbase.com" class="brand">
                <img data-bind="attr:{src: context.configuration.resourceUri+context.configuration.themePath+'img/logo.png'}">
            </a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="col-xs-12">
            <ul data-bind="foreach : children" class="nav navbar-nav navbar-right">
                <li>
                    <!-- ko template: { name: template } --><!-- /ko -->
                </li>
            </ul>
        </div>
    </div>
</header>