<div class="form-group" data-bind="css: {'has-warning': hasWarning, 'has-error': hasError}">
		<label class="col-xs-12 col-sm-4 control-label" data-bind="text: questionText"></label>
	<div class="col-xs-11 col-sm-7">
		<!-- ko template: { name: fieldValueTemplate } --><!-- /ko -->
    	<i data-bind="visible: required()" class="form-control-feedback fa fa-asterisk" data-fv-icon-for="name" style=""></i>
		<div data-bind="foreach: { data: messages, as: 'message' }">
			<span class="help-block" data-bind="text: message.text"></span>
		</div>
	</div>
	<div class="bq-explanation col-xs-1" data-bind="visible: explainText">
		<i class="fa fa-fw fa-question-circle" data-bind="bootcardsTooltip: {}"></i>
	</div>
</div>