<div class="ext-shc-onboarding-ng" data-ng-controller="OnboardingController as $ctrl">


    <div class="onboarding-wrapper">

        <button class="btn btn-default btn-white btn-ghost btn-stop-onboarding"><i class="bb-icon bb-icon--cross"></i></button>

        <div class="onboarding-question-items">


            <div ng-repeat="question in $ctrl.questions" ng-class="{
                'onboarding-question': true,
                'onboarding-question-finished': question.finished,
                'onboarding-question-focussed': question.focussed
            }">
                <div class="onboarding-question-content">
                    <div class="question-number">
                        {{question.id}}
                    </div>

                    <div class="question-body">
                        <h2>{{question.headerText.replace("{name}", $ctrl.inputFilledName)}}</h2>

                        <h2 class="bold">{{question.question}}</h2>


                        <!-- Input types for questions -->
                        <div ng-if="question.inputType==='NAME'">
                            <input class="name-input" ng-model="$ctrl.inputFilledName" ng-keyup="$ctrl.keyUp($event.keyCode)" />
                        </div>
                        <div ng-if="question.inputType==='SSN'">
                            <input class="ssn-input" ng-model="$ctrl.inputFilledSSN" ng-keyup="$ctrl.keyUp($event.keyCode)" />
                        </div>
                        <div ng-if="question.inputType==='EMAIL'">
                            <input class="email-input" ng-model="$ctrl.inputFilledEmail" ng-keyup="$ctrl.keyUp($event.keyCode)" />
                        </div>
                        <!-- End of input types -->



                        <div ng-if="question.inputType!=='CONTINUE'" class="buttons">
                            <button class="btn btn-default btn-blue" ng-class="{'hidden': {{question.id === 1}}}" ng-click="$ctrl.focusQuestion(question.id - 2)">Previous</button>
                            <button class="btn btn-default btn-blue" ng-click="$ctrl.focusQuestion(question.id)">Next</button>
                        </div>

                        <div ng-if="question.inputType==='CONTINUE'" class="buttons">
                            <button class="btn btn-default btn-blue" ng-click="$ctrl.continueOnPhone()"><i class="fa fa-camera"></i> Continue on Phone</button>
                            <button class="btn btn-default btn-blue"><i class="fa fa-paperclip"></i> Continue on Desktop</button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="questions-progress">

                <i class="bb-icon bb-icon--stopclock"></i> <p>Enrollment in 60 seconds</p>

                <div class="questions-progress-visualizer">
                    <div
                        ng-repeat="question in $ctrl.questions"
                        class="questions-progress-piece"
                        ng-class="{
                            'questions-progress-empty': !question.finished,
                            'questions-progress-filled': question.finished || question.focussed,
                        }">
                    </div>
                </div>

            </div>

            <div class="continue-on-phone" ng-class="{'continue-on-phone-visible': $ctrl.continueOnPhonePopup}">

                <div class="continue-on-phone-popup">

                    <div class="popup-white">
                        <div class="qr-code">
                        </div>

                        <div class="text">
                            <h2>
                                Welcome {{$ctrl.inputFilledName}} <br/>
                                let's get you set up.
                            </h2>

                            <p>
                                To continue this application on your smartphone, download the Backbase app from the app store and tap on "Scan QR code".
                            </p>

                        </div>
                    </div>

                    <div class="popup-black">

                        <p>
                            Supported platforms
                        </p>

                        <div class="logos">
                            <i class="fa fa-apple"></i>
                            <i class="fa fa-android"></i>
                            <i class="fa fa-windows"></i>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>







<!--widget-shc-content--customclass-jumbotron-->

