<div field ng-disabled="element.disabled || element.readOnly"  ng-readonly="element.readOnly"  ng-class="{'has-error':element.hasError,'read-only':element.readOnly}" id="{{element.key}}"
     class="field--nolabel form-group {{element.classList}}">
    <!-- Field control -->
    <div ng-class="{ 'has-error': (element.messages.length > 0) }">
        <control></control>
    </div>
        <div ng-if="element.messages.length > 0" class="error-block">
            <div class="icon-error"></div>
            <div class="control-description control-errors">
                <h6 ng-repeat="error in element.messages" class="description-body text-muted">{{::error.text}}</h6>
            </div>
        </div>
</div>
