<div class="floatlabel">
<input input-text="" type="text"
   class="{{element.classList}} form-control"
    id="{{element.key}}-text-input"
    name="{{element.name}}"
    ng-disabled="element.disabled"
    ng-readonly="element.readOnly"
    ng-class="{ 'empty': (!element.value[0] || element.value[0].length === 0) }"
    ng-blur="$emit('update')"
    ng-model="element.value[0]"
    ng-required="element.required"
    maxlength="{{element.maxLength}}"
    novalidate />
    <label for="{{element.key}}-text-input" class="icon" ng-bind="element.FormAttributeSuggestion"></label>
</div>