<div content-style="{{element.contentStyle}}" ng-class="{'noTitle':!element.get('displayName') || !element.get('displayName').length}" class="{{element.classList}} container_block" ng-readonly="element.readOnly" >
    <children></children>
</div>
