
/* Custom styling for Showcase 2.0 */
ui-bb-calendar-popup ul.uib-datepicker-popup {
	border: 1px solid $blue-light;

	table thead tr:first-of-type th {
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.uib-daypicker {
		th {
			color: #000;
			font-weight: $font-weight-normal;
		}

		/* Individual date buttons */
		td .btn.btn-default {
			background-color: #fff;
			font-weight: $font-weight-light;

			span {
				color: #000;
				font-size: 14px;

				/* Dates of the next month in this view */
				&.text-muted {
					color: #666;
				}
			}

			&[disabled=disabled] {
				background: none;

				span {
					color: #ccc;
				}
			}

			&:hover {
				background-color: rgba(62,191,237,0.15);

				span {
					color: $blue-mid;
				}
			}
		}
	}

	.uib-title {
		background-color: #fff !important;

		&:hover {
			background-color: #fff !important;
		}
	}
}


/* Date dropdown box styling */
.ext-bb-payment-ng form .panel .panel-body .form-group:last-child {

	ui-bb-expandable-ng,
	.bb-expendable-box {
		background-color: #F8FAFC;
		border: 1px solid #D5D5D5;
		border-radius: 6px;
		padding: 15px 15px;

		.dropdown-select[role=button] {
			border: none;
			padding: 0;

			color: #373737;
			font-size: 15px;
			font-weight: $font-weight-medium;
		}

		.bb-expandable-details.collapse.in {
			border-top: 1px solid #D5D5D5;
			margin-top: 15px;
		}

		/* Some people are seriously retarted huh? This selector.... */
		div.col-xs-12 {
			color: #666;
			font-size: 13px;
			font-weight: $font-weight-medium;
			padding-bottom: 0;
			margin-bottom: 0;
		}
	}

	/* Used to be 10, we need less space */
	.checkbox {
		margin-top: 5px;
	}
}
