@keyframes openDropdown {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

ui-bb-account-selector {
	&.drop-shadow.bb-account-selector {
		@include no-shadow();
		@include no-panel();
		@include shc-capsule-border(false);
		overflow: visible;

		.dropdown-select {
			&.open {
				background-color: $grey-lightest;
				.dropdown-toggle {
					&:after {
						transform: translateY(-50%) rotate(0);
					}
				}
				.dropdown-menu {
					padding-top: 0;
					padding-bottom: 0;
					opacity: 0;
					animation-name: openDropdown;
					animation-duration: .15s;
					animation-delay: 0s;
					animation-fill-mode: forwards;
					animation-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
					overflow: scroll;
				}
			}
		}

		.bb-account-selector-option {
			padding: 0 !important;
		}

		.d-inline-block {
			.amount {
				font-size: 18px;
				font-weight: $font-weight-medium;
				line-height: 30px;
			}
			.amount-currency {
				margin-right: 5px;
			}
		}

		.dropdown-toggle {
			-webkit-appearance: none;
			padding-left: 20px;
			padding-top: 20px;
			padding-bottom: 20px;
			padding-right: 56px;
			height: inherit;
			.fa-chevron-down {
				display: none;
			}
			&:after {
				content: ' ';
				position: absolute;
				right: 17px;
				top: 50%;
				transform: translateY(-50%) rotate(180deg);
				width: 20px;
				height: 20px;
				line-height: 20px;
				text-align: center;
				@include bb-icon(black, 'bb-icon--arrow-down');
				font-size: 17px;
				transition: transform .2s;
			}

			.bb-account-selector-option-content {
				.d-inline-block {
					b {
						font-size: 16px;
						line-height: 26px;
						letter-spacing: 0px;
					}

					&:first-child {
						div {
							&:last-child {
								letter-spacing: .6px;
								font-size: 12px;
								line-height: 16px;
								color: #999999;
								font-weight: $font-weight-normal;
							}
						}
					}
				}
			}
		}
		.dropdown-menu {
			@include no-shadow();
			@include no-panel();
			@include shc-capsule-border();
			background-color: white;
			margin-top: 10px;
			opacity: 0;
			.bb-account-selector-scrollable-area {
				.dropdown-option {
					position: relative;
					padding-top: 20px;
					padding-left: 20px;
					padding-right: 56px;
					padding-bottom: 20px;
					background-color: white;
					transition: background-color .2s;

					border: none;
					border-top: 1px solid #D5D5D5;

					&:first-child {
						border-top: 0;
					}

					div, b {
						color: $gray20;
					}

					b {
						font-weight: $font-weight-normal;
						font-size: 16px;
						line-height: 25px;
						letter-spacing: 0px;
					}

					&.active, &.focus {
						background-color: #F8FAFC;
						outline: none;
					}

					&.active {
						&:after {
							position: absolute;
							font-family: FontAwesome;
							top: 50%;
							right: 20px;
							transform: translateY(-50%);
							content: '\f00c';
							font-size: 11px;
							background-color: #9DC639;
							border-radius: 50%;
							line-height: 11px;
							padding: 5px;
							color: white;
						}
					}

                    &:hover {
						background-color: #F8FAFC !important;
					}

				}

				.dropdown-option > * {
					padding: 0;
				}

				.bb-account-selector-option {
					&:hover {
						text-decoration: none;
					}
					text-decoration: none;
				}

				.bb-account-selector-option-content {
					.d-inline-block {
						div {
							letter-spacing: .6px;
							font-size: 12px;
							line-height: 16px;
							color: #999999;
						}

						.amount {
							font-size: 15px;
							font-weight: $font-weight-normal;
							line-height: 20px;
						}

					}
				}
			}

		}

	}
}

