




ui-bb-dropdown-select {
    &[data-role="ui-bb-currency-input-ng-currency"], &[name="repetition"] {
        .dropdown-select {
            &.selected {
                &.open {
                    .btn-dropdown-toggle {
                        border: 1px solid $blue-mid;
                        background-color: #EDF4FB;
                    }
                }
            }

            .btn-dropdown-toggle {
                height:46px;
                padding-left: 10px;
                border: 1px solid #CCCCCC;
                border-radius: 4px;
                background-color: #F8FAFC;
                i {
                    &:before {
                        font-size: 17px;
                        position: absolute;
                        display: inline-block;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        left: 50%;
                    }
                }
            }
            .uib-dropdown-menu {
                padding-top: 0px;
                padding-bottom: 0px;
                @include no-panel();
                @include no-shadow();
                @include shc-capsule-border();
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) !important;
                background-color: white;
            }

            .dropdown-option {
                &:first-child {
                    a, p {
                        line-height: 35px;
                    }
                }

                &:last-child {
                    a, p {
                        line-height: 35px;
                    }
                }
            }

            .dropdown-option {
                a, p {
                    font-size: 14px;
                    line-height: 25px;
                }

                &:hover {
                    a {
                        background-color: #F8FAFC;
                        color: inherit;
                    }
                }

                &.active {
                    a {
                        background-color: #F8FAFC;
                        &:before {
                            content: '\f00c';
                            font-family: FontAwesome;
                            font-size: 11px;
                            background-color: #9DC639;
                            border-radius: 50%;
                            line-height: 11px;
                            padding: 5px;
                            color: white;
                            position: absolute;
                            left: inherit;
                            right: 10px;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }

        .dropdown-select {
            .dropdown-option {
                font-size: 15px;
                line-height: 25px;
                font-weight: $font-weight-medium;
            }

        }
    }

    &[name="repetition"] {
        .dropdown-option {
            a, p {
                text-transform: capitalize;
            }

            &.dropdown-selected {
                text-transform: capitalize;
            }
        }
    }
}
