ui-bb-credit-suggest-ng {
    .list-group-item {
        .search-result-header {
            text-align: center;
            background-color: #F2F4F6;
            padding-top: 3px;
            padding-bottom: 3px;
            color: #666666;
            font-weight: $font-weight-medium;
            border-bottom: 1px solid $grey-mid-light;
        }
    }

    .list-group-item {
        &.bb-autocomplete-search-message {
            display: none;
        }
    }

    .bb-autocomplete-search-list-wrapper {
        .dropdown-menu {
            &.bb-autocomplete-search-dropdown {
                margin-top: 11px;
                @include border-radius(0px, 0px, 6px, 6px);
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) !important;
            }
        }

        .bb-autocomplete-search-list-inner {
            margin-bottom: 0;
            max-height: 306px;
        }

        .bb-autocomplete-search-list-item {
            .search-result-ammount {
                position: absolute;
                right: 0;
                top: 8px;
                font-size: 15px;
                font-weight: 400;
                .amount-currency {
                    margin-right: 5px;
                }
            }

            a {
                &:first-child, &:nth-child(2n) {
                    padding-left: 15px;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    .row {
                        &:first-child {
                            div {
                                &:first-child {
                                    div {
                                        &:first-child {
                                            font-size: 14px;
                                            color: $grey-darkest;
                                        }

                                        &:nth-child(2n) {
                                            letter-spacing: .6px;
                                            font-size: 12px;
                                            line-height: 16px;
                                            color: $grey-mid;
                                        }

                                    }
                                }
                            }
                        }
                    }
                }

                div {
                    &[class^='col-'] {
                        padding-top: 0;
                        padding-bottom: 0;
                    }
                }
            }
        }
    }

    &.ng-invalid {
        ui-bb-search-box-ng {
            .bb-search-box-wrapper {
                .input-group-btn {
                    .btn {
                        border-color: $red !important;
                        i {
                            &:before {
                                color: $red !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
