ui-bb-autocomplete-search-ng {
    .bb-autocomplete-search {
        &[aria-expanded="true"] {
            ui-bb-search-box-ng {
                .bb-search-box-wrapper {
                    z-index: 5;
                    .bb-search-box-input {
                        @include border-radius(6px, 0, 0, 0);
                    }
                    .input-group-btn {
                        .btn {
                            @include border-radius(0, 6px, 0, 0);
                        }
                    }
                }
                .input-group-btn {
                    .btn {
                        i {
                            &:before {
                                color: $forms--input--focus--border-color;
                            }
                        }
                    }
                }
            }

        }
    }
}

ui-bb-search-box-ng {
    .bb-autocomplete-search {
        &[aria-expanded="true"] {
            ui-bb-search-box-ng {
                .bb-search-box-wrapper {
                    z-index: 5;
                    .bb-search-box-input {
                        @include border-radius(6px, 0, 0, 0);
                    }
                    .input-group-btn {
                        .btn {
                            @include border-radius(0, 6px, 0, 0);
                        }
                    }
                }
                .input-group-btn {
                    .btn {
                        i {
                            &:before {
                                color: $forms--input--focus--border-color;
                            }
                        }
                    }
                }
            }

        }

    }
}

ui-bb-search-box-ng {
    .bb-search-box-clear {
        z-index:1;
    }

    .bb-search-box-input {
        &:focus + .input-group-btn {
            .btn {
                border-color: $forms--input--focus--border-color !important;
                i {
                    &:before {
                        color: $forms--input--focus--border-color !important;
                    }
                }
            }
        }

        &:hover + .input-group-btn {
            .btn {
                border-color: $forms--input--border-color-hover;
                i {
                    &:before {
                        //color: $forms--input--border-color-hover;
                    }
                }
            }
        }
    }

    .input-group-btn {
        .btn {
            border: 1px solid transparent;
            height: $form-control-line-height;
            border-radius: $border-radius-medium;
            border-color: $forms--input--border-color;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 5px;
            background-color: white;

            i {
                vertical-align: middle;
                &:before {
                    font-size: 18px;
                    @include bb-icon("white", 'bb-icon--contacts');
                }
            }
        }

        &:hover {
            .btn {
                i {
                    &:before {
                        color: $forms--input--focus--border-color;
                    }
                }
            }
        }

        &:focus, &:active {
            outline: none;
            .btn {
                background-color: #F8FAFC;
                border-color: $forms--input--border-color;
            }
        }

    }
}
