/***********************************
	General elements
***********************************/
body {
	font-family: Verdana, "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 10pt;
	color: #5B5B5B;
	background-color: #f4f4f4;
	text-align: justify;
}

a, a:hover, a:visited, button.btn-link, button.btn-link:hover {
	color: #E2007A;
}

h2 {
	background-repeat: no-repeat;
	background-position: left center;
	font-size: 14pt;
	font-weight: normal;
	color: #e2007a;	
	line-height: 24px;
}

/***********************************
	Bootstrap style overrides
***********************************/
#content.container {
	margin-right: auto;
  	margin-left: auto;
	max-width: 900px;
}

.modal-body {
	overflow-y: visible;
}

.modal-body .popover  {
	max-width: 1070px;
	width: 1070px;
}

.date[disabled] .add-on i {
	cursor: default;
}

select.input-xlarge {
	width: 284px;
}

/***********************************
	Custom 
***********************************/
div.bq-floatleft {
	float: left;
}

div.required {	
	padding-left: 10px;
	padding-top: 6px;
}

.control-group.readonly .control-label, .control-group.readonly p{
	font-size: 14px!important;
}

span.required {
	padding: 4px;
	width: 20px;
}

.bq-inline {
	display: inline;
}

.bq-header {
	background-color: #004a91;
	padding: 10px 10px;
}

.bq-header .logo {
	background: url('../img/logo-white.png') no-repeat;
	height: 67px;
	width: 180px;
	float: right;
}

.bq-header .displayName {
	color: white;
	font-size: 18pt;
	margin-top: 40px;
	margin-bottom: 0px;
	padding: 0px;
	font-size: 16pt;
	font-weight: normal;
	line-height: 24px;
}

/***********************************
	Custom styled elements
***********************************/
div#data {
	border: 1px solid #EAEAEA;
}

div#main {
	background-color: white;
	padding: 20px 10px;	
}

div#footer {
	text-align: center;
	font-size: 10px;	
	line-height: 30px;
}
