<div container-print class="{{element.classList}} container_block" >
    <div ng-if="element.get('displayName')" class="container__title">
        <div class="container__title__column"></div>
        <h3 ng-bind="element.get('displayName')"></h3>
    </div>
     <children></children>

     <!--<a class="btn btn-primary"
       name="{{element.childKeys[0].name}}"
       id="{{element.childKeys[0].key}}"
       type="button" ng-disabled="element.childKeys[0].disabled"
       ng-click="$emit('update')"
       ng-href="../api/document/{{element.childKeys[0].get('parameters')['document-type']}}/{{element.childKeys[0].get('parameters')['document-name']}}/undefined">
        <i ng-if="(element.childKeys[0].styles | filter: 'fa_').length" class="{{element.childKeys[0].styles | filter: 'fa_' | beautify}}"></i>
        {{element.childKeys[0].text}}
    </a> !-->
</div>
