<div class="ext-midfirst-actions-ng" data-ng-controller="ActionsController as $ctrl">
    <div class="btn btn-default btn-white btn-ghost">Search</div>

    <div class="btn btn-default btn-blue pull-right">New action</div>

    <h4>Your actions</h4>

    <div class="actions-container">

        <div class="action-item" ng-repeat="action in $ctrl.actionsList">
            <div class="action-item-header" ng-click="$ctrl.toggleExpanded(action.id)" ng-class="{'action-item-header--expanded': action.expanded}">
                <div class="action-item-header--icon"><i class="bb-icon bb-icon--{{action.icon}}"></i></div>

                <div class="action-item-header--content">
                    <div class="action-item-header--content--title">
                        {{action.title}}
                    </div>

                    <div class="action-item-header--content--description">
                        {{action.description}}
                    </div>
                </div>

                <div class="action-item-header--switch">
                    <label class="switch">
                        <input type="checkbox" ng-checked="{{action.enabled}}">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <div class="action-item-content" ng-class="{'action-item-content--expanded': action.expanded}">
                <p>
                    IF
                </p>
                <div class="action-item--condition">
                    <div class="selected-condition">A transaction occurs <i class="fa fa-caret"></i></div>
                    <p>that is</p>

                    <div class="selected-condition">Larger <i class="fa fa-caret"></i></div>
                    <p>than</p>

                    <div class="selected-condition-input">$ 500</div>
                </div>
                <p>
                    DO
                </p>
                <div class="action-item--action">
                    <div class="selected-condition">Send an e-mail <i class="fa fa-caret"></i></div>
                    <p>to</p>

                    <div class="selected-condition-input">wes@backbase.com</div>
                </div>
            </div>
        </div>
    </div>
</div>
