/**
 * @name Colorset class mixin
 *
 * @description
 * This will generate color set of `background-color` from inputed color list
 * depending on container child size
 * 
 *
 * Parameters for this mixin are:
 * $suffix - custom class identifier
 * $colors - list of colors
 */
@mixin generate-colorset-class($suffix, $colors) {
  @for $i from 1 through length($colors) {
    .colorset-item-container-#{$suffix}:nth-child(#{length($colors)}n + #{$i}) {
      .colorset-item-#{$suffix} {
        background-color: nth($colors, $i);
      }
    }
  }
}

/**
 * @name Chart colorset class mixin
 *
 * @description
 * This will generate color set of `color` from inputed color list
 * intended to generate colors for charts.js charts
 * 
 *
 * Parameters for this mixin are:
 * $suffix - custom class identifier
 * $colors - list of colors
 */
@mixin generate-colorset-chart-class($suffix, $colors) {
  @for $i from 1 through length($colors) {
    .colorset-chart-item-#{$suffix}-#{$i} {
      color: nth($colors, $i); 
    }
  }
}