{{#contentRef}}
<div class="company-information">

    <img class="company-information__logo"
         src="{{logo.path}}"
         alt="{{name}}"/>

    <div class="company-information__locations">
        {{#locations}}
        <div class="company-information__location">{{name}}</div>
        {{/locations}}
    </div>

    <div class="company-information__divider"></div>

    <div class="company-information__social">
        {{#url_youtube}}
        <a class="company-information__social-icon company-information__social-icon--youtube"
           href="{{url_youtube}}"><i class="fa fa-lg fa-youtube"></i></a>
        {{/url_youtube}}
        {{#url_twitter}}
        <a class="company-information__social-icon company-information__social-icon--twitter"
           href="{{url_twitter}}"><i class="fa fa-lg fa-twitter"></i></a>
        {{/url_twitter}}
        {{#url_linkedin}}
        <a class="company-information__social-icon company-information__social-icon--linkedin"
           href="{{url_linkedin}}"><i class="fa fa-lg fa-linkedin"></i></a>
        {{/url_linkedin}}
        {{#url_facebook}}
        <a class="company-information__social-icon company-information__social-icon--facebook"
           href="{{url_facebook}}"><i class="fa fa-lg fa-facebook"></i></a>
        {{/url_facebook}}
        {{#url_googleplus}}
        <a class="company-information__social-icon company-information__social-icon--googleplus"
           href="{{url_googleplus}}"><i class="fa fa-lg fa-google-plus"></i></a>
        {{/url_googleplus}}
    </div>

</div>
{{/contentRef}}
