<div car-damage-selector="" class="{{element.classList}}" name="{{element.name}}" id="{{element.key}}">
    <div class="car-info">
        <div class="car-checks">
            <div ng-switch on="option.value" ng-repeat="option in element.options">
                <input type="checkbox"
                       id="{{element.key}}-{{$index}}"
                       name="{{element.name}}"
                       ng-model="valueMap[$index]"
                       ng-change="updateValues();$emit('update')"
                       ng-disabled="element.disabled || element.readOnly"
                       ng-readonly="element.readOnly"/>

                <label for="{{element.key}}-{{$index}}" class="car-part car-part--front_right" ng-switch-when="front_right">
                    <?xml version="1.0" encoding="UTF-8" standalone="no"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                    <svg width="100%" height="100%" viewBox="0 0 394 176" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
                        <g class="shape">
                            <path d="M98.36,87.5c-0.1,-19.94 0.61,-40.8 3.53,-53.15c1.72,-7.28 8,-9.2 15,-7.94l8.4,-13.26c-8,-1.08 -16,-2.66 -24,-2.94c-14.48,-0.49 -29,-0.51 -43.48,-0.06c-1.65,0.05 -3.31,0.16 -5,0.3c2,2.63 2.26,6.6 -9.94,9.22c0,0 -21.34,0.5 -30,13.9c0,0 -2.7,5.79 -6.39,4.7c-3.908,9.603 -5.85,19.893 -5.71,30.26c0,5.32 -0.14,13.65 -0.26,19l97.85,-0.03Z" class="fill-path"></path>
                            <path d="M4.49,31.1c7.22,-19.21 23.26,-29.71 45.38,-23.33c0,0 12.66,7.69 -6.95,11.91c0,0 -21.34,0.5 -30,13.9c0,0 -3.23,6.95 -7.45,4.22c-0.02,0 -2.75,-1.73 -0.98,-6.7Z" class="fill-path"></path>
                            <path d="M7.43,38.94c-0.808,-0.013 -1.594,-0.264 -2.26,-0.72c-0.12,-0.08 -3,-2 -1.16,-7.29l-0.01,0c7.86,-20.85 25,-29.68 46,-23.64l0.12,0.05c0.2,0.12 4.78,3 4.21,6.35c-0.47,2.79 -4.28,5 -11.31,6.48c-0.3,0 -21.28,0.66 -29.72,13.68c0,0.11 -1.92,4.1 -4.82,4.93c-0.341,0.102 -0.694,0.156 -1.05,0.16Zm-2.43,-7.66c-1.6,4.48 0.66,6 0.76,6.11c0.722,0.52 1.644,0.682 2.5,0.44c2.45,-0.71 4.2,-4.42 4.22,-4.45c8.72,-13.54 30.22,-14.19 30.43,-14.19c8.12,-1.76 10.17,-4 10.45,-5.66c0.43,-2.56 -3.2,-5 -3.69,-5.3c-20.38,-5.85 -37.09,2.77 -44.67,23.05Z" class="fill-path--light"></path>
                            <path d="M0,88l0,-0.51c0.12,-5.46 0.27,-13.71 0.26,-19c-0.151,-10.416 1.801,-20.756 5.74,-30.4l0.17,-0.42l0.43,0.13c3.23,1 5.77,-4.37 5.79,-4.43c8.81,-13.53 30.31,-14.18 30.52,-14.18c7.52,-1.63 9.77,-3.71 10.31,-5.17c0.34,-1.14 0.051,-2.379 -0.76,-3.25l-0.53,-0.77l0.9,-0.08c1.81,-0.16 3.45,-0.26 5,-0.31c14.4,-0.46 29,-0.43 43.51,0.06c5.854,0.326 11.684,0.994 17.46,2c2.21,0.34 4.41,0.67 6.62,1l0.77,0.1l-9,14.2l-0.33,-0.06c-3.65,-0.66 -12.39,-1.24 -14.47,7.56c-2.46,10.43 -3.65,28.27 -3.52,53l0,0.53l-98.87,0Zm6.8,-49.14c-3.793,9.425 -5.673,19.511 -5.53,29.67c0,5.1 -0.13,13 -0.25,18.47l96.84,0c-0.11,-24.58 1.08,-42.33 3.55,-52.76c1.58,-6.69 7.14,-9.74 15.29,-8.37l7.81,-12.32c-2,-0.27 -3.91,-0.57 -5.87,-0.87c-5.74,-1.003 -11.533,-1.671 -17.35,-2c-14.45,-0.49 -29.07,-0.51 -43.45,-0.06c-1.29,0 -2.63,0.12 -4.1,0.23c0.661,1.032 0.812,2.312 0.41,3.47c-0.92,2.46 -4.67,4.42 -11.13,5.81c-0.3,0 -21.28,0.66 -29.71,13.68c-0.08,0.19 -2.69,5.71 -6.51,5.05Z" class="fill-path--light"></path>
                        </g>
                    </svg>
                </label>
                <label for="{{element.key}}-{{$index}}" class="car-part car-part--front_left"  ng-switch-when="front_left">
                    <?xml version="1.0" encoding="UTF-8" standalone="no"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                    <svg width="100%" height="100%" viewBox="0 0 394 176" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
                         <g class="shape">
                                <path class="fill-path"  d="M5.45,137.19c4.22,-2.73 7.45,4.22 7.45,4.22c8.69,13.4 30,13.9 30,13.9c19.61,4.22 6.95,11.91 6.95,11.91c-22.12,6.38 -38.16,-4.11 -45.38,-23.33c-1.75,-4.96 0.98,-6.7 0.98,-6.7Z" ></path>
                                <path class="fill-path" d="M0.51,87.5c0.12,5.33 0.27,13.65 0.26,19c-0.128,10.355 1.82,20.631 5.73,30.22c3.69,-1.09 6.39,4.7 6.39,4.7c8.69,13.4 30,13.9 30,13.9c12.2,2.63 11.91,6.6 9.94,9.22c1.66,0.14 3.31,0.25 5,0.3c14.48,0.46 29,0.44 43.48,-0.06c8,-0.27 16,-1.86 24,-2.94l-8.4,-13.26c-7,1.26 -13.32,-0.66 -15,-7.94c-2.91,-12.34 -3.65,-33.2 -3.55,-53.14l-97.85,0Z"  ></path>
                                <path class="fill-path--light" d="M78.66,165.67c-7,0 -13.94,-0.11 -20.85,-0.33c-1.52,0 -3.16,-0.15 -5,-0.3l-0.9,-0.08l0.54,-0.72c0.811,-0.871 1.1,-2.11 0.76,-3.25c-0.55,-1.46 -2.8,-3.55 -10.41,-5.18c0,0 -21.6,-0.62 -30.34,-14.12c-0.06,-0.11 -2.61,-5.45 -5.83,-4.49l-0.43,0.13l-0.2,-0.42c-3.941,-9.657 -5.89,-20.011 -5.73,-30.44c0,-5.25 -0.14,-13.5 -0.26,-19l0,-0.47l98.86,0l0,0.5c-0.13,24.76 1.06,42.6 3.52,53c2.08,8.8 10.82,8.22 14.47,7.56l0.33,-0.06l9,14.2l-0.77,0.1c-2.21,0.3 -4.41,0.64 -6.62,1c-5.776,1.006 -11.606,1.674 -17.46,2c-7.55,0.24 -15.12,0.37 -22.68,0.37Zm-24.91,-1.57c1.48,0.12 2.83,0.19 4.1,0.23c14.36,0.46 29,0.44 43.45,-0.06c5.817,-0.329 11.61,-0.997 17.35,-2c2,-0.3 3.91,-0.6 5.87,-0.87l-7.81,-12.32c-8.15,1.36 -13.71,-1.68 -15.29,-8.37c-2.47,-10.43 -3.66,-28.18 -3.55,-52.76l-96.87,0c0.12,5.46 0.25,13.37 0.25,18.47c-0.142,10.173 1.745,20.274 5.55,29.71c3.8,-0.66 6.43,4.83 6.54,5.07c8.41,13 29.38,13.61 29.59,13.61c6.56,1.4 10.3,3.36 11.23,5.82c0.402,1.158 0.251,2.438 -0.41,3.47Z" ></path>
                                <path class="fill-path--light" d="M37.51,169.57c-15.19,0 -27.28,-9 -33.49,-25.5c-1.88,-5.27 1,-7.21 1.16,-7.29c0.965,-0.678 2.186,-0.884 3.32,-0.56c2.89,0.83 4.77,4.82 4.85,5c8.41,13 29.38,13.6 29.59,13.61c7.13,1.53 10.94,3.71 11.41,6.49c0.57,3.4 -4,6.23 -4.21,6.35l-0.12,0.05c-4.063,1.2 -8.274,1.823 -12.51,1.85l0,0Zm-31.79,-32c-0.1,0.07 -2.36,1.63 -0.76,6.11c7.62,20.28 24.33,28.89 44.71,23c0.49,-0.31 4.12,-2.74 3.69,-5.3c-0.27,-1.61 -2.32,-3.9 -10.54,-5.67c-0.31,0 -21.65,-0.71 -30.34,-14.12c-0.05,-0.1 -1.8,-3.81 -4.25,-4.51c-0.856,-0.242 -1.778,-0.08 -2.5,0.44l-0.01,0.05Z"></path>
                         </g>
                    </svg>
                </label>


                <label for="{{element.key}}-{{$index}}" class="car-part car-part--back_right"
                       ng-switch-when="back_right">
                    <svg width="100%" height="100%" viewBox="0 0 394 176" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
                        <g class="shape">
                            <path d="M370,44.81c-3.85,-9.39 -5,-20.41 -14.5,-26.22c19.83,4.22 22.79,19.24 25.94,33c-0.02,-0.04 -10.18,-3.65 -11.44,-6.78Z" class="fill-path"></path>
                            <path d="M391.42,69.19c-0.95,-13.63 -3.18,-27 -8.69,-39.71c-4.2,-9.64 -11.42,-15.53 -21.89,-16.65c-12.37,-1.32 -26.32,-2.33 -26.32,-2.33c5.52,-0.21 3.24,25.09 3.24,25.09c4.69,-0.73 7.33,1.35 9.23,5.6c5.42,12.13 6.4,21 7.12,34c0.25,4.56 0.4,7.44 0.39,12l37.59,0c-0.09,-4.81 -0.34,-13.19 -0.67,-18Zm-21.42,-24.38c-3.85,-9.39 -5,-20.41 -14.5,-26.22c19.83,4.22 22.79,19.24 25.94,33c-0.02,-0.04 -10.18,-3.65 -11.44,-6.78Z" class="fill-path"></path>
                            <path d="M392.6,87.65l-38.6,0l0,-0.5c0,-4.63 -0.15,-7.56 -0.39,-12c-0.69,-12.39 -1.56,-21.44 -7.08,-33.8c-2,-4.37 -4.55,-6 -8.7,-5.31l-0.63,0.1l0.06,-0.64c0.51,-5.66 1.2,-21 -1.7,-24.07c-0.194,-0.223 -0.453,-0.38 -0.74,-0.45l-0.35,0l0,-1c0.156,-0.017 0.314,-0.017 0.47,0c2.42,0.18 14.87,1.12 25.92,2.3c10.38,1.11 17.88,6.81 22.29,17c4.84,11.11 7.62,23.78 8.74,39.87c0.3,4.39 0.55,12.17 0.67,18l0.04,0.5Zm-37.6,-1l36.58,0c-0.13,-5.74 -0.36,-13.17 -0.66,-17.42c-1.11,-16 -3.86,-28.54 -8.65,-39.54c-4.27,-9.79 -11.49,-15.29 -21.49,-16.36c-9.4,-1 -19.82,-1.84 -24.19,-2.17c3.09,4.32 2,20.41 1.71,23.85c4.26,-0.46 7.09,1.4 9.13,6c5.6,12.52 6.47,21.65 7.17,34.15c0.24,4.23 0.4,7.11 0.4,11.49Zm27.11,-34.32l-0.86,-0.31c-1.06,-0.38 -10.41,-3.78 -11.74,-7c-0.94,-2.3 -1.73,-4.72 -2.5,-7.06c-2.46,-7.52 -4.79,-14.62 -11.8,-18.93l-2.48,-1.52l2.84,0.61c19.66,4.19 23.08,19.14 26.09,32.32l0.45,1.89Zm-24.18,-32.63c5.67,4.58 7.89,11.35 10,17.92c0.76,2.33 1.55,4.73 2.48,7c0.89,2.18 7.09,4.92 10.28,6.14l0,-0.12c-2.94,-12.89 -5.98,-26.21 -22.76,-30.94Z" class="fill-path--light"></path>
                            <path d="M382.11,52.33l-0.86,-0.31c-1.06,-0.38 -10.41,-3.78 -11.74,-7c-0.94,-2.3 -1.73,-4.72 -2.5,-7.06c-2.46,-7.52 -4.79,-14.62 -11.8,-18.93l-2.48,-1.52l2.84,0.61c19.66,4.19 23.08,19.14 26.09,32.32l0.45,1.89Zm-24.18,-32.63c5.67,4.58 7.89,11.35 10,17.92c0.76,2.33 1.55,4.73 2.48,7c0.93,2.27 7.09,4.92 10.28,6.14l0,-0.12c-2.94,-12.89 -5.98,-26.21 -22.76,-30.94Z" class="fill-path--light"></path>
                            <path d="M382.11,52.33l-0.86,-0.31c-1.06,-0.38 -10.41,-3.78 -11.74,-7c-0.94,-2.3 -1.73,-4.72 -2.5,-7.06c-2.46,-7.52 -4.79,-14.62 -11.8,-18.93l-2.48,-1.52l2.84,0.61c19.66,4.19 23.08,19.14 26.09,32.32l0.45,1.89Zm-24.18,-32.63c5.67,4.58 7.89,11.35 10,17.92c0.76,2.33 1.55,4.73 2.48,7c0.89,2.18 7.09,4.92 10.28,6.14l0,-0.12c-2.94,-12.89 -5.98,-26.21 -22.76,-30.94Z" class="fill-path--light"></path>
                        </g>
                    </svg>
                </label>

                <label for="{{element.key}}-{{$index}}" class="car-part car-part--back_left" ng-switch-when="back_left">
                    <svg width="100%" height="100%" viewBox="0 0 394 176" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421">
                        <g class="shape">
                            <path d="M354.5,87.5c0,4.54 -0.14,7.42 -0.39,12c-0.72,13 -1.71,21.85 -7.12,34c-1.9,4.25 -4.54,6.33 -9.23,5.6c0,0 2.28,25.3 -3.24,25.09c0,0 14,-1 26.32,-2.33c10.47,-1.12 17.69,-7 21.89,-16.65c5.52,-12.67 7.75,-26.08 8.69,-39.71c0.33,-4.79 0.57,-13.19 0.67,-18l-37.59,0Zm1,68.56c9.47,-5.81 10.65,-16.83 14.5,-26.22c1.28,-3.13 11.44,-6.74 11.44,-6.74c-3.17,13.72 -6.13,28.73 -25.96,32.96l0.02,0Z" class="fill-path"></path>
                            <path d="M355.48,156.06c9.47,-5.81 10.65,-16.83 14.5,-26.22c1.28,-3.13 11.44,-6.74 11.44,-6.74c-3.15,13.72 -6.11,28.73 -25.94,32.96Z" class="fill-path"></path>
                            <path d="M334.58,164.65l-0.09,0l0,-1l0.35,0c0.287,-0.07 0.546,-0.227 0.74,-0.45c2.9,-3.05 2.21,-18.41 1.7,-24.07l-0.06,-0.64l0.63,0.1c4.15,0.65 6.74,-0.94 8.7,-5.31c5.53,-12.36 6.39,-21.41 7.08,-33.8c0.24,-4.39 0.39,-7.32 0.39,-12l0,-0.48l38.6,0l0,0.51c-0.12,5.81 -0.37,13.59 -0.67,18c-1.12,16.09 -3.89,28.76 -8.74,39.87c-4.41,10.14 -11.91,15.84 -22.29,17c-11.05,1.18 -23.51,2.12 -25.92,2.3c-0.141,0.004 -0.281,-0.006 -0.42,-0.03Zm3.72,-25c0.28,3.44 1.38,19.54 -1.71,23.85c4.38,-0.33 14.79,-1.17 24.19,-2.17c10,-1.07 17.22,-6.57 21.48,-16.35c4.79,-11 7.54,-23.57 8.65,-39.54c0.29,-4.25 0.53,-11.68 0.66,-17.42l-36.57,0c0,4.37 -0.16,7.26 -0.39,11.51c-0.7,12.5 -1.57,21.63 -7.17,34.15c-2.04,4.55 -4.88,6.41 -9.14,5.95l0,0.02Zm14.44,17.52l2.48,-1.52c7,-4.3 9.34,-11.41 11.8,-18.93c0.77,-2.34 1.56,-4.77 2.5,-7.06c1.33,-3.24 10.67,-6.64 11.74,-7l0.86,-0.31l-0.44,1.91c-3,13.19 -6.43,28.14 -26.09,32.32l-2.85,0.59Zm28,-33.27c-3.2,1.22 -9.39,4 -10.28,6.14c-0.89,2.14 -1.72,4.67 -2.48,7c-2.15,6.57 -4.37,13.35 -10,17.92c16.78,-4.73 19.82,-18 22.77,-30.94l-0.01,-0.12Z" class="fill-path--light"></path>
                            <path d="M352.74,157.15l2.48,-1.52c7,-4.3 9.34,-11.41 11.8,-18.93c0.77,-2.34 1.56,-4.77 2.5,-7.06c1.33,-3.24 10.67,-6.64 11.74,-7l0.86,-0.31l-0.44,1.91c-3,13.19 -6.43,28.14 -26.09,32.32l-2.85,0.59Zm28,-33.27c-3.2,1.22 -9.39,4 -10.28,6.14c-0.89,2.14 -1.72,4.67 -2.48,7c-2.15,6.57 -4.37,13.35 -10,17.92c16.78,-4.73 19.82,-18 22.77,-30.94l-0.01,-0.12Z" class="fill-path--light"></path>
                            <path d="M352.74,157.15l2.48,-1.52c7,-4.3 9.34,-11.41 11.8,-18.93c0.77,-2.34 1.56,-4.77 2.5,-7.06c1.33,-3.24 10.67,-6.64 11.74,-7l0.86,-0.31l-0.44,1.91c-3,13.19 -6.43,28.14 -26.09,32.32l-2.85,0.59Zm28,-33.27c-3.2,1.22 -9.39,4 -10.28,6.14c-0.89,2.14 -1.72,4.67 -2.48,7c-2.15,6.57 -4.37,13.35 -10,17.92c16.78,-4.73 19.82,-18 22.77,-30.94l-0.01,-0.12Z" class="fill-path--light"></path>
                        </g>
                    </svg>
                </label>


                <label for="{{element.key}}-{{$index}}" class="car-part car-part--side_right" ng-switch-when="side_right">
                    <?xml version="1.0" encoding="UTF-8" standalone="no"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                    <svg width="100%" height="100%" viewBox="0 0 394 176" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
                        <g class="shape">
                            <path d="M334.48,10.83l-28.84,1.09c-11.77,0.1 -16.59,1.49 -33.46,1.48c-18.19,0 -36.16,0.12 -54.26,0.23l-73.41,0.11c-1.78,0.07 -3.56,0 -5.83,0l3.4,-13.11c-4.53,-0.64 -7.28,1.13 -9,4.86c-1.21,2.69 -1.84,7 -3.77,7.71l-4,0l-8.4,13.26c17.95,3.25 36.59,7.38 54.73,10.86c0,0 64.81,11.39 121.31,1.17c0.05,-0.05 46.53,-12.49 41.53,-27.66Zm-182.83,16.59c-4.422,-1.065 -8.765,-2.432 -13,-4.09c-7.09,-2.78 0.54,-3.12 0.54,-3.12c22.92,0 47.85,1 70.77,1.08c1.1,0 2.76,-0.24 3.21,0.75c2.19,4.77 1.56,3.5 3.83,9.94l0.61,1.9c1.84,5.47 -65.96,-6.46 -65.96,-6.46Zm160.83,-6.5c-26.48,16.17 -79.48,13.84 -79.48,13.84c-5.69,-0.11 -7.64,-11 -7.64,-11c-1,-3.51 8.15,-2.8 8.15,-2.8l54.49,0c28.51,-0.23 24.48,-0.04 24.48,-0.04Zm-160.83,6.5c-4.422,-1.065 -8.765,-2.432 -13,-4.09c-7.09,-2.78 0.54,-3.12 0.54,-3.12c22.92,0 47.85,1 70.77,1.08c1.1,0 2.76,-0.24 3.21,0.75c2.19,4.77 1.56,3.5 3.83,9.94l0.61,1.9c1.84,5.47 -65.96,-6.46 -65.96,-6.46Zm160.83,-6.5c-26.48,16.17 -79.48,13.84 -79.48,13.84c-5.69,-0.11 -7.64,-11 -7.64,-11c-1,-3.51 8.15,-2.8 8.15,-2.8l54.49,0c28.51,-0.23 24.48,-0.04 24.48,-0.04Z" class="fill-path"></path><path d="M240.42,43.17c-23.051,-0.029 -46.066,-1.835 -68.84,-5.4c-7.77,-1.49 -15.75,-3.12 -23.46,-4.7c-10.32,-2.11 -21,-4.3 -31.27,-6.16l-0.73,-0.13l9,-14.12l4.18,0c1.06,-0.47 1.73,-2.54 2.38,-4.55c0.283,-0.97 0.617,-1.925 1,-2.86c1.85,-4.11 4.95,-5.8 9.49,-5.15l0.55,0.08l-3.37,13l5.17,0l73.43,-0.11l5.61,0c15.9,-0.1 32.35,-0.22 48.66,-0.19l0.22,0c9.3,0 15,-0.44 20.08,-0.82c4.09,-0.31 8,-0.61 13.15,-0.65l29.2,-1.11l0.12,0.36c0.714,2.231 0.441,4.663 -0.75,6.68c-6.61,12.22 -39.69,21.2 -41.1,21.57c-17.46,3.17 -35.77,4.26 -52.72,4.26Zm-122.66,-17.12c10.05,1.83 20.47,4 30.56,6c7.71,1.58 15.69,3.21 23.44,4.7c0.64,0.11 65.37,11.26 121.13,1.17c0.3,-0.08 34,-9.22 40.44,-21.07c0.981,-1.667 1.262,-3.657 0.78,-5.53l-28.45,1.08c-5.18,0 -9,0.34 -13.1,0.65c-5.07,0.39 -10.82,0.83 -20.15,0.83l-2.7,0c-15.5,0 -31.08,0.1 -46.18,0.2l-5.61,0l-73.42,0.11c-1.18,0 -2.36,0 -3.71,0l-2.79,0l3.41,-13.19c-3.79,-0.37 -6.29,1.11 -7.88,4.64c-0.381,0.899 -0.715,1.817 -1,2.75c-0.77,2.39 -1.5,4.65 -3.07,5.22l-0.08,0l-3.81,0l-7.81,12.44Zm94.24,9.71c-15.37,0 -55.16,-6.91 -60.49,-7.85c-4.421,-1.076 -8.764,-2.449 -13,-4.11c-2.32,-0.91 -3.33,-1.64 -3.33,-2.43c-0.005,-0.053 -0.005,-0.107 0,-0.16c0.19,-1.15 2.6,-1.43 4,-1.5c12.13,0 25,0.28 37.41,0.54c11.08,0.24 22.54,0.48 33.35,0.53l0.56,0c1.15,0 2.59,-0.08 3.1,1c1.012,2.042 1.874,4.154 2.58,6.32c0.3,0.87 0.69,2 1.27,3.66l0.61,1.92c0.039,0.116 0.059,0.238 0.06,0.36c-0.002,0.258 -0.098,0.507 -0.27,0.7c-0.53,0.73 -2.66,1.02 -5.85,1.02Zm-60.3,-8.83c24,4.23 63,9.92 65.41,7.2l-0.59,-2c-0.58,-1.64 -1,-2.79 -1.27,-3.66c-0.695,-2.135 -1.544,-4.217 -2.54,-6.23c-0.24,-0.52 -1.3,-0.49 -2.17,-0.46l-0.54,0c-10.82,0 -22.28,-0.29 -33.37,-0.53c-12.44,-0.27 -25.29,-0.54 -37.4,-0.54c-1.42,0.06 -2.89,0.39 -3.07,0.68c-0.18,0.29 0.24,0.5 2.71,1.47c4.197,1.645 8.5,3.004 12.88,4.07l-0.05,0Zm87.91,8.44c-4.11,0 -6.6,-0.1 -6.71,-0.11c-6,-0.12 -8,-11 -8.11,-11.45c-0.054,-0.192 -0.081,-0.391 -0.08,-0.59c0,-0.453 0.159,-0.892 0.45,-1.24c1.66,-2 7.64,-1.61 8.32,-1.56l54.52,0c9.63,-0.06 16.59,-0.1 20.69,-0.08c4.49,0 4.49,0 4.51,0.55c0,0.29 -0.18,0.45 -0.53,0.5c-20.76,12.61 -57.87,13.98 -73.01,13.98l-0.05,0Zm-13.9,-12.14c0.001,0.122 0.018,0.243 0.05,0.36c0,0.15 2,10.57 7.17,10.67c0.53,0 51.28,2.06 77.79,-12.91c-2.58,0 -8.65,0 -22.78,0.07l-54.5,0c-1.73,-0.13 -6.38,-0.17 -7.5,1.2c-0.131,0.175 -0.195,0.392 -0.18,0.61l-0.05,0Z" class="fill-path--light">
                            </path>
                        </g>
                    </svg>
                </label>

                <label for="{{element.key}}-{{$index}}" class="car-part car-part--side_left" ng-switch-when="side_left">
                    <?xml version="1.0" encoding="UTF-8" standalone="no"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                    <svg width="100%" height="100%" viewBox="0 0 394 176" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
                        <g class="shape">
                            <path d="M293,136.54c-56.5,-10.23 -121.31,1.17 -121.31,1.17c-18.14,3.48 -36.78,7.61 -54.73,10.86l8.4,13.26l4,0c1.93,0.7 2.56,5 3.77,7.71c1.68,3.73 4.43,5.5 9,4.86l-3.4,-13.12c2.27,0 4.05,-0.06 5.83,0l73.41,0.11c18.1,0.11 36.07,0.24 54.26,0.23c16.87,0 21.68,1.38 33.46,1.48l28.84,1.09c4.98,-15.19 -41.53,-27.65 -41.53,-27.65Zm-75.33,4.56l-0.61,1.9c-2.27,6.44 -1.64,5.17 -3.83,9.94c-0.45,1 -2.11,0.74 -3.21,0.75c-22.92,0.1 -47.84,1.08 -70.77,1.08c0,0 -7.63,-0.34 -0.54,-3.12c4.235,-1.658 8.578,-3.025 13,-4.09c4.422,-1.065 67.77,-11.94 65.97,-6.46l-0.01,0Zm70.33,13l-54.5,0c0,0 -9.12,0.71 -8.15,-2.8c0,0 1.95,-10.92 7.64,-11c0,0 53,-2.33 79.52,13.84c0,-0.09 4.03,0.11 -24.51,-0.09l0,0.05Zm-70.33,-13l-0.61,1.9c-2.27,6.44 -1.64,5.17 -3.83,9.94c-0.45,1 -2.11,0.74 -3.21,0.75c-22.92,0.1 -47.84,1.08 -70.77,1.08c0,0 -7.63,-0.34 -0.54,-3.12c4.235,-1.658 8.578,-3.025 13,-4.09c4.422,-1.065 67.77,-11.94 65.97,-6.46l-0.01,0Zm70.33,13l-54.5,0c0,0 -9.12,0.71 -8.15,-2.8c0,0 1.95,-10.92 7.64,-11c0,0 53,-2.33 79.52,13.84c0,-0.09 4.03,0.11 -24.51,-0.09l0,0.05Z" class="fill-path"></path><path d="M140.39,175c-3.58,0 -6.11,-1.74 -7.7,-5.28c-0.383,-0.935 -0.717,-1.89 -1,-2.86c-0.65,-2 -1.32,-4.08 -2.38,-4.55l-4.18,0l-9,-14.12l0.73,-0.13c10.27,-1.86 20.94,-4 31.27,-6.16c7.72,-1.58 15.7,-3.21 23.46,-4.7c0.66,-0.12 65.55,-11.29 121.49,-1.17c1.41,0.38 34.49,9.35 41.1,21.57c1.191,2.017 1.464,4.449 0.75,6.68l-0.12,0.36l-29.21,-1.11c-5.18,0 -9,-0.34 -13.14,-0.65c-5.1,-0.39 -10.86,-0.86 -20.3,-0.82c-16.23,0 -32.6,-0.09 -48.43,-0.19l-5.83,0l-73.41,-0.11c-1.19,0 -2.35,0 -3.69,0l-1.49,0l3.37,13l-0.55,0.08c-0.576,0.093 -1.157,0.146 -1.74,0.16Zm-10.93,-13.7l0.08,0c1.57,0.57 2.3,2.83 3.07,5.22c0.285,0.933 0.619,1.851 1,2.75c1.58,3.53 4.09,5 7.88,4.64l-3.41,-13.19l6.49,0l73.39,0.11l5.83,0c15.83,0.1 32.19,0.21 48.43,0.19l0.22,0c9.33,0 15.08,0.44 20.15,0.83c4.07,0.31 7.92,0.61 13.08,0.65l28.47,1.08c0.482,-1.873 0.201,-3.863 -0.78,-5.53c-6.36,-11.68 -39.48,-20.76 -40.46,-21.05c-55.76,-10.09 -120.47,1.06 -121.11,1.17c-7.75,1.48 -15.72,3.12 -23.44,4.7c-10.08,2.07 -20.5,4.2 -30.56,6l7.86,12.4l3.81,0.03Zm9.81,-6c-1.44,-0.06 -3.86,-0.34 -4,-1.5c-0.005,-0.053 -0.005,-0.107 0,-0.16c0,-0.79 1,-1.52 3.33,-2.43c4.236,-1.661 8.579,-3.034 13,-4.11c6.44,-1.13 62.86,-10.93 66.38,-6.87c0.172,0.193 0.268,0.442 0.27,0.7c-0.001,0.122 -0.021,0.244 -0.06,0.36l-0.61,1.9c-0.59,1.67 -1,2.81 -1.27,3.68c-0.706,2.166 -1.568,4.279 -2.58,6.32c-0.52,1.13 -2,1.08 -3.1,1l-0.63,0c-10.81,0 -22.27,0.29 -33.35,0.53c-12.4,0.28 -25.27,0.54 -37.38,0.54l0,0.04Zm-3.06,-1.63c0.967,0.436 2.019,0.651 3.08,0.63c12.08,0 24.94,-0.28 37.37,-0.54c11.09,-0.24 22.55,-0.48 33.37,-0.53l0.59,0c0.86,0 1.93,0.06 2.17,-0.46c0.996,-2.013 1.845,-4.095 2.54,-6.23c0.3,-0.87 0.69,-2 1.27,-3.67l0.6,-1.89c-2.36,-2.73 -41.38,3 -65.42,7.2c-4.373,1.063 -8.669,2.42 -12.86,4.06c-2.55,0.86 -2.71,1.37 -2.71,1.39l0,0.04Zm170.83,1c-4.21,0 -10.59,0 -19,-0.08l-54.5,0c-0.64,0.05 -6.62,0.45 -8.28,-1.56c-0.292,-0.347 -0.452,-0.786 -0.45,-1.24c0.001,-0.213 0.031,-0.425 0.09,-0.63c0.07,-0.42 2.08,-11.28 8.11,-11.4c0.52,0 53.33,-2.15 79.69,13.85c0.35,0 0.53,0.22 0.53,0.5c0,0.54 0,0.54 -4.51,0.55l-1.68,0.01Zm-19,-1.08c14.13,0.09 20.21,0.09 22.78,0.07c-26.52,-15 -77.26,-12.94 -77.78,-12.91c-5.22,0.1 -7.15,10.52 -7.17,10.62c-0.038,0.133 -0.058,0.271 -0.06,0.41c-0.002,0.22 0.077,0.433 0.22,0.6c1.13,1.37 5.78,1.33 7.47,1.2l54.54,0.01Z" class="fill-path--light">
                        </path></g>
                    </svg>
                </label>

                <label for="{{element.key}}-{{$index}}" class="car-part car-part--roof" ng-switch-when="roof">
                    <?xml version="1.0" encoding="UTF-8" standalone="no"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                    <svg width="100%" height="100%" viewBox="0 0 394 176" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
                        <g class="shape">
                            <path d="M337.75,139.41c-13.59,-2.12 -17.18,-4.38 -30.36,-6.41c0.79,-17 2.11,-29.22 2.11,-45.33c0,-16.11 -1.32,-28.31 -2.1,-45.33c13.19,-2 16.78,-4.11 30.37,-6.22c4.69,-0.73 7.33,1 9.23,5.28c5.42,12.13 6.4,21 7.12,34c0.25,4.56 0.39,7.44 0.39,12l0,0.35c0,4.54 -0.14,7.42 -0.4,12c-0.72,13 -1.71,21.85 -7.13,34c-1.9,4.25 -4.54,6.33 -9.23,5.6" class="fill-path--mid"></path>
                            <path d="M171.69,137.69c-18.14,3.47 -36.78,7.61 -54.73,10.85c-7,1.26 -13.32,-0.67 -15,-7.94c-2.92,-12.35 -3.63,-33.2 -3.52,-53.15c-0.1,-19.94 0.62,-40.8 3.54,-53.15c1.72,-7.28 8.05,-9.2 15,-7.94c17.95,3.25 36.59,7.39 54.73,10.87l-0.02,100.46Z" class="fill-path--mid"></path>
                            <path d="M171.69,137.87c11.61,-1.87 70.84,-10.29 121.31,-1.14c0,0 46.5,12.45 41.5,27.61c5.52,0.21 3.25,-25.09 3.25,-25.09c-13.59,-2.12 -17.18,-4.38 -30.36,-6.41c0.79,-17 2.11,-29.22 2.11,-45.33c0,-16.11 -1.32,-28.31 -2.1,-45.33c13.19,-2 16.78,-4.11 30.37,-6.22l0,-0.17c0,0 2.29,-25.3 -3.24,-25.09l0,0.33c5,15.17 -41.5,27.6 -41.5,27.6c-51.91,9.39 -112.07,0.32 -121.31,-1.19l-0.03,100.43Z" class="fill-path"></path>
                            <path d="M113.06,149.43c-6.16,0 -10.33,-3 -11.66,-8.69c-2.48,-10.51 -3.67,-28.43 -3.54,-53.26c-0.12,-24.83 1.07,-42.75 3.56,-53.26c1.6,-6.78 7.29,-9.81 15.62,-8.31c10.28,1.86 21,4 31.28,6.17c7.72,1.58 15.7,3.22 23.45,4.7l0.41,0.08l0,101.25l-0.41,0.08c-7.76,1.48 -15.74,3.12 -23.46,4.7c-10.31,2.11 -20.91,4.28 -31.16,6.11l-0.13,0c-1.305,0.26 -2.63,0.404 -3.96,0.43Zm0.16,-122.88c-4.08,0 -9.28,1.36 -10.83,7.89c-2.47,10.43 -3.66,28.27 -3.53,53c-0.13,24.77 1,42.61 3.51,53c2.06,8.73 10.66,8.23 14.37,7.58l0.13,0c10.27,-1.85 20.94,-4 31.26,-6.15c7.59,-1.55 15.43,-3.16 23.06,-4.62l0,-99.57c-7.64,-1.47 -15.47,-3.07 -23.06,-4.63c-10.32,-2.12 -21,-4.3 -31.26,-6.16c-1.204,-0.22 -2.426,-0.334 -3.65,-0.34l0,0Z" class="fill-path--light"></path><path d="M337.67,139.9c-5.194,-0.812 -10.342,-1.9 -15.42,-3.26c-4.919,-1.322 -9.906,-2.374 -14.94,-3.15l-0.44,-0.07l0,-0.45c0.27,-6 0.61,-11.3 0.94,-16.46c0.6,-9.45 1.17,-18.38 1.17,-28.85c0,-10.47 -0.56,-19.39 -1.16,-28.85c-0.33,-5.17 -0.67,-10.51 -0.94,-16.46l0,-0.45l0.44,-0.07c6.55,-1 10.63,-2 15,-3.06c4.37,-1.06 8.58,-2.1 15.41,-3.16c4.78,-0.74 7.69,0.92 9.76,5.57c5.59,12.52 6.47,21.66 7.16,34.16c0.25,4.41 0.39,7.34 0.39,12l0,0.35c0,4.64 -0.15,7.59 -0.4,12c-0.7,12.5 -1.57,21.63 -7.17,34.15c-2.14,4.79 -5.15,6.6 -9.74,5.9l-0.06,0.16Zm-29.77,-7.33c4.914,0.779 9.784,1.814 14.59,3.1c5.042,1.352 10.153,2.433 15.31,3.24l0,-0.15c4.14,0.64 6.74,-0.94 8.7,-5.31c5.53,-12.37 6.39,-21.41 7.09,-33.8c0.25,-4.4 0.4,-7.34 0.39,-12l0,-0.35c0,-4.64 -0.15,-7.56 -0.39,-12c-0.69,-12.39 -1.55,-21.43 -7.07,-33.8c-1.88,-4.21 -4.4,-5.66 -8.7,-5c-6.79,1.06 -11.13,2.12 -15.33,3.14c-4.2,1.02 -8.25,2 -14.59,3c0.27,5.77 0.6,11 0.92,16c0.6,9.47 1.17,18.41 1.16,28.91c-0.01,10.5 -0.57,19.44 -1.17,28.91c-0.31,5.15 -0.64,10.34 -0.91,16.11l0,0Z" class="fill-path--light"></path><path d="M334.57,164.84l-0.09,0l-0.66,0l0.21,-0.63c0.623,-1.97 0.375,-4.114 -0.68,-5.89c-6.4,-11.85 -40.13,-21 -40.47,-21.09c-50.21,-9.1 -109.17,-0.72 -120.94,1.13l-0.15,0l-0.62,0.1l-0.16,-1l0.19,0l0,-100l0.13,0l0.09,-0.55l0.36,0.06c11.22,1.8 69.8,10.45 121.12,1.17c0.3,-0.08 34,-9.22 40.44,-21.06c1.055,-1.776 1.303,-3.92 0.68,-5.89l0,-0.1l0.08,-0.87l0.44,0c0.682,-0.015 1.337,0.271 1.79,0.78c3.8,4 2,24 2,24.85l0,0.56l-0.42,0.07c-6.79,1.06 -11.13,2.12 -15.33,3.14c-4.2,1.02 -8.25,2 -14.6,3c0.27,5.77 0.6,11 0.92,16c0.53,9.45 1.1,18.38 1.1,28.89c0,10.51 -0.57,19.45 -1.17,28.92c-0.32,5 -0.65,10.22 -0.92,16c4.917,0.778 9.791,1.813 14.6,3.1c5.045,1.352 10.159,2.433 15.32,3.24l0.39,0.06l0,0.39c0.08,0.85 1.83,20.85 -2,24.85c-0.42,0.473 -1.018,0.751 -1.65,0.77l0,0Zm-93.68,-32.79c16.94,0 35.07,1.08 52.2,4.18c1.45,0.39 34.53,9.36 41.14,21.59c1.033,1.756 1.389,3.83 1,5.83c0.125,-0.082 0.239,-0.18 0.34,-0.29c2.83,-3 2.24,-17.74 1.73,-23.68c-5.052,-0.807 -10.059,-1.875 -15,-3.2c-4.922,-1.322 -9.913,-2.374 -14.95,-3.15l-0.44,-0.07l0,-0.45c0.28,-6 0.61,-11.29 0.94,-16.45c0.6,-9.45 1.17,-18.38 1.17,-28.86c0,-10.48 -0.56,-19.4 -1.16,-28.85c-0.33,-5.17 -0.67,-10.51 -0.94,-16.46l0,-0.45l0.44,-0.07c6.55,-1 10.64,-2 15,-3.06c4.13,-1 8.41,-2.06 15,-3.1c0.51,-5.89 1.14,-20.85 -1.71,-23.86c-0.133,-0.148 -0.292,-0.27 -0.47,-0.36c0.543,2.114 0.226,4.359 -0.88,6.24c-6.61,12.22 -39.7,21.19 -41.1,21.56c-50.77,9.19 -108.46,0.91 -121.02,-1.09l0,99.26c22.747,-3.402 45.711,-5.143 68.71,-5.21l0,0Z" class="fill-path--light"></path>
                        </g>
                    </svg>
                </label>





            </div>
        </div>
    </div>
    <div class="selected-checks-wrap col-md-10">
        <div class="btn btn-check animation-appear" ng-bind="mapName(option)" ng-repeat="option in element.value"></div>
    </div>
</div>