<div shc-ui-accordion-group-item="" ng-class="{'active':isActive}" ng-click="clicked()" content-style="{{element.contentStyle}}" class="{{element.classList}} container_block accordion-row" ng-readonly="element.readOnly">
    <div  ng-if="element.get('displayName')">
        <h6  class="bold accordion-row__title inline-block" ng-bind="parseBold(element.get('displayName'))"></h6>
        <h6  class="accordion-row__title inline-block" ng-bind="parseNormal(element.get('displayName'))"></h6>
    </div>
    <children></children>
</div>
