@font-face {
  font-family: 'bb-rb-icons';
  src:  url('../assets/fonts/bb-rb-icons.eot');
  src:  url('../assets/fonts/bb-rb-icons.eot#iefix') format('embedded-opentype'),
    url('../assets/fonts/bb-rb-icons.ttf') format('truetype'),
    url('../assets/fonts/bb-rb-icons.woff') format('woff'),
    url('../assets/fonts/bb-rb-icons.svg#bb-rb-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.bb-icon:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bb-rb-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: 200 !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bb-icon--insurance {
  &:before {
    content: $bb-icon--insurance;
  }
}
.bb-icon--stopclock {
  &:before {
    content: $bb-icon--stopclock;
  }
}
.bb-icon--cross {
  &:before {
    content: $bb-icon--cross;
  }
}
.bb-icon--arrow-business {
  &:before {
    content: $bb-icon--arrow-business;
  }
}
.bb-icon--arrow-personal {
  &:before {
    content: $bb-icon--arrow-personal;
  }
}
.bb-icon--arrow-left {
  &:before {
    content: $bb-icon--arrow-left;
  }
}
.bb-icon--arrow-right {
  &:before {
    content: $bb-icon--arrow-right;
  }
}
.bb-icon--outgoing-transfer {
  &:before {
    content: $bb-icon--outgoing-transfer;
  }
}
.bb-icon--incoming-transfer {
  &:before {
    content: $bb-icon--incoming-transfer;
  }
}
.bb-icon--arrow-long-left {
  &:before {
    content: $bb-icon--arrow-long-left;
  }
}
.bb-icon--arrow-down {
  &:before {
    content: $bb-icon--arrow-down;
  }
}
.bb-icon--arrow-up {
  &:before {
    content: $bb-icon--arrow-up;
  }
}
.bb-icon--internal-transfer {
  &:before {
    content: $bb-icon--internal-transfer;
  }
}
.bb-icon--payments {
  &:before {
    content: $bb-icon--payments;
  }
}
.bb-icon--reverse {
  &:before {
    content: $bb-icon--reverse;
  }
}
.bb-icon--download {
  &:before {
    content: $bb-icon--download;
  }
}
.bb-icon--calendar {
  &:before {
    content: $bb-icon--calendar;
  }
}
.bb-icon--car {
  &:before {
    content: $bb-icon--car;
  }
}
.bb-icon--card {
  &:before {
    content: $bb-icon--card;
  }
}
.bb-icon--cart {
  &:before {
    content: $bb-icon--cart;
  }
}
.bb-icon--contacts {
  &:before {
    content: $bb-icon--contacts;
  }
}
.bb-icon--filters {
  &:before {
    content: $bb-icon--filters;
  }
}
.bb-icon--info-center {
  &:before {
    content: $bb-icon--info-center;
  }
}
.bb-icon--insights {
  &:before {
    content: $bb-icon--insights;
  }
}
.bb-icon--messages-header-on {
  &:before {
    content: $bb-icon--messages-header-on;
  }
}
.bb-icon--messages {
  &:before {
    content: $bb-icon--messages;
  }
}
.bb-icon--money-bag {
  &:before {
    content: $bb-icon--money-bag;
  }
}
.bb-icon--padlock {
  &:before {
    content: $bb-icon--padlock;
  }
}
.bb-icon--products {
  &:before {
    content: $bb-icon--products;
  }
}
.bb-icon--settings {
  &:before {
    content: $bb-icon--settings;
  }
}
.bb-icon--theatre {
  &:before {
    content: $bb-icon--theatre;
  }
}
.bb-icon--tools {
  &:before {
    content: $bb-icon--tools;
  }
}
.bb-icon--loan {
  &:before {
    content: $bb-icon--loan;
  }
}
.bb-icon--money-bags {
  &:before {
    content: $bb-icon--money-bags;
  }
}
.bb-icon--wallet {
  &:before {
    content: $bb-icon--wallet;
  }
}
.bb-icon--search {
  &:before {
    content: $bb-icon--search;
  }
}
.bb-icon--heart {
  &:before {
    content: $bb-icon--heart;
  }
}
