$icomoon-font-path: "fonts" !default;

$bb-icon--insurance: "\e923";
$bb-icon--stopclock: "\e91e";
$bb-icon--cross: "\e900";
$bb-icon--arrow-business: "\e901";
$bb-icon--arrow-personal: "\e902";
$bb-icon--arrow-left: "\e903";
$bb-icon--arrow-right: "\e904";
$bb-icon--outgoing-transfer: "\e905";
$bb-icon--incoming-transfer: "\e906";
$bb-icon--arrow-long-left: "\e924";
$bb-icon--arrow-down: "\e917";
$bb-icon--arrow-up: "\e907";
$bb-icon--internal-transfer: "\e908";
$bb-icon--payments: "\e909";
$bb-icon--reverse: "\e90a";
$bb-icon--download: "\e90b";
$bb-icon--calendar: "\e90c";
$bb-icon--car: "\e90d";
$bb-icon--card: "\e90e";
$bb-icon--cart: "\e90f";
$bb-icon--contacts: "\e910";
$bb-icon--filters: "\e911";
$bb-icon--info-center: "\e913";
$bb-icon--insights: "\e914";
$bb-icon--messages-header-on: "\e918";
$bb-icon--messages: "\e919";
$bb-icon--money-bag: "\e91a";
$bb-icon--padlock: "\e91c";
$bb-icon--products: "\e91d";
$bb-icon--settings: "\e91f";
$bb-icon--theatre: "\e920";
$bb-icon--tools: "\e921";
$bb-icon--loan: "\e916";
$bb-icon--money-bags: "\e91b";
$bb-icon--wallet: "\e922";
$bb-icon--search: "\e912";
$bb-icon--heart: "\e915";

