@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/roboto-regular.eot');
    src: url('../assets/fonts/roboto-regular.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/roboto-regular.woff2') format('woff2'),
         url('../assets/fonts/roboto-regular.woff') format('woff'),
         url('../assets/fonts/roboto-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/roboto-bold.eot');
    src: url('../assets/fonts/roboto-bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/roboto-bold.woff') format('woff'),
    url('../assets/fonts/roboto-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/roboto-bold.eot');
    src: url('../assets/fonts/roboto-bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/roboto-bold.woff') format('woff'),
    url('../assets/fonts/roboto-bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/roboto-medium.eot');
    src: url('../assets/fonts/roboto-medium.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/roboto-medium.woff2') format('woff2'),
         url('../assets/fonts/roboto-medium.woff') format('woff'),
         url('../assets/fonts/roboto-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/roboto-light.eot');
    src: url('../assets/fonts/roboto-light.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/roboto-light.woff') format('woff'),
    url('../assets/fonts/roboto-light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
