<button type="button" shc-button-simple ng-readonly="element.readOnly" ng-class="{'disabled':element.disabled}" class="{{element.classList}} btn btn-default" name="{{element.name}}" id="{{element.key}}"  ng-click="clickEvent()"><span class="button__caption">{{::element.get('caption')}}</span></button>


