<div class="ext-shc-rb-login-ng" ng-controller="LoginController as $ctrl">
    <form ng-if="!$ctrl.needsToken" role="form" novalidate="novalidate" ng-submit="$ctrl.login()">
        <h1>Login</h1>
        <div class="form-group icon-user">
            <div class="floatlabel">
                <input ng-model="$ctrl.username"
                       name="username"
                       class="form-control"
                       type="text"
                       id="username-field"/>


                <label for="username-field" class="icon username-field-class">{{:: 'login.label.username' | i18n }}</label>
            </div>
        </div>
        <div class="form-group icon-simple-line icon-lock">
            <div class="floatlabel">
                <input ng-model="$ctrl.password"
                       name="password"
                       class="form-control"
                       type="password"
                       id="password-field"/>
                <label for="password-field" class="icon">{{:: 'login.label.password' | i18n }}</label>
            </div>
        </div>
        <div ng-if="$ctrl.loginError" i18n-key="login.error.invalidCredentials" class="text-danger"></div>
        <div class="form-group">
            <input type="submit"
                   value="{{:: 'login.button' | i18n }}"
                   class="btn btn-default btn-blue btn-large"
                   aria-label="{{:: 'login.button' | i18n }}"
                   ng-disabled="!$ctrl.username || !$ctrl.password"
            />
        </div>
    </form>

    <form ng-if="$ctrl.needsToken" role="form" novalidate="novalidate" ng-submit="$ctrl.otpVerification()">
        <h1>Login</h1>
        <h3>Provide your OTP Token</h3>
        <div class="form-group icon-simple-line icon-lock">
            <input ng-model="$ctrl.verificationCode"
                   name="verificationCode"
                   class="form-control"
                   type="text"
                   maxlength="6"
                   placeholder="Verification code"
            />
        </div>
        <div ng-if="$ctrl.loginError" i18n-key="login.error.invalidOTPCode" class="text-danger"></div>
        <div class="form-group">
            <input type="submit"
                   value="Send"
                   class="btn btn-default btn-blue btn-large"
                   aria-label="Send"
                   ng-disabled="!$ctrl.verificationCode"
            />
        </div>
    </form>
</div>
