<span class="shc-content-template shc-content-template--back pull-left">
    <i class="bb-icon bb-icon--arrow-left"></i>
    <a class="back-to" href="{{banner.link.path}}">{{banner.linktext}}</a>
</span>
