<div class="shc-content-template shc-content-template--cta-split">

    <div class="cta-split--wrapper">

        <div class="wrapper--row">
            <div class="left">
                <h1>{{banner.number-one}}</h1>
                <h4>{{banner.one-description}}</h4>
            </div>
            <div class="vertical-r"></div>
            <div class="right">
                <h1>{{banner.number-two}}</h1>
                <h4>{{banner.two-description}}</h4>
            </div>
        </div>

        <hr>

        <a class="call-to-action--link" href="{{banner.link.path}}">{{banner.boxlink}}</a>
    </div>

</div>
