<div class="shc-content-template shc-content-template--cta-box">

    <div class="cta-box--wrapper">
        <h5>{{banner.introduction}}</h5>
        <h3>{{banner.title}}</h3>

        <hr>

        <a class="call-to-action--link" href="{{banner.link.path}}">{{banner.boxlink}}</a>
    </div>

</div>
