<div class="shc-content-template shc-content-template--image-with-text">

    <div class="image-with-text">
        <div class="content-template--image-container">
            <img src="{{banner.image.path}}" alt="" />
        </div>

        <div class="content-template--text-container">

            <h6>{{banner.text}}</h6>

        </div>
    </div>

</div>


