<div class="shc-content-template shc-content-template__jumbotron-with-icon">
    <div class="image-container--dropimage">
        <img src="{{banner.image.path}}" alt="" />
    </div>

    <div class="jumbotron-with-icon__overlay">
        <div class="jumbotron-with-icon__content-container">

            <div class="jumbotron-with-icon__icon">
                <img src="{{banner.icon.path}}" alt="" />
            </div>

            <h1 class="jumbotron-with-icon__body">{{{banner.text}}}</h1>

        </div>
    </div>
</div>

