<div class="shc-content-template shc-content-template--jumbotron">
    <div class="image-container--dropimage">
        <img src="{{banner.image.path}}" alt="" />
    </div>

    <div class="jumbotron__content-container">
        <h1>{{{banner.title}}}</h1>

        <h3 class="text-normal">{{banner.subtitle}}</h3>

        <div class="btn btn-default btn-large start-onboarding">{{banner.linktext}}</div>
    </div>
</div>
