<div class="shc-content-template shc-content-template--jumbotron-no-button">
    <div class="image-container--dropimage">
        <img src="{{banner.image.path}}" alt="" />
    </div>

    <div class="jumbotron__content-container">
        <h1>{{{banner.title}}}</h1>
    </div>
</div>
