<div class="shc-content-template shc-content-template--jumbotron">
    <div class="image-container--dropimage">
        <img src="{{banner.image.path}}" alt="" />
    </div>

    <div class="jumbotron__content-container">
        <h1>{{{banner.title}}}</h1>

        <h3 class="text-normal">{{banner.subtitle}}</h3>

        <a class="btn btn-default btn-large" href="{{banner.link.path}}">{{banner.linktext}}</a>
    </div>
</div>
