<div class="shc-content-template shc-content-template__jumbotron-with-profile-info">

    <div class="jumbotron-with-profile-info__content">

        <div class="image-container--dropimage">
            <img src="{{banner.image.path}}" alt="" />
        </div>

        <h1 class="profile-info__append-name">{{banner.title}}</h1>

        <h6>{{banner.subtitle}}</h6>

        <a class="btn btn-default btn-small btn-blue-dark" href="{{banner.link.path}}">{{banner.link.text}}</a>

    </div>

</div>
