<div class="shc-content-template shc-content-template--sidebar-logo-narrow">

    <div class="sidebar__logo sidebar__logo-narrow">
        <img class="sidebar__logo__image-narrow" src="{{banner.logo.path}}" alt="" />
    </div>

</div>
