<div class="shc-content-template shc-content-template--sidebar-logo-wide">

    <div class="sidebar__logo sidebar__logo-wide">
        <img class="sidebar__logo__image-wide" src="{{banner.logo.path}}" alt="" />
    </div>

</div>
