<div class="shc-content-template shc-content-template--styleguide">
    <div class="container">

        <div class="col-md-6">
            <div class="items-block">
                <h4>blue buttons</h4>

                <a class="btn btn-default btn-blue btn-large" href="">Click button</a>
                <a class="btn btn-default btn-blue" href="">Click button</a>
                <a class="btn btn-default btn-blue btn-small" href="">Click button</a>
                <br><br>
                <a class="btn btn-default btn-ghost btn-blue btn-large" href="">Click button</a>
                <a class="btn btn-default btn-ghost btn-blue" href="">Click button</a>
                <a class="btn btn-default btn-ghost btn-blue btn-small" href="">Click button</a>
            </div>

            <hr>

            <div class="items-block">
                <h4>blue-light buttons</h4>

                <a class="btn btn-default btn-blue-light btn-large" href="">Click button</a>
                <a class="btn btn-default btn-blue-light" href="">Click button</a>
                <a class="btn btn-default btn-blue-light btn-small" href="">Click button</a>
                <br><br>
                <a class="btn btn-default btn-ghost btn-blue-light btn-large" href="">Click button</a>
                <a class="btn btn-default btn-ghost btn-blue-light" href="">Click button</a>
                <a class="btn btn-default btn-ghost btn-blue-light btn-small" href="">Click button</a>
            </div>

            <hr>

            <div class="items-block">
                <h4>blue-dark buttons</h4>

                <a class="btn btn-default btn-blue-dark btn-large" href="">Click button</a>
                <a class="btn btn-default btn-blue-dark" href="">Click button</a>
                <a class="btn btn-default btn-blue-dark btn-small" href="">Click button</a>
                <br><br>
                <a class="btn btn-default btn-ghost btn-blue-dark btn-large" href="">Click button</a>
                <a class="btn btn-default btn-ghost btn-blue-dark" href="">Click button</a>
                <a class="btn btn-default btn-ghost btn-blue-dark btn-small" href="">Click button</a>
            </div>

            <hr>

            <div class="items-block">
                <h4>grey-dark buttons</h4>

                <a class="btn btn-default btn-grey-dark btn-large" href="">Click button</a>
                <a class="btn btn-default btn-grey-dark" href="">Click button</a>
                <a class="btn btn-default btn-grey-dark btn-small" href="">Click button</a>
                <br><br>
                <a class="btn btn-default btn-ghost btn-grey-dark btn-large" href="">Click button</a>
                <a class="btn btn-default btn-ghost btn-grey-dark" href="">Click button</a>
                <a class="btn btn-default btn-ghost btn-grey-dark btn-small" href="">Click button</a>
            </div>

            <hr>

            <div class="items-block bg-black">
                <h4 class="text-white">white buttons</h4>

                <a class="btn btn-default btn-white btn-large" href="">Click button</a>
                <a class="btn btn-default btn-white" href="">Click button</a>
                <a class="btn btn-default btn-white btn-small" href="">Click button</a>
                <br><br>
                <a class="btn btn-default btn-ghost btn-white btn-large" href="">Click button</a>
                <a class="btn btn-default btn-ghost btn-white" href="">Click button</a>
                <a class="btn btn-default btn-ghost btn-white btn-small" href="">Click button</a>
            </div>

            <hr>

            <div class="items-block">
                <h4>disabled buttons (looks the same for all colours)</h4>

                <a class="btn btn-default btn-blue btn-large disabled" href="">Click button</a>
                <a class="btn btn-default btn-blue disabled" href="">Click button</a>
                <a class="btn btn-default btn-blue btn-small disabled" href="">Click button</a>
                <br><br>
                <a class="btn btn-default btn-ghost btn-blue btn-large disabled" href="">Click button</a>
                <a class="btn btn-default btn-ghost btn-blue disabled" href="">Click button</a>
                <a class="btn btn-default btn-ghost btn-blue btn-small disabled" href="">Click button</a>
            </div>
        </div>

        <div class="col-md-3">
            <div class="items-block">
                <h4>bb-rb-icons</h4>

                <i class="bb-icon bb-icon--cross"></i>
                bb-cross

                <br>

                <i class="bb-icon bb-icon--arrow-personal"></i>
                bb-arrow-personal

                <br>

                <i class="bb-icon bb-icon--arrow-right"></i>
                bb-arrow-right

                <br>

                <i class="bb-icon bb-icon--incoming-transfer"></i>
                bb-incoming-transfer

                <br>

                <i class="bb-icon bb-icon--internal-transfer"></i>
                bb-internal-transfer

                <br>

                <i class="bb-icon bb-icon--reverse"></i>
                bb-reverse

                <br>

                <i class="bb-icon bb-icon--calendar"></i>
                bb-calendar

                <br>

                <i class="bb-icon bb-icon--card"></i>
                bb-card

                <br>

                <i class="bb-icon bb-icon--contacts"></i>
                bb-contacts

                <br>

                <i class="bb-icon bb-icon--info-center"></i>
                bb-info-center

                <br>

                <i class="bb-icon bb-icon--messages-header-on"></i>
                bb-messages-header-on

                <br>

                <i class="bb-icon bb-icon--money-bag"></i>
                bb-money-bag

                <br>

                <i class="bb-icon bb-icon--products"></i>
                bb-products

                <br>

                <i class="bb-icon bb-icon--theatre"></i>
                bb-theatre

                <br>

                <i class="bb-icon bb-icon--wallet"></i>
                bb-wallet

                <br>

                <i class="bb-icon bb-icon--search"></i>
                bb-search
            </div>

            <hr>

        </div>

        <div class="col-md-3">
            <div class="items-block">
                <h4>bb-rb-icons</h4>

                <i class="bb-icon bb-icon--arrow-business"></i>
                bb-arrow-business

                <br>

                <i class="bb-icon bb-icon--arrow-left"></i>
                bb-left

                <br>

                <i class="bb-icon bb-icon--outgoing-transfer"></i>
                bb-outgoing-transfer

                <br>

                <i class="bb-icon bb-icon--arrow-up"></i>
                bb-arrow-up

                <br>

                <i class="bb-icon bb-icon--payments"></i>
                bb-payments

                <br>

                <i class="bb-icon bb-icon--download"></i>
                bb-download

                <br>

                <i class="bb-icon bb-icon--car"></i>
                bb-car

                <br>

                <i class="bb-icon bb-icon--cart"></i>
                bb-cart

                <br>

                <i class="bb-icon bb-icon--filters"></i>
                bb-filters

                <br>

                <i class="bb-icon bb-icon--insights"></i>
                bb-insights

                <br>

                <i class="bb-icon bb-icon--messages"></i>
                bb-messages

                <br>

                <i class="bb-icon bb-icon--padlock"></i>
                bb-padlock

                <br>

                <i class="bb-icon bb-icon--settings"></i>
                bb-settings

                <br>

                <i class="bb-icon bb-icon--tools"></i>
                bb-tools

                <br>

                <i class="bb-icon bb-icon--heart"></i>
                bb-heart
            </div>

            <hr>

        </div>

        <div class="col-md-4">
            <div class="items-block">

                <h1>The quick</h1>
                <h2>Brown fox jumps</h2>
                <h3>Over the lazy dog</h3>
                <h4>The quick brown fox</h4>
                <h5>The quick brown fox</h5>
                <h6>The quick brown fox</h6>
                <p>The quick brown fox</p>

            </div>
        </div>

    </div>
</div>
