<div class="shc-content-template shc-content-template--topnav-logo">
    <div class="topnav__logo topnav__logo">
        <img class="topnav__logo__image" src="{{banner.logo.path}}" alt="" />
    </div>
</div>
