<div class="shc-content-template shc-content-template--topnav-login">

    <div class="logo-image">
        <img src="{{banner.image.path}}" alt="" />
    </div>

    <div class="back-to">
        <a href="{{banner.link.path}}">{{banner.link.title}}</a>
    </div>

</div>
