<div class="simple-navigation">

    <div class="simple-navigation__mask"> </div>

    <div class="simple-navigation__links">

        {{#links}}

        <a class="btn btn-link simple-navigation__link">

            <div class="simple-navigation__oval">
                <i class="{{pref.sectionName}}"></i>
            </div>

            <span class="simple-navigation__title">{{title}}</span>

        </a>

        {{/links}}

    </div>

</div>
