<a class="list-group-item">
    
    <div class="row">
        <div class="col-sm-6 col-xs-8" data-bind="bqListClick: action">
            <h4 class="list-group-item-heading" data-bind="text: captions[0]"></h4>
            <!--  ko foreach: captions -->
            	<!-- ko if: ($index() % 2 == 1) -->
            		<p class="list-group-item-text" data-bind="text: $data"></p>
            	<!-- /ko -->
            <!-- /ko -->

        </div>
        <div class="col-sm-6  col-xs-4">
            <!--  ko foreach: captions -->
            	<!-- ko if: ($index() > 0 && $index() % 2 == 0) -->
            		<p class="list-group-item-text" data-bind="text: $data" data-bind="bqListClick: action"></p>
            	<!-- /ko -->
            <!-- /ko -->
            <!-- ko if: offlineavailability-->
            	<div class="task-offline" data-bind="bqTaskOfflineClick: action">
                	<span data-bind="attr:{ class: buttonClass }"></span>
                </div>
            <!-- /ko -->
        </div>
    </div>
</a>