<div class="bootcards-list col-xs-12" data-bind="bqMode: ['mobilelist']">
    <div class="panel panel-default" data-bind="with: table">
        <div class="list-group" data-bind="foreach: rows">
			<!-- ko template: {name: template} --><!-- /ko -->
        </div>
    </div>
</div>