<div class="floatlabel">
    <input string-to-number="" type="number"
       class="{{element.classList}} form-control"
        id="{{element.key}}-text-input"
        name="{{element.name}}"
        ng-disabled="element.disabled"
        ng-readonly="element.readOnly"
        ng-class="{ 'empty': (!element.value[0] || element.value[0].length === 0) }"
        ng-blur="$emit('update')"
        ng-pattern="/^[0-9]*$/"
        ng-model="element.value[0]"
        ng-required="element.required"
        maxlength="{{element.maxLength}}"
        novalidate />
    <label for="{{element.key}}-text-input" class="icon" ng-bind="element.FormAttributeSuggestion"></label>
</div>