<div data-bind="attr: { class: 'visualization ' + presentationStyles().joined }">
  
  <table>
  	<tr>
  		<td>
  			<div style="font-weight:bold"></div>
  		</td>
  	</tr>  
	<tr>	
		<td>			
  			<canvas data-bind="bqVisualization: '', chartType: style, data: statistics, title: displayName" class="visualization"></canvas>
  		</td>
  		<td>
  			<div></div>
  		</td>
  	</tr>
  </table>
</div>