<div class="text-item__text-wrap {{(element.classList +' '+ element.contentStyle )}}">
	<p id="{{element._e.key}}" ng-if="element._e.nodes.length>0" ng-bind-html="element._e.nodes | formatContentItem" class="{{element._e.styles | beautify}}">
	</p>
</div>
