.shc-widget-fullscreen-overlay {
  .questionare {
    #onboarding_qr_view {
      .onboarding_qr_view__wrap {
        margin-top: -70px !important;
      }
    }

    @media (min-width: 800px) and (max-width: 1000px) {
      .onboarding_qr_view {
        .onboarding_qr_view__wrap {
          -webkit-transform: translate(-50%, -50%) scale(.8) !important;
          transform: translate(-50%, -50%) scale(.8) !important;
        }
      }
    }

    @media (min-width: 600px) and (max-width: 800px) {
      .onboarding_qr_view {
        .onboarding_qr_view__wrap {
          -webkit-transform: translate(-50%, -50%) scale(.7) !important;
          transform: translate(-50%, -50%) scale(.7) !important;
        }
      }
    }

    @media   (max-width: 600px) {
      .onboarding_qr_view {
        .onboarding_qr_view__wrap {
          -webkit-transform: translate(-50%, -50%) scale(.4) !important;
          transform: translate(-50%, -50%) scale(.4) !important;
        }
      }
    }

  }

  @media (max-width: 500px) {
    .questionare {
      .close_questionare {
        font-size:28px;
        margin-right:-18px;
      }
      .question_item {
        .question_title {
          font-size: 18px;
          font-weight: 300;
          .question-nr {
            margin-right: 20px;
            font-size: 21px;
            //top: -3px;
          }
          .question_title__copy {
            display: block;
            margin-left: 40px;
            margin-top: -33px;
          }
        }

        .question_subtitle {
          margin-left: 40px;
          font-size: 20px;
          margin-top: -3px;
        }

        .question_response {
          position: relative;
          width: 300px;
          height: 80px;
          margin-left: 40px;
          margin-top: 21px;

          &.question_response-input-ssn {

            input {
              //background-color:orange;
            }
            .input1 {
              width: 35px;
            }

            .input3 {
              width: 52px;
            }

            .input2 {
              width: 25px;
            }

          }

          &.question_response_upload-select {
            width: 300px;
          }
          .question_response__button {
            height: 40px;
            //--
            margin-top: 20px;
            border-radius: 50px;
            opacity: 0;
          }

          .question_response__button__content {
            font-size: 15px;
            line-height: 40px;
            width: 100%;
            .icon {
              margin-left: -4px;
              font-size: 14px;
              top: -1px;
              margin-right: 2px;
            }
          }

          .question_response__upload {
            width: 199px;
            position: relative;
            float: left;
            margin-left: 0px;
            &:first-child {
              margin-left: 0;
            }
          }

          .question_response__upload__content {
            font-size: 15px;
            line-height: 40px;
            font-weight: 300;

            .icon {
              margin-left: -4px;
              font-size: 17px;
              margin-right: 7px;
              top: 1px;
            }

            &.question_response__upload__content--desktop {
              .icon {
                margin-right: 2px;
                top: 2px;
              }
            }
          }

          .question_response__save {
            position: absolute;
            width: 70px;
            &.filled {
              visibility: hidden;
              opacity: 0;
            }

            &.hollow {
              background: transparent;
              border: 1px solid rgba(255, 255, 255, .6);
              pointer-events: none;
              .question_response__button__content {
                margin-top: -1px;
              }

            }
          }
          .question_response__input {
            font-size: 20px;
          }
        }

      }

    }
  }

}