<div class="ext-shc-my-products-menu-toggle-ng"
     ng-controller="MyProductsMenuToggleController as $ctrl">

    <div class='my-products-menu-toggle'>

        <button class="show-when-closed my-products-menu-toggle__open-button btn btn-default btn-ghost btn-blue-dark"
                ng-click="ext.helpers.toggle()">Menu
        </button>

        <div class="my-products-menu-toggle__bar show-when-open">
            <button ng-click="ext.helpers.toggle()" class="btn btn-ghost btn-white btn-small btn-close">
                    <i class="bb-icon bb-icon--cross"></i>
            </button>
        </div>

    </div>

</div>
