<div class="shc-content-template shc-content-template--cta-box-midfirst">

    <div class="cta-box--wrapper">
        <i class="bb-icon bb-icon--bell2"></i>
        <div class="btn btn-default btn-white btn-ghost btn-small pull-right">Activate</div>

        <h5>Send 20% of my salary to my Savings Account</h5>
        <p class="details">View details</p>

        <hr>

        <p class="notify">Notify by <span class="box-around">Push Notification</span></p>
    </div>

</div>
