<div class="{{element.classList}} statement-check" statement-agree
     name="{{element.name}}"
     id="{{element.key}}"
     ng-required="{{element.required}}"
     ng-class="{'has-error':element.hasError}"
     ng-disabled="element.disabled || element.readOnly || (element.hasError && element.hasStyle('FormReadOnlyOnError'))"
     ng-readonly="element.readOnly">

    <!-- <input type="checkbox" ng-model="element.value[0]" ng-change="$emit('update')"/> -->
    <input type="checkbox" ng-model="checkedVal" ng-change="inputCheck(checkedVal)"/>
    <label ng-click="toggleInput()" class="control-label">{{element.label}}</label>
</div>