@import "./legacy/theme/core/styles/core.less";
@import "./legacy/theme/base.less";

// import theme specific fonts
@import "typography.less";

// import theme specific icons
@import "hsbc-icons.less";


@import "forms/base.less";



// theme variable overrides.
@import "variables-custom.less";
@import "variables-bootstrap.less"; // overrides bootstrap variables
@import "variables-launchpad.less"; // overrides universal variables

@icon-font-path: @universal-font-path; // reset override from bootswatch

// theme extensions.
@import "theme.less";

// variable overrides.
@base-path: "../../../theme/"; // relative path to theme (core static assets will resolve here).
@edition: "retail"; // build the retail components of the theme.
