

////------------------------------------------------------------------------------------------
////---- HSBC FONTS
////------------------------------------------------------------------------------------------
@font-face {
  font-family: 'HSBCUnivers';
  src: url('fonts/UniversNextforHSBCW01-Rg.eot?v=4.4.0');
  src: url('fonts/UniversNextforHSBCW01-Rg.eot?#iefix&v=4.4.0') format('embedded-opentype'),
  url('fonts/UniversNextforHSBCW01-Rg.woff?v=4.4.0') format('woff'),
  url('fonts/UniversNextforHSBCW01-Rg.ttf?v=4.4.0') format('truetype'),
  url('fonts/UniversNextforHSBCW01-Rg.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'HSBCUnivers';
  src: url('fonts/UniversNextforHSBCW01-Md.eot?v=4.4.0');
  src: url('fonts/UniversNextforHSBCW01-Md.eot?#iefix&v=4.4.0') format('embedded-opentype'),
  url('fonts/UniversNextforHSBCW01-Md.woff?v=4.4.0') format('woff'),
  url('fonts/UniversNextforHSBCW01-Md.ttf?v=4.4.0') format('truetype'),
  url('fonts/UniversNextforHSBCW01-Md.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HSBCUnivers';
  src: url('fonts/UniversNextforHSBCW01-Bd.eot?v=4.4.0');
  src: url('fonts/UniversNextforHSBCW01-Bd.eot?#iefix&v=4.4.0') format('embedded-opentype'),
  url('fonts/UniversNextforHSBCW01-Bd.woff?v=4.4.0') format('woff'),
  url('fonts/UniversNextforHSBCW01-Bd.ttf?v=4.4.0') format('truetype'),
  url('fonts/UniversNextforHSBCW01-Bd.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'HSBCUnivers';
  src: url('fonts/UniversNextforHSBCW01-Lt.eot?v=4.4.0');
  src: url('fonts/UniversNextforHSBCW01-Lt.eot?#iefix&v=4.4.0') format('embedded-opentype'),
  url('fonts/UniversNextforHSBCW01-Lt.woff?v=4.4.0') format('woff'),
  url('fonts/UniversNextforHSBCW01-Lt.ttf?v=4.4.0') format('truetype'),
  url('fonts/UniversNextforHSBCW01-Lt.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family:"HSBCIcon-Font";
  src:url("fonts/HSBCIcon-Font.eot?ee39a20e77cff3aec879befe2cd1d29d");
  src:url("fonts/HSBCIcon-Font.eot?#iefix") format("embedded-opentype"),
  url("fonts/HSBCIcon-Font.woff?ee39a20e77cff3aec879befe2cd1d29d") format("woff"),
  url("fonts/HSBCIcon-Font.ttf?ee39a20e77cff3aec879befe2cd1d29d") format("truetype");
  font-weight:normal;
  font-style:normal;
}


