<div class="shc-horizontal-navigation visible-sm-block visible-md-block visible-lg-block clearfix">
    <div class="shc-horizontal-navigation__logo-area pull-left">
        <div class="shc-horizontal-navigation__logo-image"></div>
        <div class="shc-horizontal-navigation__logo-image shc-horizontal-navigation__logo-image--contrast"></div>
    </div>
    <ul class="shc-horizontal-navigation__navigation pull-right">
        {{#links}}
            {{^children.isEmpty}}
                {{#pref.isProfile}}
                    <li class="shc-horizontal-navigation__link shc-horizontal-navigation__link--profile">
                    <div class="dropdown">
                        <div class="btn dropdown-toggle" id="{{this.name}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="shc-avatar">
                                <div class="shc-avatar--image"></div>
                            </div>
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="{{this.name}}">
                            <div class="dropdown-menu__content">
                                {{#children}}
                                    {{#pref.isLogout}}
                                        <li class="dropdown-menu__content__item btn--logout">
                                            <span class="dropdown-menu__content__label">{{title}}</span>
                                        </li>
                                    {{/pref.isLogout}}
                                    {{^pref.isLogout}}
                                        <li class="dropdown-menu__content__item">
                                            <a class="dropdown-menu__content__label" href="{{Url}}" data-linkType="{{linkType}}">{{title}}</a>
                                        </li>
                                    {{/pref.isLogout}}
                                {{/children}}
                            </div>
                        </ul>
                    </div>
                </li>
                {{/pref.isProfile}}
            {{/children.isEmpty}}

        {{#children.isEmpty}}
            {{#pref.isLogin}}
                <a href="{{Url}}" data-linkType="{{linkType}}">
                    <button class="btn btn-default btn-blue-dark btn--login" type="button">
                        {{title}}
                    </button>
                </a>
            {{/pref.isLogin}}
        {{/children.isEmpty}}
        {{/links}}
    </ul>
    <ul class="shc-horizontal-navigation__navigation pull-right">
        {{#links}}
        {{#isDivider}}
            <span class="shc-horizontal-navigation__divider"></span>
        {{/isDivider}}
        <!-- -->
        {{^children.isEmpty}}
            {{#pref.isMenu}}
                {{#children}}
                    {{^pref.isButton}}
                        <li class="shc-horizontal-navigation__link shc-horizontal-navigation__menu-item {{#isInPath}}active{{/isInPath}} {{^pref.shownOnHead}}hideonhead{{/pref.shownOnHead}}{{#pref.shownOnHead}}showonhead{{/pref.shownOnHead}}">
                            <span class="shc-horizontal-navigation__label">
                                <a href="{{Url}}" data-linkType="{{linkType}}">{{title}}</a>
                            </span>
                        </li>
                    {{/pref.isButton}}
                    {{#pref.isButton}}
                        <li class="shc-horizontal-navigation__link shc-horizontal-navigation__menu-item  shc-horizontal-navigation__menu-item--btn {{#isInPath}}active{{/isInPath}} {{^pref.shownOnHead}}hideonhead{{/pref.shownOnHead}}{{#pref.shownOnHead}}showonhead{{/pref.shownOnHead}}">
                            <button class="btn btn-default btn-blue" type="button">{{title}}</button>
                        </li>
                    {{/pref.isButton}}
                {{/children}}
            {{/pref.isMenu}}
        {{/children.isEmpty}}
        {{/links}}
    </ul>
    <ul class="shc-horizontal-navigation__navigation shc-horizontal-navigation__navigation--float-center">
        {{#links}}
        <!-- WITH CHILDREN -->
        {{^children.isEmpty}}
        <!-- WITH CHILDREN NOT A PROFILE GROUP -->
            {{^pref.isProfile}}
                {{^pref.isMenu}}
                    <div class="shc-horizontal-navigation__dropdown-pair">
                        <li class="shc-horizontal-navigation__link shc-horizontal-navigation__link--dropdown {{#isInPath}}active{{/isInPath}}">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="shc-horizontal-navigation__dropdown-label">{{title}}</span>
                                </button>
                            </div>
                        </li>
                        <li class="shc-horizontal-navigation__link--dropdown__children_area hidden">
                            <div class="shc-horizontal-navigation__link--dropdown__childlist">
                                {{^children.isEmpty}}
                                {{#children}}
                                <div class="shc-horizontal-navigation__link--dropdown__childlist__lv2">
                                    <div class="shc-horizontal-navigation__link--dropdown__childlist_item__title">
                                        <span>
                                            <a href="{{Url}}" data-linkType="{{linkType}}">{{title}}</a>
                                        </span>
                                    </div>
                                    <ul class="shc-horizontal-navigation__link--dropdown__childlist">
                                        {{^children.isEmpty}}
                                            {{#children}}
                                                <li class="shc-horizontal-navigation__link--dropdown__childlist_item shc-horizontal-navigation__link--dropdown__childlist_item--block">
                                                    <span>
                                                        <a href="{{Url}}" data-linkType="{{linkType}}">{{title}}</a>
                                                    </span>
                                                </li>
                                            {{/children}}
                                        {{/children.isEmpty}}
                                    </ul>
                                </div>
                                {{/children}}
                                {{/children.isEmpty}}
                            </div>
                        </li>
                    </div>
                {{/pref.isMenu}}
            {{/pref.isProfile}}
        {{/children.isEmpty}}
        {{/links}}
    </ul>
</div>



<!-- 768 -->
<div class="shc-horizontal-navigation shc-horizontal-navigation--contrast shc-horizontal-navigation--midstate  visible-xs-block clearfix">
    <div class="shc-horizontal-navigation__menu-area">
        {{#links}}
            {{#pref.isMenu}}
                    <button class="btn btn-default btn-ghost btn-blue-dark pull-right my-products-menu-toggle__open-button">{{title}}</button>
                    {{#children}}
                        <!-- <button class="btn-header pull-right show-when-closed my-products-menu-toggle__open-button">{{title}}</button> -->
                    {{/children}}
            {{/pref.isMenu}}
        {{/links}}
    </div>
    <div class="shc-horizontal-navigation__logo-area">
            <div class="shc-horizontal-navigation__logo-image"></div>
            <div class="shc-horizontal-navigation__logo-image shc-horizontal-navigation__logo-image--contrast"></div>
    </div>
    <div class="shc-horizontal-navigation__profile-area">
        {{#links}}
            {{#pref.isProfile}}
                <div class="shc-horizontal-navigation__link shc-horizontal-navigation__link--profile pull-right">
                    <div class="dropdown">
                        <div class="btn dropdown-toggle" id="{{this.name}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="shc-avatar">
                                <div class="shc-avatar--image"></div>
                            </div>
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="{{this.name}}">
                            <div class="dropdown-menu__content">
                                {{#children}}
                                {{#pref.isLogout}}
                                <li class="dropdown-menu__content__item btn--logout">
                                     <span class="dropdown-menu__content__label">{{title}}</span>
                                </li>
                                {{/pref.isLogout}}
                                {{^pref.isLogout}}
                                <li class="dropdown-menu__content__item">
                                    <a class="dropdown-menu__content__label" href="{{Url}}" data-linkType="{{linkType}}">{{title}}</a>
                                </li>
                                {{/pref.isLogout}}
                                {{/children}}
                            </div>
                        </ul>
                    </div>
                </div>
            {{/pref.isProfile}}
            {{#children.isEmpty}}
                {{#pref.isLogin}}
                    <div class="shc-horizontal-navigation__link shc-horizontal-navigation__link--btn  pull-right">
                        <a href="{{Url}}" data-linkType="{{linkType}}">
                            <button class="btn btn-default btn-ghost btn-blue-dark btn--login" type="button">
                                {{title}}
                            </button>
                        </a>
                    </div>
                {{/pref.isLogin}}
            {{/children.isEmpty}}
        {{/links}}
    </div>
    <div class="shc-horizontal-navigation__menu-navigation-area">
        {{#links}}
            {{#pref.isMenu}}
                <div class="clearfix">
                    <button class="btn btn-ghost btn-white btn-small shc-horizontal-navigation__menu-navigation-area__close">
                        <i class="bb-icon bb-icon--cross"></i>
                    </button>
                </div>
                <div class="shc-horizontal-navigation__menu-navigation-area__profile-block">
                    <div class="shc-horizontal-navigation__link--profile">
                        <div class="shc-avatar">
                            <div class="shc-avatar--image"></div>
                            <span class="shc-horizontal-navigation__link--profile__name"></span>
                            <button class="btn btn-default btn-ghost btn-blue btn--logout">Log out</button>
                        </div>

                    </div>
                </div>
            {{/pref.isMenu}}
        {{/links}}
        {{#links}}
        {{#pref.isMenu}}
                {{#children}}
                    <!-- READING FIRST LEVEL CHILDREN -->
                        {{^pref.isButton}}
                            <div data-toggle="collapse" data-target="#{{itemRef}}" class="{{^isInPath}}collapsed{{/isInPath}} shc-horizontal-navigation__link shc-horizontal-navigation__link--menu-hero">
                                <span class="shc-horizontal-navigation__link--menu__prefix">{{title}} </span><span class="shc-horizontal-navigation__link--menu__suffix">{{pref.suffix}}</span>
                            </div>
                            {{^children.isEmpty}}
                                <div id="{{itemRef}}" class="collapse {{#isInPath}}in{{/isInPath}} shc-horizontal-navigation__link--menu__content-group">
                                    <div class="shc-horizontal-navigation__link--menu__content shc-horizontal-navigation__link--menu__content--lv1">
                                        {{#children}}
                                            <span class="collapsed shc-horizontal-navigation__link shc-horizontal-navigation__link--menu" data-toggle="collapse" data-target="#{{getUuid}}">{{title}}</span>
                                                {{^children.isEmpty}}
                                                    <div id="{{getUuid}}" class="collapse shc-horizontal-navigation__link--menu__content-group">
                                                        <div class="shc-horizontal-navigation__link--menu__content shc-horizontal-navigation__link--menu__content--lv2">
                                                            {{#children}}
                                                                <span class="collapsed shc-horizontal-navigation__link shc-horizontal-navigation__link--menu" data-toggle="collapse" data-target="#{{getUuid}}">{{title}}</span>
                                                                {{^children.isEmpty}}
                                                                    <div id="{{getUuid}}" class="collapse shc-horizontal-navigation__link--menu__content-group">
                                                                        <div class="shc-horizontal-navigation__link--menu__content shc-horizontal-navigation__link--menu__content--lv3">
                                                                            {{#children}}
                                                                                <span class="shc-horizontal-navigation__link">
                                                                                     <a href="{{Url}}" data-linkType="{{linkType}}">{{title}}</a>
                                                                                </span>
                                                                            {{/children}}
                                                                        </div>
                                                                    </div>
                                                                {{/children.isEmpty}}
                                                            {{/children}}
                                                        </div>
                                                    </div>
                                                {{/children.isEmpty}}
                                        {{/children}}
                                    </div>
                                </div>
                        {{/children.isEmpty}}
                    {{/pref.isButton}}
                {{/children}}
            {{/pref.isMenu}}
        {{/links}}
    </div>
</div>
