<button type="button" class="{{element.classList}} btn" name="{{element.name}}" id="{{element.key}}"  ng-readonly="element.readOnly" ng-click="$emit('update')"><span class="step_button__caption">{{::element.get('caption')}}</span></button>
