<div class="ext-midfirst-bill-pay-ng" data-ng-controller="BillPayController as $ctrl">
	<button class="btn add-payee-btn">Add payee</button>
	<table class="midfirst-bill-pay-table-header">
		<tr>
			<th>Payee</th>
			<th>Amount</th>
			<th>Delivery By</th>
			<th>Pay From</th>
		</tr>
	</table>
	<div  class="midfirst-bill-pay-table-container">
		<table class="midfirst-bill-pay-table">
			<tr>
				<td>
					<div>
						<h4>Chase Home Mortgage</h4>
						<h5>Next Recurring: 04/12/17 for $ 1,200.00</h5>
							<a href="#">Get eBills</a>
						</div>
					</td>
					<td>
						<div class="midfirst-bill-pay-table-input">
							<input type="text" placeholder="$ Amount"/>
						</div>
						<a href="#">Add Memo</a>
					</td>
					<td>
						<div class="midfirst-bill-pay-table-input midfirst-bill-pay-table-input-group">
							<input type="text" placeholder="dd/mm/yy"/>
							<i class="fa fa-calendar"></i>
						</div>
						<span>Rush Available</span>
					</td>
					<td>
						<div class="midfirst-bill-pay-table-select">
							<div>
								<span>Joint account (47363223944939221)</span>
							</div>
							<i class="fa fa-chevron-down"></i>
						</div>
						<span>Available Balance: $2321.42</span>
					</td>
			</tr>
			<tr>
				<td>
					<div>
						<h4>Verizon</h4>
						<h5>Next Recurring: 12/12/17 for $ 850.00</h5>
						<a href="#">Get eBills</a>
					</div>
				</td>
				<td>
					<div class="midfirst-bill-pay-table-input">
						<input type="text" placeholder="$ Amount"/>
					</div>
					<a href="#">Add Memo</a>
				</td>
				<td>
					<div class="midfirst-bill-pay-table-input midfirst-bill-pay-table-input-group">
						<input type="text" placeholder="dd/mm/yy"/>
						<i class="fa fa-calendar"></i>
					</div>
					<span>Rush Available</span>
				</td>
				<td>
					<div class="midfirst-bill-pay-table-select">
						<div>
							<span>Joint account (47363223944939221)</span>
						</div>
						<i class="fa fa-chevron-down"></i>
					</div>
					<span>Available Balance: $2321.42</span>
				</td>
			</tr>
			<tr>
				<td>
					<div>
						<h4>Georgia Power</h4>
						<h5>Next Recurring: 12/12/17 for $ 850.00</h5>
						<a href="#">Get eBills</a>
					</div>
				</td>
				<td>
					<div class="midfirst-bill-pay-table-input">
						<input type="text" placeholder="$ Amount"/>
					</div>
					<a href="#">Add Memo</a>
				</td>
				<td>
					<div class="midfirst-bill-pay-table-input midfirst-bill-pay-table-input-group">
						<input type="text" placeholder="dd/mm/yy"/>
						<i class="fa fa-calendar"></i>
					</div>
					<span>Rush Available</span>
				</td>
				<td>
					<div class="midfirst-bill-pay-table-select">
						<div>
							<span>Joint account (47363223944939221)</span>
						</div>
						<i class="fa fa-chevron-down"></i>
					</div>
					<span>Available Balance: $2321.42</span>
				</td>
			</tr>
			<tr>
				<td>
					<div>
						<h4>GasSouth</h4>
						<h5>Next Recurring: 12/12/17 for $ 850.00</h5>
						<a href="#">Get eBills</a>
					</div>
				</td>
				<td>
					<div class="midfirst-bill-pay-table-input">
						<input type="text" placeholder="$ Amount"/>
					</div>
					<a href="#">Add Memo</a>
				</td>
				<td>
					<div class="midfirst-bill-pay-table-input midfirst-bill-pay-table-input-group">
						<input type="text" placeholder="dd/mm/yy"/>
						<i class="fa fa-calendar"></i>
					</div>
					<span>Rush Available</span>
				</td>
				<td>
					<div class="midfirst-bill-pay-table-select">
						<div>
							<span>Joint account (47363223944939221)</span>
						</div>
						<i class="fa fa-chevron-down"></i>
					</div>
					<span>Available Balance: $2321.42</span>
				</td>
			</tr>
		</table>
	</div>

    <div class="btn btn-default btn-blue pull-right margin-top-20">Pay Bills</div>
	
</div>
