<div shc-ui-accordion-group content-style="{{element.contentStyle}}" class="{{element.classList}} container_block readonly-{{element.readOnly}}" ng-class="{'collapsed':element.readOnly}" ng-readonly="element.readOnly">
    <div class="accordion-row accordion-row--head" ng-click="callCollapse()">
        <h5  class="accordion-row__title" ng-bind="element.get('displayName')"></h5>
    </div>
    <div class="accordion-items">
        <children></children>
    </div>
</div>
