<div class="row-fluid">
	<div class="span12 bq-header">
		<div class="logo" alt="Blueriq Runtime"></div>
		<h1 class="displayName" data-bind="visible: displayName, html: displayName"></h1>
	</div>
</div>
		
<div class="row-fluid">
	<div id="main" class="span12">
		<form class="form-horizontal" onsubmit="return false">
			<div data-bind="foreach: { data: messages, as: 'message' }">
				<div class="alert alert-error" data-bind="text: message.text"></div>
			</div>
			<div data-bind="foreach: children">
				<!-- ko template: { name: template } --><!-- /ko -->
			</div>
		</form>
	</div>
</div>