// Override core Bootstrap variables

//== Colors pallete
@import 'palette';


//** Colors
//
//## Bootstrap overrides and color variable name alignement

$gray-base:                 $gray20;
$gray-darker:               $gray40;
$gray-dark:                 $gray60;
$gray:                      $gray80;
$gray-light:                $gray89;
$gray-lighter:              $gray95;
$gray-lightest:             $gray98;

$brand-primary:             $blue;
$brand-primary-lighted:     $blue20;
$brand-primary-light:       $blue40;
$brand-primary-lighter:     $blue60;
$brand-primary-lightest:    $blue80;
$brand-primary-bright:      $blue90;
$brand-primary-dark:        $blue-10;
$brand-primary-darker:      $blue-20;

$brand-secondary:           $purple;
$brand-secondary-lighted:   $purple20;
$brand-secondary-light:     $purple40;
$brand-secondary-lighter:   $purple60;
$brand-secondary-lightest:  $purple80;
$brand-secondary-bright:    $purple90;
$brand-secondary-dark:      $purple-10;
$brand-secondary-darker:    $purple-20;

$brand-success:             $green;
$brand-success-lighted:     $green20;
$brand-success-light:       $green40;
$brand-success-lighter:     $green60;
$brand-success-lightest:    $green80;
$brand-success-bright:      $green90;
$brand-success-dark:        $green-10;
$brand-success-darker:      $green-20;

$brand-warning:             $orange;
$brand-warning-lighted:     $orange20;
$brand-warning-light:       $orange40;
$brand-warning-lighter:     $orange60;
$brand-warning-lightest:    $orange80;
$brand-warning-bright:      $orange90;
$brand-warning-dark:        $orange-10;
$brand-warning-darker:      $orange-20;

$brand-danger:              $red;
$brand-danger-lighted:      $red20;
$brand-danger-light:        $red40;
$brand-danger-lighter:      $red60;
$brand-danger-lightest:     $red80;
$brand-danger-bright:       $red90;
$brand-danger-dark:         $red-10;
$brand-danger-darker:       $red-20;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: $screen-sm,
  md: $screen-md,
  lg: $screen-lg,
);

// Navigation's primary color
$nav-active-primary: $brand-primary-bright;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               $gray-lightest;

//** Global textual link color.
$link-color:            $brand-primary;
//** Link hover color
$link-hover-color:      $brand-primary-dark;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  Roboto, Arial, sans-serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   "Roboto Mono", "Courier New", monospace;
$font-family-base:        $font-family-sans-serif;

$font-size-base:          13px;
$font-size-large:         ceil(($font-size-base * 1.23)); // ~16px
$font-size-small:         ceil(($font-size-base * 0.92)); // ~12px
$font-size-xs-multiplier: 0.76;
$font-size-xs:            ceil(($font-size-base * $font-size-xs-multiplier)); // ~10px

$font-size-rem-base: $font-size-xs; // base to be used into px -> rem translation

/* Font sizes */
$font-size-hero:          50px;
$font-size-hero-md:       40px;
$font-size-hero-sm:       32px;

$font-size-h1:            40px;
$font-size-h1-md:         32px;
$font-size-h1-sm:         24px;

$font-size-h2:            32px;
$font-size-h2-md:         24px;
$font-size-h2-sm:         22px;

$font-size-h3:            24px;
$font-size-h3-md:         20px;
$font-size-h3-sm:         18px;

$font-size-h4:            20px;
$font-size-h4-md:         16px;

$font-size-h5:            16px;
$font-size-h5-md:         14px;

$font-size-h6:            14px;
$font-size-h6-md:         13px;

$font-size-lead:          16px;

$font-size-p:             13px;

$font-size-input:         15px;

/* Line heights */
$line-height-hero:          58px;
$line-height-hero-md:       48px;
$line-height-hero-sm:       40px;

$line-height-h1:            48px;
$line-height-h1-md:         40px;
$line-height-h1-sm:         30px;

$line-height-h2:            40px;
$line-height-h2-md:         30px;
$line-height-h2-sm:         30px;

$line-height-h3:            30px;
$line-height-h3-md:         28px;
$line-height-h3-sm:         25px;

$line-height-h4:            25px;
$line-height-h4-md:         20px;

$line-height-h5:            20px;
$line-height-h5-md:         20px;

$line-height-h6:            20px;
$line-height-h6-md:         20px;

$line-height-lead:          25px;

$line-height-p:             20px;

$line-height-input:         25px;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.53; // 20/13

//** By default, this inherits from the `<body>`.
$headings-line-height:    1.4;

//== Components
//
//## Define common padding and border radius sizes and more.

$padding-base-vertical:     5.5px;
$padding-large-vertical:    13px;

$margin-small-vertical:     5px;

$border-radius-base:        2px;
$border-radius-small:       $border-radius-base;
$border-radius-medium:      3px;
$border-radius-large:       4px;

//** Global color for active items (e.g., navs or dropdowns).
$component-active-color:    $brand-primary;
//** Global background color for active items (e.g., navs or dropdowns).
//$component-active-bg:       $brand-primary-bright;
$component-active-bg:         #EDF4FB;
//** Global color for disabled items (e.g., navs or dropdowns).
$component-disabled-color:  $gray-light;

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-default-bg:                 $gray-lightest;

$btn-primary-bg:                 $brand-primary;
$btn-primary-border:             $brand-primary;

$btn-success-bg:                 $brand-success;
$btn-success-border:             $brand-success;

$btn-warning-bg:                 $brand-warning;
$btn-warning-border:             $brand-warning;

$btn-danger-bg:                  $brand-danger;
$btn-danger-border:              $brand-danger;

// Allows for customizing button radius independently from global border radius
$btn-border-radius-base:         $border-radius-base;
$btn-border-radius-large:        $border-radius-large;
$btn-border-radius-small:        $border-radius-small;

//== Forms
//
//##

//** `<input disabled>` background color
$input-bg-disabled:              $gray-lightest;

//** Default `.form-control` border radius
// This has no effect on `<select>`s in some browsers, due to the limited stylability of `<select>`s in CSS.
$input-border-radius:            $border-radius-base;
//** Large `.form-control` border radius
$input-border-radius-large:      $border-radius-large;
//** Small `.form-control` border radius
$input-border-radius-small:      $border-radius-small;

//** Background color for textual input addons
$input-group-addon-bg:           $gray-lightest;

//** `.form-group` margin
$form-group-margin-bottom:       15px;

//** `.form-group` width for search map
$form-group-width:               40%;
$form-group-min-width:           250px;

//** `.form-group` position
$form-group-position-top:        10px;
$form-group-position-left:       15px;

//** `.form-control` line-height
$form-control-line-height:       46px;

// ** Inline inputs
$checkbox-inline-top-margin:     9px;


//== Dropdowns
//
//## Dropdown menu container and contents.

//** Dropdown menu `border-color`.
$dropdown-border:                $gray-light;
//** Dropdown menu `border-color` **for IE8**.
$dropdown-fallback-border:       $gray-light;

//** Hover color for dropdown links.
$dropdown-link-hover-color:      $component-active-color;
//** Hover background for dropdown links.
$dropdown-link-hover-bg:         $component-active-bg;


//** Active dropdown menu item background color.
$dropdown-link-active-bg:        $component-active-color;

//** Deprecated `$dropdown-caret-color` as of v3.1.0
$dropdown-caret-color:           $gray-base;


//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

$state-success-text:             $brand-success;
$state-info-text:                $brand-primary;
$state-warning-text:             $brand-warning;
$state-danger-text:              $brand-danger;

//== Navbar
//
//##

// Basics of a navbar
$navbar-height:                    60px;

//== Labels
//
//##

$label-default-margin-bottom: 0px;

//** Default label background color
$label-default-bg:            $gray-dark;
//** Primary label background color
$label-primary-bg:            $brand-primary;
//** Success label background color
$label-success-bg:            $brand-success;
//** Warning label background color
$label-warning-bg:            $brand-warning;
//** Danger label background color
$label-danger-bg:             $brand-danger;

//== Modals
//
//##

//** Padding applied to the modal body
$modal-inner-padding:         20px 20px 0 20px;
//** Padding applied to the modal title
$modal-title-padding:         20px;
//** Modal content border color
$modal-content-border-color:                   $gray-light;
//** Modal header subtitle spacing
$modal-header-subtitle-bottom-spacing: 5px;

//== Panels
//
//##

$panel-heading-padding:             15px;
$panel-heading-padding-large:       ceil(($panel-heading-padding * 1.33)); // 20px
$panel-heading-padding-small:       10px 15px;
$panel-margin:                      20px;
$panel-footer-padding:              20px 15px;
$panel-footer-button-padding:       10px 30px;
$panel-footer-button-margin:        20px;
$panel-footer-button-margin-small:  10px;
$panel-footer-padding-small:        10px 15px;

//** Border color for elements within panels
$panel-default-text:          $text-color;
$panel-default-heading-bg:    $white;
$panel-darker-heading-bg:     $gray-lightest;

//== List item
//
//##

$list-item-padding: 15px;

//== Type
//
//##
//** Page header border color
$page-header-border-color:    $gray-light;
//** Horizontal line color.
$hr-border:                   $gray-light;
//** Text muted color
$text-muted:                  $gray-darker;

//== Pagination
//
//##

$pagination-color:                     $brand-primary;

$pagination-hover-color:               $brand-primary;
$pagination-hover-bg:                  $nav-active-primary;

$pagination-active-bg:                 $nav-active-primary;
$pagination-active-border:             $brand-primary;

$pagination-item-width:                35px;
$pagination-item-height:               30px;
$pagination-active-border:             2px solid $pagination-color;

//== Popovers
//
//##

//** Popover minimum width
//** Custom
$popover-min-width:                   144px;
//** Popover border color
$popover-border-color:                $gray89;
//** Popover arrow width
$popover-arrow-width:                 7px;
//** Popover outer arrow width
$popover-arrow-outer-width:           ($popover-arrow-width + 1);
//** Popover outer arrow color
$popover-arrow-outer-color:           fade_in($popover-border-color, 0.05);
//** Popover arrow margin
//** Custom
$popover-arrow-margin:                $popover-arrow-width + 4;
//** Popover menu item height
//** Custom
$popover-menu-item-height:            30px;
//** Popover content padding
//** Custom
$popover-content-padding:             5px 0;
//** Popover menu item padding
//** Custom
$popover-menu-item-padding:           5px 10px;
//** Popover medium width
//** Custom
$popover-medium-width:                400px;

//== NAVS
//
//##
$navs-nav-tab-after-height:           1px;
$navs-nav-tab-active-item-border:     3px solid $brand-primary;
$navs-nav-tab-active-item-padding:    10px 0;
$navs-nav-tab-active-item-margin:     0 15px;


// ---
// SHC ADDITION
// ---


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  414px ;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs ;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min ;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  850px ;
$screen-sm-min:              $screen-sm ;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min ;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  1024px ;
$screen-md-min:              $screen-md ;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min ;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1280px ;
$screen-lg-min:              $screen-lg ;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min ;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) ;
$screen-sm-max:              ($screen-md-min - 1) ;
$screen-md-max:              ($screen-lg-min - 1);
