/*

SYNTAX FOR BUTTONS:

div class="btn btn-color" />

Optional classes:
.btn-ghost:
  Makes it white/ghosted/with border

.disabled:
  Makes it disabled

.btn-large / .btn-small
  Changes the size from default to class

 */

$grey-disabled: #cccccc;

.btn.btn-default {
	@include make-btn-default();
}


/* All colour related stuff, borders, backgrounds etc */
.btn.btn-blue {
	//@include button-colors-blue();
	@include button-colors('blue');
}

.btn.btn-blue-light {
	@include button-colors('blue-light');
}

.btn.btn-blue-dark {
	//@include button-colors-blue-dark();
	@include button-colors('blue-dark');
}

.btn.btn-grey-dark {
	//@include button-colors-grey-dark();
	@include button-colors('grey-dark');
}

/* White button, completely different */
.btn.btn-white {
	//@include button-colors-white();
	@include button-colors('white');
}
