$font-color: #302F2B;
$font-color-light: #666;

/* Font weight variables */

$font-weight-bold: bold;
$font-weight-medium: 500;
$font-weight-normal: 400;
$font-weight-light: 300;

.hero-heading,
span,
h1,
h2,
h3,
h4,
h5,
h6,
body,
p {
    color: $font-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    strong {
        font-weight: $font-weight-bold !important;
    }
}

label {
    font-size:13px;
    line-height: 25px;
    color:$font-color-light;
}


.lead {
    color: $font-color-light;
}

.hero-heading {
    font-size: $font-size-hero;
    line-height: $line-height-hero;
    font-weight: $font-weight-bold;
}


h1 {
    font-size: $font-size-h1;
    line-height: $line-height-h1;
    font-weight: $font-weight-bold;
}

h2 {
    font-size: $font-size-h2;
    line-height: $line-height-h2;
    font-weight: $font-weight-medium;
}

h3 {
    font-size: $font-size-h3;
    line-height: $line-height-h3;
    font-weight: $font-weight-medium;
}

h4 {
    font-size: $font-size-h4;
    line-height: $line-height-h4;
    font-weight: $font-weight-medium;
}

h5 {
    font-size: $font-size-h5;
    line-height: $line-height-h5;
    font-weight: $font-weight-medium;
}

h6 {
    font-size: $font-size-h6;
    line-height: $line-height-h6;
    font-weight: $font-weight-medium;
}

.lead {
    font-size: $font-size-lead;
    line-height: $line-height-lead;
}

body,
p {
    font-size: $font-size-p;
    line-height: $line-height-p;
}

p {
    margin-bottom: calc(#{$line-height-p} / 2); //Half of line height of p
}

@media (min-width: $screen-sm) and (max-width: $screen-md - 1) {
    .hero-heading {
        font-size: $font-size-hero-md;
        line-height: $line-height-hero-md;
    }

    h1 {
        font-size: $font-size-h1-md;
        line-height: $line-height-h1-md;
    }

    h2 {
        font-size: $font-size-h2-md;
        line-height: $line-height-h2-md;
    }

    h3 {
        font-size: $font-size-h3-md;
        line-height: $line-height-h3-md;
    }

    h4 {
        font-size: $font-size-h4-md;
        line-height: $line-height-h4-md;
    }

    h5 {
        font-size: $font-size-h5-md;
        line-height: $line-height-h5-md;
    }
}

@media (max-width: $screen-sm) {
    .hero-heading {
        font-size: $font-size-hero-sm;
        line-height: $line-height-hero-sm;
    }

    h1 {
        font-size: $font-size-h1-sm;
        line-height: $line-height-h1-sm;
    }

    h2 {
        font-size: $font-size-h2-sm;
        line-height: $line-height-h2-sm;
    }

    h3 {
        font-size: $font-size-h3-sm;
        line-height: $line-height-h3-sm;
    }
}

.text-bold {
    font-weight: $font-weight-bold;
}

.text-medium {
    font-weight: $font-weight-medium;
}

.text-normal {
    font-weight: $font-weight-normal;
}

.text-light {
    font-weight: $font-weight-light;
}

.shc-title--hr {
    @include shc-make-title-hr();
}
.shc-title--no-margin-top {
    margin-top: 0;
}
