.actions-container {
    width: 100%;



    .action-item {
        width: 100%;
        border: 1px solid #EAE9E9;
        border-width: 0px 1px 1px 1px;
        overflow: auto;

        &:first-child {
            border-top-width: 1px;
            border-radius: 6px 6px 0 0;
        }

        .action-item-header {
            width: 100%;
            overflow: auto;

            &:focus {
                outline: none;
            }

            &.action-item-header--expanded {
                background-color: $grey-lighter;
            }

            .action-item-header--icon {
                float: left;
                font-size: 30px;
                padding: 21px 20px 0 30px;
            }

            .action-item-header--content {
                float: left;
                padding: 15px 0;

                .action-item-header--content--title {
                    font-size: 16px;
                    line-height: 25px;
                    color: #302F2B;
                }

                .action-item-header--content--description {
                    font-size: 12px;
                    line-height: 14px;
                    color: #999999;
                }
            }

            .action-item-header--switch {
                float: right;
                padding-right: 25px;
                margin-top: 25px;
            }
        }

        .action-item-content {
            display: none;

            &.action-item-content--expanded {
                display: block;
                border-top: 1px solid #EAE9E9;
                background-color: $grey-lighter;
            }

            p {
                padding-left: 30px;
                color: #042D3A;
                padding-top: 20px;
            }

            .action-item--action,
            .action-item--condition {
                padding: 25px;
                padding-top: 5px;
                padding-bottom: 5px;
                overflow: auto;

                div,
                p {
                    float: left;
                }

                .selected-condition {
                    padding: 5px 10px;
                    border: 1px solid #C1C1C1;
                    color: $blue-mid;
                    border-radius: 30px;
                    font-size: 14px;
                }

                .selected-condition-input {
                    padding: 5px 10px;
                    border: 1px solid #C1C1C1;
                    border-radius: 4px;
                    font-size: 14px;
                }

                p {
                    padding: 5px 10px;
                }
            }
        }
    }
}




/*
    <div class="actions-container">

        <div class="action-item">
            <div class="action-item-header">
                <div class="action-item-header--icon"><i class="bb-icon bb-icon--push"></i></div>

                <div class="action-item-header--content">
                    <div class="action-item-header--content--title">
                        Push notification when Checking Account is less than $500
                    </div>

                    <div class="action-item-header--content--description">
                        Notifications
                    </div>
                </div>

                <div class="action-item-header--switch">
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <div class="action-item-content">
                <div class="action-item--condition">Condition</div>
                <div class="action-item--action">Action</div>
            </div>
        </div>
    </div>
 */
