$border-color: #b5b5b5;

table.midfirst-bill-pay-table-header {
	width: 100%;
	th:not(:first-child) {
		width: 210px;
	}
	th {
		padding: 15px 10px;
	}
} 

.midfirst-bill-pay-table-container {
	width: 100%;
	border: 1px solid $border-color;
	border-radius: 10px;
}

table.midfirst-bill-pay-table {
	width: 100%;
	tr {
		&:not(:first-child) {
			border-top: 1px solid $border-color;
		}
		td:not(:first-child) {
			width: 210px;
		}
		td:first-child {
			padding: 10px 0px 10px 15px;
		}
		td {
			padding: 15px 10px;
			h4 {
				font-size: 18px;
				margin: 0;
				color: $bill-text-color;
			}
			h5 {
				font-size: 13px;
				font-weight: normal;
				margin: 0;
				color: $bill-text-color;
				margin-bottom: 15px;
			}
			a {
				color: $blue-mid;
				font-weight: bold;
			}
			span {
				color: $bill-text-color;
			}
		}
	}

	.midfirst-bill-pay-table-input {
		border-radius: 5px;
		border: 1px solid $border-color;
		overflow: hidden;
		padding-left: 10px;
		margin: 7px 0;
		input {
			line-height: 40px;
			border: 0;
		}

		&.midfirst-bill-pay-table-input-group {
			i {
				background-color: #f5f5f5;
				color: #f67809;
				float: right;
				display: inline-block;
				font-size: 1.3em;
				line-height: 42px;
				width: 40px;
				text-align: center;
				border-left: 1px solid $border-color;
			}
		}
	}

	.midfirst-bill-pay-table-select {
		border: 1px solid $border-color;
		border-radius: 5px;
		font-weight: bold;
		line-height: 40px;
		padding-left: 10px;
		height: 44px;
		margin: 7px 0;
		width: 190px;

		div {
			width: calc(100% - 44px);
			display: inline-block;
			span {
				display: block;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		i {
			float: right;
			line-height: 42px;
			width: 40px;
			text-align: center;
		}
	}
}

.add-payee-btn {
    background: #696a6c;
    color: #FFF;
    padding: 10px 20px;
    float: right;
    margin: -35px 0 20px 0;
}
