
.shc-content-template.shc-content-template--sidebar-logo-wide .sidebar__logo.sidebar__logo-wide, .shc-retail-banking-master .contentbar__area-1-plus-2 .area {
    z-index:10;
}

.notifications-box {
    position: absolute;
    width: 400px;
    background-color: #fff;
    border: 1px solid #E3E3E3;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.12);
    z-index: 10;
    right: 30px;
    top: 40px;
    display: none;

    &.notifications-box-expanded {
        display: block;
    }

    .notifications-header {
        border-bottom: 1px solid #e3e3e3;

        h2 {
            padding: 0px 15px;
            font-size: 20px;
            color: #4A4A4A;
        }
    }

    .notifications-content {
        height: auto;
        overflow: auto;

        .notification-item {
            border-top: 1px solid #e3e3e3;
            overflow: auto;
            height: auto;

            &:first-child {
                border-top: none;
            }

            .text {
                font-size: 13px;
                color: #4A4A4A;
                float: left;
                width: 80%;
                padding: 10px 15px
            }

            .when {
                font-weight: normal;
                float: right;
                width: 20%;
                padding: 20px 0px;

                font-size: 12px;
                color: #999;

                text-align: center;

                &:hover {
                    color: darken(#999, 20%);
                }
            }

            .when:after {
                content: ">";
                position: absolute;
            }

            &.notification-item-new {
                font-weight: bold;
            }
        }
    }

    .notifications-bottom {
        border-top: 1px solid #e3e3e3;
        text-align: center;

        h2 {
            margin-top: 10px;
            font-size: 16px;
            color: $blue-mid;
            transition: color 0.3s ease-out;

            &:after {
                content: ">";
                color: $blue-mid;
                position: absolute;
                margin-left: 5px;
                transition: color 0.3s ease-out;
            }


            &:hover {
                color: darken($blue-mid, 20%);

                &:after {
                    color: darken($blue-mid, 20%);
                }
            }
        }
    }
}

.ext-shc-logout-ng i.alerts:focus {
    outline: none;
}
