
$midfirst-text-grey: #565759;

.shc-content-template.shc-content-template--sidebar-logo-wide .sidebar__logo.sidebar__logo-wide {
    background-color: $blue-mid;
}

.banking-navigation__link:hover .banking-navigation__icon,
.banking-navigation__link--selected .banking-navigation__icon {
    border-left-color: $blue-mid;
}

.ext-shc-avatar__info__label--link {
    color: $blue-mid;
}

.ext-shc-avatar__info__label--link:hover {
    color: darken($blue-mid, 20%);
}

.shc-content-template.shc-content-template--sidebar-logo-wide .sidebar__logo.sidebar__logo-wide,
.shc-retail-banking-master .contentbar__area-1-plus-2 .area {
    height: 70px;
}

.shc-content-template.shc-content-template--cta-split .cta-split--wrapper a.call-to-action--link:hover,
.shc-content-template.shc-content-template--cta-box .cta-box--wrapper a.call-to-action--link:hover {
    color: darken($blue-mid, 50%);
}

.shc-content-template.shc-content-template--cta-split .cta-split--wrapper a.call-to-action--link,
.shc-content-template.shc-content-template--cta-box .cta-box--wrapper a.call-to-action--link {
    color: $blue-mid;
}

.ext-bb-transactions-ng .search-form .btn-filter i {
    color: $blue-mid;
}

.ext-bb-transactions-ng .search-form .form-control.bb-search-box-input {
    border-radius: 4px;
    border-color: $blue-mid;
    color: $blue-mid;
}

.ext-bb-transactions-ng .search-form .input-group-btn .btn i:before {
    color: $blue-mid;
}

ui-bb-account-selector.drop-shadow.bb-account-selector .dropdown-menu .bb-account-selector-scrollable-area .dropdown-option.active,
.dropdown-select.open button.btn-default.dropdown-toggle, .dropdown-select.open button.btn-default.dropdown-toggle:hover {
    background-color: $grey-lightest;
}



.ext-bb-product-summary-ng .panel uib-accordion-header .amount .amount-decimals,
.ext-bb-product-summary-ng .panel uib-accordion-header .amount,
.ext-bb-product-summary-ng .panel uib-accordion-header {
    color: $midfirst-text-grey !important; //overwrite every header with grey
}

.ext-bb-product-summary-ng .panel .list-item:before {
    background-color: #C1C1C1 !important; //overwrite every border on the left with grey;
}

.simple-navigation__link .bb-icon,
.simple-navigation__link .simple-navigation__title {
    color: #565759;
}


.shc-horizontal-navigation.shc-horizontal-navigation--contrast.shc-horizontal-navigation--menuopen .shc-horizontal-navigation__dropdown-pair .dropdown-toggle:hover .shc-horizontal-navigation__dropdown-label,
.shc-horizontal-navigation .shc-horizontal-navigation__dropdown-pair .dropdown-toggle.active .shc-horizontal-navigation__dropdown-label,
.shc-horizontal-navigation .shc-horizontal-navigation__dropdown-pair .dropdown-toggle.active:after {
    color: $blue-mid;
}

.shc-horizontal-navigation .shc-horizontal-navigation__dropdown-pair .dropdown-toggle:before {
    background-color: $blue-mid;
}

.shc-horizontal-navigation.shc-horizontal-navigation--contrast:not(.shc-horizontal-navigation--menuopen) .shc-horizontal-navigation__menu-item .shc-horizontal-navigation__label,
.shc-horizontal-navigation.shc-horizontal-navigation--contrast:not(.shc-horizontal-navigation--menuopen) .shc-horizontal-navigation__dropdown-pair .dropdown-toggle,
.shc-horizontal-navigation.shc-horizontal-navigation--contrast:not(.shc-horizontal-navigation--menuopen) .shc-horizontal-navigation__dropdown-pair .shc-horizontal-navigation__dropdown-label {
    color: #302F2B;
}

.shc-horizontal-navigation.shc-horizontal-navigation--contrast:not(.shc-horizontal-navigation--menuopen) .btn-blue-dark {
    border-color: #333;
}

.ext-shc-avatar__info__label--link:hover {
    text-decoration: none;
}

.shc-horizontal-navigation__navigation .shc-horizontal-navigation__menu-item.active .shc-horizontal-navigation__label:before {
    font-family: "bb-rb-icons";
    content: "\e902";
    color: #333;
    background-image: none !important;
}

@media (min-width: 850px) {
    .shc-content-template.shc-content-template--jumbotron .jumbotron__content-container {
        max-width: 440px;
    }
}

.sidebar__logo.sidebar__logo-wide {
    height: 68px;
}

.shc-retail-banking-master .sidebar__logo__image-wide {
    height: 22px;
    margin-top: -7.5px;
}

.shc-horizontal-navigation__logo-image.shc-horizontal-navigation__logo-image--contrast,
.shc-horizontal-navigation__logo-image {
    margin-top: -2px;
}

.company-information__logo {
    height: auto;
    width: 230px;
}


/* Product summary */
.ext-bb-product-summary-ng {

    .hover-item.active {
        background-color: transparent;
    }

    .panel.panel-default .bb-account-card-sub-accounts {
        display: none;
    }

    .panel.panel-default.currentAccounts ui-bb-account-card {
        border-left: 5px solid #C1C1C1;
    }

    .panel.panel-default.savingsAccounts ui-bb-account-card {
        height: auto;
        border-left: 5px solid #C1C1C1;

        .bb-account-card-sub-accounts {
            display: block;
            margin-top: 60px;

            .bb-account-card-sub-account {
                width: 75%;
                height: 50px;
                float: right;
                border-top: 1px dashed #CCC7B9;

                font-size: 14px;
                color: #565759;
                padding: 15px 15px 15px 0;

                .sub-account-arrow,
                .sub-account-text {
                    float: left;
                }

                .sub-account-arrow {
                    width: 0;

                    i {
                        font-size: 27px;
                        position: relative;
                        right: 60px;
                        top: -10px;
                        color: #C3C3C3;
                    }
                }

                .sub-account-text {
                    transition: color 0.3s ease-out;

                    &:hover {
                        color: darken(#565759, 30%);
                    }

                }

                .sub-account-amount {
                    float: right;
                }
            }
        }
    }
}

.ext-bb-product-summary-ng .list-items-wrapper .list-item {
    height: auto;
}

.ext-bb-product-summary-ng .list-items-wrapper .list-item:before {
    height: inherit;
}

.ext-bb-initiate-payment-ng .panel .panel-body.panel-body-large {
    overflow: inherit;
}

.bb-icon.bb-icon--messages-header-on:before {
    font-size: 27px;
    line-height: 39px;

    position: absolute;
    right: 0;
    margin-right: 120px;
    color: #CDCDCD;
    transition: color 0.3s ease-out;
}

.bb-icon.bb-icon--messages-header-on:hover {
    &:before {
        color: darken(#cdcdcd, 20%);
    }
}

.ext-shc-logout-ng .alerts {
    height: 21px;
    width: 21px;
    position: absolute;
    background-color: $blue-mid;
    border-radius: 100%;

    font-size: 12px;
    line-height: 16px;
    right: 112px;
    color: #fff;
    border: 2px solid #fff;
    font-weight: bold;
    padding-left: 5px;
    font-style: normal;
}


@import "notifications";

@import "slider";

.shc-content-template.shc-content-template--topnav-login .logo-image img {
    height: 30px;
}

.ext-midfirst-cards-ng {

    h2 {
        color: #262626;
        font-size: 20px;
        line-height: 28px;

        span {
            font-size: 24px;
            line-height: 30px;
            color: #262626;

            .amount-decimals {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }

    .card-item {
        border-top: 1px solid #D5D5D5;
        overflow: auto;
        padding-top: 20px;
        margin-bottom: 30px;

        &.no-top-border {
            border-top: none;
        }


        .card-item--image {
            float: left;
            padding: 20px;
            background-image: url('../assets/images/cards/card-grey.png');
            background-repeat: no-repeat;
            background-size: cover;

            width: 300px;
            height: 174px;

            color: #fff;

            &.card-item--image-red {
                background-image: url('../assets/images/cards/card-red.png');
            }

            &.card-item--image-orange {
                background:
                    linear-gradient(
                            rgba(255,255,255,.2),
                            rgba(255,255,255,.8)
                    ),
                    url('../assets/images/cards/card-orange.png');
                background-size: cover;
                border-radius: 12px;
                text-align: center;

                .btn {
                    margin-top: 100px;
                }
            }

            .card-number,
            .card-name,
            .card-date {
                color: #fff;
                text-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
                font-family: Courier;
            }

            .card-number {
                font-size: 20px;
                letter-spacing: -1px;
                margin-top: 50px;
                text-align: center;
            }

            .card-name {
                opacity: 0.75;
                font-size: 16px;
                margin-top: 50px;
            }

            .card-date {
                opacity: 0.75;
                font-size: 16px;
                position: absolute;
                margin-left: 220px;
                margin-top: -30px;
            }
        }

        .card-item--text {
            float: left;
            padding: 10px;
            width: calc(100% - 320px);
            margin-left: 20px;

            hr {
                border-top: 2px dashed #CCC7B9;
            }

            h2 {
                margin-top: 0;
                font-size: 17px;
                line-height: 22px;
                color: #262626;

                span {
                    font-size: 20px;
                    line-height: 25px;
                    color: #262626;
                }
            }

            p.date {
                color: #565759;
                font-size: 13px;
                line-height: 16px;
            }

            p.credit-limit,
            p.available {
                color: #565759;
                font-size: 15px;
                line-height: 20px;
            }

            .card-toggle {
                float: left;
                width: 100%;

                .switch {
                    float: left;
                }

                p {
                    float: left;
                    padding-left: 15px;
                }

                i {
                    border: 1px solid #ccc;
                    color: #ccc;
                    border-radius: 100%;
                    padding: 2px 6px;
                    margin-left: 20px;

                    transition: color 0.3s ease-out, border-color 0.3s ease-out;


                    &:hover {
                        color: darken(#ccc, 20%);
                        border-color: darken(#ccc, 20%);
                    }
                }
            }
        }
    }
}


.bb-icon--messages-header-on.notifications-box-expanded {
    &:before {
        color: darken(#cdcdcd, 20%);
    }
}


.card-item--text {
    .cards-button {
        float: left;
        width: 33%;
        border: 1px solid #E2E9EF;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
        color: $blue-mid;
        margin-top: 20px;
        padding: 5px 20px;

        transition: border-color 0.3s ease-out, box-shadow 0.3s ease-out;

        &:hover {
            //border-color: darken(#E2E9EF, 20%);
            box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
        }

        p,
        i {
            float: left;
        }

        i {
            position: absolute;
            font-size: 18px;
            margin-top: 3px;
        }

        i.bb-icon.bb-icon--pin {
            margin-top: 10px;
            font-size: 9px;
        }

        p {
            font-size: 15px;
            text-align: center;
            width: 100%;
            color: $blue-mid;
            padding-top: 2px;
            margin-bottom: 2px;
        }
    }

    $border-radius-cards-buttons: 6px;

    .cards-button-left {
        border-radius: $border-radius-cards-buttons 0 0 $border-radius-cards-buttons;
        margin-right: -1px;
    }

    .cards-button-center {
        //
    }

    .cards-button-right {
        border-radius: 0 $border-radius-cards-buttons $border-radius-cards-buttons 0;
        margin-left: -1px;

        p {
            text-align: right;
        }
    }
}

.ext-midfirst-cards-ng {
    .search-bar {
        width: 100%;
        height: 60px;

        &:before {
            font-family: "bb-rb-icons";
            content: "\e912";

            position: absolute;
            right: 0;
            margin-right: 125px;
            margin-top: 6px;
        }
    }

    .search-bar input {
        border-radius: 33px;
        width: 150px;
        height: 30px;
        border: 1px solid #696A6C;
        padding-left: 30px;

        &:focus {
            outline: none;
        }
    }

}

/* Login page color */
.shc-content-template.shc-content-template--topnav-login .back-to a,
.shc-content-template.shc-content-template--topnav-login .back-to:before {
    color: #333 !important;
}

.btn.btn-blue-dark:hover {
    background-color: #4d4d4d !important;
    color: #fff !important;
    border-color: #4d4d4d !important;
}

.shc-horizontal-navigation.shc-horizontal-navigation--contrast:not(.shc-horizontal-navigation--menuopen) .btn-blue-dark {
    color: #333;
}

.shc-retail-banking-master .ice_template--topnav-logo-wrap .bp-widget[data-pid*=widget-shc-content-] .topnav__logo__image {
    max-height: 30px;
}

ui-bb-account-card .bb-account-card-sub-accounts {
    display: none;
}


/* Fix user menu up 10 px in CXP for targeting container clickability */
.bd-designMode-true .area.contentbar__area.contentbar__area-1 {
    margin-bottom: 30px;
}


.ext-midfirst-cards-ng {
    p .amount-decimals {
        margin-top: -5px !important;
        font-size: 10px !important;
    }

    h2 .amount-decimals {
        font-size: 14px !important;
        margin-top: -10px !important;
    }
}

/* Payement tabs -To move?  */
$bill-main-color: #696A6C;
$bill-text-color: #565759;

div[data-pid="container-shc-payment-tabs"] {
    nav {
        ul.nav-tabs {
            overflow: visible;
            
            &::after {
                display: none;
            }
            li.--tab {
                border-top: 1px solid $bill-main-color;
                border-bottom: 1px solid $bill-main-color;
                &:first-child {
                    border-bottom-left-radius: 50px;
                    border-top-left-radius: 50px;
                    border-left: 1px solid $bill-main-color;
                }
                &:last-child {
                    border-bottom-right-radius: 50px;
                    border-top-right-radius: 50px;
                    border-right: 1px solid $bill-main-color;
                }
                &.active {
                    a {
                        background-color: $bill-main-color;
                        color: #FFF;
                    }
                }

                a {
                    color: $bill-text-color;
                    border: 0;
                    border-radius: 50px;
                    color: #000;
                    padding: 10px 20px;
                    margin: 0;
                }
            }
        }
        margin-bottom: 15px;
    }

    .tab-content {

    }
}

@import "billpay";


/* End billpay */



.ext-bb-transactions-ng .search-form .form-control.bb-search-box-input+.input-group-btn i:before {
    color: $blue-mid !important;
}

.ext-bb-transactions-ng .search-form .form-control.bb-search-box-input::placeholder {
    color: $blue-mid !important;
}

.ext-bb-transactions-ng .search-form .form-control.bb-search-box-input+.input-group-btn i:before {
    content: "\e928";
    color: $blue-mid !important;
}

.ext-bb-transactions-ng .search-form .form-control.bb-search-box-input+.input-group-btn:focus i:before {
    color: $blue-mid !important;
}

.ext-bb-transactions-ng .search-form .input-group-btn .btn i:before {
    color: $blue-mid !important;
}

.ext-bb-transactions-ng .search-form .search-filter-wrapper {
    background-color: $grey-lighter;
}

.ext-bb-transactions-ng .search-form .search-filter-date-range .input-group .form-control:hover+.input-group-btn,
.ext-bb-transactions-ng .search-form .form-control:hover {
    border: 1px solid $blue-mid;
}

.shc-content-template.shc-content-template__jumbotron-with-profile-info .jumbotron-with-profile-info__content {
    max-width: 470px;
}

.ext-bb-transactions-ng .search-form .form-control.bb-search-box-input:focus+.input-group-btn i:before {
    color: $blue-mid !important;
}

.shc-retail-banking-master .panel-cell-narrow {
    height: calc(100vmax - 400px);
}


@import "actions";



.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: $grey-lighter;
}


.shc-content-template.shc-content-template--cta-box-midfirst {
    background: linear-gradient(225deg,hsla(0,0%,100%,.1) -25%,rgba(0,0,0,1));
    color: #fff;
    padding: 20px 0 10px 0;

    border-radius: 6px;

    h3, h5, p, span {
        color: #fff;

        padding-left: 20px;
        padding-right: 20px;
    }

    .details {
        font-size: 12px;
        line-height: 20px;
    }

    .notify {
        font-size: 14px;
        line-height: 16px;
    }

    h3 {

    }

    h5 {
        margin-top: 25px;
    }

    i {
        font-size: 35px;
        color: #fff;
        padding: 15px;
    }

    .btn {
        margin-right: 20px;
    }
}

.shc-content-template.shc-content-template--cta-box-midfirst.red {
    margin-top: 30px;
    background: linear-gradient(225deg,hsla(0,0%,100%,.1) -25%,rgba(246,120,9,1));
}

.shc-horizontal-navigation.shc-horizontal-navigation--contrast:not(.shc-horizontal-navigation--menuopen) .btn-blue-dark {
    color: #fff !important;
}


@media(max-width: 1420px) {
    .card-item--text .cards-button i.bb-icon {
        display: none;
    }
}

.margin-top-20 {
    margin-top: 20px;
}




.ext-bb-turnovers-ng {
    .panel-body {
        .form-group {
            width:inherit;
        }
    }

}
