.navbar-fixed-top .navbar-brand,
.navbar-fixed-top .navbar-brand:hover,
.navbar-fixed-top .navbar-brand.text-center {
    padding-left: 0;
}

.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
    margin-left: 0;
}

.navbar-brand.text-center {
    display: block;
    text-align: center;
    width: 100%;
    position: absolute;
}

.navbar-fixed-bottom .btn-group-justified .btn {
    width: 100%;
}

.usernav {
    background-color: rgb(230, 230, 230);
    padding: 15px;
}

.usernav .user {
    font-weight: bold;
}


/*fix for disapearing menu items*/

.offcanvas,
.offcanvas-list {
    height: auto;
}

@media (min-width: 768px) {
    .container .bootcards-list {
        border-right: 0;
    }
}

@media (max-width: 767px) {
    .navbar-fixed-top .btn.pull-left,
    .navbar-fixed-top .btn:hover.pull-left {
        margin-left: 0;
    }
    .panel {
        margin-left: -15px;
        margin-right: -15px;
    }
    .form-horizontal .controls,
    .form-horizontal .control-label {
        padding-left: 0;
        text-align: left;
    }
}

body > .container > .row {
    padding-bottom: 0;
}

body > .container > .row.padding {
    padding-bottom: 50px;
}

.buttonList {
    width: 100%;
    text-align: center;
}

.buttonList .btn {
    display: block;
    width: 100%;
    max-width: 500px;
    margin-bottom: 1em;
    background-color: #ddd;
}

.bq-explanation {
    text-align: left;
    font-size: 18px;
    padding-top: 10px;
    color: #33b5e5;
}

.form-horizontal .radio,
.form-horizontal .checkbox {
    margin-top: 10px;
    margin-bottom: 10px;
}

#offline {
    padding-left: 0;
    padding-right: 0;
}

.offline-available-button {
    background-image: url(../img/prepareOfflineIcon.png);
    background-repeat: no-repeat;
    background-position: 50%;
    display: inline-block;
    height: 50px;
    width: 50px;
    background-size: 42px;
}

.offline-delete-button {
    background-image: url(../img/deleteOfflineIcon.png);
    background-repeat: no-repeat;
    background-position: 50%;
    display: inline-block;
    height: 50px;
    width: 50px;
    background-size: 42px;
}

.offline-delete-localy-button {
    background-image: url(../img/deleteOfflineDataIcon.png);
    background-repeat: no-repeat;
    background-position: 50%;
    display: inline-block;
    height: 42px;
    width: 42px;
    background-size: 38px;
    float: right;
	margin-right: 20px;
}

.offline-delete-executed-button {
    background-image: url(../img/deleteExecutedOfflineIcon.png);
    background-repeat: no-repeat;
    background-position: 50%;
    display: inline-block;
    height: 50px;
    width: 50px;
    background-size: 42px;
}

.aq-offline-container-wrapper {
    padding-left: 0;
    padding-right: 0;
}

.aq-offline-container {
    padding-left: 0;
    padding-right: 0;
}

.aq-offline-container > .panel {
    border-color: #ddd;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05) !important;
    margin-left: 0px;
    margin-right: 0px;
}

.aq-offline-preparedon {
    padding-bottom: 30px;
}

.icon {
    padding: 10px;
}

.embed-responsive,
.embed-responsive-item {
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    overflow-x: scroll;
}