/* fixed readonly vertical margin*/
.form-control-static{
	padding-top: 10px;
}

/* separator between buttons in footer */
.btn-group-justified .btn-group:not(:first-child) {
	border-left: 1px solid #999;
}

.panel .list-group-item, .panel .list-group-item:hover{
	margin: 0;
	padding-left: 0;
}