.form-horizontal .form-group div.form-control-static{
	padding-top: 7px;
}

#loginForm .form-group {
	margin-left: 0px;
}

.navbar-fixed-bottom .btn-group .btn,
.navbar-fixed-bottom .btn-group .btn:hover,
.navbar-fixed-bottom .btn-group .btn:active,
.navbar-fixed-bottom .btn-group .btn:focus {
	font-size: 14px;
}
.btn-group-justified .btn-group:not(:first-child) {
	border-left: 1px solid rgb(143, 143, 148);
}

.navbar-fixed-bottom .btn-group {
	display: table-cell;
    width: 100%;
    margin: 0 auto;
    float: none;
}
.navbar-fixed-bottom .btn-group-justified.btn-group {
	display: table;
}

.form-horizontal .form-group:last-child{
	margin-bottom: 0px;
	border-bottom: 1px solid rgb(221, 221, 221);
	
}

.form-horizontal .panel-body .form-group:first-of-type {
    margin-top: -5px;   
}

.panel-body{
	padding-top: 5px;
}

@media (min-width: 767px){
	.panel .list-group-item, .panel .list-group-item:hover{
		margin: 0;
		padding-left: 0;
	}
}


@media (max-width: 767px){
	.form-horizontal .form-group .control-label:first-child{
		padding-left: 10px;
	}
}
