<script type="text/html" id="core/template/container/bootcards-body">
<div class="container push-right">
    <div class="row">
        <div class="col-sm-12 bootcards-cards" data-bind="foreach: children">
            <!-- ko template: { name: template } --><!-- /ko -->
        </div>
    </div>
</div>
</script>

<script type="text/html" id="core/template/container/bootcards-menu">
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- menu button to show/ hide the off canvas menu -->
        <button type="button" class="btn btn-default btn-menu navbar-left pull-left" data-toggle="offcanvas">
            <i class="fa fa-lg fa-bars"></i><span>Menu</span>
        </button>

        <a class="navbar-brand" title="Bootcards Starter" href="/">Bootcards Starter</a>

        <!--right aligned button-->
        <button type="button" class="btn btn-warning navbar-right hidden-sm">
            <i class="fa fa-lg fa-refresh"></i><span>Refresh</span>
        </button>

        <!--navbar menu options: shown on desktop only -->
        <!-- ko with: children()[0] -->
        <div class="navbar-collapse collapse">
            <ul class="dropdown-menu" data-bind="foreach: children">
                <!-- ko if: type === 'button' -->
                <li style="text-align: center;">
                    <a href="#" data-bind="click: handleClick">
                        <!-- ko if: presentationStyles().icon -->
                        <span><i data-bind="attr: { class: '' + presentationStyles().icon }"></i></span>
                        <!-- /ko -->
                        <span data-bind="text: caption"></span>
                    </a>
                </li>
                <!-- /ko -->
            </ul>
        </div>
        <!-- /ko -->
    </div>
</div>

<!-- slide in off canvas menu (mobile only) -->
<!-- ko with: children()[0] -->
<nav class="navmenu offcanvas offcanvas-left" data-bind="initBootcards: true">
    <ul class="nav" data-bind="foreach: children">
        <!-- ko if: type === 'button' -->
        <li style="text-align: center;">
            <a href="#" data-bind="click: handleClick">
                <!-- ko if: presentationStyles().icon -->
                <span><i data-bind="attr: { class: '' + presentationStyles().icon }"></i></span>
                <!-- /ko -->
                <span data-bind="text: caption"></span>
            </a>
        </li>
        <!-- /ko -->
    </ul>

</nav>
<!--nav-->
<!-- /ko-->

</script>

<script type="text/html" id="core/template/container/buttonlist">
<div class="buttonList">
<!-- ko foreach: children-->

        <!-- ko template: {name: template}--><!-- /ko -->

<!-- /ko -->
</div>

</script>

<script type="text/html" id="core/template/container/formfooter">
<div class="bq-footer" data-bind="bqMobileFooter: {}">
</div>
</script>

<script type="text/html" id="core/template/container/list/listcontainer">
<div class="bootcards-list col-xs-12" data-bind="bqMode: ['mobilelist']">
    <div class="panel panel-default" data-bind="with: table">
        <div class="list-group" data-bind="foreach: rows">
			<!-- ko template: {name: template} --><!-- /ko -->
        </div>
    </div>
</div>
</script>

<script type="text/html" id="core/template/container/list/listitem">
<a class="list-group-item">
    
    <div class="row">
        <div class="col-sm-6 col-xs-8" data-bind="bqListClick: action">
            <h4 class="list-group-item-heading" data-bind="text: captions[0]"></h4>
            <!--  ko foreach: captions -->
            	<!-- ko if: ($index() % 2 == 1) -->
            		<p class="list-group-item-text" data-bind="text: $data"></p>
            	<!-- /ko -->
            <!-- /ko -->

        </div>
        <div class="col-sm-6  col-xs-4">
            <!--  ko foreach: captions -->
            	<!-- ko if: ($index() > 0 && $index() % 2 == 0) -->
            		<p class="list-group-item-text" data-bind="text: $data" data-bind="bqListClick: action"></p>
            	<!-- /ko -->
            <!-- /ko -->
            <!-- ko if: offlineavailability-->
            	<div class="task-offline" data-bind="bqTaskOfflineClick: action">
                	<span data-bind="attr:{ class: buttonClass }"></span>
                </div>
            <!-- /ko -->
        </div>
    </div>
</a>
</script>

<script type="text/html" id="core/template/field/currency">
<div class="input-group" data-bind="bqTooltip: explainText">
	<input class="form-control" type="text" data-bind ="value: value" />
</div>
</script>

<script type="text/html" id="core/template/field/date">
<div class='date' data-bind="attr: { 'data-date-format': context.session.language.patterns.date  }, bqTooltip: explainText">
    <input type='text' class="form-control" data-bind="value: value, attr: { placeholder: context.session.language.patterns.date }"/>
</div>

</script>

<script type="text/html" id="core/template/field/datetime">
<div class=' date' data-bind="attr: { 'data-date-format': context.session.language.patterns.date  }, bqTooltip: explainText">
    <input type='text' class="form-control" data-bind="value: value, attr: { placeholder: context.session.language.patterns.datetime }"/>
</div>

</script>

<script type="text/html" id="core/template/field/domainsingle">
<select class="form-control"
        data-bind="
         disable: readonly,
         bqTooltip: explainText,
         options: domain,
         optionsText: 'displayValue',
         optionsValue: 'value',
         selectedOptions: values,
         optionsCaption: 'Select...'">
</select>
</script>

<script type="text/html" id="core/template/field/field">
<div class="form-group" data-bind="css: {'has-warning': hasWarning, 'has-error': hasError}">
	<label class="control-label" data-bind="attr: { for: key }">
		<span data-bind="text: questionText"></span>
		<span data-bind="if: required()">*</span>
	</label>
	<div class="controls">
		<!-- ko template: { name: fieldValueTemplate } --><!-- /ko -->
		<div data-bind="foreach: { data: messages, as: 'message' }">
			<span class="help-block" data-bind="text: message.text"></span>
		</div>
	</div>
</div>

</script>

<script type="text/html" id="core/template/field/fieldhorizontal">
<div class="form-group" data-bind="css: {'has-warning': hasWarning, 'has-error': hasError}">
		<label class="col-xs-12 col-sm-4 control-label" data-bind="text: questionText"></label>
	<div class="col-xs-11 col-sm-7">
		<!-- ko template: { name: fieldValueTemplate } --><!-- /ko -->
    	<i data-bind="visible: required()" class="form-control-feedback fa fa-asterisk" data-fv-icon-for="name" style=""></i>
		<div data-bind="foreach: { data: messages, as: 'message' }">
			<span class="help-block" data-bind="text: message.text"></span>
		</div>
	</div>
	<div class="bq-explanation col-xs-1" data-bind="visible: explainText">
		<i class="fa fa-fw fa-question-circle" data-bind="bootcardsTooltip: {}"></i>
	</div>
</div>
</script>

<script type="text/html" id="core/template/field/percentage">
<div class="input-group" data-bind="bqTooltip: explainText">
	<input class="form-control" type="text" data-bind ="value: value" />
</div>
</script>

<script type="text/html" id="core/template/flowwidget/flowwidget">
<div class="" data-bind="widget: {}, bqMode: ['widget']">

		<!-- ko if: session() && session().page() -->
		<div data-bind="template: { name: template, data: session().page() }"></div>
		<!-- /ko -->

		<!-- ko if: session() == null || session().page() == null -->
		<div class="text-center">
            <img data-bind="attr: { src: context.configuration.resourceUri + context.configuration.themePath + 'img/loading.gif' }">
		</div>
		<!-- /ko -->

</div>
</script>

<script type="text/html" id="core/template/offline/listoffline">
<div class="navbar navbar-default navbar-fixed-top" role="navigation"></div>
<div class="container bootcards-container aq-offline-container-wrapper">
    <!-- Online BTN -->
    <!-- ko if: isMobile && isOnline -->
    <div class="input-group online-button-container">
        <span data-bind="text: onlinenotification"></span>
        <button type="button" class="btn" data-bind="text: onlinebutton, event: { touchend: goOnline }"></button>
    </div>
    <!-- /ko -->
    <!-- /Online BTN -->
    
    <div class="col-sm-12 bootcards-cards aq-offline-container">
    	<!-- ko if: displayTaskList -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">
            <span><i class="fa fa-pencil"></i></span>
           	<span data-bind="text: titleName"></span>
       		</h2>
            </div>
            <div class="panel-body">
                <div class="bootcards-list col-xs-12">
                    <div class="panel panel-default">
                        <div class="list-group" data-bind="foreach: items">
                            <a class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-8">
                                        <h4 class="list-group-item-heading" data-bind="text: taskName, click: $parent.executeOfflineTask"></h4>
                                        <p class="list-group-item-text" data-bind="text: taskDescription"></p>
                                        
                                    </div>
                                    <span class="col-sm-4 col-xs-2 offline-delete-localy-button" data-bind="bqRemoveOfflineTaskClick: action"></span>                  
                                </div>                               
                            </a>
                        </div>
                        <!-- ko ifnot: availableOfflineTasks-->
                        <a class="list-group-item">
                            <div class="row">
                                <div class="col-sm-6 col-xs-8">
                                    <h4 class="list-group-item-heading" data-bind="text: noTasksText"></h4>
                                </div>
                            </div>
                        </a>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /ko -->
        <!-- ko if: displayTask -->
	    <div id="offlineTaskPage">
	    	<div class ="aq-offline-preparedon" data-bind="text: preparedOn">
	    	</div>
	        <div data-bind="foreach: taskModel().children">
	            <!-- <span data-bind="text: context.templateFactory.getTemplate"></span> -->
	            <!-- ko template: { name: template } -->
	            <!-- /ko -->
	        </div>
	        <div class="navbar navbar-default navbar-fixed-bottom">
		        <div class="btn-group btn-group-justified" role="group">
		            <div class="btn-group">
		                <button type="button" class="btn" data-bind="click: handleCancel, text: cancelText"></button>
		            </div>
		            <div class="btn-group">
		                <button type="button" class="btn" data-bind="click: handleSave, text: saveText"></button>
		            </div>
		        </div>
	        </div>
	    </div>
	    <!-- /ko -->
    </div>
</div>
</script>

<script type="text/html" id="core/template/page/bootcardspage">
<!-- ko initBootcards: true-->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- menu button to show/ hide the off canvas menu -->

        <!-- ko if: menubar -->
        <button type="button" class="btn btn-default btn-menu navbar-left pull-left" data-toggle="offcanvas">
            <i class="fa fa-lg fa-bars"></i><span>Menu</span>
        </button>
        <!-- /ko -->
        <!-- ko if: backButton -->
        <!-- ko with: backButton-->
        <button type="button" class="btn btn-default btn-menu navbar-left pull-left" data-bind="click: handleClick">
            <i class="fa fa-lg fa-chevron-left"></i>
        </button>
        <!-- /ko -->
        <!-- /ko -->

        <p class="navbar-brand text-center" data-bind="text: displayName"></p>

        <!--navbar menu options: shown on desktop only -->

        <!-- ko if: menubar -->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <!-- ko with: menubar -->
                    <!-- ko foreach: children -->
                    <!-- ko if: type === 'button' -->
                    <li>
                        <a href="#" data-bind="text: caption, click: handleClick"></a>
                    </li>
                    <!-- /ko -->

                    <!-- ko if: type === 'container' -->
                    <li class="dropdown">
                        <a data-bind="attr:{id: 'submenu-'+key }" class="bootcards-parent collapsed" data-toggle="collapse" data-parent=".collapse">
                            <i class="fa fa-fw fa-chevron-circle-right"></i><!-- ko text: displayName --><!-- /ko -->
                        </a>
                        <div  data-bind="attr:{id: 'submenu-'+key }" class="collapse in" >
                            <ul class="nav navmenu-nav" data-bind="foreach: children">
                                <li>
                                    <a href="#" data-bind="click: handleClick">
                                        <!-- ko if: presentationStyles().icon -->
                                        <i data-bind="attr: { class: 'fw' + presentationStyles().icon }"></i>
                                        <!-- /ko -->
                                        <!-- ko text: --><!-- /ko --> <span data-bind="text: caption"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- /ko -->
                    <!-- /ko -->
                <!-- /ko -->
            </ul>
        </div>
        <!-- /ko -->
    </div>
</div>

<!-- slide in off canvas menu (mobile only) -->
<nav class="navmenu offcanvas offcanvas-left">

    <ul class="nav">
        <!-- ko with: userMenu -->
        <div class="usernav" data-bind="foreach: children">
	        <!-- ko template: {name: template}--><!-- /ko -->
        </div>
        <!-- /ko -->
        <!-- ko with: menubar -->
        <!-- ko foreach: children -->

        <!-- ko if: type === 'button' -->
        <li>
            <a href="#" data-bind="click: handleClick">
                <!-- ko if: presentationStyles().icon -->
                <span><i data-bind="attr: { class: 'fw ' + presentationStyles().icon }"></i></span>
                <!-- /ko -->
                <span data-bind="text: caption"></span>
            </a>
        </li>
        <!-- /ko -->

        <!-- ko if: type == 'container' -->
        <li class="dropdown">
            <a data-bind="attr:{ href: '#submenu-mobile-'+key }" class="bootcards-parent collapsed" data-toggle="collapse" data-parent=".collapse">
                <i class="fa fa-fw fa-chevron-circle-right"></i> <!-- ko text: displayName --><!-- /ko -->
            </a>
            <div class="collapse in" data-bind="attr:{id: 'submenu-mobile-'+key }">
                <ul class="nav navmenu-nav" data-bind="foreach: children">
                    <li>
                        <a href="#" data-bind="click: handleClick">
                            <!-- ko if: presentationStyles().icon -->
                            <i data-bind="attr: { class: 'fw ' + presentationStyles().icon }"></i>
                            <!-- /ko -->
                            <!-- ko text: --><!-- /ko --> <span data-bind="text: caption"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <!-- /ko-->
        <!-- /ko -->
        <!-- /ko -->
    </ul>

</nav>
<!--nav-->

<!-- /menu -->

<div class="container bootcards-container" >
	<!-- Offline BTN -->
	<!-- ko if: isMobile && isOffline -->
	<div class="input-group offline-button-container">
        <span data-bind="text: offlinenotification"></span>
        <button type="button" class="btn" data-bind="text: offlinebutton, event: { touchend: goOffline }"></button>
	</div>
	<!-- /ko -->
	<!-- /Offline BTN -->

    <div class="row" data-bind="with: body, css:{ padding: isFooterActive() }">
        <div class="col-sm-12 bootcards-cards" data-bind="foreach: children">
            <!-- ko template: { name: template } --><!-- /ko -->
        </div>
    </div>
</div>


<!-- ko with: mobilefooter() -->
    <div class="navbar navbar-default navbar-fixed-bottom" data-bind="visible: visible">

        <!-- ko if: children -->
        <div class="btn-group btn-group-justified" role="group" data-bind="foreach: children">
            <!-- ko if: type == 'button' -->
            <div class="btn-group">
                <button type="button" class="btn" data-bind="click: handleClick, disable: disabled, text: caption"></button>
            </div>
            <!-- /ko -->
        </div>
        <!-- /ko -->

    </div>
<!-- /ko -->


<!-- /ko --> <!-- end virtual binding for bootcards -->

</script>

<script type="text/html" id="core/template/textitem/authenticateduser">
<span class="user" data-bind="text: plainText">
</span>
</script>

<script type="text/html" id="core/template/textitem/logout">
<li>
    <a onClick="bqAppMobile.logout()" href="#">
        <span data-bind="text: plainText"></span>
    </a>
</li>
</script>

