@import 'iconography';

.aq-form-container {
  .aq-logout-form {
    display: inline-block;
    margin-top: 161px;
    padding: 50px;
    padding-top: 0;
    width: 250px;
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.2);
    border-radius: 1px;
    background-color: #ffffff;

    .forms_inputs {

      span {
        display:block;

        &:first-child {
          margin-bottom:10px;
        }
      }
      .icon {
        color: #68635d;

        &:before {
          background-color: #ebebeb;
          height: 40px;
          display: inline-block;
          line-height: 40px;
          width: 40px;
          text-align: center;
          margin: 0;
          padding: 0;
          transform: translateY(2px);
          border-right: 1px solid #dfdfdf;
          -webkit-border-top-left-radius: 2px;
          -webkit-border-bottom-left-radius: 2px;
          -moz-border-radius-topleft: 2px;
          -moz-border-radius-bottomleft: 2px;
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;
        }
      }


      input {
        width: calc(100% - 62px);
        height: 20px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border: none;
        -webkit-border-top-right-radius: 2px;
        -webkit-border-bottom-right-radius: 2px;
        -moz-border-radius-topright: 2px;
        -moz-border-radius-bottomright: 2px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        background-color: #ebebeb;
        padding: 10px;
        font-size: 14px;
        color: #423c35;
        margin-left: -6px;
        display: inline-block;

        &:focus {
          outline:none;
          background-color: rgba(235, 235, 235, 0.9);
        }



        //&[type="password"] {

        //}


        &::-webkit-input-placeholder {
          font-weight: 300;
          font-style: italic;
          opacity:1 !important;
          color: #423c35 !important;
        }

        &:-moz-placeholder { /* Firefox 18- */
          font-weight: 300;
          font-style: italic;
          opacity:1 !important;
          color: #423c35 !important;
        }

        &::-moz-placeholder {  /* Firefox 19+ */
          font-weight: 300;
          font-style: italic;
          opacity:1 !important;
          color: #423c35 !important;
        }

        &:-ms-input-placeholder {
          font-weight: 300;
          font-style: italic;
          opacity:1 !important;
          color: #423c35 !important;
        }

      }
    }

    .aq-button {

      margin-top: 37px;
      height:40px;
      width: 100%;
      border-radius: 2px;
      background-color: rgba(110, 100, 88, 0.8);
      border: none;
      padding: 10px;
      font-size: 14px;
      text-transform: uppercase;
      color:white;
      font-weight:300;
      cursor:pointer;
    }

    .aq-logout-form__header {
      background-color: #13a581;
      margin-left: -50px;
      margin-right: -50px;
      margin-top: 0;
      position: relative;
      display: block;
      top: 0;
      text-align: center;
      padding-top: 15px;
      padding-bottom: 15px;
      h1 {
          font-size:15px;
          margin:0;
          font-family:Roboto;
          font-weight:300;
          letter-spacing:.8px;
          text-transform: uppercase;
          color:white;
      }
    }
    .aq-logout-form__content {
      position: relative;
      top: 20px;
      h2 {
        font-family: Roboto;
        text-align: center;
        font-weight: 400;
        font-size: 18px;
        color:black;
      }
    }
  }
}

.aq-form-container {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  margin-top:-60px;
}

.aq-logo {
  position: absolute;
  top: 0;
  left: 50%;
  width: 523px;
  height: 43px;
  background: url(../img/login_logo.png) no-repeat;
  transform: translate(-50%);
}

.aq-login-bg {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/login_bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index:0;

  .aq-login-bg__tape {
    position: relative;
    top: 50%;
    height: 235px;
    width: 100%;
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.2);
    background-color: #ddd9d4;
    opacity: 0.4;
    margin-top: 15px;
    transform: translateY(-50%);

  }
}