@import "typography";
@import "login";
@import "logout";
@import "iconography";

/***********************************
	General elements
***********************************/
body {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #3c4249;
  background-color: #f5f5f5;

}

a, a:hover, a:visited, button.btn-link, button.btn-link:hover {
  color: #E2007A;
}

h2 {
  background-repeat: no-repeat;
  background-position: left center;
  font-size: 14pt;
  font-weight: normal;
  color: #e2007a;
  line-height: 24px;
}

.bq-header h1 {
  font-size: 20pt;
}

.form-group.required > label > span {
  position: absolute;
  top: 0;
  right: 0;
}

/***********************************
	Custom
***********************************/

.control-group.readonly .control-label, .control-group.readonly p {
  font-size: 14px !important;
}

.form-horizontal .form-group.readonly {
  margin-bottom: 0px;
}

.bq-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.bq-header .logo {

}

.bq-table {
  width: 100%;
  overflow-x: auto;
}

.bq-table-navigation {
  padding-left: 0;
}

.bq-header .displayName {
  font-size: 18pt;
  margin-top: 40px;
  margin-bottom: 0px;
  padding: 0px;
  font-size: 16pt;
  font-weight: normal;
  line-height: 24px;
}

.fa.muted {
  color: lightgrey;
}

/***********************************
	Custom styled elements
***********************************/
div#data {
  border: 1px solid #EAEAEA;
}

div#main {
  background-color: white;
}

div#footer,
div#main {
  padding: 50px;
}

div#footer {
  background-color: #044A92;
  background-image: linear-gradient(to right, #233e75, #2b4b8e 50%);
  color: #ffffff;
  position: relative;
  padding-bottom: 15px;
}

.dashboard #footer {
  background-color: transparent;
  background-image: none;
  color: #3c4249;

}

div#footer .logo {
  margin-top: -50px
}

textarea {
  resize: vertical;
}

/** BOOTSTRAP OVERRIDE **/

.tab-content {
  padding-top: 15px;
}

/* Pie-chart overrides */
.pie-chart {
  width: 100px;
  margin-right: 20px;
  text-align: center;
  display: inline-block;
  position: relative;
}

.pie-chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.pie-chart-value {
  font-size: 18px;
}

.pie-chart-caption {
  margin-top: 10px;
}

/* Select2 */
.select2-container--default .select2-selection--multiple:before {
  content: ' ';
  display: block;
  position: absolute;
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  right: 6px;
  margin-left: -4px;
  margin-top: -2px;
  top: 50%;
  width: 0;
  cursor: pointer
}

.select2-search-choice {
  font-size: 12px;
}

.select2-search-choice > div {
  white-space: normal;
}

.select2-hidden {
  display: none;
  visibility: hidden;
  height: 0px;
}

/* Required fields */
.form-control-feedback.fa-asterisk {
  font-size: 9px;
}

//// ------------------------------------
//// MODS:
//// ------------------------------------

.panel {

  .panel-body {
    button {
      &:last-child {
        padding-right: 20px;
        margin-right: 0;
      }

      margin-left: 10px;
    }

    .btn-defaultbtn_danger {
      background-color: #e34b2d;
      &:hover {
        background-color: #bf4026;
      }
    }

    .btn-default {
      border: 1px solid #565049;
      color: #565049;
      &:hover {
        background-color: transparent;
        border: 1px solid #423c35;
      }
    }

    .input-group {

      .input-group-addon {
        background-color: Red;
      }
      .select2-container {
        .select2-choices {
          height: 40px !important;;
          min-height: 0;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          border: none;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px;
          background-color: #ebebeb;
          padding: 10px;
          font-size: 14px;
          color: #423c35;
          input {
            &:focus {
              outline: none;
              background-color: rgba(235, 235, 235, 0.9);

            }

            transform: translateY(-5px);
            padding: 0;
            padding-left: 40px;
          }
          .select2-search-field {
            &:before {
              color: #423c35;
              content: "\e922";
              position: absolute;
              display: inline-block;
              width: 40px;
              height: 40px;
              top: 0;
              left: 0;
              font-size: 20px;
              text-align: center;
              line-height: 40px !important;
              border-right: 1px solid #dfdfdf;

              @include linearIcon();

            }
          }

        }
      }
    }

    button {
      &[data-bind='click: search'] {
        background-color: #ebebeb;
        display: none;
      }

    }

    .btn-defaultbtn_primary {
      background-color: #6e6458;
      &:hover {
        background-color: #423c35;
      }
    }

    .storecomment {
      textarea {
        margin-bottom: 15px;
      }
    }
  }
  &.panel-default {
    //border-radius:0;
    //border-color:transparent;
    box-shadow: 0 1px 4px 1px rgba(221, 221, 221, 0.5);
    border-radius: 1px;
    border: 1px solid #eeeeee;
    background-color: #ffffff;
  }

  .panel-heading {
    box-shadow: 0 1px 4px 1px rgba(221, 221, 221, 0.5);
    border-radius: 1px;
    border: 1px solid #eeeeee;
    background-color: #13a581;
    font-size: 16px;
    color: white;
    i {
      display: none;
    }
  }

  background-color: white;

  button {
    float: right;

    border-radius: 2px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    border-color: transparent;
    border: none;
    &:hover {
      background-color: #423c35;
      color: white;
    }
  }

  .form-group {
    .control-label {
      font-weight: 400;
    }
  }
}

.form-horizontal {

  .page-content {
    margin-top: 40px;
    margin-left: 23px;
    margin-right: 23px;
    margin-bottom: 23px;

    .form-group {
      input {
        border-radius: 2px;
        background-color: #ebebeb;

        color: #423c35;
        font-size: 14px;
        font-weight: 300;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        height: 40px;

        border: 1px solid transparent;

        ::-webkit-input-placeholder {
          font-style: italic;
        }

        :-moz-placeholder { /* Firefox 18- */
          font-style: italic;
        }

        ::-moz-placeholder { /* Firefox 19+ */
          font-style: italic;
        }

        :-ms-input-placeholder {
          font-style: italic;
        }

        &:focus{
          box-shadow: inset 0 0 5px rgba(19, 165, 129, 0.25);
          -moz-box-shadow: inset 0 0 5px rgba(19, 165, 129, 0.25);
          -webkit-box-shadow: inset 0 0 5px rgba(19, 165, 129, 0.25);
          border: 1px solid #13a581;
        }

        &:hover {
          border: 1px solid #13a581;
        }

      }
      .input-group-addon {
        border-radius: 0px 2px 2px 0px;
        -moz-border-radius: 0px 2px 2px 0px;
        -webkit-border-radius: 0px 2px 2px 0px;
        border: none;
        border-color: transparent;
        background-color: #ebebeb;

      }
    }

    select {
      background-color: #ebebeb;
      border-color: transparent;
      box-shadow: none;
    }

  }

  .tab-pane {
    h2 {
      color: #13a581;
      font-size: 16px;
    }

  }

  .nav {
    &.nav-tabs {
      li {
        &:not(.active) {
          &:hover {
            a {
              background-color: transparent;
              color: #37322c;
            }
          }

        }
        &.active {
          a {
            border-bottom: 3px solid #13a581;
            color: #37322c;
          }
        }
        a {
          border: 0;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          color: #bab2a9;
        }

      }
    }
  }

  .dashboard {
    header {
      background-color: #423c35;
      margin-left: -16px;
      margin-right: -16px;

      .logo-wrap {
        position: absolute;
        top: 40px;
        left: 40px;
        z-index: 1;
      }

      .navbar-nav {
        margin: 0;
        margin-right: 15px;

        .navbar-text {
          color: #d4cfc9;
          margin: 10px;
          padding: 5px;
          i {
            display: none;
          }

          &:hover {
            background-color: transparent;
            cursor: pointer;
            color: #9d9489;
          }

          span {
            text-transform: capitalize;
          }

        }
      }
    }

    .navbar {
      &.navbar-default {
        background-color: #423c35;
        margin-left: -16px;
        margin-right: -16px;
        border-color: transparent;
        border: none;
        .nav {
          &.navbar-nav {
            float: right;
            text-transform: uppercase;
            i {
              display: none;
            }
            li {
              a {
                margin-left: 15px;
                margin-right: 15px;
                color: #eeecea;
              }

              &:hover {
                background-color: #f5f5f5;
                a {
                  color: #423c35;
                }

              }
            }

          }

        }
      }
    }

  }

  .icon {
    i {
      font-size: 18px;
      &::before {
        color: #13a581;
      }
    }
  }
  .navbar-default {
    border-radius: 0;
  }

  .input-group {
    .select2-choices {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
  }

  .input-group-btn {
    .btn {
      &.btn-default {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
      }
    }
  }
  .table {
    &.table-striped {
      tbody {
        tr {
          background-color: transparent;
          border-bottom: 2px solid #f5f5f5;
          &:hover {
            background-color: #f5f5f5;
            .icon {
              i {
                &::before {
                  color: #0b634d;
                }
              }
            }
          }
          td {
            border-top-color: transparent !important;
          }
        }
      }

      thead {
        tr {
          th {

            border-color: transparent;

          }
        }
      }
    }

  }

}

