<div field-licenseplate ng-disabled="element.disabled || element.readOnly"  ng-readonly="element.readOnly"  ng-class="{'has-error':element.hasError,'read-only':element.readOnly}" id="{{element.key}}"
     class="form-group field-licenseplate" class="{{element.classList}}">
    <!-- Field label -->
    <label for="{{element.key}}" class="control-label">
        <span class="required-addon" ng-show="element.required">{{$ctrl.form.lookupMessage('requiredField')}}</span>
        <span class="fa fa-info-circle tooltip-elem" ng-if="element.description" element="element" >
            <span class="tooltip-elem__content-wrap">
                <span class="toolip-body text-muted">
                       <table>
                           <tr  class="tooltip__row" ng-repeat="item in descriptions">
                            <td class="capitalize tooltip__row__title" ng-bind="item.brand"></td>
                            <td class="uppercase bold" ng-bind="item.value"></td>
                           </tr>
                       </table>

                </span>
            </span>
        </span>
    </label>
    <div class="field-licenseplate__content">
        <!-- Field control -->
        <div ng-class="{ 'has-error': (element.messages.length > 0) }">
            <control></control>
        </div>
    </div>
    <div ng-if="element.messages.length > 0" class="control-description control-errors">
        <div ng-repeat="error in element.messages">
            <h6 class="description-body text-muted">{{::error.text}}</h6>
        </div>
    </div>
</div>
