<div>
	<!-- ko if: displayName -->
	<h2 data-bind="text: displayName"></h2>
	<!-- /ko -->

	<!-- ko foreach: children-->
	<!-- ko template: { name: template } --><!-- /ko -->
	<!-- /ko -->
</div>