<div class="embed-responsive embed-responsive-4by3">
    <iframe class="embed-responsive-item" frameborder="0" data-bind="attr: { src: children()[0].value, class: presentationStyles().joined  }"></iframe>
</div>
