<ul class="nav navbar-nav" data-bind="foreach: children">
    <!-- ko if: type == 'button' -->
    <li data-bind="click: handleClick, css: {'active': presentationStyles().highlighted}">

        <a href="#">
            <!-- ko if: presentationStyles().icon -->
            <span><i data-bind="attr: { class: 'button-icon ' + presentationStyles().icon }"></i> </span>
            <!-- /ko -->
            <!-- ko text: caption --><!-- /ko -->
        </a>
    </li>
    <!-- /ko-->
    <!-- ko if: type == 'container' -->
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <!-- ko if: presentationStyles().icon -->
            <span><i data-bind="attr: { class: 'button-icon ' + presentationStyles().icon }"></i> </span>
            <!-- /ko -->
            <!-- ko text: displayName --><!-- /ko -->
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu" data-bind="foreach: children">
            <li data-bind="click: handleClick">
                <a href="#">
                    <!-- ko if: presentationStyles().icon -->
                    <span><i data-bind="attr: { class: 'button-icon ' + presentationStyles().icon }"></i> </span>
                    <!-- /ko -->
                    <!-- ko text: caption --><!-- /ko -->
                </a>
            </li>
        </ul>
    </li>
    <!-- /ko-->
</ul>