<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="btn-group btn-group-justified" role="group" data-bind="foreach: children">
        <div class="btn-group">
            <button type="button" class="btn" data-bind="click: handleClick, disable: disabled, text: caption"></button>
        </div>
    </div>
</div>