<div class="ext-shc-logout-ng" data-ng-controller="UserMenuController as $ctrl">

    <i class="bb-icon bb-icon--messages-header-on" ng-click="$ctrl.toggleNotifications()" ng-class="{'notifications-box-expanded': $ctrl.notificationsExpanded}"></i>
    <i class="alerts" ng-click="$ctrl.toggleNotifications()">2</i>

    <div class="notifications-box" ng-class="{'notifications-box-expanded': $ctrl.notificationsExpanded}">

        <div class="notifications-header">
            <h2>Notifications</h2>
        </div>
        <div class="notifications-content">

            <div class="notification-item notification-item-new">
                <div class="text">
                    You moved 5000$ from your Emergency Fund. This brings you below your set budget.
                </div>
                <div class="when">
                    Now
                </div>
            </div>

            <div class="notification-item notification-item-new">
                <div class="text">
                    An international charge for €548.80 to BB Gyms has been made on your credit card.
                </div>
                <div class="when">
                    Now
                </div>
            </div>

            <div class="notification-item">
                <div class="text">
                    Your balance is under $200.
                </div>
                <div class="when">
                    17/11/21
                </div>
            </div>

            <div class="notification-item">
                <div class="text">
                    You have saved 50% of your 'Holiday to Bali' savings goal.
                </div>
                <div class="when">
                    17/11/16
                </div>
            </div>

            <div class="notification-item">
                <div class="text">
                    You moved 20% of your salary into your savings account. Total: $17,875.57
                </div>
                <div class="when">
                    17/11/01
                </div>
            </div>



        </div>
        <div class="notifications-bottom">
            <h2>See all</h2>
        </div>

    </div>

    <span ng-click="$ctrl.logout()" class="btn btn-default btn-small btn-grey-dark" ng-if="$ctrl.loggedUser()">Log out</span>
</div>
