<div class="{{element.classList}} container_block step-container" ng-readonly="element.readOnly">
    <div class="progress">
        <div class="progress__progress_bar"></div>
    </div>
    <div ng-if="element.get('displayName')" class="container__title">
        <div class="container__title__column"></div>
        <h3 ng-bind="element.get('displayName')"></h3>
    </div>
    <div class="child_wrap">
        <children></children>
    </div>
</div>
