<button type="button" link-portal-tab-navigate="" ng-readonly="element.readOnly" ng-class="{'disabled':element.disabled}" class="{{element.classList}} btn btn-default" name="{{element.name}}" id="{{element.key}}"  ng-click="clickEvent()"><span class="button__caption" ng-bind="captionText"> </span></button>


