.container_block {
  .amendment-list {
    padding-left: 25px;
    padding-top: 10px;
    border: 1px solid rgba(165, 165, 165, 0.63);
    border-left: 0;
    height: 311px;
    background: white;
    opacity: 1;

    -webkit-transition: height .7s, padding-top .3s, opacity .7s;
    transition: height .7s, padding-top .3s, opacity .7s;

    position: relative;
    display: inline-block;
    overflow: hidden;

    &.collapse-panel {
      padding-top: 0;
      height: 0;
      opacity: 0;
    }

    h3 {
      font-family: "HSBCUnivers";
      color: #333;
      font-size: 19px;
      line-height: 26px;
      margin-bottom: 25px;
      margin-top: 10px;
    }
    .form-group {
      //margin-bottom:4px;
      margin-bottom: 0px;

      label {
        margin-left: 23px;
        margin-top: 0;
      }
      .control-label {
        color: #333;
        font-family: "HSBCUnivers";
        font-size: 12px;
        width: 200px;
        padding: 0;

        .opt {
          display: none;
        }

      }

      .checkbox {
        position:absolute;
        margin-bottom:0;
        margin-top:0;
        top:0;
      }

    }

    &.readonly {
      opacity: .5;
      pointer-events: none;
      bb-element {
        .submit-button {
          opacity: .9;
          background-color: #EDEDED;
        }
      }
    }







    /* Small Devices, Tablets */
    @media only screen and (max-width : 1200px) {

      .submit-button {
        width: 180px !important;
        margin-right:20px;
      }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

      .submit-button {
        width: 180px !important;
        margin-right:20px;
      }
    }

    @media screen and  (max-width : 500px) {
      border-left: 1px solid rgba(165, 165, 165, 0.63);

      .form-group {
        width:initial;
        margin-right:8px;
        .control-label {
          width:initial;
          margin-left:18px;
        }
      }

      .submit-button {
        width: 100% !important;
        margin: auto auto  !important;
        display: block  !important;
        position: relative  !important;
        top: 25px  !important;
      }
    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {
      border-left: 1px solid rgba(165, 165, 165, 0.63);
      padding-left: 25px !important;
      padding-right: 25px !important;

      .form-group {
        width:100%;
        .control-label {
          width:100%;
          margin-left:18px;
        }
      }

      .submit-button {
        width: 100% !important;
        margin: auto auto  !important;
        display: block  !important;
        position: relative  !important;
        top: 25px  !important;
      }


    }

    /* Custom, iPhone Retina */
    @media only screen and (max-width : 420px) {
      .submit-button {
        width: 100% !important;
        margin: auto auto  !important;
        display: block  !important;
        position: relative  !important;
        top: 25px  !important;
      }

      h3 {
        font-size:16px !important;
        margin-bottom:15px !important;
      }
    }
  }

}
