.bb-form {

  .question-item {
    border-bottom:1px solid green;
    border-top:1px solid green;
    .question-item__content {
      background-color: rgba(255, 171, 0,1);
    }
  }
  .question-item__content {
    position:relative;
    top:50%;
    transform:translateY(-50%);

  }

  .navigation-container {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: #424242;
    overflow-y:scroll;

    .footer-wrap {
      position:fixed;
      bottom:0;
    }
  }

  @color1: #f4f4f4;
  @color2: #3197EE;

  .radio-group {
    &.icon {
      &:before {
        display:none;
      }

      &.icon-edit {
        .radio-wrap {
          margin-top: 15px;
          display: inline-block;
          margin-bottom: 20px;

          &:before {
            content:"\f001";
            color: white;
            font-size: 54px;
            vertical-align: middle;
            margin-right: 10px;
            margin-top: -4px;
            display: inline-block;

          }
        }
      }

    }




    .radio-item {
      &:first-child {
      margin-left:0;
      }
      margin-left:10px;
      display:inline-block;
    }
  }
  .radio {
    margin: 0.5rem;
    input[type="radio"] {
      position: absolute;
      display:none;
      + .radio-item__name {
        background-color: black;
        padding: 10px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 30px;
        display: inline-block;
        border: 2px solid white;
        text-transform: uppercase;
        font-family: Roboto;
        color: white;
        font-weight: 500;

      }
      &:checked {
        + .radio-item__name {
          border-color: transparent;

        }
      }
      &:focus {
        + .radio-item__name {
          background-color: aquamarine;
        }
      }
      &:disabled {
        + .radio-item__name {
          background-color: rebeccapurple;
        }
      }
      + .radio-item__name {
        &:empty {
          background-color: azure;
        }
      }
    }
  }

  color: #333;
  @import "checkbox.less";
  @import "custom.less";
  @import "buttons.less";
  @import "slider_bar.less";
  @import "radio-group.less";
  @import "content-list.less";
  @import "autocomplete.less";
  @import "tooltip.less";
  @import "story-selector.less";
  @import "scenario-selector.less";
  @import "radio-record.less";
  @import "amendment-list.less";
  @import "button-selector.less";
  @import "container.less";
  @import "stickyblock.less";
  @import "helpblock.less";
  @import "radio-inline.less";
  @import "input.less";
  @import "file-actions.less";
  @import "upload-row.less";
  @import "lightbox.less";
  @import "specimen.less";
  @import "form-navigation-bar.less";
  @import "save-prompt.less";
  @import "save-success.less";
  @import "login.less";
  @import "download-row.less";
  //-
}

@import "datepicker.less";
@import "widget/widget.less";

body {
  &.container {
    padding:0 !important;
    margin:0 !important;
    width:100% !important;
  }
}







