.button-selector {

  &.show_underline  {
    .container__title {
      &::after {
        transform:scaleX(1);
        display:none;
      }
    }

  }

  .container_block {
    padding: 3px;
  }

  .button-icon {
    .icon();
    outline: 0 !important;
    -webkit-transition: background-color .3s, -webkit-box-shadow .4s, border .3s;
    transition: background-color .25s, box-shadow .4s, border .3s;
    //padding:0;
    width: 100%;
    height: 290px;
    background-color: #ededed;

    &::before {
      color: #6e6e6e;
      font-size: 35px;
      position: absolute;
      display: inline-block;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin-top: -70px;
    }

    &:active {
      .hover_bar {
        transform: scaleY(.8) !important;
      }

      background-image: none;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1) !important;
      -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1) !important;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1) !important;
    }

    &:hover {
      background-color: white;
      border: 1px solid rgba(165, 165, 165, 0.63);
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
      .hover_bar {
        transform: scaleY(1);
      }
    }

    .hover_bar {
      position: absolute;
      width: ~'calc(100% - 6px)';
      -webkit-transition: transform .15s;
      transition: transform .15s;
      height: 6px;
      background-color: #db0011;
      transform: scaleY(0);
      transform-origin: 0 0;
      margin-left: -13px;
      top: 4px;

    }
    .content_wrap {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .icon {
        position: relative;
        display: block;
        font-size: 20px;
      }

      h4 {
        color: black;
        font-family: "HSBCUnivers";
        font-size: 25px;
        display: inline-block;
        font-weight:300 ;
        width: 48%;
        word-wrap: break-word;
        white-space: normal;

      }
    }

    .low_arrow {
      position: absolute;
      bottom: 15px;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 18px;
      .divider-line {
        position: relative;
        display: block;
        width: 132px;
        height: 2px;
        opacity: 0.2;
        background-color: #a5a5a5;
      }
      .icon {
        display: block;
        margin-top: 18px !important;
        font-size: 20px;
        color: #6e6e6e;
      }

    }

  }

  /* Small Devices, Tablets */
  @media only screen and (max-width: 768px) {
    .button-icon {
      height: 250px;
      .content_wrap {

        h4 {
          font-size: 21px;

        }

      }

    }
  }

  /* Extra Small Devices, Phones */
  @media only screen and (max-width: 480px) {
    .button-icon {
      height: 230px;

      .hover_bar {
        width:100%;
      }

      .content_wrap {
        h4 {
          font-size: 23px;

        }

      }
    }

  }

  /* Custom, iPhone Retina */
  @media only screen and (max-width: 320px) {
    .button-icon {
      height: 200px;

      .hover_bar {
        width:100%;
      }

      .content_wrap {

        h4 {
          font-size: 23px;

        }

      }
    }

  }

}