.btn {
  font-weight:400;
}
.submit-button {
  font-family: "HSBCUnivers";
  font-size: 14px;
  line-height: 34px;
  color: white;
  height: 46px;
  text-align: center;
  background-color: #D30000;
  width: 220px;
  &:hover {
    background-color: #ca0000;
  }

  &:active {
    background-color: #D30000;
  }

}

.button-delete {
  cursor: pointer;
  color: #128580;
  background: none;
  width: 19px;
  height: 19px;
  font-size:18px;

  &::before {
    left: -10px;
    top: -6px;
    position: relative;
    display: inline-block;
  }

  &:hover {
    color: #149792;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.0) !important;
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.0) !important;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.0) !important;

  }

  &:active {
    color: #128580 !important;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.0) !important;
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.0) !important;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.0) !important;
  }

}

.btn-link {
  cursor:pointer;
  padding:0;

  &:hover {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.0);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.0);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.0);
  }

  &:active {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.0)!important;
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.0) !important;;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.0) !important;
  }

}
.btn-block {
  background-color: #4d6573;
  color: white;
  font-family: "HSBCUnivers";
  font-size: 16px;
  border: none;
  outline: none;
  &:hover {
    background-color: #546d7b;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.0);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.0);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.0);
  }

  &:active {
    background-color: #4d6573;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.0);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.0);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.0);
  }

}

.button-link {
  .btn-block();
  font-size: 14px;
  line-height: 34px;
  height:46px;
}

.btn-default () {
  .button-link();
}

button {
  font-weight:300;
  -webkit-transition: opacity .2s, color .2s, background-color .3s, -webkit-box-shadow .2s;
  transition: opacity .2s, color .2s, background-color .3s, box-shadow .2s;
  outline: none !important;
  outline-offset: 0 !important;

  &:hover {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  }

  &:active {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4) !important;
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4) !important;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4) !important;

  }

  &.edit-control {
    padding: 0;
    text-transform: uppercase;
    background: transparent;
    color: #333;
    font-size: 15px;

    &:active {
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.0) !important;
      -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.0) !important;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.0) !important;
      color: #343434 !important;
    }

    &:hover {
      text-decoration: underline;
      color: #6e6e6e;

      -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.0);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.0);
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.0);

    }

    &::after {
      .icon();
      content: "\f00a";
      position: relative;
      display: inline-block;
      color: green;
      margin-left: 6px;
      text-decoration: none;
      top: -1px;
      font-size: 21px;

    }

  }

}

.external-link {
  button {
    &:hover {
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.0);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.0);
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.0);
    }

    &:active {
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.0);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.0);
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.0);

    }
  }

}




.button-open-specimen {
  font-weight: 400;
  font-size: 12px;



  background:transparent;
  &::before {
    content: ' ';
    background-image: url('./images/specimen_logo.png');
    position: relative;
    top: 0;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 13px;
    left: 50%;
  }

    &:hover {
      opacity:.9;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.0) !important;
      -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.0) !important;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.0) !important;
    }

    &:active {
      opacity:1 !important;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.0) !important;
      -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.0) !important;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.0) !important;

    }
}