.form-group {

  .checkbox {
    margin-bottom:10px;
    margin-top:0px;
    display: inline-block;
    margin-right: 20px;
    input {
      padding:0;

    }
    label {
      margin-top: 2px;
      margin-left: 0;
      display: inline;
    }
  }

  .checkbox-group {
    padding-top: 6px;
  }
}
