.container_block {
  p {
    line-height:14px;

  }

  &.row {
    margin:0;

    /* Small Devices, Tablets */

    @media only screen and (max-width : 900px) {
      padding-left:15px;
      padding-right:15px;

      .container__title  {
        h3 {
          font-size:23px;
          margin-bottom:0px;
        }
        .container__title__column {
          height:20px;
        }

        &::after {
          top: 0px;
        }
      }
    }

    @media only screen and (max-width : 768px) {
      padding-left:15px;
      padding-right:15px;

      .container__title  {
        h3 {
          font-size:20px;
          margin-bottom:0px;
        }
        .container__title__column {
          height:20px;
        }

        &::after {
          top: 0px;
        }
      }
    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {
      padding-left:15px;
      padding-right:15px;

      .container_block {
        padding-left:0px;
        padding-right:0px;
      }

      .container__title  {
        h3 {
          font-size:15px;
          //margin-bottom:-10px;
        }
        .container__title__column {
          height:15px;
        }
      }

    }

    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {
      padding-left:15px;
      padding-right:15px;

      .container__title  {
        h3 {
            font-size:12px;
            margin-bottom:-10px;
        }

        .container__title__column {
          height:12px;
        }
      }

    }

  }


  .container__title {
    .container__title__column {
      width: 3px;
      height: 24px;
      position: relative;
      display: inline-block;
      margin-right: 11px;
      background-color: #db0011;
      top: 1px;
    }

    h3 {
      font-family: "HSBCUnivers";
      color: #333;
      font-size: 28px;
      line-height: 26px;
      font-weight: bold;
      margin-bottom: 25px;
      display: inline-block;
    }

    &::after {
      content: ' ';
      position: relative;
      //width: ~'calc(100% - 15px)';
      width: 100%;
      height: 1px;
      z-index: 1;
      top: -10px;
      background-color: rgba(165, 165, 165, .7);
      left: 0;
      //display: inline-block;
      transform:scaleX(0);
      transform-origin:0 0;
      -webkit-transition: transform 1.3s;
      transition: transform 1.3s;
      display:inline-block;
    }



  }

  &.show_underline  {
    .container__title {
      &::after {
        transform:scaleX(1);
      }
    }

  }

  .text-header {

  }

  p {
    font-family: "HSBCUnivers";
    color: #333;
    font-size: 13px;
    //letter-spacing: .25px;
    //line-height: 23px;


  }

  .text-header {
    p {
      color: #333;
      font-size: 21px;
      line-height: 23px;
      font-weight:bold;
    }
    margin-bottom:10px;
  }


  &.container-downloadall {
    position: absolute;
    top: 18px;
    right: 10px;




    button {

      -webkit-transition: border-bottom .2s, opacity .2s, color .2s, background-color .3s, -webkit-box-shadow .2s;
      transition: border-bottom .2s, opacity .2s, color .2s, background-color .3s, box-shadow .2s;


      line-height: 0;
      height: 20px;
      padding: 0;
      text-transform: capitalize;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      background-color: transparent;
      font-family: "HSBCUnivers";
      color: black;
      font-weight: 500;
      margin-left: 18px;
      font-size: 12px;

      &::before {
        display:none;
      }

      &::after {
        content: "\f000";
        font-family: "HSBCIcon-Font";
        display: inline-block;
        vertical-align: middle;
        line-height: 1;
        font-weight: normal;
        font-style: normal;
        speak: none;
        text-decoration: inherit;
        text-transform: none;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 15px;
        margin-left: 6px;
        margin-right: 3px;
        top: -1px;
        position: relative;


      }

      &.icon-chevron-left {
        &::after {
          content: "\f058";
        }
      }

      &:hover {
        color: #D30000;
        border-bottom: 1px solid #D30000;
      }

      margin-right:10px;
    }

    @media only screen and (max-width : 480px) {
      position: relative;
      display: inline-block;
      width: 100%;
      top: 11px;
      right: -10px;

      button {
        float:right;
      }

    }

  }
}
