
.row {
  position: relative;
  width: 100%;
}

label {
  font-size: 12px;
  font-weight: 400;
  color: #333;
  //letter-spacing:.5px;
  //margin-top:8px;
  .required-addon {
    color: #D30000;
  }
}

.input-group {
  color: #333;
  font-weight: 400;
  input {
    color: #333;
    font-size: 12px;
    background-color: transparent;
    font-family: 'HSBCUnivers';
    background: white;
    box-shadow: none;
    -moz-box-shadow: none;

    &:active {
      outline: none;
    }

    &:hover {
      outline: none;
    }

    &:focus {
      outline: none;
    }
  }
  .input-group-addon {
    background-color: transparent;
    color: #333;
    font-size: 12px;
    font-family: 'HSBCUnivers';
  }
}

.form-group {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
  font-family: "HSBCUnivers";

  label {
    margin-top: 8px;
  }

  .control-label {
    font-family: "HSBCUnivers";
  }

  .control-description {
    margin-top: 4px;
    font-size: 11px;
    .icon {
      font-size: 20px;
      color: #333;
      margin-right: 1px;
    }
    .description-body {
      top: 1px;
      display: inline-block;
      position: relative;
    }

    &.control-errors {
      .icon {
        color: #db0a1f;
      }

      .description-body {
        color: #db0a1f;
      }

    }
  }

  .row {
    width: 100%;
    margin-bottom: 10px;
    display: inline-block;
  }

  &.has-error {
    label {
      color: #333;
    }
  }
}

///--
.form-actions {
  margin-top: 25px;
  position: relative;
  display: inline-block;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 50px;
  button {
    //float:right;
    margin-left: 20px;
    width: 130px;

    &.pull-left {
      margin-left: 0;
      margin-right: 20px;
    }
  }

  padding-bottom: 50px;




}

@media only screen and (max-width: 480px) {
  .col-md-8, .col-md-12, .col-xs-12, .col-md-5, .col-md-7 {
    //padding: 0 !important;
    padding-left:0 !important;
    padding-right:0 !important;
  }
}






