.container_block {
  .download-row {
    border-bottom:1px solid rgba(165, 165, 165, 0.7);

    .container_block {
      padding-left:0 !important;
      padding-right:0 !important;
    }


    .description-text {
      margin-top:10px;
      .text-header {
        display:inline-block;
        position:relative;
        margin-bottom:5px;
      }

      margin-bottom:15px;
    }


    .container_list {
      margin-top: 25px;
      position: relative;
      display: inline-block;
    }


    .download-actions {
      margin-top:10px;
      .button-horizontal {
        height:34px;
        -webkit-transition: color .2s;

        &::before {
          display:none;
        }

        &::after {
          color: #333;
          position: relative;
          width: 10px;
          height: 10px;
          top: -39px;
          left: 89px;


          content: "\f000";
          font-family: "HSBCIcon-Font";
          display: inline-block;
          vertical-align: middle;
          line-height: 1;
          font-weight: normal;
          font-style: normal;
          speak: none;
          text-decoration: inherit;
          text-transform: none;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-size: 19px;

        }

        &.print-button {
          &::after {
            content:"\f004";
          }
        }

        &:hover {
          &::after {
            color:white;
          }

        }


      }
      bb-element {
        display: inline-block;


        width: 100%;
      }
      button, .container_block, a {
        font-family: "HSBCUnivers";
        font-size: 14px;
        text-align: left;

        color: #333;

        background-color:transparent;





        float:right;
        margin-bottom: 7px;
        text-transform: capitalize;
        width:120px;


      }

      a {

        -webkit-transition: opacity .2s, color .2s, background-color .3s, -webkit-box-shadow .2s;
        transition: opacity .2s, color .2s, background-color .3s, box-shadow .2s;

        border: 1px solid rgba(146, 146, 146, 0.63);
        &:hover {
          color: white;
          background-color:#D30000;

        }

        &:active {
          color: white;
          background-color: #e00000 !important;
        }
      }
    }


    @media only screen and (max-width : 480px) {
      .description-text {
        .text-header {
          font-size:17px;
        }

        .instruction-list {
         font-size:12px;
        }

        .text {
          font-size:12px;
        }
      }






    }


  }
}
