.file-actions {
  .container_block {
    display:inline-block;
  }
  .button-download {
    font-size:10px;
  }
  .button-delete {

  }


  a {
    font-size:11px;
    color: #128580 ;
    &:hover {
      color: #13938e;
    }
    &:active {
      color: #128580 !important;
    }
  }


}