.form-navigation-bar {
  margin-bottom:50px !important;
  background-color: rgba(0, 0, 0, .7);
  .navigation {
    height: 100%;
    padding: 0;
    p {
      color: white;
      font-family: "HSBCUnivers";
      font-size: 18px;
      text-transform: uppercase;
      margin: 0;
    }
    .navigation-desktop {
      padding-top: 25px;
      padding-bottom: 20px;
      padding-left: 20px;
      .step-passed, .step-active, .step-skipped, .step-future {
        font-size: 13px;
        margin-right: 6px;
        margin-left: 6px;
        font-weight: 400;
        letter-spacing: .5px;

        &.step-future {
          opacity: .4;
        }

        &.step-skipped {
          opacity: .5;
        }

      }
      .icon-chevron-right {
        color: #db0011;
        font-size: 19px;
      }

    }

    .navigation-mobile {
      padding: 13px;
      //visibility: hidden;
      display: none;
      //background-color: rgba(232, 255, 202, 0.1);
      //left: 50%;
      //position: relative;

      //transform: translate(-50%, 0);

      div {
        position: relative;
        display: inline-block;
        transform: translate(-50%);
        left: 50%;

      }

      .step-passed, .step-active, .step-skipped, .step-future {
        margin-right: 12px;
        margin-left: 12px;

        &.step-future {
          opacity: .4;
        }

        &.step-skipped {
          opacity: .5;
        }

      }

      .icon-chevron-right {
        color: #db0011;
      }
    }
  }

  .case-info {

    &.nodata {
      display:none;
      opacity:0;
    }
    display:block;
    opacity:1;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;

    transform:translateX(0);

    background-color: #ca0000;
    height: 70px;
    .content-h3__children {
      margin: 0 !important;
      padding: 0 !important;
    }

    .content {
      position: relative;
      top: 50%;
      left: 50%;
      display: inline-block;
      transform: translate(-50%, -50%);

      h3 {
        position: relative;
        margin-bottom: 6px !important;
        display: inline-block;
      }


      p {
        margin: 0;
      }
    }

    padding: 10px;
    h3 {
      p {
        font-size: 15px;
        margin-bottom: -5px;
        font-weight: 500;
      }
      margin-bottom: 10px;
    }

    p {
      color: white;
      font-size: 10px;
      text-align: center;
      font-weight: 300;
    }
  }


  /* Extra Small Devices, Phones */
  @media only screen and (max-width : 480px) {
      padding-left:0 !important;
      padding-right:0 !important;

    margin-bottom:10px !important;
    .navigation {
      .navigation-mobile {
        display:inline-block;
      }

      .navigation-desktop {
        display:none;
      }
    }

  }


}

