.helpblock {
  .icon {
    font-size: 60px;
    padding: 0;
    margin-bottom: 1px;
    color: #6e6e6e;
  }
  .externa-link {
    text-align: center;
  }
  padding: 35px;
  background-color: #f7f7f7;
  border: 1px solid rgba(165, 165, 165, 0.63);

  .container_block {

    .content-h3__children {
      margin: 20px;
      margin-top:10px;
      p {
        font-size: 26px;
        font-family: "HSBCUnivers";
        font-weight: 300;
        margin-bottom:0;

      }
    }
    .fa {
      font-size: 33px;
      color: #6e6e6e;
    }
    button {
      height: 46px;

    }

    p {
      color: #333;
      font-family: "HSBCUnivers";
      font-size: 14px;
      margin: 0;
      margin-bottom:25px;
      text-align: center  ;
    }

    &.save {
      padding-bottom:30px;
    }
  }
}