.statement-agree {
  padding-left:16px;

  &.has-error {
    label {
      color:#D30000 !important;
    }

  }

  .control-label {
    display:inline-block;
    position: relative;
    font-size: 13px;
    text-align: center;

    font-family:'HSBCUnivers';



  }

  input {
    display:inline-block;
    position: absolute;
    font-size: 10px;
    margin-left: -15px;
    margin-top: 5px;

  }
}

input {
  &.form-control {
    &[type="text"], &[type="number"] {
      background-color: transparent;
      border: 1px solid rgba(146, 146, 146, 0.63);
      height:30px;
      font-size:14px;
      color: #333;
      &[readonly] {
        border: 1px solid rgba(146, 146, 146, 0.0);
        -webkit-box-shadow: none;
        -moz-box-shadow:none;
        box-shadow:none;
        color: #333;
        pointer-events:none;
        padding-left:0;
      }
    }
  }
}

.input-group {
  &[readonly] {
    .input-group-addon {
      display:none;
    }
  }

  input {
    font-weight:400;
  }
}
.form-group {
  &.has-error {
    input {
      &.form-control {
        &[type="text"], &[type="number"] {
          background-color: #f9f2f3;
          border: 1px solid rgba(131, 0, 10, 0.63);
          height:30px;
          font-size:14px;
          color: #333;
        }
      }
    }

    .input-group-addon {
      color:rgba(131, 0, 10, 0.63);
    }

  }
}


select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background: transparent url('./images/dropdown-arrow.png');
  background-position-x: ~"calc(100% - 10px)";
  background-position-y: 50%;
  background-repeat: no-repeat;
  border:1px solid rgba(146, 146, 146, 0.63);
  cursor:pointer;
}

.statement-check {
  label {
    cursor:pointer;
  }
}



