.lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index:2;
  .lightbox-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .button-close-lightbox {
      background:transparent;
      position: absolute;
      display: inline-block;
      top: 0;
      width: 21px;
      height: 20px;
      padding: 0;
      z-index: 1;
      right: -24px;
      margin-top: -20px;
      .icon-delete();
      font-size:40px;
      color:white;



    }

  }

  @media only screen and (max-width : 480px) {
    .lightbox-content {

      transform: translate(-50%, -50%) scale(.7);
    }

  }


}

.lightbox {
  &.lightbox-login {
    background-image:url('./images/login-bg.jpg');
    background-size:cover;
    background-position: center center;

  }
}
