.lightbox-login {

  .lightbox-content-login {
    padding:35px;
    width: 437px;
    background-color:white;

    .container__title  {
      h3 {
        margin-bottom:8px;
      }
      &::after {
        content:'' !important;
        display:none !important;
      }
    }


    .btn-link {
      float: right;
      margin-top:20px;
      font-size:13px;
    }
    .google_captcha_holder {
      transform: scale(.8);
      transform-origin: 100% 0;
      float: right;
      margin-bottom: 20px;
    }

    .subtitle {
      margin-bottom:40px;
    }
  }

}
