.radio-inline {
  margin-left:0;
  padding-left:0;
  .radio-item {
    margin-bottom:5px;
    margin-right:15px;
    display: inline-block;
    input {
      position: relative;
      margin-left: 0;
    }

    span {
      font-family: 'HSBCUnivers';
      dispaly:inline-block;
      text-transform:capitalize;
      margin-left: 1px;
      font-size: 12px;

    }

  }

  &.has-error {
    .radio-item {
      span {
        color:#333;
      }

    }
  }
}