.radio-record {

  .radio_record__item {
    -webkit-transition: background-color .5s;
    transition: background-color .5s;

    background-color: #ededed;

    .selection_bar {

      position: absolute;
      height: 100%;
      top: 0;
      left: -1px;
      -webkit-transition: transform .3s;
      transition: transform .25s;
      width: 5px;
      background-color: #db0011;
      transform: scaleX(0);
      transform-origin: 0 0;
    }

    .white_bar {
      -webkit-transition: width .25s;
      transition: width .25s;
      width: 0px;
      background: white;
      position: absolute;
      height: 100%;
      top: 0;
      right: 0;
      z-index: 1;
      left: 100%;
    }

    &.active {
      background-color: white;

      .arrow-group {
        margin-right: -60px;
      }
      .selection_bar {
        transform: scaleX(1);
      }
      .white_bar {
        width: 1px;
      }
    }

    &:not(.active ) {
      &:hover {
        background-color: #f3f3f3;
      }
    }

    cursor: pointer;
    //--
    position: relative;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 15px;

    border-top: 1px solid rgba(165, 165, 165, 0.63);
    border-left: 1px solid rgba(165, 165, 165, 0.63);
    border-right: 1px solid rgba(165, 165, 165, 0.63);

    h4 {
      font-family: "HSBCUnivers";
      color: #333;
    }

    &:last-child {
      border-bottom: 1px solid rgba(165, 165, 165, 0.63);
    }

    .icon_select_option {
      color: #6e6e6e;
      font-size: 24px;
      display: inline-block;
      position: relative;

    }

    &[value="brn"] {
      .icon_select_option {
        .icon-location(); //map
      }
    }

    &[value="acn"] {
      .icon_select_option {
        .icon-phone();
      }
    }

    &[value="loc"] {
      .icon_select_option {
        .icon-home(); //house
      }
    }

    &[value="ndi"] {
      .icon_select_option {

        .icon-in-branch(); /// USR GROUP;

      }
    }

    &[value="non"] {
      .icon_select_option {

        .icon-add(); /// CROSS

      }
    }

    .radio_record__item__content {
      pointer-events: none;
      position: relative;
      width: 100%;

      .icon {
        font-size: 18px;
        display: inline-block;
        position: relative;
      }
      h4 {
        position: relative;
        font-family: "HSBCUnivers";
        display: inline-block;
        margin: 0;
        color: #333;
        line-height: 31px;
        font-size: 12px;
        left: 15px;

      }

      .arrow-group {

        -webkit-transition: margin-right .5s;
        transition: margin-right .5s;

        .icon {
          top: -11px;
          left: 8px;
          font-size: 14px;
          color: #6e6e6e;
        }
        .vertical_divider {
          position: relative;
          width: 2px;
          height: 37px;
          background-color: #a5a5a5;
          display: inline-block;
          margin-top: -3px;
          opacity: .2;
        }

      }

    }
  }


  /* Extra Small Devices, Phones */
  @media screen and  (max-width : 500px) {
    .radio_record__item {
      padding-left:13px;
       .white_bar {
         display:none;
       }

      .radio_record__item__content {
        h4 {
          font-size:10px;
          left:6px;
        }
        .icon {
          font-size:14px;
        }
      }



    }
  }
}