
.save-prompt {
  padding:25px;
  width: 474px;
  min-height:313px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);

  button {
    left: 50%;
    display: inline-block;
    position: relative;
    transform: translate(-50%);
    margin-top: 15px;
    margin-bottom:5px;
  }

  .statement-agree {
    margin-left: 8px;
    margin-top: -10px;
    width: 362px;
    left: 50%;
    position: relative;
    transform: translate(-50%,0);
  }

  .icon-agree {
    font-size: 142px;
    text-align: center;
    width: 100%;
  }

  .control-label {
    font-size: 12px;
    line-height: 19px;
    color: black;
    font-weight: 400;
    display: inline-block;
  }


}
