.save-success {
  padding: 25px;
  padding-top:55px;
  width: 474px;
  min-height:313px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);

  button {
    left: 50%;
    display: inline-block;
    position: relative;
    transform: translate(-50%);
    margin-top: 15px;
    margin-bottom:5px;
    width:80px;
  }

  .statement-agree {
    margin-left: 28px;
    margin-top: 0px;
    .control-label {
      top:-2px;
    }

  }

  .icon-agree {
    font-size: 142px;
    text-align: center;
    width: 100%;
  }

  .captcha {

    font-size: 45px;
    margin-top: 32px;
    display: inline-block;
    font-weight: 300;
  }

  .title {
    text-transform: uppercase;
    font-size: 13px;
    color: black;
    font-weight: 400;
  }

  .copy {
    font-size: 12px;
    line-height: 19px;
    color: black;
    font-weight: 400;
    margin-top: 10px;
    width: 75%;
    display: inline-block;
  }

}
