.scenario-selector {
  opacity:1;
  padding: 0;
  -webkit-transition: height .7s , opacity .7s;
  transition: height .7s , opacity .7s;
  height:311px;


  position: relative;
  display: inline-block;
  overflow: hidden;


  &.collapse-panel {
    border-bottom: 1px solid rgba(165, 165, 165, 0.63);
    height:0;
    opacity:0;
  }

  @media screen and  (max-width : 500px) {
    width:100%;
  }

}