
.stepped-slider-content {
  position: relative;
  display: inline-block;
  margin-top: 70px;
  margin-bottom: 25px;
}

.stepped_slider__bar__progress {
  background-color: #bbc118;
  border-radius: 2px;
  height: 100%;
  width: 0;
}

.stepped_slider__bar {
  position: relative;
  margin: 0;
  width: 450px;
  height: 5px;
  background-color: #c7c3c0;
  border-radius: 2px;
}

.stepped_slider__values {
  position: relative;
  margin: 0;
  width: 450px;
  height: 36px;

  .stepped_slider__values__value_item {
    position: absolute;
    margin-top: 12px;
    left: 0;
    width: 10px;
    height: 10px;
    cursor: pointer;
    span {
      transform: translateX(-50%);
      font-family: Roboto;
      font-size: 12px;
      font-weight: 400;
      position: relative;
      display: inline-block;
      top: -2px;
      pointer-events: none;

    }

    .dashline {
      position: relative;
      display: inline-block;
      width: 2px;
      height: 10px;
      background-color: #ccc;
      margin-left: -1px;
      pointer-events: none;
    }
  }
}

.slider_bar__knob {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #e1e1e1;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 0 0 2.9px 4.1px rgba(94, 94, 94, .22);
  text-align: center;
  padding: 6px;
  cursor: pointer;
  pointer-events: auto;
  margin-left:3px;

  ::selection {
    background: rgba(255, 255, 255, 0);
  }
  ::-moz-selection {
    background: rgba(255, 255, 255, 0);
  }

  .slider_bar__knob__value {
    position: absolute;
    font-family: Roboto;
    font-size: 33px;
    font-weight: 300;
    margin-top: -60px;
    color: #bbc118;
    transform: translateX(-50%);
    text-align: center;
    pointer-events: none;
    margin-left: 8px;

    ::selection {
      background: rgba(255, 255, 255, 0);
    }
    ::-moz-selection {
      background: rgba(255, 255, 255, 0);
    }

  }
  .slider_bar__knob__content {
    z-index: 1;
    height: 50%;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    .slider_bar__knob__content_line {
      position: relative;
      background: #c7c3c0;
      width: 1px;
      margin-left: 2px;
      height: 100%;
      top: 0;
      display: inline-block;
      float: left;
      pointer-events: none;
      &:first-child {
        margin-left: 0;
      }
    }

  }
}