.specimen {
  background-image: url('./images/specimen_ccn2.png');
  position: relative;
  display:inline-block;
  ///--
  width:468px;
  height:538px;
  ///--
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center center;
}