.stickyblock {
  padding-top:7px;
  .external-link {
    text-align: center;
    margin-top:20px;

  }

  &.attached {
      position: fixed;
      top: 20px;
      width: 33%;
      padding-right: 35px;
  }


  @media only screen and (max-width : 480px) {
    display:none;

  }

}