

  .story-selector {
    background: white;
    padding-bottom: 30px;
    margin-bottom: 20px;
    padding:0;

    .submit-button {
      margin-top:10px;
      margin-right:32px;
    }

    .container__title__column {
      width: 3px;
      height: 24px;
      position: relative;
      display: inline-block;
      margin-right: 11px;
      background-color: #db0011;
      top: 1px;
    }

    h3 {
      font-family: "HSBCUnivers" ;
      color: #333;
      font-size: 28px;
      line-height: 26px;
      font-weight:bold;
      margin-bottom:25px;
      display:inline-block;
    }
    .radio_record {
      margin-top:20px;
    }


    .edit-control {
      padding:0;
      position: absolute;
      z-index: 1;
      right: 1px;
      top: 30px;

    }





    @media only screen and (max-width : 420px) {
      .edit-control {
        top:70px;
      }
    }
  }

