.tooltip-elem {
  cursor:pointer;
  font-size: 17px;
  margin-left: -4px;

  .tooltip-elem__content-wrap {
    display:none;
    position: absolute;
    margin-top: -15px;
    margin-left: 20px;
    z-index: 1000;
    padding: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 2px;
    background-color: white;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.6);
  }

  .toolip-body {
    font-family: HSBCUnivers;
    line-height: 1.42857143;
    display: inline-block;
    min-width: 185px;
    font-size: 10px;
  }

  &:hover {
    .tooltip-elem__content-wrap {
      display:inline-block;
    }
  }
}