.upload-row {

  padding-bottom: 20px;
  padding-top: 33px;
  border-bottom:1px solid rgba(165, 165, 165, 0.7);

  .container-download {
    overflow:hidden;
    .file-actions {
      margin-bottom:3px;
      float:right;
    }
  }

  .submit-button {
     float:right;
  }

  .container_block {
    //overflow:auto;
    padding:0 !important;
    padding-top:0 !important;
    padding-right:0 !important;
    padding-left:0 !important;
  }



  .button-open-specimen {
    float:right;
    margin-bottom:10px;
    position:relative;
    z-index:1;
  }

  @media only screen and (max-width : 480px) {
    .description-text {
      font-size:11px;
    }
  }
}