<div class="{{element.classList}} radio-group icon"
        name="{{element.name}}"
        id="{{element.key}}"
        ng-model="element.value[0]"
        ng-required="{{element.required}}"
        ng-class="{'has-error':element.hasError}"
        ng-disabled="element.disabled || element.readOnly || (element.hasError && element.hasStyle('FormReadOnlyOnError'))"
        ng-readonly="element.readOnly">

        <h2 ng-if="element.questionText" ng-bind="element.questionText" class="radio-item__name"></h2>

        <div class="radio-wrap">
                <div ng-repeat="option in element.options track by $index" class="radio-item">
                        <input  class="scroll_event__next" id="{{element.key+$index}}" type="radio" name="{{element.key}}" ng-model="element.value[0]" ng-value="option.value" ng-change="$emit('update',element)">
                        <label  ng-click="$emit('update',element)"  for="{{element.key+$index}}" class="radio-item__label"><span class="radio-item__caption">{{option.displayValue}}</span></label>
                </div>
        </div>
</div>