<div content-style="{{element.contentStyle}}" class="{{element.classList}} container_block" ng-readonly="element.readOnly"   >
    <div class="panel-wrap">
        <div ng-if="element.get('displayName')" class="panel-header">
            <h6 ng-bind="element.get('displayName')"></h6>
        </div>
        <div class="panel-content panel-content--reduced-top-bottom">
            <children></children>
        </div>
    </div>
</div>
