<!-- ko foreach: domain -->
<label class="checkbox">
	<input type="checkbox" data-bind="attr : { value : value, name : $parent.key }, checked: $parent.values">
	<span data-bind="text: displayValue"></span>
</label>
<!-- /ko -->