<div class="input-append">
	<input type="text" data-bind ="value: value, bqTooltip: explainText, disable: readonly,	attr: { id: key }" />
	<span class="add-on">
		<i class="icon-money"></i>
	</span>
</div>