<div data-bind="attr: { 'data-date-format': context.session.language.patterns.date  }, bqDateTimePicker: value" class="input-append date" data-date="">
	<input type="text" data-bind="value: value, bqTooltip: explainText, attr: { placeholder: context.session.language.patterns.date, id: key }" />
    <span class="add-on">
    	<i class="icon-time"></i>
    </span>
</div>