<div class="control-group" data-bind="css: {warning: hasWarning, error: hasError}">
	<label class="control-label" data-bind="attr: { for: key }">
		<span data-bind="text: questionText"></span>
		<span class="required" data-bind="visible: required()">*</span>
	</label>
	<div class="controls">
		<!-- ko template: { name: fieldValueTemplate } --><!-- /ko -->
		<div data-bind="foreach: { data: messages, as: 'message' }">
			<span class="help-inline" data-bind="text: message.text"></span>
		</div>
	</div>
</div>