<div class="control-group readonly">
	<div class="control-label" data-bind="text: questionText"></div>
	<div class="controls">
		<div class="form-control-static">
			<p data-bind="text: displayValue"></p>
		</div>
	</div>
</div>