<div class="control-group" data-bind="css: {warning: hasWarning, error: hasError}">
    <div>
        <!-- ko template: { name: fieldValueTemplate } --><!-- /ko -->
        <div data-bind="foreach: { data: messages, as: 'message' }">
            <span class="help-inline" data-bind="text: message.text"></span>
        </div>
    </div>
</div>