@import "jumbotron";
@import "jumbotron-with-icon";
@import "jumbotron-with-profile-info";
@import "image-with-text";
@import "callout";
@import "styleguide";
@import "back-to";
@import "topnav-logo";
@import "jumbotron-no-button";
@import "topnav-login";

@import "cta-box";
@import "cta-split";
@import "cta-override";

.be-ice-widget {
	.image-container--dropimage {
		display: none;

		div,
		img {
			width: inherit;
			height: inherit;
		}
	}
}

.bd-designMode-true {
	.be-ice-widget {
		.image-container--dropimage {
			width: 160px; // 16:9
			height: 90px;

			display: inline-block;

			position: absolute;
			right: 10px;
			top: 10px;
			box-shadow: 0px 2.5px 5px 2.5px rgba(1, 1, 1, 0.4);

			div,
			img {
				width: inherit;
				height: inherit;
			}
		}
	}
}

.be-ice-widget-rendered {
	--background-image-url: '';
	--background-image-size: '';
	--background-image-attachment: '';
	--background-image-position: '';
	--background-image-position--mobile: '';
	--widget-height: '';
	--widget-height--mobile: '';
	height: var(--widget-height);
	&.background-set {
		&:not(.fullscreen-bg) {
			background-image: var(--background-image-url);
			background-attachment: var(--background-image-attachment);
			background-size: var(--background-image-size);
			background-position: var(--background-image-position);
			background-repeat: no-repeat;

			.bg-image {
				background-attachment: var(--background-image-attachment);
				background-size: var(--background-image-size);
				background-position: var(--background-image-position);
				background-image: var(--background-image-url);
				background-repeat: no-repeat;
			}
		}
	}

	@media (min-width: 10px) and (max-width: $screen-xs - 1) {
		height: var(--widget-height--mobile) !important;
		&.background-set {
			&:not(.fullscreen-bg) {
				background-image: var(--background-image-url);
				background-attachment: var(--background-image-attachment);
				background-size: var(--background-image-size);
				background-position: var(--background-image-position--mobile);
				background-repeat: no-repeat;

				.bg-image {
					background-attachment: var(--background-image-attachment);
					background-size: var(--background-image-size);
					background-position: var(--background-image-position--mobile);
					background-repeat: no-repeat;
					background-image: var(--background-image-url);
				}
			}
		}
	}

}

