.shc-content-template--back {
	cursor: pointer;
	//
	&:hover {
		.bb-icon, a {
			color: $light-blue;
		}
	}
}

.back-to {
	display: inline-block;
	color: $grey-darkest;
	font-weight: $font-weight-medium;

	.bb {
		color: $grey-darkest;
		position: relative;
		top: 1px;
	}

	&:hover {
		text-decoration: none;
	}

}

.contentbar__area-1 .bp-widget {
	clear: none;
}
