.shc-content-template.shc-content-template--callout {
  width: 100%;
  text-align: center;

  h1 {
    font-weight: 300;
    color: $grey-darkest;
  }

  p {
    color: $grey-dark;

    padding: 15px 45px 25px 45px;
  }
}

.container.container-features {
  /* Wrapper around the entire callout */

  margin-top: 50px;
  margin-bottom: 50px;

  text-align: center;

  .callout--feature {
    max-width: 230px;
    display: inline-block;
    width: 100%;
    margin: 0px 30px;

    &:first-child {
        margin-left: 0px;
    }

    &:last-child {
        margin-right: 0px;
    }
  }
}

/* Media queries */
.container.container-features .callout--feature {
    @media(min-width: $screen-sm) and (max-width: $screen-md - 1) {
        /* Small desktop */
        max-width: 200px;
    }

    @media(min-width: $screen-xs) and (max-width: $screen-sm - 1) {
        /* Tablet, smaller icons */
        margin: 0px 5px;
        max-width: 170px;
    }

    @media(min-width: $screen-xs) and (max-width: 550px - 1) {
        /* Even smaller tablet, smaller icons */
        margin: 0;
        max-width: 140px;
    }

    @media(max-width: $screen-xs - 1) {
        /* Mobile, vertical layout */
        display: block;
        margin: 0 auto !important;
    }
}
