.cta-box-container {
    padding: 20px;

    .bp-widget-body {
        min-width: 0px;
    }
}

.shc-content-template.shc-content-template--cta-split .cta-split--wrapper,
.shc-content-template.shc-content-template--cta-box .cta-box--wrapper {
    width: 225px;
    border: 1px solid #E2E9EF;
    border-radius: 6px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);

    a.call-to-action--link {
        color: $light-blue;

        &:after {
            @include bb-icon('','bb-icon--arrow-right');
            position: relative;
            left: 3px;
            font-size: 10px;
        }

        &:hover {
            text-decoration: none;
            color: darken($light-blue, 30%);
        }
    }

    hr {
        border-top: 1px solid rgba(0,59,75,0.2);
    }
}

@media(max-width: $screen-sm - 1) {
    .shc-content-template.shc-content-template--cta-split,
    .shc-content-template.shc-content-template--cta-box {

        .cta-split--wrapper,
        .cta-box--wrapper {
            width: 100%;
        }

        .right {
            bottom: -15px;
        }
    }
}
