.shc-content-template.shc-content-template--cta-box {
    min-height: 100px;

    .cta-box--wrapper {
        padding: 20px 20px 15px 20px;

        margin: 20px auto;

        h5 {
            font-weight: $font-weight-normal;
            color: $blue-dark;

            margin-top: 0px;
            margin-bottom: 0px;
        }

        h3 {
            color: $blue-dark;

            margin-top: 0px;
            margin-bottom: 0px;
        }

        hr {
            margin-bottom: 10px;
            margin-top: 10px;
        }
    }
}
