.shc-content-template.shc-content-template--cta-split {
    min-height: 100px;

    .cta-split--wrapper {
        padding: 20px 20px 15px 20px;

        margin: 20px auto;

        h4 {
            font-weight: $font-weight-normal;
            color: $blue-dark;

            margin-top: 0px;
            margin-bottom: 0px;
        }

        h1 {
            font-weight: $font-weight-normal;
            color: $blue-dark;

            margin-top: 0px;
            margin-bottom: 0px;
        }

        hr {
            margin-bottom: 10px;
            margin-top: 20px;
        }

        .left {
            float: left;
            text-align: left;
        }

        .right {
            float: right;
            text-align: right;

            bottom: -10px;
            height: 100%;
            position: relative;
        }

        .wrapper--row {
            width: 100%;
            height: 61px;
            display: inline-block;
        }

        .vertical-r {
            border-right: 1px solid #ccc;
            left: 50%;
            height: 80px;
            float: left;
            position: absolute;
            transform: rotate(15deg);
            margin-top: -5px;
        }
    }
}

@media(min-width: $screen-sm) and (max-width: $screen-lg - 1) {
    .cta-box-container .bp-widget {
        float: left;
        clear: none;
        margin: 20px 10px;

        .bp-widget-body {
            min-width: 0;
        }
    }
}
