.shc-content-template.shc-content-template--image-with-text {
  width: 100%;
  padding: 10px 20px;


  .content-template--image-container {
    text-align: center;

    img {
      margin: 0 auto;
      width: 230px;
      max-width: 100%;
    }
  }

  .content-template--text-container {
    text-align: center;
  }

  h6 {
      margin-top: 25px;
    /* Hack so the features align correctly vertically */
    height: 25px;
  }
}

.container.container-features {

  .bp-widget-body {
    min-width: 0;
  }
}
