.shc-content-template.shc-content-template__jumbotron-with-profile-info {
  width: 100%;

  .jumbotron-with-profile-info__content {
    max-width: 400px;
    padding: 0px 20px 0px 30px;
  }

  h1 {
    color: $grey-darkest;
    font-weight: 500;
  }

  h6 {
    color: $grey-darkest;
    font-weight: 300;
  }

}

.theme--text-white .jumbotron-with-profile-info__content {
    h1, h6 {
        color: $white;
    }

    .btn {
        //@include button-colors-white();
        //@include button-colors('white');
    }
}

.theme--button-blue .jumbotron-with-profile-info__content {
    .btn {
        //@include button-colors-blue();
        @include button-colors('blue');
    }
}
