.shc-content-template.shc-content-template--jumbotron-no-button {

  .jumbotron__content-container {
    max-width: 500px;
    transform: translateY(60%);

    padding: 0px 20px 20px 20px;

    text-align: left;
    margin-left: 8.3333%; // Width of 1 column

    h1 {
      color: #fff;
      font-size: 60px;
      line-height: 60px;
      font-weight: 300;
    }
  }
}

/* On small screens */
@media(max-width: $screen-sm) {
  .shc-content-template.shc-content-template--jumbotron-no-button {
    .jumbotron__content-container {
      text-align: center;
      margin: 0 auto;



      h1 {
        color: #fff;
        font-size: 32px;
        line-height: 40px;
        font-weight: 300;
      }
    }
  }
}