.shc-content-template.shc-content-template__jumbotron-with-icon {
	width: 100%;
	min-height: 200px;

	.image-container img {
		width: 100%;
	}

	.jumbotron-with-icon__overlay {
		position: absolute;
		width: 50%;
		height: 100%;
		top: 0;
		left: 0;

		background-color: transparentize(#181818, 0.2);

		.jumbotron-with-icon__content-container {
			max-width: 450px;
			padding: 20px;
			margin-left: 16.6666%; // Margin left 1 col, cause div is 50% of total width not 8.3333%
			text-align: left;
			margin-top: 125px;

			.jumbotron-with-icon__body {
				padding-bottom:13px;
			}

			h1 {
				color: #fff;
				font-weight: 300;
				font-size: 38px;
				line-height: 46px;
			}

			@media(max-width: $screen-xs - 1) {
				max-width: 270px;

				h1 {
					font-size: 32px;
					line-height: 40px;
				}
			}

		}
	}

	.jumbotron-with-icon__icon img {
		width: 65px;
	}
}

/* Make jumbotron overlay 100% width on mobile and smaller */
@media (max-width: $screen-sm - 1) {
	.shc-content-template.shc-content-template__jumbotron-with-icon {
		.jumbotron-with-icon__overlay {
			width: 100%;
		}
	}
}
