
/* selector starts with widget shc content */
.widget-shc-content--customclass-jumbotron {
    .be-ice-widget {
        height: 100%;

        .bp-g-include {
            height: 100%;
        }
    }
}

.shc-content-template.shc-content-template--jumbotron {
    width: 100%;
    height: 100%;
    max-height: 100%;

    transition: max-height 0.4s ease-out;

    .jumbotron__content-container {
        height: auto;
        position: relative;
        margin-left: 8.3333%; // Width of 1 column
        padding: 20px;

        top: 50%;
        transform: translateY(-50%);

        h1 {
            margin-top: 0px;
            font-weight: 300;
        }

        h3 {
            margin-top: 10px;
        }

        .btn {
            margin-top: 20px;
        }
    }
}


/* Themes, set colours of the text, default blue */
.jumbotron__content-container {
    h1, h3 {
        color: $grey-darkest;
    }

    .btn {
        //@include button-colors-blue();
        @include button-colors('blue');
    }
}

.theme--text-white .jumbotron__content-container {
    h1, h3 {
        color: $white;
    }
}


.shc-content-template.shc-content-template--jumbotron {
    .jumbotron__content-container {
        /* Media queries for different font sizes */
        /* Mobile */
        @media(max-width: $screen-xs) {
            max-width: 240px;
            margin-top: -85px;

            h1 {
                font-size: 32px;
                line-height: 40px;
            }

            h3 {
                font-size: 18px;
                line-height: 25px;
            }

            .btn {
                margin-top: 10px;
            }
        }

        /* Only tablet */
        @media(min-width: $screen-xs) and (max-width: $screen-sm) {
            max-width: 290px;

            h1 {
                font-size: 40px;
                line-height: 48px;
            }

            h3 {
                font-size: 22px;
                line-height: 28px;
            }
        }

        /* Bigger than tablet */
        @media(min-width: $screen-sm) {
            max-width: 370px;

            h1 {
                font-size: 50px;
                line-height: 58px;
            }

            h3 {
                font-size: 24px;
                line-height: 30px;
            }
        }
    }
}


/* Stuff added for onboarding */

.widget-shc-content--customclass-jumbotron.onboarding-focussed {
    height: 100%;
    max-height: 100vh;
}

