.shc-content-template--styleguide {
  margin-top: 100px;


  .items-block {
    background-color: #fff;
    padding: 20px;

    &.bg-black {
      background-color: #111;
    }
  }

  .text-white {
    color: #fff;
  }
}