.shc-content-template.shc-content-template--topnav-login {
  padding: 20px 30px;

  .logo-image {
    float: left;

    img {
      min-height: 12px;
    }
  }

  .back-to {
    float: right;
    color: $white;
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    display: block;

    a {
      color: $white;
    }

    &:before {
      font-family: "FontAwesome";
      content: "\f104";
      font-size: 20px;
      line-height: 20px;

      position: relative;
      top: 2px;
      right: 2px;
    }
  }
}
