<div data-bind="attr: { id: key, class: 'authenticated-user '+presentationStyles().joined }">
	<img data-bind="attr: {src: bqApp.configuration.resourceUri + bqApp.configuration.blueriqPath + 'app/img/avatar.png'}" class="authenticated-user-icon"> 
	<!-- ko foreach: nodes -->
		<span data-bind="template: { name: $parent.context.templateFactory.getTextItemNodeTemplate() }"></span>
	<!-- /ko -->	
</div>