<div>
	<h2 data-bind="visible: displayName, text: displayName"></h2>
	
	<div class="bq-fileupload" data-bind="bqFileUpload: files, 
														  url: url,
														  allowedExtensions: allowedExtensions,
														  maxFileSize: maxFileSize,
														  singleFileMode: singleFileMode,
														  fileSizeDescription: fileSizeDescription,												
														  extensionDescription: extensionDescription,
														  fileSizeValidationMessage: fileSizeValidationMessage,												
														  extensionValidationMessage: extensionValidationMessage,
														  singleUploadLabel: singleUploadLabel,
														  multiUploadLabel: multiUploadLabel,
														  uploadStartHandler: uploadStartHandler,
														  uploadDoneHandler: uploadDoneHandler,
														  progressPercentageHandler: progressPercentageHandler">
		<div class="dropzone">
			<span class="btn fileinput-button">
				<i class="button-icon icon-plus"></i>
				<span class="fileUploadLabel"></span>
				<input class="fileUploadInput" type="file"></input>
			</span>
		</div>
		<p class="muted">
			<small class="fileUploadDescription"></small>
		</p>
		<!-- ko if: uploadProgress() -->
		<div class="progress progress-striped active" style="margin-bottom: 0;">
			<div class="bar" data-bind="style: { width: uploadProgress }"></div>
		</div>
		<!-- /ko -->
		
		<!-- ko if: invalidFiles().length > 0 -->
		<table class="table table-striped">
			<caption class="text-error fileupload-table-caption"><span data-bind="text: uploadFailedMessage"></span></caption>
		    <tbody data-bind="foreach : invalidFiles">
		    <!-- ko foreach: invalidFiles -->
		    <tr>
		   	 	<td><i class="icon-file"></i></td>
	   			<td class="fileInfo"><span data-bind="text: name"></span> (<span data-bind="text: size"></span>)</td>
	    		<td class="fileError"><span data-bind="text: errorMessage" class="text-error"></span></td>
		    </tr>
		    <!-- /ko -->
		    </tbody>
		</table>
		<!-- /ko -->
		
	    <div data-bind="if: serverErrorMessagesContainer">
	    	<div data-bind="template: { name: template, data: serverErrorMessagesContainer }"></div>
	    </div>
	</div>
</div>