<div class="logout-link" data-bind="attr: { class: 'logout-link '+presentationStyles().joined  }">
	<a class="logout-link-a" data-bind="text: plainText, attr: { href: $data.context.configuration.baseUri + $data.context.subscriptionId + '/api/authentication/logout' }"></a>
</div>