<div data-bind="attr: { class: 'btn-toolbar menubar ' + presentationStyles().joined }, foreach: children">
	<!-- ko if: type == 'button' -->
		<div class="btn-group" style="margin-left: 0px;">
			<button 
			   	type="button" 
			   	class="btn"
			   	data-bind=" click: handleClick, 
			   				disable: disabled, 
			   				text: caption,	    			
			   				css: { 'btn-primary highlighted': presentationStyles().highlighted }">
			</button>	
		</div>
	<!-- /ko -->
	<!-- ko if: type == 'container' -->
		<div class="btn-group" style="margin-left: 0px;">
			<button type="button" class="btn btn-default dropdown-toggle"
				data-toggle="dropdown" data-bind="css: {'btn-primary highlighted': presentationStyles().highlighted}">
				<span data-bind="text: displayName"></span>&nbsp;
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" data-bind="foreach: $data.children">
				<li style="text-align: center;">
					<a href="#" data-bind="text: caption, click: handleClick"></a>
				</li>
			</ul>
		</div>
	<!-- /ko -->
</div>