<h2 data-bind="visible: displayName, text: displayName"></h2>
<ul class="nav nav-tabs" data-bind="foreach: tabLabels">
	<li data-bind="css: { active: $index() === 0 }">
		<a data-toggle="tab" data-bind="attr: { href: '#tab_' + containerKey }, text: displayName"></a>
	</li>
</ul>
<div class="tab-content" data-bind="foreach: children">
	<div class="tab-pane" data-bind="attr: { id: 'tab_' + key }, css: { active: $index() === 0 }">
		<!-- ko template: { name : template} --><!-- /ko -->
	</div>
</div>