<div class="table banking-navigation">

    {{#links}}
    {{#isDivider}}
    <div class="table-row">
        <div class="table-cell banking-navigation__divider"><hr class="divider_hr"/></div>
        <div class="table-cell banking-navigation__divider"><hr class="divider_hr"/></div>
    </div>
    {{/isDivider}}
    {{^isDivider}}
    <a class="table-row banking-navigation__link {{pref.menuAccessibilityTitle}}"
       data-uuid="{{getUuid}}"
       data-title="{{title}}">
        <div class="table-cell banking-navigation__icon"></div>
        <div class="table-cell banking-navigation__title">{{title}}</div>
    </a>
    {{/isDivider}}
    {{/links}}

</div>
