<div class="input-group" data-bind="bqTooltip: explainText">
	<!-- ko if: presentationStyles().currency_eur -->
	<span class="input-group-addon" ><i class="fa fa-fw">&#128;</i></span>
	<!-- /ko -->
	<!-- ko if: presentationStyles().currency_usd -->
	<span class="input-group-addon" ><i class="fa fa-fw">$</i></span>
	<!-- /ko -->
	<input class="form-control" type="text" data-bind ="value: value, bqCurrency" />
</div>
