<div class='input-group date' data-bind="attr: { 'data-date-format': context.session.language.patterns.date  }, bqDatePicker: value, bqTooltip: explainText">
	<input type='text' class="form-control" data-bind="value: value, attr: { placeholder: context.session.language.patterns.displaydate }"/>
	<span class="input-group-addon">
		<span class="fa fa-fw fa-calendar"></span>
	</span>
</div>
