<div class="input-group" data-bind="bqTooltip: explainText">
	<input class="form-control" type="text" data-bind ="value: value" />
	<span class="input-group-addon">
		<span class="fa fa-fw">&#37;</span>
	</span>
</div>