<!-- ko foreach: domain -->
<div class="radio">
	<label>
		<input type="radio" data-bind="attr : { value : value, name : $parent.key }, checked: $parent.value">
		<span data-bind="text: displayValue"></span>
	</label>
</div>
<!-- /ko -->