<div class="form-group">
	<label class="control-label"><span data-bind="text: questionText"></span></label>
	<div class="form-control-static">
		<span data-bind="text: displayValue"></span>
	</div>
</div>