<div class="form-group readonly">
	<label class="control-label col-xs-12 col-sm-4" data-bind="text: questionText"></label>
	<div class="form-control-static col-xs-12 col-sm-8" data-bind="text: displayValue"></div>
</div>