.ext-bb-initiate-payment-ng textarea {
  resize: none;
}

.ext-bb-initiate-payment-ng .occurence-field {
  display: inline;
}

.ext-bb-initiate-payment-ng .amount-block {
  float: none;
  display: table;
}

.ext-bb-initiate-payment-ng .cross-currency-info > span {
  display: inline-block;
}
