<div class="alert alert-error">
	<button type="button" class="close"><i data-bind="bqStackTrace : 'stacktrace' + key" class="icon-chevron-right"></i></button>
	<span data-bind="text: message"></span>              
</div>
<pre class="stacktrace" data-bind="attr : { id: 'stacktrace' + key }, text: stackTrace"></pre>