<!-- ko initBootcards: true-->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- menu button to show/ hide the off canvas menu -->

        <!-- ko if: menubar -->
        <button type="button" class="btn btn-default btn-menu navbar-left pull-left" data-toggle="offcanvas">
            <i class="fa fa-lg fa-bars"></i><span>Menu</span>
        </button>
        <!-- /ko -->
        <!-- ko if: backButton -->
        <!-- ko with: backButton-->
        <button type="button" class="btn btn-default btn-menu navbar-left pull-left" data-bind="click: handleClick">
            <i class="fa fa-lg fa-chevron-left"></i>
        </button>
        <!-- /ko -->
        <!-- /ko -->

        <p class="navbar-brand text-center" data-bind="text: displayName"></p>

        <!--navbar menu options: shown on desktop only -->

        <!-- ko if: menubar -->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <!-- ko with: menubar -->
                    <!-- ko foreach: children -->
                    <!-- ko if: type === 'button' -->
                    <li>
                        <a href="#" data-bind="text: caption, click: handleClick"></a>
                    </li>
                    <!-- /ko -->

                    <!-- ko if: type === 'container' -->
                    <li class="dropdown">
                        <a data-bind="attr:{id: 'submenu-'+key }" class="bootcards-parent collapsed" data-toggle="collapse" data-parent=".collapse">
                            <i class="fa fa-fw fa-chevron-circle-right"></i><!-- ko text: displayName --><!-- /ko -->
                        </a>
                        <div  data-bind="attr:{id: 'submenu-'+key }" class="collapse in" >
                            <ul class="nav navmenu-nav" data-bind="foreach: children">
                                <li>
                                    <a href="#" data-bind="click: handleClick">
                                        <!-- ko if: presentationStyles().icon -->
                                        <i data-bind="attr: { class: 'fw' + presentationStyles().icon }"></i>
                                        <!-- /ko -->
                                        <!-- ko text: --><!-- /ko --> <span data-bind="text: caption"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- /ko -->
                    <!-- /ko -->
                <!-- /ko -->
            </ul>
        </div>
        <!-- /ko -->
    </div>
</div>

<!-- slide in off canvas menu (mobile only) -->
<nav class="navmenu offcanvas offcanvas-left">

    <ul class="nav">
        <!-- ko with: userMenu -->
        <div class="usernav" data-bind="foreach: children">
	        <!-- ko template: {name: template}--><!-- /ko -->
        </div>
        <!-- /ko -->
        <!-- ko with: menubar -->
        <!-- ko foreach: children -->

        <!-- ko if: type === 'button' -->
        <li>
            <a href="#" data-bind="click: handleClick">
                <!-- ko if: presentationStyles().icon -->
                <span><i data-bind="attr: { class: 'fw ' + presentationStyles().icon }"></i></span>
                <!-- /ko -->
                <span data-bind="text: caption"></span>
            </a>
        </li>
        <!-- /ko -->

        <!-- ko if: type == 'container' -->
        <li class="dropdown">
            <a data-bind="attr:{ href: '#submenu-mobile-'+key }" class="bootcards-parent collapsed" data-toggle="collapse" data-parent=".collapse">
                <i class="fa fa-fw fa-chevron-circle-right"></i> <!-- ko text: displayName --><!-- /ko -->
            </a>
            <div class="collapse in" data-bind="attr:{id: 'submenu-mobile-'+key }">
                <ul class="nav navmenu-nav" data-bind="foreach: children">
                    <li>
                        <a href="#" data-bind="click: handleClick">
                            <!-- ko if: presentationStyles().icon -->
                            <i data-bind="attr: { class: 'fw ' + presentationStyles().icon }"></i>
                            <!-- /ko -->
                            <!-- ko text: --><!-- /ko --> <span data-bind="text: caption"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <!-- /ko-->
        <!-- /ko -->
        <!-- /ko -->
    </ul>

</nav>
<!--nav-->

<!-- /menu -->

<div class="container bootcards-container" >
	<!-- Offline BTN -->
	<!-- ko if: isMobile && isOffline -->
	<div class="input-group offline-button-container">
        <span data-bind="text: offlinenotification"></span>
        <button type="button" class="btn" data-bind="text: offlinebutton, event: { touchend: goOffline }"></button>
	</div>
	<!-- /ko -->
	<!-- /Offline BTN -->

    <div class="row" data-bind="with: body, css:{ padding: isFooterActive() }">
        <div class="col-sm-12 bootcards-cards" data-bind="foreach: children">
            <!-- ko template: { name: template } --><!-- /ko -->
        </div>
    </div>
</div>


<!-- ko with: mobilefooter() -->
    <div class="navbar navbar-default navbar-fixed-bottom" data-bind="visible: visible">

        <!-- ko if: children -->
        <div class="btn-group btn-group-justified" role="group" data-bind="foreach: children">
            <!-- ko if: type == 'button' -->
            <div class="btn-group">
                <button type="button" class="btn" data-bind="click: handleClick, disable: disabled, text: caption"></button>
            </div>
            <!-- /ko -->
        </div>
        <!-- /ko -->

    </div>
<!-- /ko -->


<!-- /ko --> <!-- end virtual binding for bootcards -->
