<div class="bq-limit-reached" data-bind="if: hasLimit">
	<span data-bind="text: limitMessage"></span>
	<button type="button" class="btn-link" data-bind="text: showAll, click: handleShowAll"></button>
</div>
