<div class="{{element.classList}} + radio-group" ng-class="{'collapse-panel': collapse}"
     name="{{element.name}}"
     id="{{element.key}}"
     ng-class="{'has-error':element.hasError}"
     ng-readonly="element.readOnly"
     scenario-selector>
     <children></children>
</div>
