<div video-bg class="{{element.classList}} container_block" ng-readonly="element.readOnly"   >
    <div class="fullscreen-bg">
        <video ng-if="videoID === 'video_leafs'" class="fullscreen-bg__video" autoplay="" loop="" preload="" playsinline="" poster="" class="video landscape desktop">
            <source src="/portalserver/content/atom/85f5285d-6fac-4aea-9159-fc8638a9fc2d/content?id=1869d2e0-56ba-49c7-881c-7a7da0a22ebb" type="video/mp4">
        </video>

        <video ng-if="videoID === 'video_bike'" class="fullscreen-bg__video" autoplay="" loop="" preload="" playsinline="" poster="" class="video landscape desktop">
            <!--<source src="https://flixels.s3.amazonaws.com/flixel/hn8fm9xlsgbz3kc76j8k.hd.mp4" type="video/mp4"> -->
            <source src="/portalserver/content/atom/85f5285d-6fac-4aea-9159-fc8638a9fc2d/content?id=77b9b4c4-52f1-4710-942b-37e1ae054006" type="video/mp4">
        </video>
        <video ng-if="videoID !== 'video_leafs' && videoID !== 'video_bike'" class="fullscreen-bg__video" autoplay="" loop="" preload="" playsinline="" poster="" class="video landscape desktop">
            <source src="/portalserver/content/atom/85f5285d-6fac-4aea-9159-fc8638a9fc2d/content?id=c4504073-cbae-479d-b910-ea8c95306352" type="video/mp4">
        </video>
        <div class="obscuring-layer"></div>
    </div>

</div>
