<div googlemap-location class="text-item text-item--location text-item__text-wrap {{(element.classList +' '+ element.contentStyle )}}">
	<div class="google_map"></div>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-UJ9QyI_i0xr8bYec7G-rhpgyh79EgLk"></script>
</div>
