.bd-designMode-true {

  .widget-shc-banking-panels-template {

    background: lightyellow;

    .deck-controls {
      display: none;
    }

    .bp-container {
      padding: 0 !important;
      margin: 0 !important;
    }

    .bp-area {
      min-height: 480px;
    }

    .panel-cell {
      .deck-controls {
          display:inherit;
      }
    }

  }

  .widget-shc-banking-panels-template--area {
    padding: 0 !important;
  }

}
