.banking-navigation {
}

@mixin banking-navigation__link--selected {
    background-color: rgba(255, 255, 255, 0.13);
    .banking-navigation__icon {
        border-left: 4px solid $blue-light;
    }
    .banking-navigation__title {
        text-decoration: none !important;
    }
    .banking-navigation__title {
        color: $grey-lightest;
    }
    &:hover {
        text-decoration: none !important;
    }
}

.banking-navigation__divider {
    .divider_hr {
        margin: 12px 0;
        opacity: 0.3;
    }
}

.banking-navigation__link {
    height: 50px;
    cursor: pointer;
    background-color: $sidebar-background-color;
    &:hover {
        @include banking-navigation__link--selected;
    }
}

.banking-navigation__title {
    color: $grey-blue;
}

.banking-navigation__icon {
    width: 17px;
    height: 17px;
    padding: 0 17px 0 49px;
    background-size: 17px 17px;
    background-position: center center;
    background-repeat: no-repeat;
    border-left: 4px solid $sidebar-background-color;
}

.banking-navigation__link--selected {
    @include banking-navigation__link--selected;
}

.my-products {
    .banking-navigation__icon {
        background-image: url(../assets/icons/my-products/my-products.svg);
    }
}

.payments {
    .banking-navigation__icon {
        background-image: url(../assets/icons/my-products/payments.svg);
    }
}

.insights {
    .banking-navigation__icon {
        background-image: url(../assets/icons/my-products/insights.svg);
    }
}

.messages {
    .banking-navigation__icon {
        background-image: url(../assets/icons/my-products/messages.svg);
    }
}

.contacts {
    .banking-navigation__icon {
        background-image: url(../assets/icons/my-products/contacts.svg);
    }
}

.settings {
    .banking-navigation__icon {
        background-image: url(../assets/icons/my-products/settings.svg);
    }
}

.products {
    .banking-navigation__icon {
        background-image: url(../assets/icons/my-products/products.svg);
    }
}

.tools {
    .banking-navigation__icon {
        background-image: url(../assets/icons/my-products/tools.svg);
    }
}

.information-center {
    .banking-navigation__icon {
        background-image: url(../assets/icons/my-products/information-center.svg);
    }
}

.card {
    .banking-navigation__icon {
        background-image: url(../assets/icons/my-products/card.svg);
    }
}

.actions {
    .banking-navigation__icon {
        background-image: url(../assets/icons/my-products/actions.svg);
    }
}

// 1024px
@media (max-width: $screen-md - 1) {
    .banking-navigation__title {
        display: none
    }

    .banking-navigation__link {
        height: 70px;
    }

    .banking-navigation__icon {
        width: 100%;
        height: 27px;
    }

    .my-products {
        .banking-navigation__icon {
            background-size: 27px 21px;
        }
    }

    .payments {
        .banking-navigation__icon {
            background-size: 20.33px 14.3px;
        }
    }

    .insights {
        .banking-navigation__icon {
            background-size: 20.9px 20.89px;
        }
    }

    .messages {
        .banking-navigation__icon {
            background-size: 20.9px 13.2px;
        }
    }

    .contacts {
        .banking-navigation__icon {
            background-size: 18.7px 20.89px;
        }
    }

    .settings {
        .banking-navigation__icon {
            background-size: 21.35px 21.34px;
        }
    }

    .products {
        .banking-navigation__icon {
            background-size: 13.75px 13.75px;
        }
    }

    .tools {
        .banking-navigation__icon {
            background-size: 21.45px 17.68px;
        }
    }

    .information-center {
        .banking-navigation__icon {
            background-size: 16.18px 21.35px;
        }
    }

    .card {
        .banking-navigation__icon {
            background-size: 16.18px 21.35px;
        }
    }
}

// 768px
.sidebar--mobile-menu {
    .banking-navigation__link {
        height: 50px;
    }

    .banking-navigation__title {
        display: table-cell;
    }

    .banking-navigation__icon {
        width: 17px;
        height: 17px;
    }
}
