.company-information {
}

.company-information__logo {
    width: 250px;
    height: 20px;
}

.company-information__locations {
    margin: 18px 0;
}

.company-information__location {
    display: inline-block;
    font-size: $font-size-p;
    color: $font-color-light;
    padding: 0 6px;
    border-right: 1px solid $gray85;
    &:first-of-type {
        padding-left: 0;
    }
    &:last-of-type {
        border-right: none;
    }
}

.company-information__divider {
    display: block;
    height: 1px;
    background: $gray;
    width: 276px;
}

.company-information__social {
    margin: 21px 0;
}

.company-information__social-icon {
    display: inline-block;
    background-color: $gray95;
    color: $font-color-light;
    padding: 3px;
    width: 28px;
    height: 28px;
    text-align: center;
    vertical-align: middle;
    margin-right: 6px;
}

@media (max-width: $screen-sm - 1) {
    .company-information {
        margin-bottom: 12px;
    }

    .company-information__divider {
        display: none;
    }

    .company-information__social {
        display: none;
    }
}
