// BEFORE_MOBILE MQ
@media (min-width: $screen-sm) and (max-width: $screen-md - 1) {
	.ext-shc-avatar-ng {
		&:before {
			visibility: visible !important;
			width: 100% !important;
		}
		.ext-shc-avatar__info__label--name {
			display: none !important;
		}

	}

	.ext-shc-avatar__info {
		.profile-img {
			width: 75px !important;
			height: 75px !important;
		}

		.ext-shc-avatar__info__label--link {
			font-size: 12px;
		}
	}

}

// MOBILE MQ
@media (min-width: 10px) and (max-width: $screen-sm - 1) {

	.ext-shc-avatar__info {
		.profile-img {
			width: 85px !important;
			height: 85px !important;
		}
	}
	.ext-shc-avatar-ng {
		&:before {
			visibility: visible !important;
		}
		.ext-shc-avatar__info__label {
			display: inline-block;
			text-align: left;
		}

		.ext-shc-avatar__info {
			.profile-img {
				margin-left: 20px;
				vertical-align: middle;
				margin-right: inherit;
				display: inline-block;
				margin-bottom: 0;
			}

			.btn--logout {
				float: right;
				margin-top: 24px;
				margin-right: 20px;
				display: inline-block;
			}
		}

		.ext-shc-avatar__info__label-group {
			padding-left: 17px;
			position: relative;
			display: inline-block;
			width: calc(100% - 250px);
			vertical-align: middle;

		}
	}
}

.bp-widget {
	&[data-pid*='widget-shc-avatar-ng-'] {
		.bp-widget-body {
			min-width: inherit;
		}
	}
}

.ext-shc-avatar-ng {
	&:before {
		content: ' ';
		width: calc(100% - 41px);
		border-top: 1px solid rgba(255, 255, 255, 0.1);
		position: relative;
		display: inline-block;
		left: 50%;
		transform: translateX(-50%);
		padding-bottom: 13px;
		visibility: hidden;
	}

	padding-top: 0;
	padding-bottom: 27px;
}

.ext-shc-avatar__info__label-group {
	.ext-shc-avatar__info__label {
		display: block;
	}
}

.ext-shc-avatar__info__label {
	position: relative;
	display: block;
	text-align: center;
	color: white;
	font-weight: 500;
	font-size: 13px;
}

.ext-shc-avatar__info__label--link {
	color: $blue-light;
	font-weight: 400;
}

.ext-shc-avatar__info {
	display: block;
	margin-left: auto;
	margin-right: auto;

	.btn--logout {
		display: none;
	}

	&.info-loaded {
		.profile-img {
			.profile-img__source {
				transition-delay: .2s;
				opacity: 1;
				transform: scale(1);
			}
		}
	}

	.profile-img {
		width: 85px;
		height: 85px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 16px;
		display: block;
		border: 2px solid transparentize($blue-mid, 0.5);
		border-radius: 50%;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		overflow: hidden;

		.profile-img__source {
			position: relative;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			display: inline-block;
			transform: scale(1.1);
			opacity: 0;
			-webkit-transition: transform 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950), opacity 250ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
			-moz-transition: transform 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950), opacity 250ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
			-o-transition: transform 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950), opacity 250ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
			transition: transform 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950), opacity 250ms cubic-bezier(0.445, 0.050, 0.550, 0.950); /* easeInOutSine */
		}
	}

}
