// mobile first
// two areas are vertically arranged by default

.template-shc-footer-container {
    background-color: #EEEEEE;
    padding: 50px 5px 0 5px;

    .area-1 {
        display: block;
        vertical-align: top;
    }

    .area-2 {
        display: block;
        vertical-align: top;
    }
}

@media(min-width: $screen-xs) {
    .template-shc-footer-container {
    }
}

// on tablet and above
// the two areas are side by side

@media(min-width: $screen-sm) {
    .template-shc-footer-container {
        .area-1 {
            display: table-cell;
        }

        .area-2 {
            display: table-cell;
            width: 100%;
        }
    }
}

@media(min-width: $screen-md) {
    .template-shc-footer-container {
     }
}

@media(min-width: $screen-lg) {
    .template-shc-footer-container {
    }
}
