$footer-navigation--hightlight-color: $blue-light;

.footer-navigation {
    min-height: inherit;
    padding-bottom: 36px;
    margin-top: -3px;
}

.footer-navigation__group {
    display: table-cell;
    vertical-align: top;
    text-align: left;
    padding-right: 30px;
    min-width: 159px;
}

.footer-navigation__title {
    font-weight: bold;
    color: $font-color !important;
    text-decoration: none !important;
    font-size: $font-size-h6;

    &:active, &:hover {
        color:$footer-navigation--hightlight-color !important;
    }
}

.footer-navigation__children {
    margin-top: 6px;
}

.footer-navigation__link {
    color: $font-color-light;
    font-size: 12px;
    line-height: 24px;
    &:hover {
        color: $footer-navigation--hightlight-color;
        text-decoration: none;
    }
}

@media (max-width: $screen-md - 1) {
    .footer-navigation {
        margin-top: -18px;
    }

    .footer-navigation__title {
        border-bottom: 1px solid $gray;
        width: 100%;
        display: block;
        padding: 9px 0;
        margin: 6px 0 3px 0;
        &:after {
            top: 5px;
            position: relative;
            @include bb-icon('black','bb-icon--arrow-down');
            transition: transform 200ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
            transform: rotate(180deg);
            float: right;
        }
    }

    .footer-navigation__title-expanded {
        color: $footer-navigation--hightlight-color !important;
        &:after {
            @include bb-icon($footer-navigation--hightlight-color,'bb-icon--arrow-down');
            transform: rotate(0deg);
            float: right;
        }
    }

    .footer-navigation__group {
        display: block;
        border-right: none;
    }

    .footer-navigation__children {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: all 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    }

    .footer-navigation__children-expanded {
        max-height: 1000px;
        opacity: 1;
        overflow: visible;
    }

    .footer-navigation__link {
        display: block;
        line-height: 36px;
    }
}

@media (max-width: $screen-sm - 1) {
    .footer-navigation {
        margin-top: 30px;
    }
}

@media  (max-width: $screen-md - 1) {
    .footer-navigation__group {
        padding-right:0 ;
    }
}
