.ext-bb-messages-ng {

    // Heading
    .nav-tabs {
        .nav-link {
            padding: 10px 15px !important;
            margin: 0 !important;

            &:hover {
                color: $colour--tabs-container-active;
            }
        }
        li {
            &.active {
                .nav-link {
                    color: $colour--tabs-container-active;
                    border-bottom-color: $colour--tabs-container-active;
                    border-bottom-width: 2px;

                }
            }
        }
    }
    uib-tab-heading {
        span {
            color: inherit;
        }
    }

    // Messages List
    ui-bb-conversation-list-ng {
        .list-group {
            input[type="checkbox"] {
                height: 1em; // same as other text
            }
            .conversation {
                padding: 14px 15px 14px 5px;

                &:not(.unread) {
                    &:not(.active) {
                        background-color: transparent;
                    }
                }

                .conversation-info {
                    & > .sender {
                        @include shc-ellipsify();
                        width: 25%;
                        float: left;
                    }
                    & > .subject {
                        @include shc-ellipsify();
                        width: 70%;
                        position: absolute;
                        left: 30%;
                    }
                }
            }
        }
        .unread {
            font-weight: 500;
            &:not(.active) {
                background-color: $grey-lightest;
                box-shadow: inset 6px -1px 0px -1px $colour--products-savings;
            }
        }
    }

    button[data-i18n-key="label.compose"] {
        position: absolute;
        top: -12px;
        right: 0;
    }
    .category {
        @include shc-ellipsify();

        .label {
            color: inherit;
            background: none;
            border: none;
            font-size: inherit;
            font-weight: inherit;
            padding: 0;
        }
    }
    .btn-primary {
        @include make-btn-default();
        @include button-colors('blue');
    }
    nav {
        .btn {
            @include button-colors('blue', true);
        }
    }
    .nav-tabs {
        margin-bottom: 2em;
    }
    .date {
        color: $gray-dark;
        text-align: right;
    }

    // Compose new message
    .form-inline {
        display: flex;
        flex-flow: row;
        margin-right: -20px;

        & > .form-group {
            width: 50%;
            margin-right: 20px;

            label {
                display: block;
            }
            .form-control {
                width: 100%;
            }
        }

        @media screen and (max-width: $screen-xs-max) {
            display: block;
            margin-right: 0;
            & > .form-group {
                width: 100%;
                margin-right: 0;
            }
        }
    }

    ui-bb-draft-edit-ng {
        .panel-body {
            padding: $panel-body-padding * 2;

            > button {
                display: none;
            }
            > h3 {
                display: none;
            }
        }
        form[name="newMessageForm"] {
            .btn-group {
                button {
                    width: $button-height-medium;
                    margin-right: 14px;
                    padding: 0;
                    border-radius: 100% !important;
                    border-color: #ccc;
                    font-size: 1.6em;
                    &:not(:last-child) {
                        @include button-colors('blue', true);
                    }
                    &:last-child {
                        @include button-colors('orange', true);
                    }
                    /* Tablet screen */
                    @media(max-width: $screen-md) and (min-width: $screen-sm) {
                        width: $button-height-large;
                    }
                }
            }
        }

        @media screen and (max-width: $screen-xs-max) {
            .panel {
                box-shadow: none;

                .panel-body {
                    padding: 0;
                    > button {
                        margin-top: 6px;
                    }
                }
            }
        }
    }
    ui-bb-conversation-view-ng {
        .conversation-info {
            padding: 0;
            width: 90%;

            .list-group-item-heading {
                @include shc-make-h4();
            }
        }
        .category {
            padding: 0;
            width: 90%;
        }
        .date.text-right {
            position: absolute;
            right: 0;
            top: 1em;
        }
        .panel-footer {
            .btn-default {
                width: $button-height-medium;
                padding: 0;
                font-size: 1.6em;

                /* Tablet screen */
                @media(max-width: $screen-md) and (min-width: $screen-sm) {
                    width: $button-height-large;
                }
            }
        }
    }

    button .fa-arrow-left {
        //margin-top: 3px;
        //display: block;
        &:before {
            //font-family: 'bb-rb-icons' !important;
            //content: $bb-icon--arrow-long-left;
            font-size: 20px;
        }
    }
}

