// styles to toggle visibility of child
// based on parents open / closed state

.my-products-menu-toggle {
	.show-when-closed {
		display: block;
	}

	.show-when-open {
		display: none;
	}

	.my-products-menu-toggle__bar {
		.btn-close {
			//margin-bottom: 20px;
			border-radius: 100%;
			padding: 0;
			height: 40px;
			width: 40px;
			font-size: 18px;
		}
	}
}

.my-products-menu-toggle--open {
	height: 40px;
	.show-when-closed {
		display: none;
	}

	.show-when-open {
		display: block;
	}
}

// top bar when the menu has been opened
// contains back to home and close buttons

.my-products-menu-toggle__bar {
	padding: 0 20px;
	padding-top: 16px;
	background-color: $sidebar-background-color;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 72px;
}

.my-products-menu-toggle__bar {
	.fa {
		color: white;
	}
	.back-to {
		color: white;
		margin: 22px 10px;
		&:hover {
			color: white;
			text-decoration: none;
		}
	}
}
