@media (min-width: $screen-sm) and (max-width: $screen-sm + 50) {
	.shc-horizontal-navigation__link--dropdown__children_area {
		.shc-horizontal-navigation__link--dropdown__childlist_item {
			font-size: 11px !important;
		}

		.shc-horizontal-navigation__navigation {
			.shc-horizontal-navigation__link--dropdown__childlist_item__title {
				font-size: 15px !important;
			}
		}
	}
}

@media (min-width: $screen-md) {
	.shc-horizontal-navigation__dropdown-pair {
		.dropdown-toggle {
			padding-bottom: 26px !important;
			margin-top: 0 !important;
		}
		.shc-horizontal-navigation__dropdown-label {
			font-size: 15px !important;

		}
	}
}

@media (min-width: $screen-xs) and (max-width: $screen-sm - 1) {
	.shc-horizontal-navigation {
		&.shc-horizontal-navigation--midstate {
			padding-top: 10px !important;
			height: 80px !important;
		}
	}
}

@media (min-width: $screen-sm) and (max-width: $screen-md - 1) {
	.shc-horizontal-navigation__dropdown-pair {
		.dropdown-toggle {
			padding-left: 8px !important;
			padding-right: 10px !important;
		}
	}

	.shc-horizontal-navigation__navigation {
		.btn--login {
			margin-left: 10px !important;
		}
	}

}

@media (min-width: 10px) and (max-width: $screen-xs - 1) {
	.shc-horizontal-navigation--midstate {

		.shc-horizontal-navigation__profile-area {
			.shc-horizontal-navigation__link--btn {
				//display: none;
			}
		}

		.shc-horizontal-navigation__menu-navigation-area {
			width: 100% !important;
			.shc-horizontal-navigation__menu-navigation-area__profile-block {
				display: block !important;
			}
		}

		.clearfix--btn-login {
			display: block !important;
		}

		.shc-horizontal-navigation__menu-navigation-area {
			.shc-horizontal-navigation__link--profile {
				display: block !important;
			}
		}
	}

	.shc-horizontal-navigation__logo-image {
		background-image: var(--company-logo__base_mobile_background-image-url) !important;
		background-position: center center !important;
		margin-top: 0 !important;
	}

	.shc-horizontal-navigation__logo-image--contrast {
		background-image: var(--company-logo__contrast_mobile_background-image-url) !important;
		background-position: center center !important;
		margin-top: 0 !important;
	}

}

.bp-container {
	z-index: 1;
	&.bp-manageableArea {
		z-index: 0;
	}
}

.template-shc-navigation {
	z-index: 2;
}

.bd-designMode-true {
	.shc-retail-master {
		.widget-shc-user-menu-ng {
			display: block;
		}
	}
	.shc-horizontal-navigation {
		position: relative;
	}
}

.shc-retail-master {
	.widget-shc-user-menu-ng {
		display: none;
	}
}

.shc-horizontal-navigation {
	&.shc-horizontal-navigation--midstate {
		padding-top: 0;
		padding-right: 20px;
		padding-left: 20px;
		height: 60px;

		.shc-horizontal-navigation__menu-area {
			float: left;
			padding-top: 10px;
		}
		.shc-horizontal-navigation__logo-area {
			position: absolute;
			width: 173px;
			height: 17px;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);

			.shc-horizontal-navigation__logo-image {
				position: absolute;
				width: 100%;
				height: 100%;
			}
		}

		.shc-horizontal-navigation__link--profile {
			margin-left: 0;
			transform: translateY(6px);
			margin-bottom: 0;
		}

		.shc-horizontal-navigation__profile-area {
			.shc-horizontal-navigation__link--btn {
				padding-top: 10px;
			}
		}

		.shc-horizontal-navigation__menu-navigation-area__close {
			margin-bottom: 20px;
			border-radius: 100%;

			padding: 0px;
			height: 40px;
			width: 40px;

			font-size: 18px;
		}

		.shc-horizontal-navigation__menu-navigation-area__profile-block {
			display: none;
			padding-top: 15px;
			padding-bottom: 20px;
			padding-left: 0;
			.shc-horizontal-navigation__link--profile {
				transform: none;
				.shc-avatar--image {
					display: inline-block;
					vertical-align: middle;
					border-color: lighten($blue-dark, 10%);
					transition: border-color .25s;
					width: 66px;
					height: 66px;
				}
				.shc-horizontal-navigation__link--profile__name {
					vertical-align: middle;
					padding-left: 5px;
					font-size: 13px;
					color: $white;
					font-weight: 500;
				}

				.btn--logout {
					float: right;
					margin: 0;
					margin-top: 15px;
				}
			}
		}

	}
	// SCROLLED
	&.shc-horizontal-navigation--scrolled {
		.shc-horizontal-navigation__menu-item,
		.shc-horizontal-navigation__menu-item--btn {
			&.hideonhead {
				display: inline-block !important;

			}

			&.showonhead {
				display: none !important;
			}
		}

		.shc-horizontal-navigation__dropdown-pair {
			.dropdown-toggle {
				&:hover {
					.shc-horizontal-navigation__dropdown-label {
						color: $light-blue;
					}
				}
			}
		}

	}
	// NOT SCROLLED
	.shc-horizontal-navigation__menu-item, .shc-horizontal-navigation__menu-item--btn {
		&.hideonhead {
			display: none !important;

		}

		&.showonhead {
			display: inline-block !important;

		}
	}

}

.shc-horizontal-navigation {
	.shc-horizontal-navigation__menu-navigation-area {
		transform: translateX(-100%);
		transition: transform .4s cubic-bezier(0.075, 0.820, 0.165, 1.000);
		position: fixed;
		padding-top: 13px;
		background-color: $blue-dark;
		z-index: 1;
		left: 0;
		top: 0;
		padding-left: 20px;
		padding-right: 20px;
		height: 100%;
		width: 335px;
		overflow-y: scroll;

		&.expanded {
			transform: translateX(0);
		}

		a {
			color: inherit;
			text-decoration: none;
		}

		.clearfix--btn-login {
			margin-top: -56px;
		}

		.shc-horizontal-navigation__link {
			color: $grey-light;
			display: block;

			&:hover {
				color: white;
			}

			&.shc-horizontal-navigation__link--menu, &.shc-horizontal-navigation__link--menu-hero {
				cursor: pointer;
				display: block;
				padding-bottom: 7px;
				border-bottom-width: 1px;
				border-bottom-style: solid;
				border-bottom-color: rgba(255, 255, 255, 1);
				color: $white;
				transition: color .25s, border-bottom-color .25s;
				span {
					transition: color .25s;
					color: $white;
				}

				&:hover {
					color: $grey-light;
					border-bottom-color: rgba(255, 255, 255, 1);
					span {
						color: $grey-light;
					}
				}

				&:after {
					content: ' ';
					position: relative;
					display: inline-block;
					background-repeat: no-repeat;
					background-position: center center;
					background-image: url(../assets/images/components/menu-accordion--mobile--arrow-down.svg);
					transform: rotate(180deg);
					width: 13px;
					height: 13px;
					top: 5px;
					-webkit-transition: transform .25s;
					transition: transform .25s;
					float: right;
					right: 1px;
				}

				&.collapsed {
					color: $grey-light;
					border-bottom-color: rgba(255, 255, 255, .20);
					&:after {
						transform: rotate(0deg);
					}

					span {
						color: $grey-light;
					}

					&:hover {
						color: $white;
						border-bottom-color: $white;
						span {
							color: $white;
						}
					}

				}

			}

			&.shc-horizontal-navigation__link--menu-hero {
				&:nth-of-type(n+4) {
					margin-top: 25px;
				}
				border-bottom-width: 2px;
				padding-bottom: 1px;
			}

			&.shc-horizontal-navigation__link--menu-hero {
				font-size: 20px;
				padding-bottom: 8px;

				&:after {
					top: 3px;
				}
				.shc-horizontal-navigation__link--menu__suffix {
					font-weight: 200;
				}
			}
		}

		.shc-horizontal-navigation__link--menu--lv2 {
			&.shc-horizontal-navigation__link--menu {
				border-bottom: none;
			}
		}
		.shc-horizontal-navigation__link--menu__content--lv1 {
			//padding-top: 17px;
			padding-top: 27px;
			padding-bottom: 1px;

			.shc-horizontal-navigation__link--menu {
				font-weight: bold;
				font-size: 16px;
				padding-bottom: 7px;
				border-bottom: 1px solid $white;
				margin-bottom: 10px;
				letter-spacing: 0.4px;

			}
		}

		.shc-horizontal-navigation__link--menu__content--lv2 {

			padding-top: 7px;
			padding-left: 15px;
			padding-bottom: 10px;
			border-bottom: 1px solid rgba(204, 204, 204, 0.25);
			margin-bottom: 10px;

			.shc-horizontal-navigation__link--menu {
				border-bottom: none;
				padding-bottom: 15px;
				margin-bottom: 0;
				letter-spacing: 0;
				font-size: 14px;
				font-weight: $font-weight-medium;
			}

			.shc-horizontal-navigation__link--menu__content-group {
				&:last-of-type {
					.shc-horizontal-navigation__link--menu__content--lv3 {
						border-bottom: none;
					}
				}
			}
		}

		.shc-horizontal-navigation__link--menu__content--lv3 {
			padding-top: 0;
			padding-left: 20px;
			padding-bottom: 10px;
			margin-bottom: 10px;
			border-bottom: 1px solid rgba(204, 204, 204, 0.25);

			.shc-horizontal-navigation__link {
				padding-bottom: 15px;
				font-size: 13px;
				font-weight: $font-weight-normal;
			}
		}

		.shc-horizontal-navigation__link--menu__content_inner {
			border-bottom: 1px solid rgba(0, 0, 0, .25);
		}
	}
}

.shc-horizontal-navigation__navigation {
	&.shc-horizontal-navigation__navigation--float-center {
		position: absolute;
		width: 100%;
		left: 0;
		margin-left: 0;
		text-align: center;
		pointer-events: none;
	}
}

.shc-horizontal-navigation__navigation {
	margin-bottom: 0;
	ul {
		margin-bottom: 0;
	}

	.btn--login {
		margin-left: 40px;
		transform: translateY(-10px);
		margin-bottom: -6px;
	}

	.shc-horizontal-navigation__menu-item {
		opacity: .7;
		padding: 15px;
		padding-top: 5px;
		transform: translateY(-4px);
		padding-left: 5px;
		padding-right: 5px;
		cursor: pointer;
		transition: opacity .25s;
		&:hover {
			opacity: 1;
		}

		&.active {
			opacity: 1;
			.shc-horizontal-navigation__label {
				&:before {
					background-image: url('../assets/images/components/toggle-arrow-right.svg');
				}
			}
		}

		&.shc-horizontal-navigation__menu-item--btn {
			opacity: 1.0;
		}

		.shc-horizontal-navigation__label {
			font-weight: 500;
			color: #302F2B;

			a {
				color: inherit;
				cursor: pointer;
				text-decoration: none;
			}

			&:before {
				position: relative;
				display: inline-block;
				content: ' ';
				background-image: none;
				width: 5px;
				height: 12px;
				background-repeat: no-repeat;
				background-position: center center;
				margin-right: 5px;
			}
		}

		&.shc-horizontal-navigation__menu-item--btn {
			padding: 15px;
			padding-top: 0px;
			transform: translateY(-10px);
			padding-left: 5px;
			padding-right: 5px;
			position: relative;
			margin-bottom: -10px;
		}

	}

	.shc-horizontal-navigation__divider {
		display: inline-block;
		content: ' ';
		width: 30px;
	}
	.shc-horizontal-navigation__link--dropdown__children_area {
		display: block;
		visibility: visible;
		opacity: 1;
		pointer-events: auto;
		position: absolute;
		left: 0;
		background-color: $white;
		width: 100%;
		text-align: center;
		padding-top: 27px;
		padding-bottom: 50px;
		padding-left: 0px;
		padding-right: 0px;
		margin-top: 0;
		z-index: -1;
		border-top: 1px solid $grey-blue;
		transform: translateY(-1px);
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

		-webkit-transition: opacity .5s;
		transition: opacity .5s;

		&.hidden {
			opacity: 0;
			display: block !important;
			pointer-events: none;
			visibility: hidden;
		}
		a {
			color: inherit;
			text-decoration: none;
			cursor: pointer;
		}
	}
	.shc-horizontal-navigation__link--dropdown__childlist_item__title {
		color: $grey-darkest;
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 8px;
	}
}

.shc-horizontal-navigation__link--dropdown__children_area {

	.shc-horizontal-navigation__link--dropdown__childlist {
		display: inline-block;

	}

	.shc-horizontal-navigation__link--dropdown__childlist_item {
		display: inline-block;
		font-weight: 400;
		font-size: 12px;
		color: #666666;
		margin-bottom: 8px;

	}

	.shc-horizontal-navigation__link--dropdown__childlist_item--block {
		display: table;
		a {
			transition: color .2s;
			&:hover {
				color: $light-blue;
				&:after {
					width: 100%;
				}
			}
			&:after {
				transition: width .15s;
				position: relative;
				display: block;
				content: ' ';
				background-color: $light-blue;
				height: 1px;
				width: 0;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}

	.shc-horizontal-navigation__link--dropdown__childlist__lv2 {
		text-align: left;
		vertical-align: top;
		display: inline-block;
		padding-right: 20px;
		padding-left: 20px;
	}
}

.shc-horizontal-navigation {
	padding-top: 30px;
	padding-left: 40px;
	padding-right: 40px;
	position: fixed;
	width: 100%;
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
	height: 80px;

	-webkit-transition: background-color .3s;
	transition: background-color .3s , margin-top 0.3s ease-in-out;

	&.shc-horizontal-navigation--contrast {
		&:not(.shc-horizontal-navigation--menuopen) {
			background-color: transparent;
			box-shadow: none;

			.shc-avatar--image {
				border-color: $white;
			}

			.btn-blue-dark {
				color: $white;
				border-color: $white;
				&:hover {
					color: $light-blue;
					background-color: $white;
				}
			}

			.shc-horizontal-navigation__menu-item {

				.shc-horizontal-navigation__label {
					color: $white;
				}

				&.active {
					.shc-horizontal-navigation__label {
						&:before {
								font-family: "bb-rb-icons";
								content: "\e902";
								color: white;
								background-image: none !important;
						}
					}
				}
			}

			.shc-horizontal-navigation__dropdown-pair {
				.shc-horizontal-navigation__dropdown-label {
					color: $white;
				}
				.dropdown-toggle {
					color: $white;
				}
			}

			.shc-horizontal-navigation__link--profile {
				.dropdown {
					&:after {
						background-image: url('../assets/images/components/dropdown-arrow-down--contrast.svg');
					}
				}
			}

			.shc-horizontal-navigation__logo-image--contrast {
				display: inline-block;
			}
		}

		.shc-horizontal-navigation__logo-area {
			.shc-horizontal-navigation__logo-image {
				opacity: 0;
			}
			.shc-horizontal-navigation__logo-image--contrast {
				opacity: 1;
			}
		}

		&.shc-horizontal-navigation--menuopen {
			.shc-horizontal-navigation__logo-area {
				.shc-horizontal-navigation__logo-image {
					opacity: 1;
				}
				.shc-horizontal-navigation__logo-image--contrast {
					opacity: 0;
				}
			}

			.shc-horizontal-navigation__dropdown-pair {
				.dropdown-toggle {
					&:hover {
						color: $light-blue;

						.shc-horizontal-navigation__dropdown-label {
							color: $light-blue;
						}
					}
				}
			}

		}

	}

	.dropdown {
		&.open {
			background-color: transparent;

		}
		.dropdown-toggle {
			background-color: transparent;
			border-color: transparent;
			&:focus {
				background-color: transparent;
				box-shadow: none;
			}
			&:hover {
				background-color: transparent;
				box-shadow: none;
				border-color: transparent;
			}

			&.active {
				background-color: transparent;
				box-shadow: none;
			}
		}
	}

}

.logged-in {
	.shc-horizontal-navigation__navigation {
		.btn--login {
			display: none !important;
		}
	}

	.shc-horizontal-navigation--midstate {
		.clearfix--btn-login {
			display: none !important;
		}
		.btn--login {
			display: none !important;
		}
	}

}

.not-logged-in {

	.shc-horizontal-navigation--midstate {
		.shc-horizontal-navigation__menu-navigation-area__profile-block {
			display: none !important;
		}
	}

	.shc-horizontal-navigation__link--profile {
		display: none !important;
	}
}

.shc-horizontal-navigation {
	display: inline-block;
	list-style: none;
	padding-left: 40px;

	.shc-horizontal-navigation__dropdown-pair {
		pointer-events: auto;
		display: inline-block;
		.dropdown-toggle {
			cursor: pointer;
			outline: none;
			border: none;
			padding: 0;
			padding-bottom: 28px;
			margin-top: 2px;
			text-align: center;
			border-bottom: 2px solid transparent;
			padding-left: 22px;
			padding-right: 20px;
			opacity: .8;
			-webkit-transition: border-bottom .5s, opacity .5s;
			transition: border-bottom .5s, opacity .5s;
			border-radius: 0;

			&:hover {
				opacity: 1;
			}

			&:before {
				content: ' ';
				position: absolute;
				transform: translate(-50%);
				width: 0;
				left: 50%;
				bottom: 0;
				height: 2px;
				background-color: $light-blue;
				transition: width .4s cubic-bezier(0.075, 0.820, 0.165, 1.000);
			}

			&:after {
				position: relative;
				display: inline-block;
				margin-left: 5px;
				font-size: 10px;
				@include bb-icon('', "bb-icon--arrow-down");
				transform: rotate(180deg);

				-webkit-transition: transform .25s;
				transition: transform .25s;
			}

			.shc-horizontal-navigation__dropdown-label {
				font-weight: $font-weight-medium;
			}

			&.active {
				.shc-horizontal-navigation__dropdown-label {
					color: $light-blue;
				}
				opacity: 1;

				&:before {
					width: 100%;
				}

				&:after {
					transform: rotate(0deg);
					color: $light-blue;
				}
			}

		}
	}

	.shc-horizontal-navigation__link {
		display: inline-block;
	}

	.dropdown-menu {
		padding: 0;
		outline: none;
		position: absolute;
		overflow: hidden;
		margin-top: 0;
		left: 50%;
		margin-left: 40px;
		transform: translateX(-100%) translateY(15px);
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
		border-radius: 3px;
		border: 1px solid #E2E9EF;
		.dropdown-menu__content {
			min-width: 152px;
		}

		.dropdown-menu__content__item {
			display: block;
			padding-top: 6px;
			padding-bottom: 6px;
			padding-left: 15px;
			padding-right: 15px;
			border-radius: 0;
			border-bottom: 1px solid #E2E9EF;
			cursor: pointer;
			transition: background-color .25s;

			a {
				display: block;
				cursor: pointer;
				text-decoration: none;
			}

			.dropdown-menu__content__label {
				font-size: 12px;
				color: #302F2B;

			}

			&:last-child {

				border-bottom: 1px solid transparent;

			}
			&:hover {
				background-color: #F8FAFC;
			}

		}

		.dropdown-menu__content__label {
			white-space: nowrap;
		}

	}

	.shc-horizontal-navigation__link--home {
		&.active {
			display: none;
		}
	}

	.shc-avatar--image {
		width: 47px;
		height: 47px;
		background-position: center center;
		background-size: cover;
		border-radius: 50%;
		border: 2px solid;
		border-color: $grey-darkest;
		transition: border-color .3s;

		@media(min-width: $screen-sm) {
			margin-top: 7px;
		}
	}

	.shc-horizontal-navigation__link--profile {
		margin-left: 20px;
		transform: translateY(-19px);
		margin-bottom: -11px;
		.dropdown-toggle {
			width: 47px;
			height: 47px;
			overflow: visible;
		}
		.dropdown {
			&:after {
				position: relative;
				display: inline-block;
				content: ' ';
				background-image: url('../assets/images/components/dropdown-arrow-down.svg');
				width: 10px;
				height: 10px;
				top: 9px;
				margin-left: 7px;
				background-repeat: no-repeat;
				background-position: center center;
				-webkit-transition: transform .25s;
				transition: transform .25s;

				@media(max-width: $screen-sm) {
					top: 3px;
				}
			}

			&.open {
				&:after {
					transform: rotate(180deg);
				}
			}
		}
		.dropdown-toggle {
			margin: 0;
			padding: 0;
			outline: none;
		}
	}

}

.shc-horizontal-navigation__logo-area {
	display: inline-block;
	--avatar__background-image-url: '';
	--company-logo__base_background-image-url: '';
	--company-logo__contrast_background-image-url: '';
	--company-logo__base_mobile_background-image-url: '';
	--company-logo__contrast_mobile_background-image-url: '';
}

.shc-horizontal-navigation__logo-image {
	background-image: var(--company-logo__base_background-image-url);
	background-size: contain;
	background-position: left top;
	background-repeat: no-repeat;
	width: 200px;
	height: 25px;
	margin-top: 4px;
	position: absolute;
}

.shc-horizontal-navigation__logo-image--contrast {
	display: none;
	background-image: var(--company-logo__contrast_background-image-url);
}
