$link-color: #003B4B;

.simple-navigation {
	position: relative;
	height: 50px;
}

.simple-navigation__mask {
	position: absolute;
	background-color: white;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.75;
}

.simple-navigation__links {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	white-space: nowrap;
	overflow-x: auto;
}

.simple-navigation__link {
	height: 50px;
	font-size: 15px;
	border-right: 1px solid rgba(255, 255, 255, 0.6);
	padding: 5px 20px 5px 20px;

	&:hover {
		text-decoration: none;
	}

	.simple-navigation__oval {
		float: left;
		height: 34px;
		width: 34px;
		//
		padding-left: 1px;
		margin-right: 10px;
		margin-top: 2.5px;
		//
		background-color: rgba(255, 255, 255, 0.3);
		border-radius: 100%;
	}

	.simple-navigation__title {
		color: $link-color;
		line-height: 36px;
	}

	.bb-icon {
		color: $blue-dark;
		font-size: 20px;
		position: relative;
		top: 6px;
		display: inline-block;
	}
}

@media(min-width: $screen-xs) and (max-width: $screen-md - 1) {
	.simple-navigation__link .simple-navigation__oval {
		background-color: transparent;
	}
}

@media(max-width: $screen-xs - 1) {
	.simple-navigation__link .simple-navigation__oval {
		display: none;
	}
}


/* Stuff added for onboarding */


.template-container-banking-navigation.onboarding-focussed {
    //display: none; remove the simpke nav
}
