
.onboarding-wrapper {
    display: none;
    opacity: 0;
    width: 100vw;

    transition: opacity 0.4s ease-out, background-color 0.4s ease-out;
}

.btn-stop-onboarding {
    z-index: 10000000;
    position: absolute;
    padding: 20px !important;
    height: 20px !important;
    width: 20px !important;

    border-radius: 100% !important;

    margin-right: 20px;
    margin-top: 20px;
    right: 0;

    i {
        position: absolute;
        right: 13px;
        top: 13px;
    }
}


.onboarding-wrapper.onboarding-focussed {
    display: block;
    position: absolute;
    z-index: 10;
    opacity: 1;

    height: 100vh;
    background-color: rgba(1, 1, 1, 0.35);
}

.onboarding-wrapper .questions-progress {
    p {
        font-size: 18px;
        color: #fff;
        float: left;
        line-height: 28px;
    }

    i {
        color: #fff;
        font-size: 30px;
        float: left;
        padding: 0px 25px 0px 25px;
    }

    width: 100%;
    bottom: 50px;
    height: 50px;
    position: absolute;

    .questions-progress-visualizer {
        width: 100%;
        height: 5px;
        bottom: 0;
        position: absolute;

        .questions-progress-piece {
            width: 25%;
            height: 100%;
            float: left;

            background-color: #fff;
            &.questions-progress-filled {
                background-color: $blue-mid;
            }
        }
    }
}

.onboarding-question {
    height: 100vh;
    width: 100vw;

    transform: translateY(100%);
    position: absolute;

    transition: transform 0.5s ease-in-out;

    &.onboarding-question-finished {
        transform: translateY(-100%);
    }

    &.onboarding-question-focussed {
        transform: translateY(0);
    }

    /* Center content */
    .onboarding-question-content {
        position: absolute;

        margin-left: 200px;
        margin-top: -100px; //half of the height of the div
        top: 50%;
        transform: translateY(-50%);
        width: 100%;

        .question-number {
            float: left;
            height: 200px;
            border-right: 1px solid #fff;
            padding: 0 10px 20px 20px;

            color: #FFFFFF;
            opacity: 0.5;
            font-size: 32px;
            font-weight: 500;
        }

        .question-body {
            float: left;
            padding: 0px 20px 20px 20px;
            max-width: 80%;

            h2 {
                font-weight: normal;
                font-size: 24px;
                color: #fff;

                &.bold {
                    font-weight: 600;
                }
            }

            input {
                background-color: transparent;
                border: none;
                box-shadow: none;
                color: #F0960E;


                width: 100%;
                line-height: 30px;
                font-size: 24px;

                margin-bottom: 40px;

                &:focus {
                    outline: none;
                }
            }

            .btn {

                i {
                    font-size: 18px;
                }
            }
        }
    }
}

.shc-retail-master {
    .jumbotron__content-container {
        transition: opacity 0.3s ease-out;
    }

    .bp-container.bp-manageableArea .bp-container.bp-tCont .bp-tCont-body .bp-widget .bp-widget-body {
        transition: height 0.3s ease-out;
    }

    .bp-container.bp-manageableArea .bp-container.bp-tCont .bp-tCont-body .bp-widget .bp-widget-body .be-ice-widget {
        transition: background-color 0.3s ease-out;
    }

}

.shc-retail-master.onboarding-focussed {

    .jumbotron__content-container {
        opacity: 0;
    }

    .bp-container.bp-manageableArea .bp-container.bp-tCont .bp-tCont-body .bp-widget {
        background-color: rgba(1, 1, 1, 0.1);
    }

    .bp-container.bp-manageableArea .bp-container.bp-tCont .bp-tCont-body .bp-widget .bp-widget-body .be-ice-widget {
        background-color: rgba(120, 120, 120, 0.5);
    }

    .shc-horizontal-navigation {
        margin-top: -100px;
    }
}

$pop-height: 250px;

.ext-shc-onboarding-ng .continue-on-phone {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;


    &.continue-on-phone-visible {
        display: block;
        background-color: rgba(1, 1, 1, 0.2);
    }

    .continue-on-phone-popup {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.14);

        .popup-white {
            background-color: #fff;
            border-radius: 6px 6px 0 0;
            border: 1px solid #D5D5D5;
            border-bottom: none;
            overflow: auto;
            padding: 50px;

            .qr-code {
                float: left;
                background: url('../assets/images/qr-code.jpg') no-repeat;
                background-size: cover;
                height: 180px;
                width: 180px;
                margin-right: 50px;
            }

            .text {
                float: left;
                width: 380px;

                h2 {
                    color: #302F2B;
                    font-size: 32px;
                    line-height: 40px;
                    font-weight: 300;
                    margin-top: 0px;
                }

                p {
                    color: #262626;
                    font-size: 16px;
                    line-height: 25px;
                }
            }
        }

        .popup-black {
            margin-top: -10px;
            border-radius: 0 0 6px 6px;
            background-color: #333333;
            border: 1px solid #D5D5D5;
            border-top: none;
            overflow: auto;
            padding: 30px 40px 40px 40px;

            p {
                color: #fff;
                text-align: center;
                font-size: 16px;
            }

            .logos {
                text-align: center;
            }

            i {
                color: #fff;
                font-size: 40px;
                padding: 20px;
            }
        }
    }

}
