<div data-bind="bqVisualization: {type:style, data: statistics}, title: displayName" class="visualization col-xs-12 col-sm-6 col-md-4">
	<label data-bind="text: displayName"></label>
	<div class="chart">
		<canvas style="width:200px; height:200px"></canvas>
	</div>
</div>