/* StoreComment */
.storecomment-text {
	width: 98%;
	background: #fffdf2 url('../img/comment-bg.png') repeat;
	height: 75px;
	margin-bottom: 10px!important;
}

.storecomment-button-ok {
	margin-left: 3px;
}

/* CommentList */
.commentlist {
	border: 0px solid #e1e1e1;
	background: #fff;
}

.commentlist-entry {
	border-bottom: 1px solid #e1e1e1;
	padding: 5px 0 5px 0;	
}

.commentlist-entry-details {
	color: #888888;
}

.commentlist-entry-details-username{
	color: #0088CC;
}

/*.commentlist-entry-details-date {
	float: right;
}
    */
.commentlist-entry-body {
	display: inline-block;
	word-wrap: break-word;
	width:100%; 
}

.comment {
	display: inline-block;
	word-wrap: break-word;
	width: 100%;
}

.clickable-comment {
	cursor:pointer;	
}
