.pull-right{
	float: right;
}
.pull-left{
	float: left;
}
.clearfix{
	clear: both;
}



/* stack trace */
.stacktrace{
	display: none;
	font-size: 11px;
}

/* tab container */
.tab-pane > div > h2, .tab-pane > h2{
	display: none; /* hide first header in tab container, because that one is already displayed as tab caption */
}

/* footers */
.bq-footer{
	margin-top: 5px;
}
button.btn.btn-link:first-child{
	padding-left: 0;
}
button.btn.btn-link:last-child{
	padding-right: 0;
}


.sort-container{
    margin-left: 15px;
    width: 25px;
}

/* table header */
th p{
	margin: 0;
}

/* allign icons in table cels*/
td:last-child.only_icon{
	text-align: center;
}


/**/
.pull-left.margin{
	margin-left:15px;
}

