/* chartjs */

.chart{
    max-width: 200px;
    position: relative;
}

.visualization{
    float: left;
    margin-right: 50px;
    margin-bottom: 25px;
}
.visualization label{
    display: block;
}

.visualization .legendwrapper{
    font-size: 10px;
}

.legend{
    width: 100% !important;
    padding-left: 15px;
}


.nodata{
    position: absolute;
    top:0;
    border-radius: 50%;
    width: 99%;
    padding-top: 100%;
    border: 2px solid #DDDDDD;
}

.nodata .text{
    position: absolute;
    top: 48%;
    width: 100%;
    text-align: center;
    color:#DDDDDD;
}


