<div ng-controller="mobileDetectorController as detector">
    <div  class="{{::element.classList}} form-group"  file-upload-drag-drop >
        <label class="control-label" ng-if="element.displayName">
            {{element.displayName}}
        </label>
        <div ng-controller="fileUploadDragDropController" ng-if="element.properties.singlefilemode"
                 ngf-drop ngf-select
                 ng-model="files"
                 class="drop-box"
                 ngf-drag-over-class="'dragover'"
                 ngf-multiple="true"
                 ngf-allow-dir="false" >
                <div class="drop_content">
                    <h6 class="title">{{element.properties.singleuploadlabel}}</h6>
                </div>
            <div ngf-no-file-drop >
                File Drag/Drop is not supported for this browser
            </div>
        </div>
    </div>

    <!-- <div  class="{{::element.classList}} form-group"  ng-if="isMobile">
        <label class="control-label" ng-if="element.displayName">
            {{element.displayName}}
        </label>
        <div ng-controller="FileUploadMobileController" ng-if="element.properties.singlefilemode"
             ngf-select="upload($file)"
             class="drop-box"
             ngf-capture="camera"
             name="file"
             ng-model="file"
             ngf-max-size="{{maxFileSize}}"
             ngf-pattern="{{allowedExtensions}}">
            <div class="drop_content">
                <div class="iconholder">
                    <span class="icon icon-exit-up2"></span>
                </div>
                <h3>{{element.properties.singleuploadlabel}}</h3>
            </div>
        </div>
    </div> !-->
</div>