<div field ng-disabled="element.disabled || element.readOnly"  ng-readonly="element.readOnly"  ng-class="{'has-error':element.hasError,'read-only':element.readOnly}" id="{{element.key}}"
       class="form-group {{element.classList}}">
    <!-- Field label -->
    <label for="{{element.key}}" ng-if="element.label" class="col-md-5 col-sm-12 control-label">{{element.label}}
        <span class="required-addon" ng-show="element.required">{{$ctrl.form.lookupMessage('requiredField')}}</span>
        <span class="fa fa-info-circle tooltip-elem" ng-if="element.description" element="element" >
            <span class="tooltip-elem__content-wrap">
                <span class="toolip-body text-muted">{{element.description}}</span>
            </span>
        </span>
    </label>
    <!-- Field control -->
    <div ng-class="{'col-sm-12 col-md-7':element.label}" ng-class="{ 'has-error': (element.messages.length > 0) }">
        <control></control>
        <div ng-if="element.messages.length > 0" class="error-block">
            <div class="icon-error"></div>
            <div class="control-description control-errors">
                <h6 ng-repeat="error in element.messages" class="description-body text-muted">{{::error.text}}</h6>
            </div>
        </div>
    </div>

</div>
