ui-bbm-beneficiary-select-ng {
  display: block;
}

.ui-bbm-beneficiary-select {
  background-color: #fff;
  position: relative;
  z-index: 5000;
}

.ui-bbm-beneficiary-select-inner {
  position: relative;
}

.ui-bbm-beneficiary-select-button {
  position: absolute;
  right: 0;
  top: 0;
}

.ui-bbm-beneficiary-select-name {
  margin-right: 40px;
}

/**
 * --------------------------------------------------------------------------------
 * List of suggestions
 * --------------------------------------------------------------------------------
 */

.ui-bbm-beneficiary-select-list {
  left: 0;
  position: absolute;
  right: 0;
  top: 103px;
}

/**
 * --------------------------------------------------------------------------------
 * Active state
 * --------------------------------------------------------------------------------
 */

.ui-bbm-beneficiary-select--has-focus {

}

.ui-bbm-beneficiary-select--has-focus .ui-bbm-beneficiary-select-inner {

}

