<div class="footer-navigation">

    {{#links}}

    <div class="footer-navigation__group">
        <a class="footer-navigation__title"
           href="{{Url}}">
            {{title}}
        </a>

        {{^children.isEmpty}}
        <ul class="footer-navigation__children">
            {{#children}}
            <li>
                <a class="footer-navigation__link"
                   href="{{Url}}">{{title}}</a>
            </li>
            {{/children}}
        </ul>
        {{/children.isEmpty}}
    </div>

    {{/links}}

</div>
