<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- menu button to show/ hide the off canvas menu -->
        <button type="button" class="btn btn-default btn-menu navbar-left pull-left" data-toggle="offcanvas">
            <i class="fa fa-lg fa-bars"></i><span>Menu</span>
        </button>

        <a class="navbar-brand" title="Bootcards Starter" href="/">Bootcards Starter</a>

        <!--right aligned button-->
        <button type="button" class="btn btn-warning navbar-right hidden-sm">
            <i class="fa fa-lg fa-refresh"></i><span>Refresh</span>
        </button>

        <!--navbar menu options: shown on desktop only -->
        <!-- ko with: children()[0] -->
        <div class="navbar-collapse collapse">
            <ul class="dropdown-menu" data-bind="foreach: children">
                <!-- ko if: type === 'button' -->
                <li style="text-align: center;">
                    <a href="#" data-bind="click: handleClick">
                        <!-- ko if: presentationStyles().icon -->
                        <span><i data-bind="attr: { class: '' + presentationStyles().icon }"></i></span>
                        <!-- /ko -->
                        <span data-bind="text: caption"></span>
                    </a>
                </li>
                <!-- /ko -->
            </ul>
        </div>
        <!-- /ko -->
    </div>
</div>

<!-- slide in off canvas menu (mobile only) -->
<!-- ko with: children()[0] -->
<nav class="navmenu offcanvas offcanvas-left" data-bind="initBootcards: true">
    <ul class="nav" data-bind="foreach: children">
        <!-- ko if: type === 'button' -->
        <li style="text-align: center;">
            <a href="#" data-bind="click: handleClick">
                <!-- ko if: presentationStyles().icon -->
                <span><i data-bind="attr: { class: '' + presentationStyles().icon }"></i></span>
                <!-- /ko -->
                <span data-bind="text: caption"></span>
            </a>
        </li>
        <!-- /ko -->
    </ul>

</nav>
<!--nav-->
<!-- /ko-->
