<div class="container push-right">
    <div class="row">
        <div class="col-sm-12 bootcards-cards" data-bind="foreach: children">
            <!-- ko template: { name: template } --><!-- /ko -->
        </div>
    </div>
</div>