$media-md: "(min-width: $screen-sm) and (max-width: $screen-md - 1)";

@mixin shc-make-hero-heading($isResponsive:true) {
	font-size: $font-size-hero;
	line-height: $line-height-hero;
	font-weight: $font-weight-bold;

	@if ($isResponsive) {
		@media #{$media-md} {
			font-size: $font-size-hero-md;
			line-height: $line-height-hero-md;
		}
		@media (max-width: $screen-sm) {
			font-size: $font-size-hero-sm;
			line-height: $line-height-hero-sm;
		}
	}
}

@mixin shc-make-h1($isResponsive:true) {
	font-size: $font-size-h1;
	line-height: $line-height-h1;
	font-weight: $font-weight-bold;

	@if ($isResponsive) {
		@media #{$media-md} {
			font-size: $font-size-h1-md;
			line-height: $line-height-h1-md;
		}
		@media (max-width: $screen-sm) {
			font-size: $font-size-h1-sm;
			line-height: $line-height-h1-sm;
		}
	}
}

@mixin shc-make-h2($isResponsive:true) {
	font-size: $font-size-h2;
	line-height: $line-height-h2;
	font-weight: $font-weight-medium;

	@if ($isResponsive) {
		@media #{$media-md} {
			font-size: $font-size-h2-md;
			line-height: $line-height-h2-md;
		}
		@media (max-width: $screen-sm) {
			font-size: $font-size-h2-sm;
			line-height: $line-height-h2-sm;
		}
	}
}

@mixin shc-make-h3($isResponsive:true) {
	font-size: $font-size-h3;
	line-height: $line-height-h3;
	font-weight: $font-weight-medium;

	@if ($isResponsive) {
		@media #{$media-md} {
			font-size: $font-size-h3-md;
			line-height: $line-height-h3-md;
		}
		@media (max-width: $screen-sm) {
			font-size: $font-size-h3-sm;
			line-height: $line-height-h3-sm;
		}
	}
}

@mixin shc-make-h4($isResponsive:true) {
	font-size: $font-size-h4;
	line-height: $line-height-h4;
	font-weight: $font-weight-medium;

	@if ($isResponsive) {
		@media #{$media-md} {
			font-size: $font-size-h4-md;
			line-height: $line-height-h4-md;
		}
	}
}

@mixin shc-make-h5($isResponsive:true) {
	font-size: $font-size-h5;
	line-height: $line-height-h5;
	font-weight: $font-weight-medium;

	@if ($isResponsive) {
		@media #{$media-md} {
			font-size: $font-size-h5-md;
			line-height: $line-height-h5-md;
		}
	}
}

@mixin shc-make-h6() {
	font-size: $font-size-h6;
	line-height: $line-height-h6;
	font-weight: $font-weight-medium;
}

@mixin shc-make-title-hr() {
	margin-bottom: 1em;
	padding-bottom: .5em;
	border-bottom: 1px solid $grey-light;
}

