/**
 * --------------------------------------------------------------------------
 * Mixin - Border
 * --------------------------------------------------------------------------
 */

@mixin border($width, $style, $color) {
  border: $width $style $color;

  @media (-webkit-device-pixel-ratio: 2) {
    .platform--ios & {
      border-width: $width / 2;
    }
  }

  @media (-webkit-device-pixel-ratio: 3) {
    .platform--ios & {
      border-width: $width / 3;
    }
  }
}

/**
 * --------------------------------------------------------------------------
 * Mixin - Border bottom
 * --------------------------------------------------------------------------
 */

@mixin border-bottom($width, $style, $color) {
  border-bottom: $width $style $color;

  @media (-webkit-device-pixel-ratio: 2) {
    .platform--ios & {
      border-width: $width / 2;
    }
  }

  @media (-webkit-device-pixel-ratio: 3) {
    .platform--ios & {
      border-width: $width / 3;
    }
  }
}

/**
 * --------------------------------------------------------------------------
 * Mixin - Border left
 * --------------------------------------------------------------------------
 */

@mixin border-left($width, $style, $color) {
  border-left: $width $style $color;

  @media (-webkit-device-pixel-ratio: 2) {
    .platform--ios & {
      border-width: $width / 2;
    }
  }

  @media (-webkit-device-pixel-ratio: 3) {
    .platform--ios & {
      border-width: $width / 3;
    }
  }
}


/**
 * --------------------------------------------------------------------------
 * Mixin - Border top
 * --------------------------------------------------------------------------
 */

@mixin border-top($width, $style, $color) {
  border-top: $width $style $color;

  @media (-webkit-device-pixel-ratio: 2) {
    .platform--ios & {
      border-width: $width / 2;
    }
  }

  @media (-webkit-device-pixel-ratio: 3) {
    .platform--ios & {
      border-width: $width / 3;
    }
  }
}

/**
 * --------------------------------------------------------------------------
 * Mixin - Border right
 * --------------------------------------------------------------------------
 */

@mixin border-right($width, $style, $color) {
  border-right: $width $style $color;

  @media (-webkit-device-pixel-ratio: 2) {
    .platform--ios & {
      border-width: $width / 2;
    }
  }

  @media (-webkit-device-pixel-ratio: 3) {
    .platform--ios & {
      border-width: $width / 3;
    }
  }
}

/**
* -------
* Mixin - Border Radius
* -------
*/

@mixin border-radius($topleft, $topright, $bottomright, $bottomleft) {
  border-top-left-radius: $topleft;
  border-top-right-radius: $topright;
  border-bottom-right-radius: $bottomright;
  border-bottom-left-radius: $bottomleft;
  -webkit-border-top-left-radius: $topleft;
  -webkit-border-top-right-radius: $topright;
  -webkit-border-bottom-right-radius: $bottomright;
  -webkit-border-bottom-left-radius: $bottomleft;
  -moz-border-radius-topleft: $topleft;
  -moz-border-radius-topright: $topright;
  -moz-border-radius-bottomright: $bottomright;
  -moz-border-radius-bottomleft: $bottomleft;
  background-clip: padding-box;
}

