@mixin shc-transaction-category-icon() {
	&[class*="bb-transaction-category-"], [class*="bb-transaction-category-"] {


		&.bb-transaction-category-clothing {
			&:before {
				@include bb-icon(#DC4EA2, 'bb-icon--heart');
			}
		}

		&.bb-transaction-category-entertainment {
			&:before {
				@include bb-icon(#CA9FF1, 'bb-icon--theatre');
			}
		}

		&.bb-transaction-category-income {
			&:before {
				@include bb-icon(#4DC9AC, 'bb-icon--incoming-transfer');
			}
		}

		&.bb-transaction-category-savings {
			&:before {
				@include bb-icon(#4DC9AC, 'bb-icon--incoming-transfer');
			}
		}

		&.bb-transaction-category-groceries {
			&:before {
				@include bb-icon(#57C9F1, 'bb-icon--cart');
			}
		}

		&:before {
			content: ' ';
			position: relative;
			display: inline-block;
			width: 24px;
			height: 24px;
			vertical-align: middle;
			line-height: 24px;
			font-size: 24px;
			@include bb-icon(coral, 'bb-icon--outgoing-transfer');
		}
	}
}

