
@mixin shc-capsule-border-color($isLight:false) {
	border-color: $grey-mid-light;
	@if ($isLight) {
		border-color: $grey-blue;
	}
	transition: border-top-color .2s, border-left-color .2s, border-right-color .2s, border-bottom-color .2s;
}

@mixin shc-capsule-border($isLight:false) {
	overflow: hidden;
	//--
	border-top-style: solid;
	border-top-width: 1px;
	//--
	border-right-style: solid;
	border-right-width: 1px;
	//--
	border-bottom-style: solid;
	border-bottom-width: 1px;
	//--
	border-left-style: solid;
	border-left-width: 1px;
	//--
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	//--
	@include shc-capsule-border-color($isLight);
	@include shc-pull-shadow();
}


