@mixin bb-icon($color:'inherit',$name:'') {
    font-family: 'bb-rb-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: 200 !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: $color;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @if ($name == 'bb-icon--wallet') {
        content: "\e922";
    } @else {
        @if ($name == 'bb-icon--money-bag') {
            content: "\e91a";
        } @else {
            @if ($name=='bb-icon--padlock') {
                content: "\e91c";
            } @else {
                @if ($name=='bb-icon--arrow-down') {
                    content: "\e907";
                } @else {
                    @if ($name == 'bb-icon--arrow-right') {
                        content: "\e904";
                    } @else {
                        @if ($name == 'bb-icon--calendar') {
                            content: "\e90c";
                        } @else {
                            @if ($name == 'bb-icon--heart') {
                                content: "\e915";
                            } @else {
                                @if ($name == 'bb-icon--cart') {
                                    content: "\e90f";
                                } @else {
                                    @if ($name == 'bb-icon--incoming-transfer') {
                                        content: "\e906";
                                    } @else {
                                        @if ($name == 'bb-icon--theatre') {
                                            content: "\e920";
                                        } @else {

                                            @if ($name == 'bb-icon--outgoing-transfer') {
                                                content: "\e905";
                                            } @else {

                                                @if ($name == 'bb-icon--contacts') {
                                                    content: "\e910";
                                                } @else {
                                                    @if ($name == 'bb-icon--search') {
                                                        content: "\e912";
                                                    } @else {
                                                        content: $name;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
