@mixin shc-capsule-border-section-mid($isLight:false) {
	@include shc-capsule-border($isLight);
	border-top: none !important;
	@include border-radius(0,0,0,0);
}

@mixin shc-capsule-border-section-top($isLight:false) {
	@include shc-capsule-border($isLight);
	border-top: none !important;
	@include border-radius(6px,6px,0,0);
}

@mixin shc-capsule-border-section-bottom($isLight:false) {
	border-top: none !important;
	@include shc-capsule-border($isLight);
	@include border-radius(0,0,6px,6px);
}

