@mixin text-opacity($color, $opacity: 1) {
  color: rgba($color, $opacity);
  -webkit-transition: color .5s cubic-bezier(0.075, 0.820, 0.165, 1.000);
     -moz-transition: color .5s cubic-bezier(0.075, 0.820, 0.165, 1.000);
       -o-transition: color .5s cubic-bezier(0.075, 0.820, 0.165, 1.000);
          transition: color .5s cubic-bezier(0.075, 0.820, 0.165, 1.000);
}