/*@mixin button-colors-grey-dark {
    color: $btn-grey-dark-color;
    background-color: $btn-grey-dark-bg;

    &:hover {
        background-color: lighten($btn-grey-dark-bg, 10%);
    }

    &:active {
        background-color: darken($btn-grey-dark-bg, 10%);
        @include no-shadow();
    }

    &.disabled,
    &[disabled="disabled"] {
        background-color: $grey-disabled;
    }

    &.btn-ghost {
        color: $btn-grey-dark-bg;
        border: 2px solid $btn-grey-dark-bg;
        background-color: transparent;

        &:hover {
            background-color: $btn-grey-dark-bg;
            color: $btn-grey-dark-color;
        }

        &:active {
            background-color: darken($btn-grey-dark-bg, 10%);
            border-color: darken($btn-grey-dark-bg, 10%);
            @include no-shadow();
        }

        &.disabled,
        &[disabled="disabled"] {
            background-color: transparent;
            border-color: $grey-disabled;
            color: $grey-disabled;
        }
    }
} */
/*@mixin button-colors-blue-dark {
    color: $btn-blue-dark-color;
    background-color: $btn-blue-dark-bg;

    &:hover {
        background-color: lighten($btn-blue-dark-bg, 10%);
    }

    &:active {
        background-color: darken($btn-blue-dark-bg, 10%);
        @include no-shadow();
    }

    &.disabled,
    &[disabled="disabled"] {
        background-color: $grey-disabled;
    }

    &.btn-ghost {
        color: $btn-blue-dark-bg;
        border: 2px solid $btn-blue-dark-bg;
        background-color: transparent;

        &:hover {
            background-color: $btn-blue-dark-bg;
            color: $btn-blue-dark-color;
        }

        &:active {
            background-color: darken($btn-blue-dark-bg, 10%);
            border-color: darken($btn-blue-dark-bg, 10%);
            @include no-shadow();
        }

        &.disabled,
        &[disabled="disabled"] {
            background-color: transparent;
            border-color: $grey-disabled;
            color: $grey-disabled;
        }
    }
} */
/*@m
ixin button-colors-blue-light {
    color: $btn-blue-light-color;
    background-color: $btn-blue-light-bg;

    &:hover {
        background-color: lighten($btn-blue-light-bg, 10%);
    }

    &:active {
        background-color: darken($btn-blue-light-bg, 10%);
        @include no-shadow();
    }

    &.disabled,
    &[disabled="disabled"] {
        background-color: $grey-disabled;
    }

    &.btn-ghost {
        color: $btn-blue-light-bg;
        border: 2px solid $btn-blue-light-bg;
        background-color: transparent;

        &:hover {
            background-color: $btn-blue-light-bg;
            color: $btn-blue-light-color;
        }

        &:active {
            background-color: darken($btn-blue-light-bg, 10%);
            border-color: darken($btn-blue-light-bg, 10%);
            @include no-shadow();
        }

        &.disabled,
        &[disabled="disabled"] {
            background-color: transparent;
            border-color: $grey-disabled;
            color: $grey-disabled;
        }
    }
} */
/* @mixin button-colors-blue {
    color: $btn-blue-color;
    background-color: $btn-blue-bg;

    &:hover {
        background-color: lighten($btn-blue-bg, 10%);
    }

    &:active {
        background-color: darken($btn-blue-bg, 10%);
        @include no-shadow();
    }

    &.disabled,
    &[disabled="disabled"] {
        background-color: $grey-disabled;
    }

    &.btn-ghost {
        color: $btn-blue-bg;
        border: 2px solid $btn-blue-bg;
        background-color: transparent;

        &:hover {
            background-color: $btn-blue-bg;
            color: $btn-blue-color;
        }

        &:active {
            background-color: darken($btn-blue-bg, 10%);
            border-color: darken($btn-blue-bg, 10%);
            @include no-shadow();
        }

        &.disabled,
        &[disabled="disabled"] {
            background-color: transparent;
            border-color: $grey-disabled;
            color: $grey-disabled;
        }
    }
} */
/*@mixin button-colors-white {
    color: $btn-white-color;
    background-color: $btn-white-bg;

    &:hover {
        background-color: darken($btn-white-bg, 10%);
        border-color: darken($btn-white-bg, 10%);
    }

    &:active {
        background-color: darken($btn-white-bg, 20%);
        border-color: darken($btn-white-bg, 20%);
        @include no-shadow();
    }

    &.disabled,
    &[disabled="disabled"] {
        background-color: $grey-disabled;
    }

    &.btn-ghost {
        color: $btn-white-bg;
        border: 2px solid $btn-white-bg;
        background-color: transparent;

        &:hover {
            color: $btn-white-color;
            background-color: $btn-white-bg;
        }

        &:active {
            background-color: darken($btn-white-bg, 10%);
            border-color: darken($btn-white-bg, 10%);
            color: $btn-white-color;
            @include no-shadow();
        }

        &.disabled,
        &[disabled="disabled"] {
            background-color: transparent;
            border-color: $grey-disabled;
            color: $grey-disabled;
        }
    }
} */

@mixin make-btn-default() {
	border: 2px solid transparent;
	/* Size related stuff for default size */
	/* Desktop screen */
	height: 40px;
	line-height: 21px;
	font-size: 14px;
	font-weight: $font-weight-medium;
	border-radius: 4px;
	padding-left: 30px;
	padding-right: 30px;

	/* Tablet screen */
	@media(max-width: $screen-md) and (min-width: $screen-sm) {
		height: 46px;
		border-radius: 4px;
		line-height: 28px;
	}

	/* Mobile screen */
	@media(max-width: $screen-sm) {
		height: 40px;
		line-height: 22px;
		font-size: 13px;
		border-radius: 4px;
		padding-left: 20px;
		padding-right: 20px;
	}

	/* Focus */
	&:focus {
		outline: none;
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
	}

	/* Override sizes if button is large */
	&.btn-large {
		/* Tablet screen */
		/* Desktop screen */
		height: 46px;
		line-height: 27px;
		font-size: 16px;
		border-radius: 4px;
		padding-left: 30px;
		padding-right: 30px;
		font-weight: $font-weight-medium;

		/* Mobile screen */
		@media(max-width: $screen-sm) {
			height: 46px;
			font-size: 14px;
			border-radius: 4px;
			padding-left: 20px;
			padding-right: 20px;
			line-height: 27px;
		}
	}

	/* Override sizes if button is small */
	&.btn-small {
		/* Desktop screen */
		/* Tablet screen */
		height: 36px;
		line-height: 21px;
		font-size: 13px;
		border-radius: 4px;
		padding-left: 20px;
		padding-right: 20px;
		font-weight: $font-weight-medium;

		/* Mobile screen */
		@media(max-width: $screen-sm) {
			height: 36px;
			border-radius: 4px;
			font-weight: 500;
			line-height: 18px;
		}
	}

	a {
		color: inherit;
		text-decoration: none;
	}
}

@mixin make-ghost($pTextColor:'',$pBorderStyle:'',$pBackgroundColor:'',$pTextColorHover:'',$pBackgroundColorHover:'',$pBorderColorActive:'',$pBackgroundColorActive:'',$pBorderColorDisabled:'',$pBackgroundColorDisabled:'',$pTextColorDisabled:'') {
	color: $pTextColor;
	border: $pBorderStyle;
	background-color: $pBackgroundColor;

	&:hover {
		color: $pTextColorHover;
		background-color: $pBackgroundColorHover;

	}

	&:active {
		background-color: $pBackgroundColorActive;
		border-color: $pBorderColorActive;
		@include no-shadow();
	}

	&.disabled,
	&[disabled="disabled"] {
		background-color: $pBackgroundColorDisabled;
		border-color: $pBorderColorDisabled;
		color: $pTextColorDisabled;
	}

	&.btn-link {
		border-color: transparent;
		&:hover {
			background-color: transparent;
			color: $pTextColor;
		}

		&:active {
			background-color: transparent;
			color: $pTextColor;
		}
	}
}

@mixin button-colors($theme-color:'blue-light',$pIsGhost:false) {
	//--
	//--
	//--
	$btn-color--key-color-text: #ffb80c;
	$btn-color--key-color-bg: #ffb80c;
	$btn-color--key-color-disabled: $grey-disabled;

	@if ($theme-color =='blue-light') {
		$btn-color--key-color-text: $btn-blue-light-color;
		$btn-color--key-color-bg: $btn-blue-light-bg;
	}

	@if ($theme-color =='blue-dark') {
		$btn-color--key-color-text: $btn-blue-dark-color;
		$btn-color--key-color-bg: $btn-blue-dark-bg;
	}

	@if ($theme-color =='blue') {
		$btn-color--key-color-text: $btn-blue-color;
		$btn-color--key-color-bg: $btn-blue-bg;
	}

	@if ($theme-color =='white') {
		$btn-color--key-color-text: $btn-white-color;
		$btn-color--key-color-bg: $btn-white-bg;
	}

	@if ($theme-color =='grey-dark') {
		$btn-color--key-color-text: $btn-grey-dark-color;
		$btn-color--key-color-bg: $btn-grey-dark-bg;
	}

	@if ($theme-color =='eastwest-red') {
		$btn-color--key-color-text: $btn-eastwest-red-color;
		$btn-color--key-color-bg: $btn-eastwest-red-bg;
	}

	//--
	//--
	//--
	$btn-color--text: $btn-color--key-color-text;
	$btn-color--bg: $btn-color--key-color-bg;
	$btn-color--bg-hover: lighten($btn-color--bg, 10%);
	$btn-color--bg-active: darken($btn-color--bg, 10%);
	//----
	//----
	$btn-color--ghost-text: $btn-color--bg;
	$btn-color--ghost-border: $btn-color--bg;
	$btn-color--ghost-bg: transparent;
	$btn-ghost--border: 2px solid $btn-color--ghost-border;
	//----
	$btn-color--ghost-bg-hover: $btn-color--bg;
	$btn-color--ghost-text-hover: $btn-color--text;
	$btn-color--ghost-bg-active: darken($btn-color--bg, 10%);
	$btn-color--ghost-border-active: darken($btn-color--bg, 10%);
	//----
	$btn-color--bg-disabled: $btn-color--key-color-disabled;
	$btn-color--border-disabled: $btn-color--key-color-disabled;
	$btn-color--text-disabled: $btn-color--key-color-disabled;
	//--
	//--
	//--
	border-color: transparent;
	color: $btn-color--text;
	background-color: $btn-color--bg;
	transition: background-color .1s cubic-bezier(0.445, 0.050, 0.550, 0.950), border-color .1s cubic-bezier(0.445, 0.050, 0.550, 0.950);

	&:hover {
		background-color: $btn-color--bg-hover;
	}

	&:active {
		background-color: $btn-color--bg-active;
		@include no-shadow();
	}

	&.disabled,
	&[disabled="disabled"] {
		background-color: $btn-color--bg-disabled;
	}

	&.btn-ghost {
		@include make-ghost(
						$btn-color--ghost-text,
						$btn-ghost--border,
						$btn-color--ghost-bg,
						$btn-color--ghost-text-hover,
						$btn-color--ghost-bg-hover,
						$btn-color--ghost-border-active,
						$btn-color--ghost-bg-active,
						$btn-color--border-disabled,
						$btn-color--ghost-bg,
						$btn-color--text-disabled);
	}

	@if ($pIsGhost) {
		@include make-ghost(
						$btn-color--ghost-text,
						$btn-ghost--border,
						$btn-color--ghost-bg,
						$btn-color--ghost-text-hover,
						$btn-color--ghost-bg-hover,
						$btn-color--ghost-border-active,
						$btn-color--ghost-bg-active,
						$btn-color--border-disabled,
						$btn-color--ghost-bg,
						$btn-color--text-disabled);
	}

}

/* White button is very different from the rest */

