@mixin placeholder-enhanced($color:#000,$opacity:1,$text-indent:0,$font-style:'normal',$font-weight:'normal',$letter-spacing:'normal') {
    &::-moz-placeholder { // Firefox 19+
        @include text-opacity($color, $opacity);
        text-indent: $text-indent;
        font-style: $font-style;
        font-weight: $font-weight;
        letter-spacing: $letter-spacing;
    }

    &:-ms-input-placeholder {
        @include text-opacity($color, $opacity);
        text-indent: $text-indent;
        font-style: $font-style;
        font-weight: $font-weight;
        letter-spacing: $letter-spacing;
    }

    &::-webkit-input-placeholder {
        @include text-opacity($color, $opacity);
        // Safari placeholder margin issue
        text-indent: $text-indent;
        font-style: $font-style;
        font-weight: $font-weight;
        letter-spacing: $letter-spacing;
    }
}
