.clear-btn {
	border: 0px;
	background: transparent;
}

textarea~.btn {
	display: block;
}

iframe {
	border: 1px solid #EAEAEA;
	height: 600px;
}
a.icon i{
	font-size: 18px;
}
a.icon:hover{
	text-decoration: none;
}

/***********************************
	Bootstrap style overrides
***********************************/
#main-navbar .container {
	width: 100%;
}

.btn-toolbar {
	text-align:left;
}

table .btn-link {
	margin: 0px;
	padding: 0px;
}
table .btn-link:hover{
	text-decoration: none;
}

.input-append .btn, .input-prepend .btn {
	margin-top: 0px;
	margin-bottom: 0px;
}

.bq-table-search .input-medium {
	width: 300px;
}

td input[type=text], td input[type=number]{
	width: 90px;
}

/* reduce white space for (readonly) fields */
.form-horizontal .control-group {
	margin-bottom: 5px;
}
.form-horizontal .control-group.readonly {
	margin-bottom: 0px;
}
.control-group.readonly .form-control-static,
.control-group.readonly .control-label,
.control-group.readonly .form-control-static p{
	margin: 0 0 3px 0;
	padding: 0px;
}

.alert {
	margin-top: 5px;
	margin-bottom: 5px;
}

/***********************************
	Custom 
***********************************/

/* Tables */
.bq-table{
	overflow: auto;
}

.bq-table-navigation {
	text-align: right;	
	margin-bottom: 10px;
}

.bq-table-header-sortable {
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
}

.bq-table-header-sort-title {
	float: left;
}

.bq-table-header-sort-indicator {	
	width: 10px;
	float: right;
}

td p, th p {
	margin: 0px;
}

/* Notification modal */
.modal-header-heading {
	display: inline;
	vertical-align: sub;
	margin-left: 10px;
}

.modal-header-icon {
	width: auto;
	height: auto;
	vertical-align: inherit;
}

#notification-modal-label {
	display: inline;
	margin-left: 10px;
}

/* Authenticated user */
.authenticated-user-icon { 
	height: 23px;
	width: 23px;
}

/* Menubar */
.menubar {
	margin-bottom: 20px;
}

.menubar > .btn-group > .btn {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-right:0px;
}

.menubar > .btn-group:first-child > .btn {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.menubar > .btn-group:last-child > .btn {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-right: 1px solid #bbb;
}

/* Fileupload */
.fileupload-table-caption {
	text-align: left;
}

.dropzone.in {
    width: 600px;
    height: 200px;
    line-height: 200px;
    font-size: larger;
}
.dropzone.hover {
	border: 2px solid #08c;
	border-style: dashed;
	padding: 10px; 
	background: #f9f9f9;
	text-align: center;
}
.dropzone.hover .btn{
	display: none;
}
.dropzone.hover:after{
	content:"Drop file here";
}

.dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

.dropzone.fade:after {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

/* Readonly fields */
.form-control-static { /* Remove this class when upgrading to Bootstrap 3 */
	font-size: 14px;
}

.form-control-static > p {
	margin-bottom: 0px;
	padding-top: 5px;
}

/* search container custom button styling because select2 does not work with input-append */
.bq-table-search .btn{
	margin-left: -5px;
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

/* Select2 */
.select2-search-choice {
	font-size: 12px;
}

.select2-container-multi .select2-choices .select2-search-field input {
	padding-top: 4px;
	padding-bottom: 4px;
	margin: 0px;
}

.select2-search-choice > div {
	white-space: normal;
}

.select2-hidden{
	display: none;
	visibility : hidden;
	height: 0px;
}
/* stack trace */
.stacktrace{
	display: none;
	font-size: 11px;
}

/* tab container */
.tab-pane > div > h2, .tab-pane > h2{
	display: none; /* hide first header in tab container, because that one is already displayed as tab caption */
}

/* footers */
.bq-footer{
	margin-top: 5px;
}
.bq-footer button.btn.btn-link{
	padding-left: 0px;
}

/*field value type */
i.filetype{
	width: 16px;
	height: 16px;
	font-size: 16px;
	display: block;
	float: left;
}
i.image-pdf{
	background-image: url('../img/icon-pdf.png')
}
