.bq-paging-feedback {
	padding-top: 4px;
	padding-bottom: 4px; 
}

.bq-page-number{
	width: 30px;	
}

.bq-limit-reached {
	text-align: right;
}

.bq-limit-reached span {
	vertical-align: middle;
}

.bq-table-header-filter-indicator {
	margin-left: 10px;
	width: 10px;
	float: right;
}

.bq-table-header-sortable .popover {
	cursor: auto;
}

.search-filter .searchField {
	width: auto;
}

.search-filter div.checkbox, .search-filter label {
	font-size: 13px;
}

.date-search-filter .popover {
	max-width: none;
	font-weight: normal;
}

.date-search-filter .date-search-menu .active {
	font-weight: bold;
}

.date-search-filter .checkbox span {
	cursor: pointer;
}

.date-search-filter .date-search-picker {
	margin-left: 7px;
	border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.date-search-filter .date-search-today {
	margin: 0px 5px;
	padding: 4px 0px;
	font-weight: bold;
	text-align: center;
	border-radius: 4px;
	cursor: pointer;
}

.date-search-filter .date-search-today:hover {
	background-color: #eeeeee;
}

.date-search-filter .time-picker {
	margin-top: 4px;
	text-align: center;
}
.date-search-filter .time-picker .hour,
.date-search-filter .time-picker .minute {
	width: 15px;
	height: 15px;
	text-align: right;
}

.show-all {
	padding-top: 10px;
}

.popover .close{
	line-height: 15px;
}

.date-search-filter .popover {
	max-width: 388px;
}

.text-search-filter .popover {
	max-width: 260px;
}

.numeric-search-filter .popover {
	max-width: 237px;
}

.values-search-filter .popover {
	max-width: 200px;
}
