// SCROLL STUFF
.scroll-wrap {
  position: fixed;
  top: 0;
  left: 0;
  touch-action: pan-y;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden;
  z-index: 1;
  width: 100%;
  height: 100%;

}

#scroll-controller {
  position: relative;
  top: 0px;
  height: 1px;
  visibility: hidden;
}

.scroll_content {
  position:absolute;
  width:100%;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  &.tabletdevice, &.mobile {
    .scroll-wrap {
      position: relative;
      overflow: visible;
      -webkit-overflow-scrolling: touch;

    }

    #scroll-controller {
      top: 0px;
    }
  }
}

//--- WHITE COVER

.app {

  #bb-start-white-cover {
    background-color:white;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:3;
    pointer-events:none;
    //display:none;

    -webkit-transition: opacity 250ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -moz-transition: opacity 250ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -o-transition: opacity 250ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    transition: opacity 250ms cubic-bezier(0.445, 0.050, 0.550, 0.950); /* easeInOutSine */

    -webkit-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -moz-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -o-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
    transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); /* easeInOutSine */


  }


  &.scroll-wrap {
    #bb-start-white-cover {
      opacity:1;
    }

    &.active {
      #bb-start-white-cover {
        opacity:0;
      }
    }
  }
}