<script type="text/html" id="core/template/asset/asset">
<p data-bind="attr: { class: presentationStyles().joined }, text: text"></p>
</script>

<script type="text/html" id="core/template/button/button">
<button type="button" data-bind=" attr: { class: 'btn ' +  presentationStyles().joined }, click: handleClick, disable: disabled, text: caption, css: { 'pull-right': presentationStyles().align_right }"></button>
</script>

<script type="text/html" id="core/template/button/buttonlink">
<button type="button" class="btn btn-link" data-bind="click: handleClick, disable: disabled, text: caption, css: { 'pull-right': presentationStyles().align_right }"></button>
</script>

<script type="text/html" id="core/template/button/buttonprimary">
<button type="button" class="btn btn-primary" data-bind="click: handleClick, disable: disabled, text: caption, css: { 'pull-right': presentationStyles().align_right }"></button>
</script>

<script type="text/html" id="core/template/button/iconbutton">
<button type="button" class="btn" data-bind="click: handleClick, disable: disabled, css: { 'btn-primary': presentationStyles().button_primary, 'pull-right': presentationStyles().align_right }">
	<i data-bind="attr: { class: 'button-icon ' + presentationStyles().icon }"></i>
	<!-- ko text: caption --><!-- /ko -->
</button>
</script>

<script type="text/html" id="core/template/button/onlyiconbutton">
<a href="#" class="icon" data-bind="click: handleClick, bqIconTooltip : caption"><i data-bind="attr: {class: presentationStyles().icon}"></i></a>
</script>

<script type="text/html" id="core/template/container/authenticateduser">
<div data-bind="attr: { id: key, class: 'authenticated-user '+presentationStyles().joined }">
	<img data-bind="attr: {src: bqApp.configuration.resourceUri + bqApp.configuration.blueriqPath + 'app/img/avatar.png'}" class="authenticated-user-icon"> 
	<!-- ko foreach: nodes -->
		<span data-bind="template: { name: $parent.context.templateFactory.getTextItemNodeTemplate() }"></span>
	<!-- /ko -->	
</div>
</script>

<script type="text/html" id="core/template/container/breadcrumb">
<ul class="breadcrumb" data-bind="foreach: { data: children, as: 'crumb'}">
	<li data-bind="css: { active: crumb.properties().isCurrent, disabled: !crumb.properties().isPassed && !crumb.properties().isCurrent}">
		<span class="bq-inline" data-bind="if: crumb.properties().isPassed">
			<a href="#" data-bind="click: handleClick, text: crumb.properties().displayName"></a>
		</span>
		<span data-bind="ifnot: crumb.properties().isPassed">
			<span data-bind="text: crumb.properties().displayName"></span>
		</span>						
		<span data-bind="if: $index() < $parent.children().length -1">/</span>
	</li>
</ul>
</script>

<script type="text/html" id="core/template/container/container">
<h2 data-bind="text: displayName"></h2>
<div data-bind="foreach: children">
	<!-- ko template: { name: template } --><!-- /ko -->
</div>
</script>

<script type="text/html" id="core/template/container/externalcontent">
<iframe width="100%" data-bind="attr: { src: children()[0].value, class: presentationStyles().joined  }" >			
</iframe>
</script>

<script type="text/html" id="core/template/container/filedownload">
<!-- ko with: buttonViewModel -->
<a href="#" class="icon" data-bind="click: handleClick, bqIconTooltip : caption"><i data-bind="attr: {class: presentationStyles().icon}"></i></a>
<!-- /ko -->
</script>

<script type="text/html" id="core/template/container/fileupload">
<div>
	<h2 data-bind="visible: displayName, text: displayName"></h2>
	
	<div class="bq-fileupload" data-bind="bqFileUpload: files, 
														  url: url,
														  allowedExtensions: allowedExtensions,
														  maxFileSize: maxFileSize,
														  singleFileMode: singleFileMode,
														  fileSizeDescription: fileSizeDescription,												
														  extensionDescription: extensionDescription,
														  fileSizeValidationMessage: fileSizeValidationMessage,												
														  extensionValidationMessage: extensionValidationMessage,
														  singleUploadLabel: singleUploadLabel,
														  multiUploadLabel: multiUploadLabel,
														  uploadStartHandler: uploadStartHandler,
														  uploadDoneHandler: uploadDoneHandler,
														  progressPercentageHandler: progressPercentageHandler">
		<div class="dropzone">
			<span class="btn fileinput-button">
				<i class="button-icon icon-plus"></i>
				<span class="fileUploadLabel"></span>
				<input class="fileUploadInput" type="file"></input>
			</span>
		</div>
		<p class="muted">
			<small class="fileUploadDescription"></small>
		</p>
		<!-- ko if: uploadProgress() -->
		<div class="progress progress-striped active" style="margin-bottom: 0;">
			<div class="bar" data-bind="style: { width: uploadProgress }"></div>
		</div>
		<!-- /ko -->
		
		<!-- ko if: invalidFiles().length > 0 -->
		<table class="table table-striped">
			<caption class="text-error fileupload-table-caption"><span data-bind="text: uploadFailedMessage"></span></caption>
		    <tbody data-bind="foreach : invalidFiles">
		    <!-- ko foreach: invalidFiles -->
		    <tr>
		   	 	<td><i class="icon-file"></i></td>
	   			<td class="fileInfo"><span data-bind="text: name"></span> (<span data-bind="text: size"></span>)</td>
	    		<td class="fileError"><span data-bind="text: errorMessage" class="text-error"></span></td>
		    </tr>
		    <!-- /ko -->
		    </tbody>
		</table>
		<!-- /ko -->
		
	    <div data-bind="if: serverErrorMessagesContainer">
	    	<div data-bind="template: { name: template, data: serverErrorMessagesContainer }"></div>
	    </div>
	</div>
</div>
</script>

<script type="text/html" id="core/template/container/footer">
<div class="bq-footer" data-bind="foreach: children">
	<!-- ko template: {name: template} --><!-- /ko -->
</div>
</script>

<script type="text/html" id="core/template/container/instancelinker">
<div data-bind="attr: { class: presentationStyles().joined }, foreach: children">
	<!-- ko template: { name: template } --><!-- /ko -->
</div>
</script>

<script type="text/html" id="core/template/container/instancelist">
<!-- ko if: displayName --><h2 data-bind="text: displayName"></h2><!-- /ko -->
<!-- ko foreach: children -->
	<!-- ko if: model.name == 'searchContainer' -->
		<!-- ko if: $parent.showSearch -->
			<!-- ko template: { name: template } --><!-- /ko -->
		<!-- /ko -->
	<!-- /ko -->	
	<!-- ko ifnot: model.name == 'searchContainer' -->
		<!-- ko template: {name: template } --><!-- /ko -->
	<!-- /ko -->
<!-- /ko -->
</script>

<script type="text/html" id="core/template/container/logout">
<div class="logout-link" data-bind="attr: { class: 'logout-link '+presentationStyles().joined  }">
	<a class="logout-link-a" data-bind="text: plainText, attr: { href: $data.context.configuration.baseUri + $data.context.subscriptionId + '/api/authentication/logout' }"></a>
</div>
</script>

<script type="text/html" id="core/template/container/menubar">
<div data-bind="attr: { class: 'btn-toolbar menubar ' + presentationStyles().joined }, foreach: children">
	<!-- ko if: type == 'button' -->
		<div class="btn-group" style="margin-left: 0px;">
			<button 
			   	type="button" 
			   	class="btn"
			   	data-bind=" click: handleClick, 
			   				disable: disabled, 
			   				text: caption,	    			
			   				css: { 'btn-primary highlighted': presentationStyles().highlighted }">
			</button>	
		</div>
	<!-- /ko -->
	<!-- ko if: type == 'container' -->
		<div class="btn-group" style="margin-left: 0px;">
			<button type="button" class="btn btn-default dropdown-toggle"
				data-toggle="dropdown" data-bind="css: {'btn-primary highlighted': presentationStyles().highlighted}">
				<span data-bind="text: displayName"></span>&nbsp;
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" data-bind="foreach: $data.children">
				<li style="text-align: center;">
					<a href="#" data-bind="text: caption, click: handleClick"></a>
				</li>
			</ul>
		</div>
	<!-- /ko -->
</div>
</script>

<script type="text/html" id="core/template/container/plaincontainer">
<div data-bind="foreach: children">
	<!-- ko template: { name: template } --><!-- /ko -->
</div>
</script>

<script type="text/html" id="core/template/container/table/table">
<div data-bind="attr: { class: 'bq-table ' + presentationStyles().joined }, bqMode: ['fieldValueOnly']">
	<!-- ko if: properties().limitmessage -->
	<div class="alert" data-bind="text: properties().limitmessage"></div>
	<!-- /ko -->
	<table class="table table-striped">
		<thead data-bind="if: header">
			<tr data-bind="foreach: header.children">
				<!-- ko template: { name: template } --><!-- /ko -->
			</tr>
		</thead>
		<tbody data-bind="foreach: rows">
			<tr data-bind="foreach: children">
				<!-- ko template: { name: template } --><!-- /ko -->
			</tr>
		</tbody>
	</table>
</div>

</script>

<script type="text/html" id="core/template/container/table/tablecell">
<td data-bind="attr: { class: presentationStyles().joined }, foreach: children">
	<!-- ko template: { name: template } --><!-- /ko -->
</td>
</script>

<script type="text/html" id="core/template/container/table/tableheader">
<th data-bind="foreach: children, attr: { class: 'bq-table-header '+presentationStyles().joined }">
	<!-- ko template: { name: template } --><!-- /ko -->
</th>

</script>

<script type="text/html" id="core/template/container/table/tablenavigation">
<div class="bq-table-navigation">
	<!-- ko with: first -->
	<button class="btn" type="button" data-bind="click: handleClick, disable: disabled"><i class="icon-double-angle-left"></i></button>
	<!--  /ko -->
	<!-- ko with: previous -->
	<button class="btn" type="button" data-bind="click: handleClick, disable: disabled"><i class="icon-angle-left"></i></button>	
	<!--  /ko -->
	<!-- ko with: selector -->
	<select class="input-mini" data-bind="disable: readonly, bqTooltip: explainText, options: domain, optionsText: 'displayValue', optionsValue: 'value', value: value"></select>
	<!--  /ko -->
	<!-- ko with: next -->
	<button class="btn" type="button" data-bind="click: handleClick, disable: disabled"><i class="icon-angle-right"></i></button>
	<!--  /ko -->
	<!-- ko with: last -->
	<button class="btn" type="button" data-bind="click: handleClick, disable: disabled"><i class="icon-double-angle-right"></i></button>
	<!--  /ko -->
</div>
</script>

<script type="text/html" id="core/template/container/table/tablerow">
<tr data-bind="foreach: children, attr: { class: presentationStyles().joined }">
	<!-- ko template: { name: context.templateFactory.getTemplate } -->
	<!-- /ko -->
</tr>
</script>

<script type="text/html" id="core/template/container/table/tablesearch">
<div class="bq-table-search pull-right" data-bind="ifnot: disabled">
	<input type="text" class="input-medium" data-bind="bqSearchField: searchTerm, disabled: searchField.readonly, event: { keypress: keyPressed }" />
	<button type="button" class="btn" disabled>
		<i class="icon-search"></i>
	</button>
</div>
<div class="clearfix"></div>
</script>

<script type="text/html" id="core/template/container/table/tablesortedheader">
<th data-bind="click: handleClick, attr: { class: 'bq-table-header bq-table-header-sortable '+presentationStyles().joined }">				
	<div class="bq-table-header-sort-title" data-bind="template: { if: content, name: context.templateFactory.getTemplate, data: content }"></div>
	<div class="bq-table-header-sort-indicator">
	   	<i data-bind="if: sortedAscending">
	   		<i class="icon-chevron-up"></i>
	   	</i>
	   	<i data-bind="if: sortedDescending">
  			<i class="icon-chevron-down"></i>
  		</i>
	</div>	
	<div class="clearfix"></div>		
</th>
</script>

<script type="text/html" id="core/template/container/table/tabletextcell">
<td data-bind="text: displayName, attr: { class: presentationStyles().joined }"></td>
</script>

<script type="text/html" id="core/template/container/tabs">
<h2 data-bind="visible: displayName, text: displayName"></h2>
<ul class="nav nav-tabs" data-bind="foreach: tabLabels">
	<li data-bind="css: { active: $index() === 0 }">
		<a data-toggle="tab" data-bind="attr: { href: '#tab_' + containerKey }, text: displayName"></a>
	</li>
</ul>
<div class="tab-content" data-bind="foreach: children">
	<div class="tab-pane" data-bind="attr: { id: 'tab_' + key }, css: { active: $index() === 0 }">
		<!-- ko template: { name : template} --><!-- /ko -->
	</div>
</div>
</script>

<script type="text/html" id="core/template/contentitem/contentitem">
<!-- ko foreach: children -->
<div data-bind="template: { name: template }, attr: { class: presentationStyles().joined }"></div>
<!-- /ko -->
</script>

<script type="text/html" id="core/template/failedelement/failedelement">
<div class="alert alert-error">
	<button type="button" class="close"><i data-bind="bqStackTrace : 'stacktrace' + key" class="icon-chevron-right"></i></button>
	<span data-bind="text: message"></span>              
</div>
<pre class="stacktrace" data-bind="attr : { id: 'stacktrace' + key }, text: stackTrace"></pre>
</script>

<script type="text/html" id="core/template/field/boolean">
<input type="checkbox"data-bind= "checked: valueAsBoolean, bqTooltip: explainText, disable: readonly,	attr: { id: key }" />
</script>

<script type="text/html" id="core/template/field/checkboxhorizontal">
<!-- ko foreach: domain -->
<label class="checkbox inline">
	<input type="checkbox" data-bind="attr : { value : value, name : $parent.key }, checked: $parent.values">
	<span data-bind="text: displayValue"></span>
</label>
<!-- /ko -->
</script>

<script type="text/html" id="core/template/field/checkboxvertical">
<!-- ko foreach: domain -->
<label class="checkbox">
	<input type="checkbox" data-bind="attr : { value : value, name : $parent.key }, checked: $parent.values">
	<span data-bind="text: displayValue"></span>
</label>
<!-- /ko -->
</script>

<script type="text/html" id="core/template/field/currency">
<div class="input-append">
	<input type="text" data-bind ="value: value, bqTooltip: explainText, disable: readonly,	attr: { id: key }" />
	<span class="add-on">
		<i class="icon-money"></i>
	</span>
</div>
</script>

<script type="text/html" id="core/template/field/date">
<div data-bind="attr: { 'data-date-format': context.session.language.patterns.date  }, bqDatePicker: value"	class="input-append date" data-date="">
	<input type="text" data-bind="value: value, bqTooltip: explainText,	attr: { placeholder: context.session.language.patterns.date, id: key }"/>
     <span class="add-on">
		<i class="icon-calendar"></i>
	</span>
</div>
</script>

<script type="text/html" id="core/template/field/datetime">
<div data-bind="attr: { 'data-date-format': context.session.language.patterns.date  }, bqDateTimePicker: value" class="input-append date" data-date="">
	<input type="text" data-bind="value: value, bqTooltip: explainText, attr: { placeholder: context.session.language.patterns.date, id: key }" />
    <span class="add-on">
    	<i class="icon-time"></i>
    </span>
</div>
</script>

<script type="text/html" id="core/template/field/domainmulti">
<select multiple data-bind="disable: readonly, bqTooltip: explainText, options: domain, optionsText: 'displayValue', optionsValue: 'value', selectedOptions: values, attr: { id: key }"></select>
</script>

<script type="text/html" id="core/template/field/domainsingle">
<select data-bind="	bqTooltip: explainText,	options: domain, optionsText: 'displayValue', optionsValue: 'value', selectedOptions: values, optionsCaption: '', attr: { id: key }"></select>
</script>

<script type="text/html" id="core/template/field/field">
<div class="control-group" data-bind="css: {warning: hasWarning, error: hasError}">
	<label class="control-label" data-bind="attr: { for: key }">
		<span data-bind="text: questionText"></span>
		<span class="required" data-bind="visible: required()">*</span>
	</label>
	<div class="controls">
		<!-- ko template: { name: fieldValueTemplate } --><!-- /ko -->
		<div data-bind="foreach: { data: messages, as: 'message' }">
			<span class="help-inline" data-bind="text: message.text"></span>
		</div>
	</div>
</div>
</script>

<script type="text/html" id="core/template/field/filetypefield">
<i data-bind="attr : { class: 'filetype ' + image() }"></i>
</script>

<script type="text/html" id="core/template/field/integer">
<input type="number" data-bind ="value: value, bqTooltip: explainText, attr: { id: key }" />
</script>

<script type="text/html" id="core/template/field/memo">
<textarea data-bind ="value: value,	bqTooltip: explainText, attr: { id: key }"></textarea>
</script>

<script type="text/html" id="core/template/field/number">
<input type="number" data-bind ="value: value, bqTooltip: explainText, attr: { id: key, maxlength: maxLength }" />
</script>

<script type="text/html" id="core/template/field/password">
<input type="password" data-bind ="value: value, bqTooltip: explainText, attr: { id: key }">

</script>

<script type="text/html" id="core/template/field/percentage">
<div class="input-append">	
	<input type="text" data-bind ="value: value, bqTooltip: explainText, attr: { id: key }" />
	<span class="add-on">&#37;</span>
</div>
</script>

<script type="text/html" id="core/template/field/radiohorizontal">
<!-- ko foreach: domain -->
<label class="radio inline">
	<input type="radio" data-bind="attr : { value : value, name : $parent.key }, checked: $parent.value">
	<span data-bind="text: displayValue"></span>
</label>
<!-- /ko -->
</script>

<script type="text/html" id="core/template/field/radiovertical">
<!-- ko foreach: domain -->
<label class="radio">
	<input type="radio" data-bind="attr : { value : value, name : $parent.key }, checked: $parent.value">
	<span data-bind="text: displayValue"></span>
</label>
<!-- /ko -->
</script>

<script type="text/html" id="core/template/field/readonly">
<div class="control-group readonly">
	<div class="control-label" data-bind="text: questionText"></div>
	<div class="controls">
		<div class="form-control-static">
			<p data-bind="text: displayValue"></p>
		</div>
	</div>
</div>
</script>

<script type="text/html" id="core/template/field/readonlyvalue">
<span data-bind="text: displayValue"></span>
</script>

<script type="text/html" id="core/template/field/text">
<input type="text" data-bind="value: value, bqTooltip: explainText, attr: { id: key, maxlength: maxLength }" />
</script>

<script type="text/html" id="core/template/field/toggle">
<input data-bind="bqToggle: value" type="checkbox" />
</script>

<script type="text/html" id="core/template/field/value">
<div class="control-group" data-bind="css: {warning: hasWarning, error: hasError}">
    <div>
        <!-- ko template: { name: fieldValueTemplate } --><!-- /ko -->
        <div data-bind="foreach: { data: messages, as: 'message' }">
            <span class="help-inline" data-bind="text: message.text"></span>
        </div>
    </div>
</div>
</script>

<script type="text/html" id="core/template/image/image">
<img data-bind="attr: { src: url, height: height, width: width, class: presentationStyles().joined }" />
</script>

<script type="text/html" id="core/template/link/link">
<a data-bind="attr: { href: url, class: presentationStyles().joined }, text: text"></a>
</script>

<script type="text/html" id="core/template/notification-modal">
<div id="notification-modal"
	 data-backdrop="static"
	 data-keyboard="false"
	 data-bind="bqModal: message()"
	 class="modal hide fade"
	 data-show="true" 
	 tabindex="-1" 
	 role="dialog" 
	 aria-labelledby="notification-modal-label" 
	 aria-hidden="false">				 
	<div class="modal-header">
		<button type="button" class="close" data-bind="click: handled">&times;</button>
		<i data-bind="if: type() == 'error'" class="icon-warning-sign icon-2x modal-header-icon"></i>
		<h3 data-bind="text: title()" id="notification-modal-label" class="text-inline modal-header-heading"></h3>
	</div>
	
	<div class="modal-body">
		<p data-bind="text: message()"></p>
	</div>

	<div class="modal-footer">
		<button class="btn" data-bind="click: handled">Close</button>
	</div>
</div>
</script>

<script type="text/html" id="core/template/page/page">
<div class="row-fluid">
	<div class="span12 bq-header">
		<div class="logo" alt="Blueriq Runtime"></div>
		<h1 class="displayName" data-bind="visible: displayName, html: displayName"></h1>
	</div>
</div>
		
<div class="row-fluid">
	<div id="main" class="span12">
		<form class="form-horizontal" onsubmit="return false">
			<div data-bind="foreach: { data: messages, as: 'message' }">
				<div class="alert alert-error" data-bind="text: message.text"></div>
			</div>
			<div data-bind="foreach: children">
				<!-- ko template: { name: template } --><!-- /ko -->
			</div>
		</form>
	</div>
</div>
</script>

<script type="text/html" id="core/template/statistic/statistic">
<div data-bind="attr: { class: 'statistic ' + presentationStyles().joined }">
  <p style="font-size: 40px;" data-bind="bqStatistic: 'unusedParam', data: statistic" class="odometer"></p>
</div>
</script>

<script type="text/html" id="core/template/statistic/visualization">
<div data-bind="attr: { class: 'visualization ' + presentationStyles().joined }">
  
  <table>
  	<tr>
  		<td>
  			<div style="font-weight:bold"></div>
  		</td>
  	</tr>  
	<tr>	
		<td>			
  			<canvas data-bind="bqVisualization: '', chartType: style, data: statistics, title: displayName" class="visualization"></canvas>
  		</td>
  		<td>
  			<div></div>
  		</td>
  	</tr>
  </table>
</div>
</script>

<script type="text/html" id="core/template/textitem/authenticateduser">
<div data-bind="attr: { class: 'authenticated-user '+presentationStyles().joined }">
	<img data-bind="attr: {src: bqApp.configuration.resourceUri + bqApp.configuration.blueriqPath + 'app/img/avatar.png'}" class="authenticated-user-icon"> 
	<span data-bind="text: plainText"></span>
</div>
</script>

<script type="text/html" id="core/template/textitem/logout">
<div class="logout-link" data-bind="attr: { class: 'logout-link '+presentationStyles().joined  }">
	<a class="logout-link-a" data-bind="text: plainText, attr: { href: $data.context.configuration.baseUri + $data.context.subscriptionId + '/api/authentication/logout' }"></a>
</div>
</script>

<script type="text/html" id="core/template/textitem/textitem">
<p data-bind="bqHtml: plainText()"></p>
</script>

<script type="text/html" id="core/template/textitem/textitemnode">
<!-- ko if: nodeType === 'text' -->
	<span data-bind="bqHtml: text"></span>
<!-- /ko -->

<!-- ko if: nodeType === 'value' -->
	<!-- ko foreach: values -->
		<span data-bind="bqHtml: $data"></span>
	<!-- /ko -->
<!-- /ko -->

<!-- ko if: nodeType === 'style' -->
	<span data-bind="attr: { class: presentationStyle }">
		<!-- ko template: { name: 'core/template/textitem/textitemnode', foreach: nodes } --><!-- /ko -->
	</span>
<!-- /ko -->
</script>

<script type="text/html" id="core/template/textitem/textitemstyled">
<p data-bind="foreach: nodes, attr: { class: 'text-item ' + presentationStyles().joined  }" >
	<span data-bind="template: { name: 'core/template/textitem/textitemnode' }"></span>
</p>
</script>

<script type="text/html" id="core/template/unknown/unknown">
</script>

