<div class="navbar navbar-default navbar-fixed-top" role="navigation"></div>
<div class="container bootcards-container aq-offline-container-wrapper">
    <!-- Online BTN -->
    <!-- ko if: isMobile && isOnline -->
    <div class="input-group online-button-container">
        <span data-bind="text: onlinenotification"></span>
        <button type="button" class="btn" data-bind="text: onlinebutton, event: { touchend: goOnline }"></button>
    </div>
    <!-- /ko -->
    <!-- /Online BTN -->
    
    <div class="col-sm-12 bootcards-cards aq-offline-container">
    	<!-- ko if: displayTaskList -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">
            <span><i class="fa fa-pencil"></i></span>
           	<span data-bind="text: titleName"></span>
       		</h2>
            </div>
            <div class="panel-body">
                <div class="bootcards-list col-xs-12">
                    <div class="panel panel-default">
                        <div class="list-group" data-bind="foreach: items">
                            <a class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-8">
                                        <h4 class="list-group-item-heading" data-bind="text: taskName, click: $parent.executeOfflineTask"></h4>
                                        <p class="list-group-item-text" data-bind="text: taskDescription"></p>
                                        
                                    </div>
                                    <span class="col-sm-4 col-xs-2 offline-delete-localy-button" data-bind="bqRemoveOfflineTaskClick: action"></span>                  
                                </div>                               
                            </a>
                        </div>
                        <!-- ko ifnot: availableOfflineTasks-->
                        <a class="list-group-item">
                            <div class="row">
                                <div class="col-sm-6 col-xs-8">
                                    <h4 class="list-group-item-heading" data-bind="text: noTasksText"></h4>
                                </div>
                            </div>
                        </a>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /ko -->
        <!-- ko if: displayTask -->
	    <div id="offlineTaskPage">
	    	<div class ="aq-offline-preparedon" data-bind="text: preparedOn">
	    	</div>
	        <div data-bind="foreach: taskModel().children">
	            <!-- <span data-bind="text: context.templateFactory.getTemplate"></span> -->
	            <!-- ko template: { name: template } -->
	            <!-- /ko -->
	        </div>
	        <div class="navbar navbar-default navbar-fixed-bottom">
		        <div class="btn-group btn-group-justified" role="group">
		            <div class="btn-group">
		                <button type="button" class="btn" data-bind="click: handleCancel, text: cancelText"></button>
		            </div>
		            <div class="btn-group">
		                <button type="button" class="btn" data-bind="click: handleSave, text: saveText"></button>
		            </div>
		        </div>
	        </div>
	    </div>
	    <!-- /ko -->
    </div>
</div>