<div class="ext-midfirst-cards-ng" data-ng-controller="CardsController as $ctrl">
  <h2>Total cards balance <span class="pull-right">
    <ui-bb-format-amount
        class="bb-account-card-additional-amount amount-regular-color text-muted"
        data-amount="5000"
        data-wrap
        data-currency="'$'"
    ></ui-bb-format-amount>
  </span></h2>


    <hr>

    <div class="search-bar">

        <input class="pull-right" placeholder="Search" />

    </div>


    <div class="card-item no-top-border">
        <div class="card-item--image card-item--image-orange">

            <div class="btn btn-default btn-blue">Activate your card</div>

        </div>

        <div class="card-item--text">

            <h2>Platinum Card balance <span class="pull-right">

                <ui-bb-format-amount
                    class="bb-account-card-additional-amount amount-regular-color text-muted"
                    data-amount="5000"
                    data-wrap
                    data-currency="'$'"
                ></ui-bb-format-amount>


            </span></h2>
            <p class="date">Nov 30, 2017</p>

            <hr/>

            <p class="available">Available:<span class="pull-right">

                <ui-bb-format-amount
                    class="bb-account-card-additional-amount amount-regular-color text-muted"
                    data-amount="5000"
                    data-wrap
                    data-currency="'$'"
                ></ui-bb-format-amount>


            </span></p>
            <p class="credit-limit">Credit limit:<span class="pull-right">



                <ui-bb-format-amount
                    class="bb-account-card-additional-amount amount-regular-color text-muted"
                    data-amount="5000"
                    data-wrap
                    data-currency="'$'"
                ></ui-bb-format-amount>


            </span></p>

        </div>
    </div>


    <div class="card-item">
        <div class="card-item--image">

            <p class="card-number">4000 1234 5678 1234</p>
            <p class="card-name">SARA WILLIAMS</p>
            <p class="card-date">10/21</p>

        </div>

        <div class="card-item--text">

            <h2>Current Card balance <span class="pull-right">

                <ui-bb-format-amount
                    class="bb-account-card-additional-amount amount-regular-color text-muted"
                    data-amount="00.00"
                    data-wrap
                    data-currency="'$'"
                ></ui-bb-format-amount>


            </span></h2>
            <p class="date">Nov 30, 2017</p>

            <hr/>

            <p class="available">Available:<span class="pull-right">

                <ui-bb-format-amount
                    class="bb-account-card-additional-amount amount-regular-color text-muted"
                    data-amount="5000"
                    data-wrap
                    data-currency="'$'"
                ></ui-bb-format-amount>


            </span></p>
            <p class="credit-limit">Credit limit:<span class="pull-right">



                <ui-bb-format-amount
                    class="bb-account-card-additional-amount amount-regular-color text-muted"
                    data-amount="5000"
                    data-wrap
                    data-currency="'$'"
                ></ui-bb-format-amount>


            </span></p>

            <hr />

            <div class="card-toggle automatic-payment">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>

                <p>Automatic payment</p>

                <i class="fa fa-info"></i>
            </div>
            <div class="card-toggle travel-mode">
                <label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider"></span>
                </label>

                <p>Travel mode</p>

                <i class="fa fa-info"></i>
            </div>
            <div class="card-toggle block-card">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>

                <p>Block card</p>

                <i class="fa fa-info"></i>
            </div>

            <div class="cards-buttons">

                <div class="cards-button cards-button-left">
                    <i class="bb-icon bb-icon--view"></i>
                    <p>View</p>
                </div>
                <div class="cards-button cards-button-center">
                    <i class="bb-icon bb-icon--payment"></i>
                    <p>Pay</p>
                </div>
                <div class="cards-button cards-button-right">
                    <i class="bb-icon bb-icon--pin"></i>
                    <p>Reset PIN</p>
                </div>

            </div>
        </div>
    </div>

    <div class="card-item">
        <div class="card-item--image card-item--image-red">

            <p class="card-number">4000 1234 5678 1234</p>
            <p class="card-name">SARA WILLIAMS</p>
            <p class="card-date">10/21</p>

        </div>

        <div class="card-item--text">

            <h2>Platinum Card balance <span class="pull-right">

                <ui-bb-format-amount
                    class="bb-account-card-additional-amount amount-regular-color text-muted"
                    data-amount="2426.35"
                    data-wrap
                    data-currency="'$'"
                ></ui-bb-format-amount>


            </span></h2>
            <p class="date">Nov 30, 2017</p>

            <hr/>

            <p class="available">Available:<span class="pull-right">

                <ui-bb-format-amount
                    class="bb-account-card-additional-amount amount-regular-color text-muted"
                    data-amount="2426.35"
                    data-wrap
                    data-currency="'$'"
                ></ui-bb-format-amount>


            </span></p>
            <p class="credit-limit">Credit limit:<span class="pull-right">



                <ui-bb-format-amount
                    class="bb-account-card-additional-amount amount-regular-color text-muted"
                    data-amount="5000"
                    data-wrap
                    data-currency="'$'"
                ></ui-bb-format-amount>


            </span></p>

            <hr />

            <div class="card-toggle automatic-payment">
                <label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider"></span>
                </label>

                <p>Automatic payment</p>

                <i class="fa fa-info"></i>
            </div>
            <div class="card-toggle travel-mode">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>

                <p>Travel mode</p>

                <i class="fa fa-info"></i>
            </div>
            <div class="card-toggle block-card">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>

                <p>Block card</p>

                <i class="fa fa-info"></i>
            </div>

            <div class="cards-buttons">

                <div class="cards-button cards-button-left">
                    <i class="bb-icon bb-icon--view"></i>
                    <p>View</p>
                </div>
                <div class="cards-button cards-button-center">
                    <i class="bb-icon bb-icon--payment"></i>
                    <p>Pay</p>
                </div>
                <div class="cards-button cards-button-right">
                    <i class="bb-icon bb-icon--pin"></i>
                    <p>Reset PIN</p>
                </div>

            </div>
        </div>
    </div>


</div>



