<div data-ng-controller="ContactController as $ctrl" class="ext-bb-contact-list-ng">
    <ui-bb-loading-indicator-ng data-is-loading="$ctrl.state.initialLoading"
                                data-loading-text="{{ 'message.loading' | i18n }}">
        <ui-bb-substitute-error-ng data-error="( $ctrl.state.error | i18n )">

            <div class="notifications col-md-4">
                <ui-bb-notification-stripe
                        data-ng-if="$ctrl.state.status"
                        data-timeout-second="{{ $ctrl.dismissTime }}"
                        data-message="{{ ext.helpers.notificationMessage($ctrl.state.status) }}"
                        data-on-close="$ctrl.state.status = null;"
                        data-type="bg-{{ $ctrl.state.status.isError ? 'danger' : 'success' }}">
                </ui-bb-notification-stripe>
            </div>

            <div data-ng-if="!$ctrl.hasContacts() && !$ctrl.state.contact.data">
                <div class="tile col-sm-6 col-sm-offset-3 col-xs-12 pull-left">
                    <h4 class="text-center">{{ ::'contacts.empty.title' | i18n }}</h4>
                    <p class="text-center">
                        {{ ::'contacts.empty.message.noContact' | i18n }}
                        <br/>
                        <span data-ng-class="{ 'hidden-xs': $ctrl.state.page !== 'list' }">{{ ::'contacts.empty.message.clickButton' | i18n }}</span>
                    </p>
                    <div data-ng-include="'#ext-bb-contact-list-ng/create-new-button.ng.html'"></div>
                </div>
            </div>

            <div class="state--{{$ctrl.state.page}}" data-ng-if="$ctrl.hasContacts() || $ctrl.state.contact.data">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-left no-padding-dektop"></div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-right no-padding-dektop">
                        <div data-ng-include="'#ext-bb-contact-list-ng/create-new-button.ng.html'"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="tile col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-left">
                        <div
                                data-ng-if="!$ctrl.state.contacts.loading"
                                data-ng-include="'#ext-bb-contact-list-ng/contact-list.ng.html'"
                                data-ng-class="{ 'hidden-xs': $ctrl.state.page !== 'list' }"
                                class="contact-list-master-view"></div>
                        <ui-bb-inline-status
                                data-ng-if="$ctrl.state.contacts.loading || !$ctrl.hasContacts()"
                                data-show-spinner="$ctrl.state.contacts.loading"
                                data-text="$ctrl.state.contacts.loading ?
              ( 'contacts.loadMore.loading' | i18n ) :
              ( 'contacts.loadMore.empty' | i18n )">
                        </ui-bb-inline-status>
                    </div>

                    <div class="tile col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-right">
                        <div data-ng-switch="$ctrl.state.page"
                             class="contact-list-details-view contact-list-details-view--state-{{$ctrl.state.page}}">
                            <div class="hidden-xs" data-ng-switch-when="list">
                                <div data-ng-include="'#ext-bb-contact-list-ng/contact-details.ng.html'"></div>
                            </div>
                            <div data-ng-switch-when="details">
                                <div data-ng-include="'#ext-bb-contact-list-ng/contact-details.ng.html'"></div>
                            </div>
                            <div data-ng-switch-when="edit">
                                <div data-ng-include="'#ext-bb-contact-list-ng/contact-form.ng.html'"></div>
                            </div>
                            <div data-ng-switch-when="new">
                                <div data-ng-include="'#ext-bb-contact-list-ng/contact-form.ng.html'"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </ui-bb-substitute-error-ng>
    </ui-bb-loading-indicator-ng>

    <ui-bb-confirm
            data-is-open="ext.cancelFormConfirmOpened"
            data-on-confirm="ext.helpers.cancelEditForm(ext, $ctrl)"
            data-labels="{
      heading: ('dialog.cancelForm.titleCreate' | i18n),
      bodyText: ('dialog.cancelForm.body' | i18n),
      confirm: ('dialog.cancelForm.yes' | i18n),
      cancel: ('label.cancel' | i18n)
    }">
    </ui-bb-confirm>
</div>

<script type="text/ng-template" id="#ext-bb-contact-list-ng/create-new-button.ng.html">
    <button
            class="new-contact-btn btn btn-default btn-block pull-right"
            data-ng-click="$ctrl.showNewContactForm()"
            data-ng-class="{ 'hidden-xs': $ctrl.state.page !== 'list' }">
        {{ 'label.createNewContact' | i18n }}<i class="fa fa-user-plus" aria-hidden="true"></i>
    </button>
</script>

<script type="text/ng-template" id="#ext-bb-contact-list-ng/contact-details.ng.html">
    <div class="row row--actions">
        <span class="shc-icon-label hidden-sm hidden-md hidden-lg pull-left">
            <i class="shc-icon-label__icon shc-icon-label__icon--left bb-icon bb-icon--arrow-left"></i>
            <a class="shc-icon-label__text" href="#" data-ng-click="$ctrl.closeContactDetails()"
               data-i18n-key="label.back"></a>
        </span>
        <div class="button-group pull-right">
            <button class="btn btn-default btn-ghost btn-blue btn-circled" id="edit-contact"
                    data-ng-click="$ctrl.showEditContactForm()">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
            <button class="btn btn-default btn-ghost btn-blue btn-circled" id="delete-contact"
                    data-ng-click="ext.deleteConfirmOpened = true">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
        </div>
    </div>

    <!-- Desktop and Larger -->
    <div class="contact_details__avatar_card contact_details__avatar_card--desktop row hidden-xs">
        <ui-bb-avatar
                class="text-center bb-avatar media img-circle img-thumbnail no-padding"
                data-ng-if="$ctrl.state.showAvatar"
                data-name="$ctrl.state.contact.data.name"
                data-image="$ctrl.state.contact.data.imageAvatar">
        </ui-bb-avatar>
        <div class="contact_details__avatar_card--desktop__text-block">
            <p class="text-left avatar_card--desktop__text-name" data-ng-bind="$ctrl.state.contact.data.name"></p>
            <p class="text-left avatar_card--desktop__text-product_nr"
               data-ng-bind="$ctrl.state.contact.data.accounts[0].IBAN"></p>
        </div>
    </div>


    <!-- Mobile and Tablet -->
    <div class="contact_details__avatar_card contact_details__avatar_card--mobile row hidden-sm hidden-md hidden-lg">
        <div class="col-sm-12 text-center">
            <ui-bb-avatar
                    class="bb-avatar bb-avatar-lg media img-circle img-thumbnail no-padding"
                    data-ng-if="$ctrl.state.showAvatar"
                    data-name="$ctrl.state.contact.data.name"
                    data-image="$ctrl.state.contact.data.imageAvatar">
            </ui-bb-avatar>
        </div>
        <div class="row">
            <div class="col-sm-12 col-xs-12 contact_details__avatar_card--mobile__text-block">
                <p class="text-center avatar_card--mobile__text-name" data-ng-bind="$ctrl.state.contact.data.name"></p>
                <p class="text-center avatar_card--mobile__text-product_nr"
                   data-ng-bind="$ctrl.state.contact.data.accounts[0].IBAN"></p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <form class="form-horizontal col-xs-12">
            <div class="form-group">
                <div class="row detail-label" data-i18n-key="label.phoneNumber"></div>
                <div class="row detail-info" data-ng-bind="$ctrl.state.contact.data.phoneNumber">
                </div>
            </div>
            <div class="form-group">
                <div class="row detail-label" data-i18n-key="label.emailId"></div>
                <div class="row detail-info" data-ng-bind="$ctrl.state.contact.data.emailId"></div>
            </div>
        </form>
    </div>

    <ui-bb-confirm
            data-is-open="ext.deleteConfirmOpened"
            data-on-confirm="$ctrl.deleteContact()"
            data-labels="{
      heading: ('dialog.delete.title' | i18n),
      bodyHtml: ('dialog.delete.body' | i18n: { username: $ctrl.state.contact.data.name }),
      confirm: ('dialog.delete.yes' | i18n),
      cancel: ('dialog.delete.no' | i18n)
    }"
            data-confirm-btn-class="'btn-danger'">
    </ui-bb-confirm>
</script>

<script type="text/ng-template" id="#ext-bb-contact-list-ng/contact-list.ng.html">
    <div class="list-items-wrapper" data-ng-click="ext.helpers.tryToCancelEditForm(ext, $ctrl)">
        <ui-bb-account-card
                ng-class="{'active':$ctrl.state.contact.data.id === contact.id}"
                class="bb-account-card list-item"
                data-account-name="contact.name"
                data-account-image="contact.imageAvatar"
                data-account-number="contact.accounts[0].IBAN"
                data-show-avatar="true"
                data-ng-repeat="contact in $ctrl.state.contacts.data track by $index"
                data-ng-click="ext.contactToSelect = contact">
        </ui-bb-account-card>
    </div>
    <ui-bb-load-more-ng
            data-ng-show="$ctrl.state.contacts.hasMore"
            data-label="{{ 'label.loadMore' | i18n }}"
            data-on-load-more="$ctrl.loadMore(done)">
    </ui-bb-load-more-ng>
</script>

<script type="text/ng-template" id="#ext-bb-contact-list-ng/contact-form.ng.html">
    <!-- Mobile Edit View -->
    <!-- Mobile Avatar Info -->
    <div class="contact_details__avatar_card contact_details__avatar_card--mobile row hidden-sm hidden-md hidden-lg">
        <div class="col-sm-12 text-center">
            <ui-bb-avatar
                    class="bb-avatar bb-avatar-lg media img-circle img-thumbnail no-padding"
                    data-ng-if="$ctrl.state.showAvatar"
                    data-name="$ctrl.state.contact.data.name"
                    data-image="$ctrl.state.contact.data.imageAvatar">
            </ui-bb-avatar>
        </div>
        <div class="row">
            <div class="col-sm-12 col-xs-12 contact_details__avatar_card--mobile__text-block">
                <p class="text-center avatar_card--mobile__text-name" data-ng-bind="$ctrl.state.contact.data.name"></p>
                <p class="text-center avatar_card--mobile__text-product_nr"
                   data-ng-bind="$ctrl.state.contact.data.accounts[0].IBAN"></p>
            </div>
        </div>
    </div>
    <!-- Desktop Avatar Info -->
    <div class="contact_details__avatar_card contact_details__avatar_card--desktop row hidden-xs">
        <ui-bb-avatar
                class="text-center bb-avatar media img-circle img-thumbnail no-padding"
                data-ng-if="$ctrl.state.showAvatar"
                data-name="$ctrl.state.contact.data.name"
                data-image="$ctrl.state.contact.data.imageAvatar">
        </ui-bb-avatar>
        <div class="contact_details__avatar_card--desktop__text-block">
            <p class="text-left avatar_card--desktop__text-name" data-ng-bind="$ctrl.state.contact.data.name"></p>
            <p class="text-left avatar_card--desktop__text-product_nr"
               data-ng-bind="$ctrl.state.contact.data.accounts[0].IBAN"></p>
        </div>
    </div>
    <hr>
    <form name="contactForm"
          data-role="contact-form"
          data-ng-submit="ext.helpers.saveContact($ctrl, contactForm)"
          data-ui-bb-track-changes="$ctrl.state.contact.data">
        <div class="form-group">
            <label data-i18n-key="label.name"></label>
            <div class="input-group col-xs-12">
                <input type="text"
                       class="form-control"
                       name="name"
                       data-ng-model="$ctrl.state.contact.data.name"
                       required="true"
                       maxlength="70"
                       data-ng-pattern="/^[ \w-+!@#$%^&()';:\[\]\.\,|]+$/"
                       aria-label="{{:: 'label.name' | i18n }}">
                    <ng-messages
                          data-for="contactForm.name.$error"
                          data-ng-show="contactForm.name.$touched"
                          class="">
                            <ng-message data-when="required" data-i18n-key="errors.requiredName"></ng-message>
                            <ng-message data-when="pattern" data-i18n-key="errors.namePattern"></ng-message>
                    </ng-messages>
            </div>
        </div>
        <div class="form-group">
            <label data-i18n-key="label.iban"></label>
            <div class="input-group col-xs-12">
                <input type="text"
                       class="form-control"
                       name="accountIBAN"
                       data-ng-model="$ctrl.state.contact.data.accounts[0].IBAN"
                       data-ng-required="true"
                       aria-label="{{:: 'label.iban' | i18n }}"
                       data-ui-bb-iban>
                <ng-messages
                        data-for="contactForm.accountIBAN.$error"
                        data-ng-show="contactForm.accountIBAN.$touched"
                        class="" role="alert">
                    <ng-message data-when="required" data-i18n-key="errors.requiredAccountIBAN"></ng-message>
                    <ng-message data-when="uiBbIban" data-i18n-key="errors.invalidAccountIBAN"></ng-message>
                </ng-messages>
            </div>
        </div>
        <div class="form-group" data-ng-init="ext.contactForm = contactForm">
                <div class="button-group button-group--inline pull-right">
                    <button type="button"
                            class="btn btn-default btn-ghost btn-blue btn-small"
                            data-ng-click="ext.helpers.tryToCancelEditForm(ext, $ctrl)"
                            data-ng-disabled="$ctrl.state.contact.updating">{{ 'label.cancel' | i18n }}
                    </button>
                    <button class="btn btn-default btn-blue btn-small"
                            type="submit"
                            data-ng-disabled="contactForm.$pristine || contactForm.$invalid || $ctrl.state.contact.updating">{{ 'label.save' | i18n }}
                    </button>
                </div>
        </div>
    </form>
</script>
