<div question-item class="{{element.classList}} container_block" ng-readonly="element.readOnly"  >
    <!-- <h3 ng-bind="percIn"></h3> -->
    <div class="container col-md-12 question-item__content">
        <div ng-if="element.get('displayName')" class="container__title">
            <h2  class="bold inline-block" ng-bind="parseBold(element.get('displayName'))"></h2>
            <h2  class="inline-block" ng-bind="parseNormal(element.get('displayName'))"></h2>
        </div>
        <!-- <h3 ng-bind="percIn"></h3> -->
        <!-- <h3 ng-bind="percOut"></h3>-->

        <children></children>
    </div>
</div>
