<button type="button" class="btn" data-bind="click: handleClick, disable: disabled, css: { 'btn-primary': presentationStyles().button_primary, 'pull-right': presentationStyles().align_right }">
	<i data-bind="attr: { class: 'button-icon ' + presentationStyles().icon }"></i>
	<!-- ko text: caption --><!-- /ko -->
</button>