.account-select-standalone {
  .open {
    .btn-default.dropdown-toggle:focus {
      background-color: $gray-lightest;
    }
    .btn-default.dropdown-toggle:hover {
      background-color: $gray-lightest;
    }
  }
  .dropdown-toggle {
    padding: $account-selector-padding-main;
    line-height: $line-height-base;
    background-color: $account-selector-background-default;
    a {
      color: $gray-darker;
      font-size: $font-size-large;
    }
    &:hover {
      background-color: $gray-lightest;
    }
  }
  li.dropdown-option {
    a {
      padding: $account-selector-padding-item;
      font-size: $font-size-base;
      &:before {
        content: "";
      }
      .account-number {
        color: $gray;
      }
      &:hover {
        .account-number {
          color: inherit;
        }
      }
    }
    &.active a .account-name {
      @extend strong;
    }
  }
}