.ext-shc-rb-login-ng {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin-top: -80px;

  h1 {
    font-weight: 500;
  }

  .btn {
    width: 100%;
  }

  $bb-midgrey: #ccc;
  $font-weight-regular: 400;
  $white: #fff;
  $font-size-base: 25px;

  .floatlabel {
    position:relative;

    label {
      pointer-events: none;
      position: absolute;
      color: $bb-midgrey;
      font-weight: $font-weight-regular;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 16px;
      font-size: pix-to-em($font-size-base*0.3);
      line-height: pix-to-em($font-size-base*0.8);
      margin-bottom: 0;
      display: block;
      width: 100%;
      left: -6px;

      will-change: top, font-size;
      -webkit-transition: color .3s cubic-bezier(0.075, 0.820, 0.165, 1.000), font-size .3s cubic-bezier(0.075, 0.820, 0.165, 1.000), top .3s cubic-bezier(0.075, 0.820, 0.165, 1.000), transform .3s cubic-bezier(0.075, 0.820, 0.165, 1.000);
      -moz-transition: color .3s cubic-bezier(0.075, 0.820, 0.165, 1.000), font-size .3s cubic-bezier(0.075, 0.820, 0.165, 1.000), top .3s cubic-bezier(0.075, 0.820, 0.165, 1.000), transform .3s cubic-bezier(0.075, 0.820, 0.165, 1.000);
      -o-transition: color .3s cubic-bezier(0.075, 0.820, 0.165, 1.000), font-size .3s cubic-bezier(0.075, 0.820, 0.165, 1.000), top .3s cubic-bezier(0.075, 0.820, 0.165, 1.000), transform .3s cubic-bezier(0.075, 0.820, 0.165, 1.000);
      transition: color .3s cubic-bezier(0.075, 0.820, 0.165, 1.000), font-size .3s cubic-bezier(0.075, 0.820, 0.165, 1.000), top .3s cubic-bezier(0.075, 0.820, 0.165, 1.000), transform .3s cubic-bezier(0.075, 0.820, 0.165, 1.000);
    }

    input {
      @include placeholder-enhanced($bb-midgrey, 0);
      padding-top: 15px;
      font-size: 14px;
      line-height: 25px;
      height: 40px;
      padding-left: 10px; /* Bootstrap overwrite */
    }

    .error-info {
      &:before {
        position: absolute;
        content: ' ';
        height: 55px;
        background-color: red;
        margin-left: -25px;
        margin-top: -47px;
        width: 0;
        -webkit-transition: width .25s;
        border-radius: 3px 0 0 3px;
      }

      float: left;
      position: absolute;
      background-color: $white;
      padding-left: 7px;
      padding-right: 7px;
      padding-bottom: 0;
      border-radius: 4px;
      color: red;
      top: 41px;
      font-size: 12px;
      border: 1px solid red;
      opacity: 0;
      pointer-events: none;
      -webkit-transition: opacity .1s;
      display: block;
    }

    input {
      color: $grey-darkest;
      border: 0px;
      border-bottom: 1px solid $grey-light;
      border-radius: 0px;
      box-shadow: none;

      &.ng-not-empty + label {
        font-size: 10px;
        line-height: 25px;
        top: -5px;
        transform: translateY(0);
      }
      &:not(.ng-empty) {
        // NOT EMPTY FIELD
        @include placeholder-enhanced($bb-midgrey, 1);
        border-color: $blue-mid;
        &.ng-valid + label {
        }
        &.ng-invalid + label {
        }
        &:not(:focus) {
          &.ng-invalid + label {
            .error-info {
              &.error-required {
                opacity: 1;
                &::before {
                  width: 5px;
                  margin-top: -50px;
                }
              }
            }
          }
        }
      }
      &.ng-empty {
        /// EMPTY FIELD
        &.ng-invalid {
          .error-info {
            &.error-invalid {
              &::before {
                width: 5px;
              }
              opacity: 1;
            }
          }
        }
        &.ng-invalid + label {
        }
        &:not(:focus) {
          &.notify-empty {
            &.ng-invalid + label {
              .error-info {
                opacity: 1;
                &::before {
                  width: 5px;
                }
              }
            }
          }
        }
      }
      &:focus {
        @include placeholder-enhanced($bb-midgrey, 1);
        border-color: $blue-mid;
      }
      &:focus + label {
        font-size: 10px;
        line-height: 25px;
        top: -5px;
        transform: translateY(0);
        .error-info {
          -webkit-transition: width 0s;
        }
      }
    }
  }
}

@media (max-width: $screen-sm) {
  .ext-shc-rb-login-ng {
    position: relative;
    width: 100%;
    height: auto;
    transform: translateY(0%);
    margin-top: 0px;
  }
}
