.ext-bb-product-summary-ng {
	.panel {
		box-shadow: none;
		border-radius: 0;
		.panel-heading {
			padding-left: 6px;
			padding-bottom: 14px;
			border: none;
			i {
				display: none;
			}

			&:focus {
				outline: none;
				box-shadow: none;
			}

			uib-accordion-header {
				&:before {
					content: ' ';
					width: 20px;
					height: 20px;
					display: inline-block;
					vertical-align: top;
					margin-right: 8px;
					font-size: 20px;
					text-align: center;
				}
			}

			.amount {
				font-size: 17px;
			}

			.amount-decimals {
				margin-left: 3px;
				margin-top: -6px;
			}

		}

		&.currentAccounts {
			uib-accordion-header {
				color: $colour--products-current;
				&:before {
					@include bb-icon('', 'bb-icon--wallet');
				}

				.amount {
					color: $colour--products-current;
					.amount-decimals {
						color: $colour--products-current;
					}
					.amount-decimal-points {
						color: $colour--products-current;
					}
				}

			}

			.list-item {
				&:before {
					background-color: $colour--products-current;
				}
			}
		}

		&.savingsAccounts {
			uib-accordion-header {
				color: $colour--products-savings;
				&:before {
					@include bb-icon('', 'bb-icon--money-bag');
				}

				.amount {
					color: $colour--products-savings;
					.amount-decimals {
						color: $colour--products-savings;
					}

					.amount-decimal-points {
						color: $colour--products-savings;
					}
				}

			}

			.list-item {
				&:before {
					background-color: $colour--products-savings;
				}
			}
		}

        &.investmentAccounts {
            uib-accordion-header {
                color: $colour--products-investment;
                &:before {
                    @include bb-icon('', $bb-icon--money-bags);
                }

                .amount {
                    color: $colour--products-investment;
                    .amount-decimals {
                        color: $colour--products-investment;
                    }

                    .amount-decimal-points {
                        color: $colour--products-investment;
                    }
                }

            }

            .list-item {
                &:before {
                    background-color: $colour--products-investment;
                }
            }
        }

        &.termDeposits {
            uib-accordion-header {
                color: $colour--products-termdeposits;
                &:before {
                    @include bb-icon('', $bb-icon--padlock);
                }

                .amount {
                    color: $colour--products-termdeposits;
                    .amount-decimals {
                        color: $colour--products-termdeposits;
                    }

                    .amount-decimal-points {
                        color: $colour--products-termdeposits;
                    }
                }

            }

            .list-item {
                &:before {
                    background-color: $colour--products-termdeposits;
                }
            }
        }

        &.debitCards {
            uib-accordion-header {
                color: $colour--products-debit;
                &:before {
                    @include bb-icon('', $bb-icon--card);
                }

                .amount {
                    color: $colour--products-debit;
                    .amount-decimals {
                        color: $colour--products-debit;
                    }

                    .amount-decimal-points {
                        color: $colour--products-debit;
                    }
                }

            }

            .list-item {
                &:before {
                    background-color: $colour--products-debit;
                }
            }
        }


        &.loans {
            uib-accordion-header {
                color: $colour--products-loan;
                &:before {
                    @include bb-icon('', $bb-icon--loan);
                }

                .amount {
                    color: $colour--products-loan;
                    .amount-decimals {
                        color: $colour--products-loan;
                    }

                    .amount-decimal-points {
                        color: $colour--products-loan;
                    }
                }

            }

            .list-item {
                &:before {
                    background-color: $colour--products-loan;
                }
            }
        }

		&.creditCards {
			uib-accordion-header {
				color: $colour--products-creditcard;
				&:before {
					@include bb-icon('', 'bb-icon--padlock');
				}

				.amount {
					color: $colour--products-creditcard;
					.amount-decimals {
						color: $colour--products-creditcard;
					}
					.amount-decimal-points {
						color: $colour--products-creditcard;
					}
				}
			}

			.list-item {
				&:before {
					background-color: $colour--products-creditcard;
					height: 106px;
				}
			}

			.list-items-wrapper {
				.list-item {
					height: 105px;
				}
			}

			.bb-account-card-long-number {
				height: 22px;
			}

			.bb-account-card-amount {
				padding-top: 5px;
			}

			.bb-account-card-additional {
				padding-left: 70px;
				clear: both;
				display: inline-block;
				div, span {
					color: $grey-mid;
				}
			}

		}
	}

	.amount-positive {
		color: $font-color;
	}

	.bb-account-card-long-name {
		font-size: 15px;
		font-weight: 400;
		color: $font-color;
	}

	.bb-account-card-long-number {
		font-size: 12px;
		color: $grey-mid;
	}

	.bb-account-card-additional {
		.amount-decimals {
			margin-left: 2px;
			margin-top: -2px;
		}
	}

	.bb-account-card-amount {
		padding-top: 6px;
		font-size: 16px;
		letter-spacing: 0.3px;
		.amount-decimals {
			margin-left: 2px;
			margin-top: -1px;
		}
	}

	.list-items-wrapper {
		@include shc-capsule-border();
		//
		.bb-account-card-additional {
			display: none;
		}

		.bb-account-card {
			&:focus {
				outline: none;
				box-shadow: none;
			}
		}

		.list-item {
			padding: 0;
			height: 65px;
			&:before {
				content: ' ';
				position: relative;
				width: 5px;
				height: calc(100% + 1px);
				background-color: cyan;
				display: inline-block;
				float: left;
			}

			.bb-account-card-content {
				padding-top: 15px;
				padding-bottom: 15px;
				padding-right: 15px;
				padding-left: 28px;
				width: calc(100% - 10px);
				//height: 65px;

				&:focus {
					outline: none;
					box-shadow: none;
				}
			}
		}
	}

	.panel-body {
		.amount {
			color: $font-color;
		}

		&.total-balance {
			border: none;
			box-shadow: none;
			padding: 0;
			padding-bottom: 14px;
			border-bottom: 1px solid $grey-blue;
			font-size: 24px;
			padding-top: 0;
			padding-right: 18px;

			i {
				display: none;
			}

			.amount-decimals {
				margin-top: -8px;
				margin-left: 5px;
				font-weight: 500;
			}
		}
	}
	//TODO
	// GET RnD to provide class to not have to do this.
	uib-accordion {
		div[role="tablist"] {
			&:first-child {
				.row {
					&:first-child {
						display: none;
					}
				}
			}
		}
	}
}
