.ext-bb-contact-list-ng {
     
	.button-group {
		.btn {
			margin-right: 5px;
			&:last-child {
				margin-right: 0;
			}
		}
	}

	.new-contact-btn {
		@include button-colors("blue", false);
		width: auto;
		margin-bottom: 26px;
		i {
			display: none;
		}
	}

	.detail-label {
		font-size: 12px;
		line-height: 20px;
		color: #302F2B;
		font-weight: normal;

	}

	.detail-info {
		font-size: 14px;
		line-height: 16px;
		color: #262626;
		font-weight: 500;
	}

	.no-padding-dektop {
		padding: unset;
	}

	@media (max-width: $screen-sm) {
		.state--list {
			.tile {
				.list-items-wrapper {
					.bb-account-card {
						&.active {
							background-color: white;
						}
					}
				}
			}
		}
	}

	.tile {
		padding-left: 0;
		padding-right: 0;

		.list-items-wrapper {
			@include no-panel();
			@include shc-capsule-border();
			overflow: scroll;
			height: 500px;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			background-color: white;
			border-right-color: transparent;
			//--
			.bb-account-card {
				transition: background-color .2s;
				border-left: none;
				border-right: none;

				&:first-child {
					border-top: none;
				}

				&.active {
					background-color: $grey-lightest;
					&:hover {
						background-color: $grey-lighter !important;
					}
				}

				&:hover {
					background-color: lighten($grey-lightest, 2%) !important;
				}

				&:active {
					outline: none;
					box-shadow: none;
				}

				&:focus {
					outline: none;
					box-shadow: none;
				}
			}

		}

		.contact-list-details-view {
			@include no-panel();
			@include shc-capsule-border();
			padding: 23px;
			height: 500px;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-left-color: transparent;
			background-color: white;
			overflow: visible;

			&:before {
				content: ' ';
				position: absolute;
				top: 0;
				width: 8px;
				height: 100%;
				left: -8px;
				background-image: url(../assets/images/shadow--gradient-line.png);
				background-repeat: repeat-y;
			}

			.row--actions {
				min-height: 40px;
				margin-bottom: 8px;
				.shc-icon-label {
					padding-top: 10px;
				}
			}

			form {
				input {
					border-radius: 4px !important;
				}

				.button-group {
					margin-top: 15px;
				}
			}

			&.contact-list-details-view--state-edit {
				.contact_details__avatar_card {
					margin-top: 48px;
				}
			}
		}

		.contact_details__avatar_card--mobile {
			.bb-avatar {
				margin-bottom: 5px;
			}
		}

		.contact_details__avatar_card--mobile__text-block {
			p {
				margin-bottom: 0;
			}
		}

		.contact_details__avatar_card--desktop {

			.bb-avatar {
				vertical-align: middle;
				width: 72px;
				height: 72px;
				margin-left: 0;
				span {
					font-size: 27px;
					line-height: 69px;
				}
			}

			.contact_details__avatar_card--desktop__text-block {
				.avatar_card--desktop__text-name {
					font-size: 16px;
					line-height: 20px;
					color: #262626;
					font-weight: normal;
				}

				.avatar_card--desktop__text-product_nr {
					font-size: 12px;
					line-height: 14px;
					color: #999999;
					font-weight: normal;
				}
			}
		}

		.contact_details__avatar_card--desktop__text-block {
			vertical-align: middle;
			display: inline-block;

			p {
				margin-bottom: 0;
			}
		}
	}

	// --------------------------------------------------------
	// MQ
	// --------------------------------------------------------

	@media (max-width: $screen-sm) {
		.tile {
			.list-items-wrapper {
				@include no-panel();
				@include shc-capsule-border();
				height: inherit;
				overflow: hidden;
			}

			.contact-list-details-view {
				@include no-panel();
				@include shc-capsule-border();
				height: inherit;
				overflow: hidden;
				&:before {
					display: none;
				}

			}

			.contact-list-details-view--state-list {
				display: none;
			}

			.bb-account-card-content {
				display: flex;
			}
		}
	}

	@media (max-width: $screen-sm-min) {
		.avatar_card--mobile__text-name {
			font-size: 24px;
			line-height: 30px;
			color: #262626;
			font-weight: 500;
		}

		.avatar_card--mobile__text-product_nr {
			font-size: 12px;
			line-height: 20px;
			color: #878787;
			font-weight: normal;
		}
	}

}
