$payment-border-radius: 6px;
$payment-input-border-radius: 4px;

@keyframes paymentSuccessAnimationIn {
	from {
		top: -70px;
	}
	to {
		top: -10px;
	}
}

@keyframes paymentSuccessCheckIn {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

.ext-bb-initiate-payment-ng {

	.col-sm-10 {
		width: 100% !important;
	}

	.list-items-wrapper .list-item:not(:last-child) {
		border-bottom: none !important;
	}

	.panel {
		@include no-panel();
		@include no-shadow();
		//@include shc-capsule-border();
		overflow: visible;
		.panel-body {
			@include no-panel();
			@include no-shadow();
			@include shc-capsule-border();
			overflow: visible;

			&.panel-body-large {
				overflow: hidden;
				padding-bottom: 45px;

				.text-success {
					background-color: #9dc639;
					width: calc(100% + 60px);
					position: relative;
					left: 0;
					padding-top: 10px;
					padding-bottom: 10px;
					//margin-top: -20px;
					top: -30px;
					border-top-left-radius: 6px;
					border-top-right-radius: 6px;
					margin-left: -30px;
					//animation-name: paymentSuccessAnimationIn;
					animation-fill-mode: forwards;
					animation-duration: .3s;
					animation-delay: 0s;
					animation-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
					&:before {
						display:inline-block;
						font-size: 20px;
						font-family: 'FontAwesome';
						content: "\f00c";
						color: $alert-valid;
						background-color: white;
						padding: 9px;
						border-radius: 100%;
						transform: scale(0);
						animation-name: paymentSuccessCheckIn;
						animation-fill-mode: forwards;
						animation-duration: .6s;
						animation-delay: .1s;
						animation-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
					}
				}

			}
		}

	}

	.panel + .panel {
		margin-top: -10px;
		.panel-body {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			&.panel-body-large {
				padding-bottom: 30px;
				background-color: $grey-lightest;
				box-shadow: none;
				label {
					color: #666666;
					font-size: 13px;
					line-height: 21px;
				}

				label + div {
					font-size: 14px;
					line-height: 7px;
					font-weight: $font-weight-medium;
					color: $grey-darkest;
				}

				.row + .row {
					margin-top: 10px;
				}
			}

		}
	}

	.amount-block {
		.currency {
			display: inline-block;
			width: 97px;
			vertical-align: top;
		}
		.seperator {
			display: none;
		}

		.amount {
			vertical-align: top;
			display: inline-block;
			width: 153px;
			.form-control {
				@include placeholder-enhanced($forms--input--placeholder-color, 1, 0, italic, $font-weight-normal, 1px);
			}
		}

		.decimals {
			vertical-align: top;
			width: 60px;
			display: inline-block;
			.form-control {
				text-align: right;
				@include placeholder-enhanced($forms--input--placeholder-color, 1, 0, italic, $font-weight-normal, 1px);
			}
		}
	}

	.col-xs-12 {
		padding-top: 2px;
		padding-bottom: 2px;
	}

	.form-group {
		.checkbox {
			margin: 0;
			ui-bb-expandable-summary-ng {
				font-weight: $font-weight-medium;
			}

			ui-bb-expandable-details-ng {
				margin-top: 17px;
			}

			.uib-datepicker-popup {
				margin-top: 10px !important;
			}

			.dropdown-select {
				padding-top: 0;
				padding-bottom: 0;
				i {
					&:before {
						font-size: 17px;
					}
				}

			}
			//background-color:pink;
			padding-left: 0;
			padding-right: 0;
			width: 350px;
			@include no-border();
			@include shc-capsule-border();
			@include no-shadow();
			background-color: #F8FAFC;
			overflow: visible;
			.bb-expandable-box {
				border: none;
				padding: 12px 12px;
			}

			.input-group {
				.input-group-btn {
					.btn {
						padding: 12px;
					}
					i {
						&:before {
							@include bb-icon(inherit, 'bb-icon--calendar');
							font-size: 18px;
						}
					}
				}
			}
		}
	}
	.panel-footer {
		.btn-primary {

		}
	}

}

.ext-bb-initiate-payment-ng {
	.panel-footer {
		background-color: transparent;
		border: none;
		box-shadow: none;
	}

	.amount input,
	.decimals input {
		//Amount and decimals input overwrite, cause first child they dont have a border-radius
		border-radius: $payment-input-border-radius !important;
	}

	.dropdown-toggle,
	textarea,
	input {
		border-radius: $payment-input-border-radius;
	}

	/* Specific for repetition input field */
	.bb-expandable-box input.form-control.occurence-field {
		border-radius: $payment-input-border-radius !important;
	}

	.form-control {
		box-shadow: none;
	}

	[class^=col-] {
		//Cancelling out padding, since some inputs do they columns, others dont..... Really guys....
		padding-left: 0;
		padding-right: 0;
	}

	/* Account selector (select account to transfer to) */
	.credit-suggest .dropdown-menu {
		margin-top: 45px;
		@include shc-capsule-border();
	}

	.credit-suggest.input-group {
		width: 100%;

		input {
			height: 45px;
			font-size: 15px;
			color: #302F2B;
			font-weight: 500;
		}

		input:first-child {
			border-radius: 5px 0 0px 0px !important;
			width: calc(100% - 45px);
		}

		input:nth-child(3) {
			margin-top: -1px; //Cancel the border of the above input out, on focus it will still show
			border-radius: 0px 0px 4px 4px !important;
		}

		.input-group-addon {
			border-radius: 0 5px 0 0;
			background-color: #F8FAFC;
			padding-left: 10px;
			padding-top: 10px;

			height: 45px;
			width: 45px;

			position: absolute;
			right: 0;

			i.fa:before {
				@include bb-icon($blue-light, "bb-icon--contacts");
				font-size: 25px;
			}
		}

		/* Dropdown itsself */
		.dropdown-menu > li:first-child {
			border-radius: $payment-input-border-radius $payment-input-border-radius 0 0;
		}

		.dropdown-menu > li .typeahead-group-header:first-child {
			border-radius: $payment-input-border-radius $payment-input-border-radius 0 0;
		}

		.dropdown-menu > li .typeahead-group-header {
			font-weight: 500;
			background-color: #F8FAFC;
			padding: 10px;
			color: #999999;
		}

		.dropdown-menu {
			.own-account:before {
				position: absolute;
				content: " ";
				left: -6px;
				top: 0px;
				width: 5px;
				height: 40px;
			}
		}

		/* No need to display success */
		span.fa.fa-check {
			display: none;
		}
	}
}

.ext-bb-initiate-payment-ng {

	.transfer-amount {
		position: relative;
		margin-top: 25px;
	}

	.transfer-direction {
		position: relative;
		margin-top: 25px;
	}

	ui-bb-account-card {
		padding-left: 18px;
		padding-right: 18px;
		padding-top: 21px;
		padding-bottom: 21px;

		ui-bb-avatar {
			vertical-align: middle;
		}

		ui-bb-format-amount {
			position: absolute;
			right: 20px;
			top: 50%;
			transform: translateY(-50%);
		}

		.bb-account-card-info {
			display: inline-block;
			vertical-align: middle;
		}

		&.bb-account-card {
			background-color: $grey-lightest;
			@include shc-capsule-border();
			@include no-shadow();

			.bb-account-card-long-name {
				font-size: 16px;
				line-height: 21px;
			}

			.bb-account-card-long-number {
				font-size: 13px;
				line-height: 21px;
				letter-spacing: .6px;
				font-weight: $font-weight-normal;
			}

			.bb-account-card-amount {
				.amount {
					font-size: 21px;
					line-height: 27px;
					font-weight: $font-weight-medium;
				}

				.amount-currency {
					margin-right: 5px;
				}
			}
		}
	}
}

/* Calendar input field */
.ext-bb-initiate-payment-ng ui-bb-calendar-popup {

	/* Input field */
	.input-group input.form-control {
		background-color: #fff;
		border-radius: $payment-input-border-radius 0 0 $payment-input-border-radius !important;
		border: 1px solid #D5D5D5;
		height: 45px;
		font-size: 15px;
		color: #302F2B;
	}

	/* Button on the right with calendar icon */
	.input-group button.btn.btn-default {
		border-radius: 0 $payment-input-border-radius $payment-input-border-radius 0;
		border: 1px solid #D5D5D5;
		background-color: #F8FAFC;
		height: 45px;

		padding-left: 15px;
		padding-right: 15px;

		i {
			color: $blue-light;
			font-size: 20px;
		}
	}
}

.ext-bb-initiate-payment-ng {
	.currency-single {
		&.currency__name {
			font-size: 30px;
			line-height: 36px;
			color:#2b2b2b;
		}
	}

	.currency__dropdown {
		width:97px;
	}

	.amount-block {
		.currency {
			width:inherit !important;
		}

	}
}
