@media (max-width: $screen-xs + 10) {
	.ext-bb-transactions-ng {
		.search-filter-wrapper {
			.search-filter-credit-debit-indicator, .search-filter-date-range, .search-filter-amount-range {
				width: calc(33% - 2px) !important;
				label {
					font-size: 11px;
					line-height: 15px;
				}
				.form-control {
					padding-left: 28px;
					font-size: 10px;
				}
				.input-group-btn {
					margin-left: 10px;
					margin-top: 4px;
					i {
						&:before {
							font-size: 10px;
						}
					}
				}
			}

			.search-filter-credit-debit-indicator, .date-range-start, .date-range-end {
				.form-control {
					width: 70px !important;
				}
			}
		}
	}
}

@media (max-width: $screen-md) and (min-width: $screen-sm) {
	.ext-bb-transactions-ng {
		.search-form {
			.btn-filter {
				line-height: 22px;
			}
		}
	}
}

.ext-bb-transactions-ng {
	.panel {
		@include no-panel();
		z-index: 1;
		position: relative;
		&:first-child {
			z-index: 2;
		}
	}
	.search-form {
		@include clearfix;
		margin-left: -15px;
		margin-right: -15px;
		margin-top: 15px;
		.btn-filter {
			float: right;
			vertical-align: middle;
			display: inline-block;
			height: 34px !important;
			border-width: 1px !important;
			background-color: transparent;
			color: #1281AC;
			i {
				color: #1281AC;
			}

			&:hover {
				i {
					color: white;
				}
			}

			@include button-colors('blue', true);
		}

		.search-filter-date-range {
			.input-group {
				.form-control {
					padding-left: 10px;
					&:hover + .input-group-btn {
						border: 1px solid #1281AC;
					}
				}

				&:focus {
					outline: none;
				}
			}

			.input-group-btn {
				position: relative;
				right: 27px;
				z-index: 111;
				padding-left: 6px;
				padding-right: 6px;
				/* border-radius: 9px; */
				border-radius: 0px 6px 6px 0px;
				-moz-border-radius: 0px 6px 6px 0px;
				-webkit-border-radius: 0px 6px 6px 0px;
				border: 1px solid #D5D5D5;
				background-color: $grey-lightest;
				pointer-events: none;
				i {
					&:before {
						color: #0088AE;
						font-size: 13px;
						margin-left: 0 !important;
						@include bb-icon("#1281AC", "bb-icon--calendar");
					}
				}
			}

		}

		.form-control {
			padding-left: 35px;
			padding-right: 10px;
			border-radius: 7px;
			border: 1px solid $grey-light;
			min-width: 10px;
			width: 110px;
			height: 34px;
			background-color: white;
			transition: width .25s cubic-bezier(0.785, 0.135, 0.150, 0.860);
			&:focus {
				z-index: 0;
			}
			&:hover {
				border: 1px solid #128ab5;
			}

			&.bb-search-box-input {
				border: 1px solid #1281AC;
				color: #1281AC;
				border-radius: 100px;
				@include placeholder-enhanced(#1281AC, 1, 0, italic, $font-weight-normal, 0);
				&:focus {
					width: 200px;
					+ .input-group-btn {
						i {
							&:before {
								color: #1281AC !important;
							}
						}
					}
				}

				&.ng-touched {
					width: 200px;
				}
				&.ng-empty {
					min-width: 110px;
					width: 110px;
				}

				+ .input-group-btn {
					.btn {
						border: none;
					}
					i {
						&:before {
							@include bb-icon(#1281AC, "bb-icon--search");
							font-size: 16px;
						}
					}
				}
			}

			&.amount-range-start, &.amount-range-end {
				width: 100%;
				padding-left: 15px;
			}

		}
		.bb-search-box-clear {
			right: 20px;
			@include no-focus();
		}

		.input-group-btn {
			position: absolute;
			width: auto;
			height: auto;
			margin-left: 16px;
			margin-top: 6px;
			.btn {
				width: 15px;
				height: 15px;
				padding: 0;
				border-radius: 50%;
				i {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					&:before {
						margin-left: 3px;
						color: #0088AE;
					}
				}
				&:active {
					background-color: transparent;
				}
			}
		}

		.search-filter-input {
			.uib-datepicker-popup {
				margin-top: 10px;
			}
		}

		.search-filter-wrapper {
			background-color: $grey-blue-light;
			border-radius: 10px;
			margin-top: 10px;
			padding-top: 25px;

			.search-filter-credit-debit-indicator {
				vertical-align: top;
				width: calc(33% - 1px);
				display: inline-block;
			}

			.search-filter-date-range {
				vertical-align: top;
				display: inline-block;
				width: calc(33% - 1px);
			}

			.search-filter-amount-range {
				vertical-align: top;
				display: inline-block;
				width: calc(33% - 1px);
			}

			.row {
				&:last-child {
					button {
						&[data-role*="apply"] {
							@include button-colors('blue-dark', false);
						}

						&[data-role*="cancel"] {
							@include button-colors('blue', true);
						}
					}
				}
			}
		}
	}
	.transaction-group {
		padding-top: 20px;
		display: block;
		&:first-child {
			padding-top: 0;
		}

		.panel-title {
			div {
				&:first-child {
					&[class*="col-"] {
						padding-left: 0;
					}
				}
			}
		}
		.transaction-category-icon {
			padding-left: 0;
			padding-right: 0;
			padding-top: 5px;
			.bb-transaction-category {
				line-height: inherit;
				&:before {
					font-size: 30px;
				}
				@include shc-transaction-category-icon();
			}
		}

		.panel-heading, .panel-line-header {
			background-color: transparent;
			border: none;
			border-color: transparent;
			border-radius: 0;
			box-shadow: none;
			&:focus {
				outline: none;
			}
		}

		.panel-line-header {
			padding: 10px;
			padding-left: 3px;
			font-size: 12px;
			line-height: 14px;
			&:before {
				content: ' ';
				position: relative;
				display: inline-block;
				font-size: 15px;
				margin-right: 10px;
				@include bb-icon(black, 'bb-icon--calendar');
				transform: translateY(1px);
			}
		}

		&:last-child {
			.panel-group {
				.list-item {
					&.list-item-transaction-accordion {
						&:nth-child(3) {
							//SECTION FOR FIRST CHILDS
							&:nth-last-child(2) {
								@include shc-capsule-border-section-top();
								border-top: 1px solid $grey-mid-light !important;

							}
						}
					}
				}
			}
		}

		.panel-group {
			.list-item {
				&.list-item-transaction-accordion {
					box-shadow: none;
					position: relative;
					background-color: white;
					transition: background-color .25s;
					@include shc-capsule-border-section-mid();
					&:nth-child(3) {
						//SECTION FOR FIRST CHILDS
						@include shc-capsule-border-section-top();
						border-top: 1px solid $grey-mid-light !important;
						&:nth-last-child(2), &:nth-last-child(1) {
							@include shc-capsule-border();
							border-top: 1px solid $grey-mid-light !important;
						}
					}

					&:nth-last-child(2), &:nth-last-child(1) {
						@include shc-capsule-border-section-bottom();
					}

					.transaction-party {
						[class*="col-"] {
							padding-left: 0;
							padding-right: 0;
						}
					}

					.panel-collapse {
						transition: background-color .25s, max-height .4s cubic-bezier(0.445, 0.050, 0.550, 0.950);
						max-height: 0;
						overflow: hidden;
						height: auto !important;
						display: block !important;
					}

					&.panel-open {
						.panel-heading {
							border-bottom: 1px solid $grey-blue;
							background-color: $grey-lightest;
							transition: background-color .25s;
						}
						&.panel {
							z-index: -1;
							position: relative;
							@include shc-capsule-border-color(true);
						}

						.panel-collapse {
							&.in {
								background-color: $grey-lightest;
								max-height: 300px;
							}
						}

					}

					.transaction-party-name {
						font-weight: $font-weight-normal;
						font-size: 16px;
						line-height: 19px;
					}
					.transaction-category {
						color: #999999;
						font-weight: $font-weight-normal;
						font-size: 12px;
						line-height: 14px;
					}

					.transaction-amount {
						position: absolute;
						right: 0;
						top: 50%;
						transform: translateY(-50%);
						.amount {
							.amount-sign {
								margin-right: 7px;
							}
							.amount-sign, .amount-whole-number, .amount-decimal-points, .amount-decimals {
								font-weight: $font-weight-normal;
								font-size: 21px;
								line-height: 24px;
							}
							.amount-decimals {
								font-size: 14px;
								line-height: 16px;
							}
						}

					}
				}
			}
		}

		.transaction-details {
			padding-top: 10px;
			padding-left: 0;
			padding-right: 0;
			margin-left: 0;
			width: 100%;

			.transaction-details-change-category-btn {
				display: none !important;
			}

			.row {
				display: inline-block;
				width: calc(25% - 3px);
				vertical-align: top;
				margin-bottom: 48px;
				.transaction-details-label {
					display: block;
					width: 100%;
					margin-bottom: 0;
					font-weight: $font-weight-medium;
				}
				.transaction-details-value {
					display: block;
					margin-top: 7px;
					width: 100%;
					margin-bottom: 0;
				}
			}
		}

	}
	.transaction-group-date {
		background-color: transparent;
		@include no-border();
	}

	.bb-load-more {
		.btn {
			@include button-colors('blue');
		}
	}
}


