.ext-eastwest-initiate-ach-payment {
  @extend .ext-bb-initiate-payment-ng;

}

.ext-eastwest-initiate-ach-payment {
  ui-bb-switcher-ng {
   margin-left:15px;
  }
}


.ext-ewb-initiate-payment-ng {
    @extend .ext-eastwest-initiate-ach-payment;
}


