/**
 * --------------------------------------------------------------------------
 * Bootstrap's forms override
 * --------------------------------------------------------------------------
 * @description
 * Vertical padding on top and bottom around the column in from-group
 *
 * @example
 * <div class="form-group">
 *  <div class="row>
 *   <div class="col-xs-12">
 *    <input type="text">
 *   </div>
 *  </div>
 * </div>
 */

/**
 * Default checkbox view restyling
 */
$forms-input-radio-checked: $blue-light;

.form-group {

	&.label-row {
		label {
			margin-right: 5px;
		}
	}
	label {
		&.block-label {
			display:block;
		}
	}

	input[type="radio"] {
		cursor:pointer;
		&:hover {
			&:before {
				border-color: $blue-mid;
			}
		}
	}
}



input[type="checkbox"] {
	@include appearance(none);
	visibility: hidden;
	position: relative;
	font-family: 'FontAwesome';
	&:before {
		content: "";
		background-color: $white;
		border: $checkbox-border-default;
		color: $gray-darker;
		border-radius: $border-radius-base;
		@include dimensions($checkbox-dimensions-size, $checkbox-dimensions-size);
		font-size: $checkbox-font-size;
		visibility: visible;
	}
	&:hover {
		&:before {
			border-color: $checkbox-hover-border-color;
		}
	}
	&:checked {
		&:before {
			content: "\f00c";
		}
	}
	&:disabled {
		&:before {
			border-color: $gray;
			background-color: $gray-lighter;
			color: $gray-dark;
		}
	}
}

/**
* Default radio view restyling
*/
input[type="radio"] {
	@include appearance(none);
	visibility: hidden;
	position: relative;
	&:before {
		content: "";
		position: absolute;
		top: inherit;
		transform: none;
		background-color: $white;
		border: $radio-border-default;
		border-radius: $radio-border-radius;
		@include dimensions($radio-dimensions-size, $radio-dimensions-size);
		visibility: visible;
	}
	&:hover {
		&:before {
			border-color: $radio-hover-border-color;
		}
	}
	&:checked {
		&:before {
			background-color: $forms-input-radio-checked;
			border-color: $forms-input-radio-checked;
			@include box-shadow($radio-checked-inner-shadow);
		}
	}
	&:disabled {
		&:before {
			border-color: $gray;
			background-color: $gray-lighter;
		}
		&:checked {
			&:before {
				background-color: $gray-dark;
				@include box-shadow($radio-checked-inner-shadow-disabled);
			}
		}
	}
}

.form-group {
	display: inline-block;
	width: 100%;
	[class^='col-'] {
		padding-top: $grid-gutter-width / 5;
		padding-bottom: $grid-gutter-width / 5;
	}

	&.form-group--radioinput-row {
		input {
			vertical-align: top;
			margin-right: 17px;
		}

		label {
			cursor:pointer;
		}

		.radio-item {
			position: relative;
			display: inline-block;
			margin-right: 12px;
		}
	}
}

.form-horizontal {
	.form-group {
		label.control-label {
			padding-top: $grid-gutter-width / 5;
		}

		[class^='col-'] {
			padding-top: 0;
			padding-bottom: $grid-gutter-width / 5;
		}
	}
}

label {
	margin-bottom: $label-default-margin-bottom;
}

.checkbox-inline input[type="checkbox"] {
	margin-top: $checkbox-inline-top-margin;
}

select.form-control,
input.form-control:not([type]),
input.form-control[type="text"],
input.form-control[type="number"],
input.form-control[type="password"] {
	height: $form-control-line-height;
	&.ng-invalid {
		&.ng-touched {
			border-color: $blue-mid;
		}
	}
}


