/**
 * Modifier that adds default hover item styling to any element,
 * supporting hover/focus and disabled state
 *
 * @example:
 * <ul class="list-unstyled">
 *   <li class="hover-item">...</li>
 *   <li class="hover-item">...</li>
 *   <li class="hover-item">...</li>
 *   <li class="hover-item">...</li>
 * </ul>
 */

// Hover/Focus state
 .hover-item {
  &:hover,
  &:focus,
  &.active {
    cursor: pointer;
    color: $component-active-color;


      background-color: #f8f8f8;
  }
}

// Disabled state
//
// Gray out text and ensure the hover/focus state remains gray
.hover-item {
  &[disabled],
  &.disabled {
    cursor: $cursor-disabled;
    color: $component-disabled-color;
    &:hover,
    &:focus {
      color: $component-disabled-color;
      background-color: transparent;
    }
  }
}
