.modal {
    .modal-dialog {
        transform: translate(-50%, -50%) scale(0) !important;
        transition: transform .25s cubic-bezier(0.075, 0.820, 0.165, 1.000) !important;
    }

    .modal-content {
        padding-top: 15px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 15px;
        .modal-title {

        }
        .modal-footer {
            text-align: right;
            padding-left:0;
            padding-right: 0;
        }

        .modal-header {
            padding-top: 15px;
            padding-bottom: 20px;
            padding-left:0;
            padding-right: 0;
        }

        .modal-body {
            text-align: left;
            padding-bottom: 15px;
            font-size: 16px;
            line-height: 24px;
            padding-left: 0;
            padding-right: 0;
        }
    }

    &.in {
        background-color: rgba(0, 0, 0, 0.7);
        .modal-dialog {
            position: fixed;
            width: auto;
            display: inline-block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1) !important;

            .btn {
                padding: 0;
                @include make-btn-default();
                @include button-colors("blue", true);
                &.btn-primary {
                    @include button-colors("blue", false);
                }

                &.btn-link {
                    @include button-colors("grey-dark", true);
                }
            }
        }
    }
}

