$switch-green: #9DC639;

.bb-switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 22px;

	&:focus {
		outline: none;
	}
}

/* Hide default HTML checkbox */
.bb-switch input {
	display: none;
}

/* The slider */
.bb-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 34px;
}

.bb-slider:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 50%;
}

.bb-switch.checked .bb-slider {
	background-color: $switch-green;
}

.bb-switch.focus .bb-slider {
	box-shadow: 0 0 1px $switch-green;
}

.bb-switch.checked .bb-slider:before {
	-webkit-transform: translateX(18px);
	-ms-transform: translateX(18px);
	transform: translateX(18px);
}
