.bp-container {
	.nav-tabs {
		margin-bottom: 25px;
		.--tab {

			&:first-child {
				a {
					margin-left: 0 !important;
				}
			}

			a {
				font-weight: $font-weight-medium;
				padding-left: 15px !important;
				padding-right: 15px !important;
				border-bottom-width: 2px !important;
				margin-left: 10px !important;
				margin-right: 10px !important;
				font-size: 12px;
				line-height: 14px;
				//--
				&:hover {
					color: $colour--tabs-container-active;
					border-bottom-color: transparent;
				}
				//--
			}

			&.active {
				a {
					color: $colour--tabs-container-active;
					border-bottom-color: $colour--tabs-container-active;
					&:hover {
						border-bottom-color: $colour--tabs-container-active;
					}
				}
			}
		}
	}
}

