@import "template-shc-retail-mp";
@import "template-shc-retail-banking";
@import "template-shc-login-mp";

@keyframes backgroundImageIn {
	0% {
		opacity: 0;
		transform: scale(1.1);
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@media (min-width: 10px) and (max-width: $screen-xs - 1) {
	#main {
		&.fullscreen-bg {
			&:before {
				background-position: var(--background-image-position--mobile);
			}
		}
	}
}

#main {
	height: 100%;
	--background-image-url: '';
	--background-image-size: '';
	--background-image-attachment: '';
	--background-image-position: '';
	--background-image-position--mobile: '';

	&.fullscreen-bg {
		&:before {
			content: ' ';
			position: absolute;
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-image: var(--background-image-url);
			background-attachment: var(--background-image-attachment);
			background-size: var(--background-image-size);
			background-position: var(--background-image-position);
			opacity: 0;
			animation-duration: .8s;
			animation-delay: 0s;
			animation-name: backgroundImageIn;
			animation-fill-mode: forwards;
			animation-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
		}
	}
}
