$contentbar-area-1-plus-2-padding-vertical: 8px;
$contentbar-area-1-plus-2-padding-horizontal: 10px;

@keyframes slide-from-left {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0);
	}
}

.shc-retail-banking-master {
	display: table;
	width: 100%;
	background-color: white;
}

.shc-retail-banking-master {
	opacity: 0;
	-webkit-transition: opacity .4s cubic-bezier(0.445, 0.050, 0.550, 0.950);;
	transition: opacity .4s cubic-bezier(0.445, 0.050, 0.550, 0.950);;
	transition-delay: .8s;

	&.master-ready {
		opacity: 1;
	}
	&.master-leave {
		transition-delay: 0s;
		transition: opacity .2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
		-webkit-transition: opacity .2s cubic-bezier(0.445, 0.050, 0.550, 0.950);;
		opacity: 0;
	}
}

.no-scroll {
	overflow: hidden;
}

.pageContainer {
	height: auto;
}

.table {
	display: table;
}

.table-row {
	display: table-row;
	padding: 0;
	margin: 0;
}

.table-cell {
	display: table-cell;
	vertical-align: middle;
}

.bd-designMode-true {
	.shc-retail-banking-master {
		.ice_template--topnav-logo-wrap {
			pointer-events: auto;
		}
	}
}

.shc-retail-banking-master {
	.ice_template--topnav-logo-wrap {
		pointer-events: none;
		position: absolute;
		width: 100%;
		padding-top: 4px;
		.bp-widget {
			&[data-pid*='widget-shc-content-'] {
				width: 100%;
				.topnav__logo__image {
					left: 50%;
					transform: translate(-50%);
					position: relative;
					pointer-events: auto;
				}
			}
		}
	}

	.product-select_and_insights_group {
		.ext-bb-product-select-ng {
			margin-bottom:20px;
		}
	}

	.contentbar__area-1-plus-2 {
		.area {
			position: relative;

			padding-left: $contentbar-area-1-plus-2-padding-horizontal * 2;
			padding-top: $contentbar-area-1-plus-2-padding-vertical * 2;
			padding-bottom: $contentbar-area-1-plus-2-padding-vertical * 2;
			padding-right: $contentbar-area-1-plus-2-padding-horizontal * 2;
		}
		.shc-content-template--back {
			padding-top: 7px;
		}

		.ext-shc-logout-ng {
			float: right;
		}

		.bp-widget {
			vertical-align: top;
			&[data-pid*='widget-shc-content-'] {
				display: inline-block;
			}

			&[data-pid*='widget-shc-user-menu-'] {
				display: inline-block;
				float: right;
			}

			&[data-pid*='widget-shc-my-products-menu-toggle-ng'] {
				display: inline-block;
			}
		}
	}

	.sidebar {
		background-color: $sidebar-background-color;
		width: 223px;
		display: table-cell;
		vertical-align: top;
		margin: 0;

		// override min-width 320 set in default theme
		.bp-widget-body {
			min-width: inherit;
		}
	}

	.sidebar__logo {
		padding: 25px 15px;
		text-align: center;
	}

	.sidebar__logo__image-wide {
		height: 12px;
	}

	.sidebar__logo__image-narrow {
		height: 20px;
	}

	.sidebar__logo-wide {
		display: block;
	}

	.panel-cell {
		float: left;
		height: 100%;
		width: 100%;
		.panel-cell__widget {
			padding: 42px;
			margin-left: auto;
			margin-right: auto;

			&.panel-cell__widget--cap_width {
				max-width: 1000px;
				margin-left: 0;
			}

			@media (min-width: 10px) and (max-width: $screen-xs-min) {
				padding: 20px;
			}

		}
	}

	.panel-cell-wide {
		width: calc(100% - 325px);
		.panel-cell-wide__widget {
			padding: 42px;
			max-width: 1024px;
			margin-left: auto;
			margin-right: auto;
			@media (min-width: 10px) and (max-width: $screen-xs-min) {
				padding: 20px;
			}
		}
	}

	.panel-cell-narrow {
		width: 325px;
		background: $grey-lighter;
	}

	.contentbar {
		display: table-cell;
		margin: 0;
		vertical-align: top;

		.row {
			margin: 0;
			&.lp-columns {
				height: 100%;
			}
		}

	}

	.sidebar--mobile-menu {
		animation-name: slide-from-left;
		animation-duration: .25s;
		animation-delay: 0s;
		animation-fill-mode: forwards;
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		transform: translateX(-100%);
		position: fixed;
		top: 70px;
		left: 0;
		right: 0;
		bottom: 0;
		display: block !important;
		max-width: inherit;
		z-index: 2;
		width: 100%;
		overflow-y: auto;

		.sidebar__area-1 {
			display: none;
		}
	}

	@media (max-width: $screen-lg - 1) {
		.panel-cell {
			display: block;
		}

		.panel-cell-wide,
		.panel-cell-narrow {
			width: 100%;
		}

		.panel-cell-narrow {
			min-height: 300px;
		}
	}

	@media (max-width: $screen-md - 1) {
		.panel-cell {
			display: block;
		}

		.panel-cell-wide,
		.panel-cell-narrow {
			width: 100%;
		}

		.sidebar {
			&:not(.sidebar--mobile-menu) {
				width: 100px;
			}
		}
	}
}

// make it look nice in CXP manager
.bd-designMode-true {
	.shc-retail-banking-master {
		.area {
			min-height: 60px;
		}
		.sidebar {
			width: 223px !important;
		}

		.image-container--dropimage img {
			min-height: 12px;
		}
		.contentbar {
			width: auto !important;
		}
	}
}

.bd-designMode-true {
	&:hover {
		.shc-retail-banking-master .contentbar__area-1-plus-2 .area {
			padding-left: $contentbar-area-1-plus-2-padding-horizontal !important;
			padding-top: $contentbar-area-1-plus-2-padding-vertical !important;
			padding-bottom: $contentbar-area-1-plus-2-padding-vertical !important;
			padding-right: $contentbar-area-1-plus-2-padding-horizontal !important;
		}
	}
}
