.shc-retail-master {
	opacity: 0;
	-webkit-transition: opacity .4s cubic-bezier(0.445, 0.050, 0.550, 0.950);;
	transition: opacity .4s cubic-bezier(0.445, 0.050, 0.550, 0.950);;
	transition-delay: .3s;

	&.master-ready {
		opacity: 1;
	}

	&.master-leave {
		transition-delay: 0s;
		transition: opacity .2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
		-webkit-transition: opacity .2s cubic-bezier(0.445, 0.050, 0.550, 0.950);;
		opacity: 0;
	}

	.simple-navigation {
		margin-top: -50px;
	}

    /* Add stuff for onboarding */

    &.onboarding-focussed {
        overflow-y: hidden;

        .bp-container.bp-manageableArea .bp-container.bp-tCont .bp-tCont-body .bp-widget .bp-widget-body {
            height: 100vh;
        }

    }
}

.bd-designMode-true {
	.shc-retail-master {
		.simple-navigation {
			margin-top: 0;
		}
		.template-shc-classname--area {
			background-color: white;
		}
		.widget-shc-user-menu-ng {
			display: none !important;
		}
		div {
			&[data-pid^="widget-shc-user-menu-ng"] {
				display: none !important;
			}
		}

		.template-shc-navigation {
			z-index: 1;
		}

		.bp-manageableArea {
			&:hover {
				z-index: 1;
			}
		}
	}
}

