.shc-login-mp {
  opacity: 0;
  -webkit-transition: opacity .4s cubic-bezier(0.445, 0.050, 0.550, 0.950);
  transition: opacity .4s cubic-bezier(0.445, 0.050, 0.550, 0.950);
  transition-delay: .45s;

  &.master-ready {
    opacity: 1;
  }

  &.master-leave {
    transition-delay: 0s;
    transition: opacity .2s cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -webkit-transition: opacity .2s cubic-bezier(0.445, 0.050, 0.550, 0.950);;
    opacity: 0;
  }


  .ice-widget-area {
    height: 100%;
    width: calc(100% - 340px);
    float: left;

    .sidebar__area-2 .bp-widget-body {
      /* Weird hack cause there is overlow: hidden on there for some reason */
      overflow: inherit !important;
    }
  }

  .login-widget-area {
    height: 100%;
    width: 340px;
    position: relative;
    float: left;

    padding: 40px;

    background-color: #fff;

    .bp-widget-body {
      /* This is default R&D code overwrite */
      min-width: 0;
    }

    .pageContainer,
    .pageContainer .bp-container,
    .pageContainer .bp-container .bp-widget {
      height: 100% !important;
    }
  }
}

@media(max-width: $screen-sm) {

  .shc-login-mp {

    .ice-widget-area {
      width: 100%;
      height: calc(100% - 340px);

      .sidebar__area-2 .bp-widget-body {
        /* Weird hack cause there is overlow: hidden on there for some reason */
        overflow: inherit !important;
      }
    }

    .login-widget-area {
      width: 100%;
      height: 340px;
    }
  }

}
