<div data-bind="attr: { class: 'authenticated-user '+presentationStyles().joined }">
	<img data-bind="attr: {src: bqApp.configuration.resourceUri + bqApp.configuration.blueriqPath + 'app/img/avatar.png'}" class="authenticated-user-icon"> 
	<span data-bind="text: plainText"></span>
</div>