/**
 * --------------------------------------------------------------------------
 * UI BB Selector component
 * --------------------------------------------------------------------------
 * @name ui-bb-account-selector
 * @description
 * UI component for creating dropdown accounts selector.
 * It can display initials based on a name if image is not available.
 *
 * @example
 * <ui-bb-account-selector class="bb-account-selector drop-shadow"
                           data-placeholder="Select account" data-select-all="true">
 *  <ui-bb-dropdown-select >
 *    <div class="dropdown-select" uib-dropdown data-keyboard-nav>
 *      <button type="button" class="btn btn-default btn-dropdown-toggle" uib-dropdown-toggle>
 *        <span class="dropdown-option dropdown-selected" ui-bb-dropdown-selected></span>
 *        <span class="dropdown-option placeholder">Select account</span>
 *        <span class="fa chevron-icon fa-chevron-down chevron-down"></span>
 *      </button>
 *
 *      <ul class="uib-dropdown-menu dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
 *       <li role="menuitem" class="dropdown-option">
 *         <a href="">
 *         <div class="pull-left account-detail">
 *           <div class="select-all-label">All Accounts</div>
 *         </div>
 *         <div class="pull-right text-right">
 *           <div class="select-all-quantity">7 accounts</div>
 *         </div>
 *         </a>
 *       </li>
 *      </ul>
 *    </div>
 *  </ui-bb-dropdown-select>
 * </ui-bb-account-selector>
 */

.account-selector-container {
  z-index: 1;
}
.dropdown-select {
  .dropdown-menu {
    max-height: $account-selector-scrollbar-height;
  }

  .dropdown-selected {
    color: $text-color;
  }

  .bb-account-selector.dropdown-toggle {
    .chevron-icon {
      @include stick-content-right($account-selector-chevron-area-width,
                                   $account-selector-height,
                                   $dropdown-chevron-width,
                                   $dropdown-chevron-height);
      border-left: $default-border;
      margin-top: 0;
    }
  }
}

.bb-account-selector {
  &.drop-shadow {
    @include box-shadow($default-box-shadow);
  }
  .dropdown-toggle {
    padding: $account-selector-padding-main;
    border: none;
    background-color: $account-selector-background-default;
    border-radius: $border-radius-large;

    &:active:hover,
    &:active:focus,
    &:active.focus,
    &.active:hover,
    &.active:focus,
    &.active.focus,
    &:hover,
    &:focus,
    &.focus {
      border: none;
      color: $dropdown-link-hover-color;
      background-color: $grey-lightest;
      text-decoration: none;
      outline: 0;
    }

    .dropdown-option {
      margin: 0;
    }
  }
  .dropdown-option[role="menuitem"] {
    & > * {
      padding: $account-selector-padding-item;
    }
    &.active > *:before {
      top: $account-selector-active-item-checkmark-offset-y;
    }
  }

  .dropdown-select .dropdown-menu .dropdown-option:hover {
    .hover-color {
      color: $brand-primary;
    }
  }
  .dropdown-menu .dropdown-option:not(:last-child) {
    border-bottom: $account-selector-options-border-separator;
  }
  .bb-account-card-name {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .chevron-icon:before {
    top: $account-selector-chevron-poisiton-top;
  }
}

@media #{$information-sm-screen} {
  .bb-account-selector .dropdown-menu .dropdown-option:not(:last-child) {
    border-bottom: $account-selector-options-border-separator-sm;
  }
}
