/**
 * --------------------------------------------------------------------------
 * UI BB Credit Suggest component
 * --------------------------------------------------------------------------
 * @name ui-bb-credit-suggest-ng
 * @description
 * Credit suggest input UI component
 *
 * @example
 *  <div class="credit-suggest">
 *    <input type="text" placeholder="Name" class="form-control" />
 *    <ul class="dropdown-menu">
 *      <li>
 *        <a class="own-account">
 *          <span>USD Current Account</span>
 *        </a>
 *      </li>
 *    </ul>
 *    <input type="text" placeholder="Account number" class="form-control" />
 *    <span class="success-feedback"></span>
 *    <span class="input-group-addon"></span>
 *  </div>
 */

.credit-suggest {
  &.input-group {
    z-index: 3;

    input:hover {
      z-index: 5;
    }

    .input-group-addon:hover {
      background-color: $dropdown-link-hover-bg;
    }

    .success-feedback {
      top: $input-total-base-height - 1px; /* because of negative margin on the field */
      right: $credit-suggest-success-feedback-right;
      line-height: $input-total-base-height;
      color: $brand-success;
      z-index: 5;
    }

    .error-feedback {
      display: none;
    }
  }

  .dropdown-menu, .no-results {
    z-index: 3;
    top: $credit-suggest-dropdown-menu-no-results-top;
  }

  .dropdown-menu {
    margin: $credit-suggest-dropdown-menu-margin;
    padding: $credit-suggest-dropdown-menu-padding;
    border: $credit-suggest-dropdown-menu-border;
  }

  .dropdown-menu > li {
    border-bottom: $credit-suggest-dropdown-menu-item-border;
    border-left: $credit-suggest-dropdown-menu-item-border;
    border-right: $credit-suggest-dropdown-menu-item-border;

    .typeahead-group-header {
      background-color: $gray-lightest;
      border-bottom: $credit-suggest-dropdown-menu-item-border;
    }

    .toggle-btn {
      cursor: pointer;
    }
  }

  .dropdown-menu > li:first-child {
    border-top: $credit-suggest-dropdown-menu-item-border;
  }

  .dropdown-menu > li:last-child {
    border-bottom: none;
  }

  .dropdown-menu > li > a {
    cursor: pointer;

    &.own-account {
      margin: $credit-suggest-dropdown-menu-own-account-margin;
      padding: $credit-suggest-dropdown-menu-own-account-padding;
      border-left: $credit-suggest-dropdown-menu-own-account-border-left;
    }

    &.ext-account {
      margin: $credit-suggest-dropdown-menu-ext-account-margin;
      padding: $credit-suggest-dropdown-menu-ext-account-padding;

      ui-bb-avatar {
        margin: $credit-suggest-dropdown-menu-ext-account-avatar-margin;
      }
    }

    &.new-account {
      display: inline-block;
      margin: $credit-suggest-dropdown-menu-new-account-margin;
      padding: $credit-suggest-dropdown-menu-new-account-padding;
      width: 100%;
    }
  }

  // Active state
  .dropdown-menu > li.active > a {
    &, &:before {
      content: "";
    }
  }
}
