/**
 * --------------------------------------------------------------------------
 * UI BB Currency Input component
 * --------------------------------------------------------------------------
 * @name ui-bb-currency-input-ng
 * @description
 * UI component for selecting currency and amount
 *
 * @example
 *  <div class="currency-input">
 *    <div class="currency">
 *      <ui-bb-dropdown-select>
 *        <button type="button" class="btn btn-default btn-dropdown-toggle" uib-dropdown-toggle>
 *          <span class="dropdown-option placeholder">EUR</span>
 *          <span class="dropdown-option dropdown-selected" ui-bb-dropdown-selected></span>
 *          <span class="fa chevron-icon fa-chevron-down chevron-down content-right"></span>
 *        </button>
 *        <ul class="uib-dropdown-menu ng-transclude-node dropdown-menu" role="menu" aria-labelledby="single-button">
 *          <li role="menuitem" class="dropdown-option">
 *            <a href="">EUR</a>
 *          </li>
 *        </ul>
 *      </ui-bb-dropdown-select>
 *    </div>
 *    <div class="amount">
 *      <input />
 *    </div>
 *    <div class="decimals">
 *      <input />
 *    </div>
 *  </div>
 */

.currency-input {
    .currency {
        margin: 0;
        width: $currency-switcher-width;
    }

    .amount {
        width: $amount-holder-width;
        margin-right: $currency-block-spacing;
        margin-left: $currency-block-spacing;
    }

    .decimals {
        margin: 0;
        width: $decimal-holder-width;

        input {
            text-align: center;
        }
    }

    button, input {
        padding: $currency-input-padding;
        border-radius: $border-radius-base;
        font-size: $font-size-input;
        line-height: $line-height-input;
        @extend .input-lg;
    }

    button {
        padding: $currency-button-padding
    }
}
