.ui-bb-limits-modal-header {
  .info-icon {
    margin: $limits-modal-info-icon-margin;
  }
}

.ui-bb-limits-modal-body {
  .form-group {
    margin-bottom: $limits-modal-form-group-margin-bottom;
  }
}
