/**
 * --------------------------------------------------------------------------
 * Transaction category component
 * --------------------------------------------------------------------------
 * @name bb-transaction-category
 * @description
 * Component that renders particular font awesome icon for
 * transaction category
 *
 * @example
 * <span
 *   aria-hidden="true"
 *   class="bb-transaction-category bb-transaction-category-home"
 * ></span>
 *
 * // double sized icon
 * <span
 *   aria-hidden="true"
 *   class="bb-transaction-category bb-transaction-category-large bb-transaction-category-home"
 * ></span>
 */

$bb-tc-css-prefix: "bb-transaction-category";

.#{$bb-tc-css-prefix} {
  @extend .fa;
  line-height: inherit;
}

.#{$bb-tc-css-prefix}-large {
  @include font-size($font-size-base * 1.44);
  line-height: $line-height-computed * 2.1;
}

.#{$bb-tc-css-prefix}-name {
  line-height: $line-height-computed * 2.1;
}

.#{$bb-tc-css-prefix}-home {
  @extend .fa-home;
  color: $brand-category-home;
}

.#{$bb-tc-css-prefix}-health-beauty {
  @extend .fa-heart;
  color: $brand-category-health-beauty;
}

.#{$bb-tc-css-prefix}-groceries {
  @extend .fa-shopping-basket;
  color: $brand-category-groceries;
}

.#{$bb-tc-css-prefix}-eating-drinking {
  color: $brand-category-eating-drinking ;
  &::before {
    content: "\F0F5";
  }
}

.#{$bb-tc-css-prefix}-transportation {
  @extend .fa-car;
  color: $brand-category-transportation;
}

.#{$bb-tc-css-prefix}-shopping {
  @extend .fa-shopping-cart;
  color: $brand-category-shopping;
}

.#{$bb-tc-css-prefix}-hobbies-entertainment {
  @extend .fa-university;
  color: $brand-category-hobbies-entertainment;
}

.#{$bb-tc-css-prefix}-bills-utilities {
  @extend .fa-file-text-o;
  color: $brand-category-bills-utilities;
}

.#{$bb-tc-css-prefix}-income {
  @extend .fa-plus-square;
  color: $brand-category-income;
}

.#{$bb-tc-css-prefix}-savings {
  @extend .fa-trophy;
  color: $brand-category-savings;
}

.#{$bb-tc-css-prefix}-transfer {
  @extend .fa-exchange;
  color: $brand-category-transfer;
}

.#{$bb-tc-css-prefix}-fees {
  @extend .fa-money;
  color: $brand-category-fees;
}

.#{$bb-tc-css-prefix}-other {
  @extend .fa-question;
  color: $brand-category-other;
}

.#{$bb-tc-css-prefix}-uncategorized {
  @extend .fa-archive;
  color: $brand-category-uncategorized;
}
