<div content-style="{{element.contentStyle}}" ng-class="{'noTitle':!element.get('displayName') || !element.get('displayName').length}" class="{{element.classList}} container_block" ng-readonly="element.readOnly"   >
    <div ng-if="element.get('displayName')" class="container__title" >
        <h2 ng-bind="element.get('displayName')"></h2>
    </div>
    <children></children>
</div>
