<th data-bind="click: handleClick, attr: { class: 'bq-table-header bq-table-header-sortable '+presentationStyles().joined }">				
	<div class="bq-table-header-sort-title" data-bind="template: { if: content, name: context.templateFactory.getTemplate, data: content }"></div>
	<div class="bq-table-header-sort-indicator">
	   	<i data-bind="if: sortedAscending">
	   		<i class="icon-chevron-up"></i>
	   	</i>
	   	<i data-bind="if: sortedDescending">
  			<i class="icon-chevron-down"></i>
  		</i>
	</div>	
	<div class="clearfix"></div>		
</th>