<div class="bq-table-search pull-right" data-bind="ifnot: disabled">
	<input type="text" class="input-medium" data-bind="bqSearchField: searchTerm, disabled: searchField.readonly, event: { keypress: keyPressed }" />
	<button type="button" class="btn" disabled>
		<i class="icon-search"></i>
	</button>
</div>
<div class="clearfix"></div>