<div data-bind="attr: { class: 'bq-table ' + presentationStyles().joined }, bqMode: ['fieldValueOnly']">
	<!-- ko if: properties().limitmessage -->
	<div class="alert" data-bind="text: properties().limitmessage"></div>
	<!-- /ko -->
	<table class="table table-striped">
		<thead data-bind="if: header">
			<tr data-bind="foreach: header.children">
				<!-- ko template: { name: template } --><!-- /ko -->
			</tr>
		</thead>
		<tbody data-bind="foreach: rows">
			<tr data-bind="foreach: children">
				<!-- ko template: { name: template } --><!-- /ko -->
			</tr>
		</tbody>
	</table>
</div>
