<div class="bq-table-navigation">
	<!-- ko with: first -->
	<button class="btn" type="button" data-bind="click: handleClick, disable: disabled"><i class="icon-double-angle-left"></i></button>
	<!--  /ko -->
	<!-- ko with: previous -->
	<button class="btn" type="button" data-bind="click: handleClick, disable: disabled"><i class="icon-angle-left"></i></button>	
	<!--  /ko -->
	<!-- ko with: selector -->
	<select class="input-mini" data-bind="disable: readonly, bqTooltip: explainText, options: domain, optionsText: 'displayValue', optionsValue: 'value', value: value"></select>
	<!--  /ko -->
	<!-- ko with: next -->
	<button class="btn" type="button" data-bind="click: handleClick, disable: disabled"><i class="icon-angle-right"></i></button>
	<!--  /ko -->
	<!-- ko with: last -->
	<button class="btn" type="button" data-bind="click: handleClick, disable: disabled"><i class="icon-double-angle-right"></i></button>
	<!--  /ko -->
</div>