<div class="ext-shc-avatar-ng" ng-class="{'collapsed':!$ctrl.userInfo}" ng-controller="ShcAvatarController as $ctrl">
    <div class="ext-shc-avatar__info" ng-class="{'info-loaded':$ctrl.userInfo}">
        <div class="profile-img">
            <div ng-style="{'background-image': ext.helpers.getUserImage($ctrl.userInfo)}" class="profile-img__source"></div>
        </div>
        <div class="ext-shc-avatar__info__label-group">
            <span  class="ext-shc-avatar__info__label ext-shc-avatar__info__label--name">{{ext.helpers.getUsersFullname($ctrl.userInfo)}}</span>
            <a href="*" class="ext-shc-avatar__info__label ext-shc-avatar__info__label--link">{{ 'profile-link' | i18n }}</a>
        </div>
        <button class="btn btn-default btn-ghost btn-blue-light btn--logout" ng-click="$ctrl.logout()">Log out</button>
    </div>
</div>
