<div class="input-group pull-right col-xs-6 col-sm-4 col-md-5 col-lg-4" data-bind="ifnot: disabled">
    <input type="text" class="form-control" data-bind="bqSearchField: searchTerm, disabled: searchField.readonly, event: { keypress: keyPressed }" />
    <span class="input-group-btn">
        <button class="btn btn-default" type="button" data-bind="click: search"><span class="fa fa-search"></span></button>
    </span>
</div>
<div class="clearfix"></div>